<div class="mn_dshbrd">
  <div class="hgt_20"></div>
  <div class="sp_mn">
    <div class="brdcrm_br p_1 d-flex ai_cntr">
      <mat-icon color="accent">home</mat-icon>
      <mat-icon>navigate_next</mat-icon><strong>Global Search</strong>
    </div>
  </div>
  <div class="hgt_10"></div>
  <div class="dsh_brd_crds">
    <span>Search</span>
    <div class="clear_fix"></div>
    <mat-form-field appearance="outline" class="xl_srch">
      <input matInput matInput placeholder="Search" />
      <mat-icon matSuffix color="accent">search</mat-icon>
    </mat-form-field>
  </div>
  <div class="d-flex">
    <div>Search Key: <span class="grn_clr">"Hello"</span></div>
    <div class="spacer"></div>
    <div class="d-flex ai_cntr"> <div class="grn_clr">11 Results Fount</div></div>
  </div>
  <div class="hgt_5"></div>
  <div class="dsh_brd_crds intr_vd_tml">
    <mat-accordion class="gs_accrd">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>Hello</div>
            <div class="spacer"></div>
            <div class="glbl_srch_cnt">10</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="tm_ln_dv">
          <div class="glbl_srch_rslt">
            <div class="gs_rslt_dv">
              <div class="gs_rslt_hd">Sub Heading 1</div>
              <div>
                <ul>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our bodyDemonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  
                </ul>
              </div>
            </div>
            <div class="gs_rslt_dv">
              <div class="gs_rslt_hd">Sub Heading 1</div>
              <div>
                <ul>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our bodyDemonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  
                </ul>
              </div>
            </div>
            <div class="gs_rslt_dv">
              <div class="gs_rslt_hd">Sub Heading 1</div>
              <div>
                <ul>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our bodyDemonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>Hello</div>
            <div class="spacer"></div>
            <div class="glbl_srch_cnt">1</div>
          </mat-panel-title>
          <!-- <mat-panel-description>
                  Currently I am
                </mat-panel-description> -->
        </mat-expansion-panel-header>
        <div class="tm_ln_dv">
          <div class="glbl_srch_rslt">
            <div class="gs_rslt_dv">
              <div class="gs_rslt_hd">Sub Heading 1</div>
              <div>
                <ul>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our bodyDemonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  
                </ul>
              </div>
            </div>
            <div class="gs_rslt_dv">
              <div class="gs_rslt_hd">Sub Heading 1</div>
              <div>
                <ul>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our bodyDemonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  
                </ul>
              </div>
            </div>
            <div class="gs_rslt_dv">
              <div class="gs_rslt_hd">Sub Heading 1</div>
              <div>
                <ul>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our bodyDemonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  <li>AN 1.1 Demonstrate normal anatomical position, various planes, relation, comparison, laterality & movement in our body</li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>