<app-admin-topbar></app-admin-topbar>
<app-sidebar></app-sidebar>
<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Promotional Settings</strong></div>
    <div class="pg_ttl">Promotional Settings</div>
    <div class="hgt_20"></div>
    <div class="grd_2c">
        <div class="frm_dvs">
            <span>Promotionals Applicable for</span>
            <span>
                <mat-checkbox>Barbados</mat-checkbox>
                <mat-checkbox>India</mat-checkbox>
                <mat-checkbox>Kazakhstan</mat-checkbox>
            </span>
        </div>
        <div class="frm_dvs">
            <span class="hgt_20"></span>
            <span class="hgt_20"></span>
        </div>
        <div class="frm_dvs">
            <span>Promo/Coupon Code</span>
            <span>
                <mat-form-field appearance="outline">
                   
                    <input matInput placeholder="Enter Code">
                </mat-form-field>
                <button mat-raised-button color="accent">Generate</button>
            </span>
        </div>
        <div class="frm_dvs">
            <span>Discount Amount (BBD $)</span>
            <span>
                <mat-form-field appearance="outline">
                   
                    <input matInput placeholder="Discount Amount">
                </mat-form-field>
            </span>
        </div>
        <div class="frm_dvs">
            <span>Discount Amount (INR &#8377;)</span>
            <span>
                <mat-form-field appearance="outline">
                   
                    <input matInput placeholder="Discount Amount">
                </mat-form-field>
            </span>
        </div>
        <div class="frm_dvs">
            <span class="algn_s_fs">Description</span>
            <span>
                <mat-form-field appearance="outline">
                  
                    <textarea matInput rows="8"></textarea>
                </mat-form-field>
            </span>
        </div>
        <div class="frm_dvs">
            <span>Minimum Order Amount</span>
            <span>
                <mat-form-field appearance="outline">
                  
                    <input matInput placeholder="Amount">
                </mat-form-field>
            </span>
        </div>
        <div class="frm_dvs">
            <span>Maximum Discount Amount (BBD &#36;)</span>
            <span>
                <mat-form-field appearance="outline">
                  
                    <input matInput placeholder="Amount">
                </mat-form-field>

            </span>
        </div>
        <div class="frm_dvs">
            <span>Maximum Discount Amount (INR &#8377;)</span>
            <span>
                <mat-form-field appearance="outline">
                    
                    <input matInput placeholder="Amount">
                </mat-form-field>
            </span>
        </div>
        <div class="frm_dvs">
            <span>Valid From Date</span>
            <span>
                <mat-form-field appearance="outline" class="cal_wdth" color="accent">
                   
                    <input matInput [matDatepicker]="picker" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </span>
        </div>
        <div class="frm_dvs">
            <span>Valid To Date</span>
            <span>
                <mat-form-field appearance="outline" class="cal_wdth" color="accent">
                   
                    <input matInput [matDatepicker]="picker" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </span>
        </div>
        <div class="hgt_20"></div>
        <div class="frm_dvs">
            <span></span>
            <span>
                <button mat-raised-button color="accent">Submit</button>
            </span>

        </div>

    </div>
</div>
<app-footer></app-footer>