<div class="indvidual_main">
    <div class="ind_mdl_cont">
      <div class="ind_logo_img">
        <a routerLink="/"> <img src="assets/images/ProceumLogo_w.png" /></a>
      </div>
      <div class="message-box-div">
            <mat-icon>mark_email_read</mat-icon>
            <div>
                Congratulations, <br> You have been unsubscribed successfully!
            </div>
            <div>
                <a routerLink="/">Click here to go to Homepage</a>
            </div>
      </div>
    </div>
  </div>