<div class="indvidual_main">
    <div class="ind_mdl_cont">
      <div class="ind_logo_img">
        <a routerLink="/"> <img src="assets/images/ProceumLogo_w.png" /></a>
      </div>
      <div class="message-box-div" style="display: none;">
            <mat-icon>unsubscribe</mat-icon>
            <div class="message-area">
                Congratulations, <br> You have been unsubscribed successfully!
            </div>
            <div>
                <a routerLink="/">Click here to go to Homepage</a>
            </div>
      </div>

      <div class="message-box-div message-warning-div">
        <mat-icon>unsubscribe</mat-icon>
        <div class="message-area">
            <span class="message-warning">You will be missed !! </span> 
            <!-- <br> -->
            <!-- You have been unsubscribed Proceum email list. -->
        </div>
        
        <div class="feedback_block">
          <p>Please take a moment to tell us why you no longer wish to hear from us</p>
          <div class="form-fields">
            <mat-form-field appearance="outline">
               
                <textarea matInput placeholder="Please share your feedback"></textarea>
            </mat-form-field>
          </div>
          <button type="submit" class="teal_btn lgn_btn">Submit</button>
        </div>
        <br>
        <div>
            <a routerLink="/">Click here to go to Homepage</a>
        </div>
  </div>
      
    </div>
  </div>