<style>
    ::ng-deep .mat-option:first-child .mat-pseudo-checkbox {
        display: none;
    }
</style>
<div class="mn_dshbrd">
    <div class="brd_crm"> <span>Create New Question</span></div>
    <div class="pg_ttl mb_0">Create New Question</div>
    <div class="crt_prtnr dsh_brd_crds">
        <form #question_list_form="ngForm" id="question_list_form" name="question_list_form"
            (ngSubmit)="question_list_form.valid && createQList()" novalidate>
            <div class="crt_pr_mn px-0 bg-0">
                <div class="w_100p">
                    <div>
                        <div class="crt_prt_hd">This Question is for:</div>
                        <div class="crt_prt_cnt">
                            <mat-radio-group name="questionUsageType" [(ngModel)]="question.questionUsageType"
                                #questionUsageType="ngModel" ngModel required>
                                <mat-radio-button [value]="1" class="emh qif" (click)="changeQUsageType(1)">Assessment
                                    Only (This question will not visible for frontend in notes/content)
                                </mat-radio-button>
                                <mat-radio-button [value]="2" class="emh qif" (click)="changeQUsageType(2)">Preparation
                                    Only (Available for Study mode to view questions and also in notes / content page)
                                </mat-radio-button>
                                <mat-radio-button [value]="3" class="emh qif" (click)="changeQUsageType(3)">QBanks Only
                                    (Questions will be listed inside the Question banks as a separate list and will not
                                    be accessible as a free content) </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div *ngIf="question_Qbank && false" class="mt_1">
                        <div class="crt_prt_hd">Add question to QBank <span class="required">*</span></div>
                        <div class="crt_prt_cnt"> <span class="err_tltp_par">
                                <mat-form-field appearance="outline" class="w_80p">
                                    <mat-select placeholder="Select QBank" name="qbank"
                                        [(ngModel)]="question.q_bank_ids" #qbank="ngModel" ngModel multiple required>
                                        <mat-option value="0">Select question bank(s)</mat-option>
                                        <mat-option *ngFor="let qbank of QBanks" [value]="qbank.id">{{ qbank.q_bank_type
                                            }}
                                        </mat-option>
                                    </mat-select>
                                    <span class="prc_tltp"
                                        *ngIf=" (qbank.submitted || qbank.touched) && question.q_bank_ids==0">Please
                                        select question bank(s)</span>
                                </mat-form-field>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mb_0 w_100p">
                    <div class="hgt_20"></div>
                    <div class="d-flex fw_rsp_1100">
                        <div class="w_100p">
                            <div class="crt_prt_hd">Difficulty level</div>
                            <div class="hgt_5"></div>
                            <div class="crt_prt_cnt">
                                <mat-radio-group name="difficulty_level" [(ngModel)]="question.difficulty_level_id"
                                    #difficulty_level="ngModel" ngModel required class="d-flex fw_rsp_480">
                                    <mat-radio-button [value]="1" class="emh esy">Easy</mat-radio-button>
                                    <mat-radio-button [value]="2" class="emh mdm">Medium</mat-radio-button>
                                    <mat-radio-button [value]="3" class="emh hrd">Hard</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="w_100p">
                            <div class="crt_prt_hd">Select question type <span class="required">*</span></div>
                            <div class="crt_prt_cnt"> <span class="err_tltp_par">
                                    <mat-form-field appearance="outline">
                                        <mat-select placeholder="Select Question Type" name="qtype_name"
                                            [(ngModel)]="question.question_type_id" #qtype_name="ngModel" ngModel
                                            (selectionChange)="changeQType($event)" required>
                                            <mat-option [matTooltip]="qtype.question_type" *ngFor="let qtype of QTypes"
                                                [value]="qtype.id">
                                                {{qtype.question_type}}
                                            </mat-option>
                                        </mat-select>
                                        <span class="prc_tltp" *ngIf=" (qtype_name.submitted || qtype_name.touched) &&
                    qtype_name.invalid">Question type is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                        <div class="w_100p">
                            <div class="crt_prt_hd">Question Category/Type <span class="required">*</span></div>
                            <div class="crt_prt_cnt"> <span class="err_tltp_par">
                                    <mat-form-field appearance="outline">
                                        <mat-select placeholder="Select Question Category" name="question_flag"
                                            [(ngModel)]="question.question_flag" #question_flag="ngModel" ngModel
                                            required>
                                            <mat-option value="mcq">MCQ</mat-option>
                                            <mat-option value="case">Case based Question</mat-option>
                                            <mat-option value="short_answer">Short Question</mat-option>
                                        </mat-select>
                                        <span class="prc_tltp" *ngIf=" (question_flag.submitted || question_flag.touched) &&
                    question_flag.invalid">Question Category/Type is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex fw_rsp_599 fw_w">
                        <div class="cm_fltr_sc mr_1">
                            <div class="crt_prt_hd">{{question_Qbank?'QBank':'Course'}}<span class="required">*</span></div>
                            <div class="crt_prt_cnt">
                                <mat-form-field appearance="outline">
                                    <mat-select placeholder="Select {{question_Qbank?'QBank':'Course'}}"
                                        name="curriculum_id_name" [(ngModel)]="question.curriculum_id"
                                        (ngModelChange)="setCourseText($event);getLabels();"
                                        #curriculum_id_name="ngModel" ngModel="curriculum_id_name">
                                        <mat-option [matTooltip]="value['curriculumn_name']"
                                            *ngFor="let value of curriculums" [value]="value['pk_id']">
                                            {{value['curriculumn_name']}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="cm_fltr_sc mr_1" *ngFor="let value of curriculum_labels; let i = index">
                            <span class="crt_prt_hd">{{ ucFirst(value["display_label"]) }} <span class="required">*</span></span>
                            <div class="crt_prt_cnt">
                                <mat-form-field appearance="outline">
                                    <mat-select placeholder="Select {{ ucFirst(value['display_label']) }}"
                                        name="level_{{value['level_number']}}"
                                        [(ngModel)]="selected_level[value['level_number']]"
                                        (ngModelChange)="getLevels(value['level_number']);">
                                        <mat-option>
                                            <ngx-mat-select-search
                                                [noEntriesFoundLabel]="'No '+ ucFirst(value['display_label'])+' found'"
                                                name="search_topic" ngModel
                                                (ngModelChange)="searchLevelByName($event,value['level_number'])"
                                                [placeholderLabel]="'Search '+ucFirst(value['display_label'])">Select
                                                {{ucFirst(value['display_label'])}}
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let level of level_options[value['level_number']]"
                                            [value]="level['pk_id']" [matTooltip]="level['level_name']">
                                            {{level["level_name"] }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- <div class="w_100p">
                            <div class="crt_prt_hd">Topic / Subtopic <span class="required">*</span></div>
                            <div class="crt_prt_cnt"> <span class="err_tltp_par">
                                    <mat-form-field appearance="outline">
                                        <mat-select placeholder="Select Topic / Subtopic" [(ngModel)]="question.topic"
                                            name="topic" ngModel="topic" #topic="ngModel" (ngModelChange)="setTopicText($event);is_topic_exist=false">
                                            <mat-option>
                                                <ngx-mat-select-search
                                                    [noEntriesFoundLabel]="'No Topic / Subtopic found'"
                                                    name="search_topic" ngModel
                                                    (ngModelChange)="getTopics(question.curriculum_id, $event, '');"
                                                    [placeholderLabel]="'Search Topic / Subtopic'">Select Topic /
                                                    Subtopic
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option [matTooltip]="value['level_name']"
                                                *ngFor="let value of topics | async" [value]="value['pk_id']">
                                                {{value['level_name']}}</mat-option>
                                        </mat-select>
                                        <span class="prc_tltp" *ngIf=" (question_list_form.submitted || topic.touched) &&
                                            topic.invalid">Topic is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div> -->
                        <div class="w_100px">
                            <div class="crt_prt_hd">&nbsp;</div>
                            <button
                                [disabled]="is_topic_exist || (level_options[level_id+1] != undefined && level_options[level_id+1].length>0) || question.curriculum_id==''"
                                (click)="addTopic()" mat-raised-button color="accent" type="button">
                                Add (+)
                            </button>
                        </div>
                    </div>
                </div>
                <div class="rsp_tbl">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="Sno">
                            <th mat-header-cell *matHeaderCellDef> S.No</th>
                            <td mat-cell *matCellDef="let element; let s_no=index"> {{s_no+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Course">
                            <th mat-header-cell *matHeaderCellDef>{{question_Qbank?'QBank':'Course'}} </th>
                            <td mat-cell *matCellDef="let element">{{element.course_qbank_text}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Topic">
                            <th mat-header-cell *matHeaderCellDef>Topic Path </th>
                            <td mat-cell *matCellDef="let element" class="ws_normal">{{element.topic_text}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element; let topic_index=index"><span
                                    (click)="removeTopic(topic_index)">
                                    <mat-icon color="warn" matTooltip="Delete">remove_circle_outline</mat-icon>
                                </span></td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                            <td style="text-align: center; margin: 20px" class="mat-cell"
                                [attr.colspan]="displayedColumns.length">
                                No Records Found
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="hgt_20"></div>
                <!-- <div class="cc_row w_100p">
                    <div class="description_block">
                        <div class="c_block">
                            <div class="c_block_title">
                                <label for="question-text"> Question Text <span class="required">*</span></label>
                            </div>
                            <div class="c_block_content mt_1">
                                <div
                                    class="ck_editor err_tltp_par cnq_ck {{question_list_form.submitted && question.question_text.trim()==''?'angular_editor_div':''}}">
                                    <angular-editor id="question" required="true"
                                        [placeholder]="'Enter Question text here...'" [config]="liteEditorConfig"
                                        name="question_text" #question_text="ngModel"
                                        [(ngModel)]="question.question_text"></angular-editor>
                                    <span class="prc_tltp"
                                        *ngIf="question_list_form.submitted && question.question_text.trim()==''">Question
                                        Text is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="crt_pr_dv w_100p d-flex fw_w">
                    <div class="d-flex fw_w mb_1 w_100p">
                        <div class="w_100p mb_1">
                            <label for="question-text"> Question Text <span class="required">*</span></label>
                        </div>
                        <div class="d-flex w_100p">
                            <div
                                class="ck_editor err_tltp_par cnq_ck w_100p {{question_list_form.submitted && question.question_text.trim()==''?'angular_editor_div':''}}">
                                <angular-editor id="question" required="true"
                                    [placeholder]="'Enter Question text here...'" [config]="liteEditorConfig"
                                    name="question_text" #question_text="ngModel" [(ngModel)]="question.question_text">
                                </angular-editor>
                                <span class="prc_tltp"
                                    *ngIf="question_list_form.submitted && question.question_text.trim()==''">Question
                                    Text is required</span>
                            </div>
                            <div>
                                <div class="d-flex" *ngIf="audio_single_option || 
                                audio_multiple_option || 
                                image_single_option || 
                                image_multiple_option || 
                                audio_clip_free_text || 
                                image_free_text
                                ">
                                    <div class="">
                                        <div class="cnq_img_thmb text_center"
                                            *ngIf="image_single_option || image_multiple_option || image_free_text">

                                            <img *ngIf="imageSrc['file']" [src]="imageSrc['file']">
                                            <!-- <mat-icon *ngIf="!imageSrc['file']">photo</mat-icon> -->
                                            <button mat-fab class="cnq_upld_btn cnq_delimg"
                                                onclick="document.getElementById('file').click()" type="button"
                                                color="accent">
                                                <mat-icon>file_upload</mat-icon>
                                            </button>
                                            <div class="hgt_10" *ngIf="!imageSrc['file']">
                                            </div>
                                            <div class="fs_16 mt_55px" *ngIf="!imageSrc['file']">
                                                Upload Image
                                            </div>
                                        </div>
                                        <div class="cnq_img_thmb text_center"
                                            *ngIf="audio_single_option || audio_multiple_option || audio_clip_free_text">
                                            <button mat-mini-fab class="cnq_upld_btn"
                                                onclick="document.getElementById('file').click()" type="button"
                                                color="accent">
                                                <mat-icon>file_upload</mat-icon>
                                            </button>
                                            <div class="hgt_10"></div>
                                            <div>File Uploaded</div>
                                            <div class="hgt_10"></div>
                                            <div>
                                                <mat-icon (click)="playAudio(imageSrc['file'])">play_arrow
                                                </mat-icon>
                                                <mat-icon (click)="pauseAudio()">pause</mat-icon>
                                            </div>
                                        </div>
                                        <mat-form-field appearance="outline" class="w_80p d_none">
                                            <input matInput placeholder="Upload File" [(ngModel)]="fileName"
                                                id="fileName" name="fileName" readonly />
                                            <mat-hint
                                                *ngIf="image_single_option || image_multiple_option|| image_free_text"
                                                class="fl_frmt_info" style="margin-top: 5px;margin-right: 25px;"> System
                                                will accept
                                                only jpg, jpeg, bmp, gif, png </mat-hint>
                                            <mat-hint
                                                *ngIf="audio_single_option || audio_multiple_option || audio_clip_free_text"
                                                class="fl_frmt_info"> System will accept only .mp3 format
                                            </mat-hint>
                                        </mat-form-field>
                                        <button type="button" mat-raised-button
                                            onclick="document.getElementById('file').click()" color="accent"
                                            class="float_right mr_1 mt_3px d_none">
                                            <mat-icon>upload</mat-icon> Browse
                                            <input class="w_80p" (change)="onFileChange($event)"
                                                accept="{{image_single_option || image_multiple_option|| image_free_text?'image/x-png,image/gif,image/jpeg,image/bmp':'.mp3'}}"
                                                id="file" type="file" style="display: none" />
                                        </button>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="w_100p" *ngIf="vidio_single_option || video_multiple_option || video_clicp_free_text">
                    <div class="hgt_10"></div>
                    <div class="d-flex">
                        <div class="w_50p">
                            <div class="w_100p">
                                <div class="crt_prt_hd">Video Type <span class="required">*</span></div>
                                <span class="err_tltp_par">
                                    <mat-form-field appearance="outline" class="w_100p">
                                        <mat-select name="q_source" [(ngModel)]="question.q_source" #q_source="ngModel"
                                            ngModel required
                                            (ngModelChange)="question.q_source_value='';validateVideo()">
                                            <mat-option value="">Select Source</mat-option>
                                            <mat-option *ngFor="let video_type of video_types"
                                                [value]="video_type['value']">
                                                {{video_type['name']}}</mat-option>
                                        </mat-select>
                                        <span class="prc_tltp"
                                            *ngIf=" (q_source.submitted || q_source.touched) && q_source.invalid">Video
                                            Source Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                            <div class="w_100p">
                                <div class="crt_prt_hd">Video Source <span class="required">*</span></div> <span
                                    class="err_tltp_par">
                                    <mat-form-field appearance="outline" class="w_100p">
                                        <input [(ngModel)]="question.q_source_value" #q_source_value="ngModel"
                                            name="q_source_value" matInput placeholder="Video ID/Link" required
                                            (blur)="validateVideo()" />
                                        <span class="prc_tltp" *ngIf=" (q_source_value.submitted || q_source_value.touched) &&
                                            q_source_value.invalid">Video Source Value is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="w_50p">
                            <div class="cnq_vd">
                               <iframe width="1350" height="480" src="https://www.youtube.com/embed/kA3quxNrnAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            </div> -->
                    </div>
                </div>

                <div class="hgt_20"></div>
                <div class="crt_pr_dv w_100p d-flex fw_w"
                    *ngIf="single_option || vidio_single_option || audio_single_option || image_single_option">
                    <mat-radio-group class="w_100p" [(ngModel)]="question.correct_ans_ids[0]" name="correct_options">
                        <div class="d-flex fw_w mb_1"
                            *ngFor="let option_value of question.option_array;index as option;">
                            <div class="mt_1 w_40px">
                                <mat-radio-button [value]="option+1" (change)="onCorrectAnsChange($event)">
                                </mat-radio-button>
                            </div>
                            <div class="d-flex optns_rdo">
                                <div class="mr_1 w_100p">
                                    <div>
                                        <mat-form-field appearance="outline" class="w_100p hgt_100px">
                                            <textarea [(ngModel)]="question['option'+(option+1)]"
                                                name="option_{{option+1}}" #option_{{option+1}}="ngModel"
                                                maxlength="255" matInput placeholder="Enter Option {{option+1}} Text"
                                                class="crt_prt_txt" required></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="hgt_20"></div>
                                    <div
                                        *ngIf="show_explanation[option] != undifined && show_explanation[option] == true">
                                        <angular-editor id="option_{{option+1}}"
                                            [placeholder]="'Enter Option '+(option+1) +' Explanation'"
                                            [config]="liteEditorConfig" name="option_{{option+1}}_exp"
                                            #option_{{option+1}}_exp="ngModel"
                                            [(ngModel)]="question['option_explanation_'+(option+1)]"> </angular-editor>
                                    </div>
                                    <div class="hgt_10"></div>
                                    <div class="d-flex">
                                        <div class="spacer"></div>
                                        <a class="d-flex ai_cntr"
                                            *ngIf="show_explanation[option] != undifined && show_explanation[option] == true"
                                            (click)="show_explanation[option]=false">
                                            <mat-icon>remove_circle_outline</mat-icon> <span>Hide Explanation</span>
                                        </a>
                                        <a class="d-flex ai_cntr"
                                            *ngIf="show_explanation[option] == undifined || show_explanation[option] == false"
                                            (click)="show_explanation[option]=true">
                                            <mat-icon>add</mat-icon> <span> Add Explanation</span>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="cnq_img_thmb text_center"
                                        *ngIf="image_single_option || image_multiple_option">
                                        <div>

                                            <img *ngIf="imageSrc['opt'+(option+1)+'Img']"
                                                [src]="imageSrc['opt'+(option+1)+'Img']">
                                            <button mat-fab class="cnq_upld_btn cnq_delimg"
                                                (click)="openFileExplor((option+1))" type="button" color="accent">
                                                <mat-icon>file_upload</mat-icon>
                                            </button>
                                            <button mat-fab class="cnq_upld_btn cnq_delimg" type="button"
                                                color="accent">
                                                <mat-icon>file_upload</mat-icon>
                                            </button>
                                            <div class="hgt_10" *ngIf="!imageSrc['opt'+(option+1)+'Img']"></div>
                                            <div class="fs_16 mt_55px" *ngIf="!imageSrc['opt'+(option+1)+'Img']">Upload
                                                Image
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d_none" *ngIf="image_single_option || image_multiple_option && false">
                                        <div class="cnq_img_thmb">
                                            <!-- *ngFor="let option_value of question.option_array;index as option;" -->
                                            <div class="  ">
                                                <img *ngIf="imageSrc['opt'+(option+1)+'Img']"
                                                    [src]="imageSrc['opt'+(option+1)+'Img']">
                                                <mat-icon *ngIf="!imageSrc['opt'+(option+1)+'Img']">photo</mat-icon>
                                            </div>
                                            <div class="brnd_info_upld">
                                                <mat-form-field appearance="outline" class="d_none">
                                                    <input matInput placeholder="Upload Option {{option+1}} Image"
                                                        [(ngModel)]="this['opt'+(option+1)+'FileName']"
                                                        id="opt{{option+1}}FileName" name="opt{{option+1}}FileName"
                                                        readonly />
                                                    <mat-hint *ngIf="image_option" class="fl_frmt_info"> System will
                                                        accept only
                                                        jpg, jpeg, bmp, gif, png </mat-hint>
                                                </mat-form-field>
                                                <button type="button" mat-raised-button
                                                    (click)="openFileExplor((option+1))" color="accent"
                                                    class="float_right">
                                                    <mat-icon>upload</mat-icon> Browse
                                                    <input class="w_80p" (change)="onFileChange($event)"
                                                        accept="image/x-png,image/gif,image/jpeg,image/bmp"
                                                        id="opt{{option+1}}Img" type="file" style="display: none" />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hgt_20"></div>
                            <div class="w_100p">
                                <button class="float_right mr_1" (click)="addOption(option)"
                                    *ngIf="question.option_array.length == (option+1) && question.option_array.length<max_options"
                                    mat-raised-button type="button" color="accent">Add option</button>
                                <button class="float_right mr_1" (click)="removeOption(option)"
                                    *ngIf="question.option_array.length == (option+1) && question.option_array.length>2"
                                    type="button" mat-raised-button color="warn">Remove Option</button>
                            </div>
                        </div>
                    </mat-radio-group>
                </div>
                <div class="crt_pr_dv w_100p d-flex fw_w"
                    *ngIf="multiple_option || audio_multiple_option || video_multiple_option || image_multiple_option">

                    <div class="d-flex fw_w mb_1 w_100p"
                        *ngFor="let option_value of question.option_array;index as option">
                        <div class="mt_1 w_40px">
                            <mat-checkbox color="accent" [value]="option+1" (change)="onCorrectAnsChange($event)">
                            </mat-checkbox>
                        </div>
                        <div class="d-flex optns_rdo">
                            <div class="mr_1 w_100p">
                                <div>
                                    <mat-form-field appearance="outline" class="w_100p hgt_100px">
                                        <textarea [(ngModel)]="question['option'+(option+1)]" name="option_{{option+1}}"
                                            #option_{{option+1}}="ngModel" maxlength="255" matInput
                                            placeholder="Enter Option {{option+1}} Text" class="crt_prt_txt"
                                            required></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="hgt_20"></div>
                                <div *ngIf="show_explanation[option] != undifined && show_explanation[option] == true">
                                    <angular-editor id="option_{{option+1}}"
                                        [placeholder]="'Enter Option '+(option+1) +' Explanation'"
                                        [config]="liteEditorConfig" name="option_{{option+1}}_exp"
                                        #option_{{option+1}}_exp="ngModel"
                                        [(ngModel)]="question['option_explanation_'+(option+1)]"> </angular-editor>
                                </div>
                                <div class="hgt_10"></div>
                                <div class="d-flex">
                                    <div class="spacer"></div>
                                    <a class="d-flex ai_cntr"
                                        *ngIf="show_explanation[option] != undifined && show_explanation[option] == true"
                                        (click)="show_explanation[option]=false">
                                        <mat-icon>remove_circle_outline</mat-icon> <span>Hide Explanation</span>
                                    </a>
                                    <a class="d-flex ai_cntr"
                                        *ngIf="show_explanation[option] == undifined || show_explanation[option] == false"
                                        (click)="show_explanation[option]=true">
                                        <mat-icon>add</mat-icon> <span> Add Explanation</span>
                                    </a>
                                </div>
                                <!-- <div class="d-flex">
                                    <div class="spacer"></div>
                                    <a class="d-flex ai_cntr">
                                        <mat-icon>add</mat-icon> <span> Add Explanation</span> / <mat-icon>
                                            remove_circle_outline</mat-icon> <span>Remove Explanation</span>
                                    </a>
                                </div> -->
                            </div>
                            <div>
                                <div class="cnq_img_thmb text_center"
                                    *ngIf="image_single_option || image_multiple_option">
                                    <div>
                                        <img *ngIf="imageSrc['opt'+(option+1)+'Img']"
                                            [src]="imageSrc['opt'+(option+1)+'Img']">
                                        <button mat-fab class="cnq_upld_btn cnq_delimg"
                                            (click)="openFileExplor((option+1))" type="button" color="accent">
                                            <mat-icon>file_upload</mat-icon>
                                        </button>
                                        <div class="hgt_10" *ngIf="!imageSrc['opt'+(option+1)+'Img']"></div>
                                        <div class="fs_16 mt_55px" *ngIf="!imageSrc['opt'+(option+1)+'Img']">Upload
                                            Image
                                        </div>
                                    </div>

                                    <div class="brnd_info_mn d_none"
                                        *ngFor="let option_value of question.option_array;index as option;">
                                        <div class="ql_img_thmb">
                                            <img *ngIf="imageSrc['opt'+(option+1)+'Img']"
                                                [src]="imageSrc['opt'+(option+1)+'Img']">
                                            <mat-icon *ngIf="!imageSrc['opt'+(option+1)+'Img']">photo</mat-icon>
                                        </div>
                                        <div class="d_none">
                                            <mat-form-field appearance="outline" class="d_none">
                                                <input matInput placeholder="Upload Option {{option+1}} Image"
                                                    [(ngModel)]="this['opt'+(option+1)+'FileName']"
                                                    id="opt{{option+1}}FileName" name="opt{{option+1}}FileName"
                                                    readonly />
                                                <mat-hint *ngIf="image_option" class="fl_frmt_info"> System will accept
                                                    only
                                                    jpg, jpeg, bmp, gif, png </mat-hint>
                                            </mat-form-field>
                                            <button type="button" mat-raised-button (click)="openFileExplor((option+1))"
                                                color="accent" class="float_right">
                                                <mat-icon>upload</mat-icon> Browse
                                                <input class="w_80p" (change)="onFileChange($event)"
                                                    accept="image/x-png,image/gif,image/jpeg,image/bmp"
                                                    id="opt{{option+1}}Img" type="file" style="display: none" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hgt_20"></div>
                        <div class="w_100p">
                            <button class="float_right mr_1" (click)="addOption(option)"
                                *ngIf="question.option_array.length == (option+1) && question.option_array.length<max_options"
                                mat-raised-button type="button" color="accent">Add option</button>
                            <button class="float_right mr_1" (click)="removeOption(option)"
                                *ngIf="question.option_array.length == (option+1) && question.option_array.length>2"
                                type="button" mat-raised-button color="warn">Remove Option</button>
                        </div>
                    </div>

                </div>



                <!-- <div class="crt_pr_dv w_100p isca_mat"
                    *ngIf="multiple_option || audio_multiple_option || video_multiple_option || image_multiple_option && false">
                    <div class="hgt_10"></div> <span> Is Correct Answer?</span>
                    <div class="d-flex ql_ca">
                        <div class="ql_ca_mn">
                            <div class="brnd_info_mn addrmv_btn"
                                *ngFor="let option_value of question.option_array;index as option">
                                <div class="brnd_info_upld">
                                    <mat-checkbox color="accent" [value]="option+1"
                                        (change)="onCorrectAnsChange($event)"> </mat-checkbox>
                                    <mat-form-field appearance="outline" class="w_100p hgt_100px">
                                        <textarea [(ngModel)]="question['option'+(option+1)]" name="option_{{option+1}}"
                                            #option_{{option+1}}="ngModel" maxlength="255" matInput
                                            placeholder="Enter Option {{option+1}} Text" class="crt_prt_txt"
                                            required></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="w_100p">
                                    <angular-editor id="option_{{option+1}}"
                                        [placeholder]="'Enter Option '+(option+1) +' Explanation'"
                                        [config]="liteEditorConfig" name="option_{{option+1}}"
                                        #option_{{option+1}}="ngModel"
                                        [(ngModel)]="question['option_explanation_'+(option+1)]"> </angular-editor>
                                </div>
                                <div class="hgt_20"></div>
                                <button class="float_right mr_1" (click)="addOption(option)"
                                    *ngIf="question.option_array.length == (option+1) && question.option_array.length<max_options"
                                    mat-raised-button type="button" color="accent">Add option</button>
                                <button class="float_right mr_1" (click)="removeOption(option)"
                                    *ngIf="question.option_array.length == (option+1) && question.option_array.length>2"
                                    type="button" mat-raised-button color="warn">Remove Option</button>
                            </div>
                        </div>
                        <div class="ql_ca_mn" *ngIf="image_single_option || image_multiple_option && false">
                            <div class="brnd_info_mn hgt_110px"
                                *ngFor="let option_value of question.option_array;index as option;">
                                <div class="ql_img_thmb">
                                    <img *ngIf="imageSrc['opt'+(option+1)+'Img']"
                                        [src]="imageSrc['opt'+(option+1)+'Img']">
                                    <mat-icon *ngIf="!imageSrc['opt'+(option+1)+'Img']">photo</mat-icon>
                                </div>
                                <div class="brnd_info_upld">
                                    <mat-form-field appearance="outline" class="d_none">
                                        <input matInput placeholder="Upload Option {{option+1}} Image"
                                            [(ngModel)]="this['opt'+(option+1)+'FileName']" id="opt{{option+1}}FileName"
                                            name="opt{{option+1}}FileName" readonly />
                                        <mat-hint *ngIf="image_option" class="fl_frmt_info"> System will accept only
                                            jpg, jpeg, bmp, gif, png </mat-hint>
                                    </mat-form-field>
                                    <button type="button" mat-raised-button (click)="openFileExplor((option+1))"
                                        color="accent" class="float_right">
                                        <mat-icon>upload</mat-icon> Browse
                                        <input class="w_80p" (change)="onFileChange($event)"
                                            accept="image/x-png,image/gif,image/jpeg,image/bmp" id="opt{{option+1}}Img"
                                            type="file" style="display: none" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="crt_pr_dv w_100p"
                    *ngIf="single_option || vidio_single_option || audio_single_option || image_single_option && false">
                    <div class="hgt_10"></div>
                    <div>Is Correct Answer?</div>

                    <div class="d-flex ql_ca">
                        <div class="ql_ca_mn">
                            <mat-radio-group [(ngModel)]="question.correct_ans_ids[0]" name="correct_options">
                                <div class="brnd_info_mn addrmv_btn"
                                    *ngFor="let option_value of question.option_array;index as option;">
                                    <div class="brnd_info_upld">
                                        <mat-radio-button class="mt_1" [value]="option+1"
                                            (change)="onCorrectAnsChange($event)"> </mat-radio-button>
                                        <div class="w_100p fw_w">
                                            <div class="w_100p">
                                                <mat-form-field appearance="outline" class="w_100p">
                                                    <textarea [(ngModel)]="question['option'+(option+1)]"
                                                        name="option{{option+1}}" #option{{option+1}}="ngModel"
                                                        maxlength="255" matInput
                                                        placeholder="Enter Option {{option+1}} Text" class="crt_prt_txt"
                                                        required></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div class="w_100p">
                                                <angular-editor id="option_{{option+1}}"
                                                    [placeholder]="'Enter Option '+(option+1) +' Explanation'"
                                                    [config]="liteEditorConfig" name="option_{{option+1}}"
                                                    #option_{{option+1}}="ngModel"
                                                    [(ngModel)]="question['option_explanation_'+(option+1)]">
                                                </angular-editor>
                                            </div>
                                            <div class="hgt_20"></div>
                                        </div>
                                    </div>
                                    <button (click)="addOption(option)"
                                        *ngIf="question.option_array.length == (option+1) && question.option_array.length<max_options"
                                        mat-raised-button type="button" class="mr_1 float_right"
                                        color="accent">Add</button>
                                    <button (click)="removeOption(option)"
                                        *ngIf="question.option_array.length == (option+1) && question.option_array.length>2"
                                        type="button" mat-raised-button color="warn"
                                        class="float_right mr_1">Remove</button>
                                </div>
                            </mat-radio-group>
                        </div>
                        <div class="ql_ca_mn" *ngIf="image_single_option || image_multiple_option && false">
                            <div class="brnd_info_mn hgt_335px"
                                *ngFor="let option_value of question.option_array;index as option;">
                                <div class="ql_img_thmb"> <img *ngIf="imageSrc['opt'+(option+1)+'Img']"
                                        [src]="imageSrc['opt'+(option+1)+'Img']">
                                    <mat-icon *ngIf="!imageSrc['opt'+(option+1)+'Img']">photo</mat-icon>
                                </div>
                                <div class="brnd_info_upld">
                                    <mat-form-field appearance="outline" class="d_none">
                                        <input matInput placeholder="Upload Option {{option+1}} Image"
                                            [(ngModel)]="this['opt'+(option+1)+'FileName']" id="opt{{option+1}}FileName"
                                            name="opt{{option+1}}FileName" readonly />
                                        <mat-hint *ngIf="image_option" class="fl_frmt_info"> System will accept only
                                            jpg, jpeg, bmp, gif, png </mat-hint>
                                    </mat-form-field>
                                    <button type="button" mat-raised-button (click)="openFileExplor((option+1))"
                                        color="accent" class="float_right">
                                        <mat-icon>upload</mat-icon> Browse
                                        <input class="w_80p" (change)="onFileChange($event)"
                                            accept="image/x-png,image/gif,image/jpeg,image/bmp" id="opt{{option+1}}Img"
                                            type="file" style="display: none" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text_right w_100p">
                        <button (click)="addOption(option)"
                            *ngIf="question.option_array.length == (option+1) && question.option_array.length<max_options"
                            mat-raised-button type="button" class="mr_1" color="accent">Add Option</button>
                        <button (click)="removeOption(option)"
                            *ngIf="question.option_array.length == (option+1) && question.option_array.length>2"
                            type="button" mat-raised-button color="warn">Remove Option</button>
                    </div>
                </div> -->
                <hr>
                <div class="hgt_10"></div>
                <div class="text_right w_100p">
                    <button class="gry_btn mr_1" (click)="navigateTo('questions-mgt/questions-list')"
                        mat-raised-button>Cancel</button>
                    <button color="accent" mat-raised-button>Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>