<div class="mn_dshbrd">
    <div class="brd_crm">
        <span>Create New Question</span>
    </div>
    <div class="pg_ttl">Create New Question</div>
    <div class="crt_prtnr dsh_brd_crds">
        <div class="crt_pr_mn px-0 bg-0">
            <div class="crt_pr_dv">
                <div class="crt_prt_hd">Select topic / subtopic</div>
                <div class="crt_prt_cnt">
                    <mat-form-field appearance="outline">
                        <mat-select value="1">
                            <mat-option value="1">KPoint</mat-option>
                            <mat-option>Youtube</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="crt_pr_dv">
                <div class="crt_prt_hd">Add question to</div>
                <div class="crt_prt_cnt">
                    <mat-form-field appearance="outline">
                        <mat-select value="1">
                            <mat-option value="1">Select question bank(s)</mat-option>
                            <mat-option>Youtube</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="crt_pr_dv">
                <div class="crt_prt_hd">Select question type</div>
                <div class="crt_prt_cnt">
                    <mat-form-field appearance="outline">
                        <mat-select value="1">
                            <mat-option value="1">Multiple options selection</mat-option>
                            <mat-option>Youtube</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="crt_pr_dv">
                <div class="crt_prt_hd">Difficulty level</div>
                <div class="crt_prt_cnt">
                    <mat-radio-group>
                        <mat-radio-button value="1" class="emh esy">Easy</mat-radio-button>
                        <mat-radio-button value="2" class="emh mdm">Medium</mat-radio-button>
                        <mat-radio-button value="1" class="emh hrd">Hard</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="crt_pr_dv w_100p">
                <div class="crt_prt_hd">Title</div>
                <div class="crt_prt_cnt">
                    <mat-form-field appearance="outline" class="w_80p">
                        <input matInput matInput placeholder="Parnter Name" />
                    </mat-form-field>
                </div>
            </div>
            <div class="crt_pr_dv">
                <div class="brnd_info_mn">
                    <div class="brnd_info_upld">
                        <mat-checkbox color="accent" class="mt_14p"></mat-checkbox>
                        <mat-form-field appearance="outline" class="w_90p">
                            <input matInput matInput placeholder="Parnter Name" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="brnd_info_mn">
                    <div class="brnd_info_upld">
                        <mat-checkbox color="accent" class="mt_14p"></mat-checkbox>
                        <mat-form-field appearance="outline" class="w_90p">
                            <input matInput matInput placeholder="Parnter Name" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="brnd_info_mn">
                    <div class="brnd_info_upld">
                        <mat-checkbox color="accent" class="mt_14p"></mat-checkbox>
                        <mat-form-field appearance="outline" class="w_90p">
                            <input matInput matInput placeholder="Parnter Name" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="brnd_info_mn">
                    <div class="brnd_info_upld">
                        <mat-checkbox color="accent" class="mt_14p"></mat-checkbox>
                        <mat-form-field appearance="outline" class="w_90p">
                            <input matInput matInput placeholder="Parnter Name" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="crt_pr_dv">
                <div class="brnd_info_mn">
                    <div class="brnd_info_upld">
                        <mat-form-field appearance="outline" class="w_80p">
                            <input matInput matInput placeholder="Upload Image" />
                        </mat-form-field>
                        <button mat-raised-button class="no_bxsdw w_19p mt_6px" color="accent">Browse</button>
                    </div>
                </div>
                <div class="brnd_info_mn">
                    <div class="brnd_info_upld">
                        <mat-form-field appearance="outline" class="w_80p">
                            <input matInput matInput placeholder="Upload Image" />
                        </mat-form-field>
                        <button mat-raised-button class="no_bxsdw w_19p mt_6px" color="accent">Browse</button>
                    </div>
                </div>
                <div class="brnd_info_mn">
                    <div class="brnd_info_upld">
                        <mat-form-field appearance="outline" class="w_80p">
                            <input matInput matInput placeholder="Upload Image" />
                        </mat-form-field>
                        <button mat-raised-button class="no_bxsdw w_19p mt_6px" color="accent">Browse</button>
                    </div>
                </div>
                <div class="brnd_info_mn">
                    <div class="brnd_info_upld">
                        <mat-form-field appearance="outline" class="w_80p">
                            <input matInput matInput placeholder="Upload Image" />
                        </mat-form-field>
                        <button mat-raised-button class="no_bxsdw w_19p mt_6px" color="accent">Browse</button>
                    </div>
                </div>
            </div>
            <div class="crt_pr_dv w_100p">
                <div class="crt_prt_hd">Explanation</div>
                <div class="crt_prt_cnt">
                    <mat-form-field appearance="outline" class="w_80p">
                        <textarea matInput placeholder="Enter explanation" class="crt_prt_txt"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="text_right w_100p">
                <button class="gry_btn mr_1" mat-raised-button>Cancel</button>
                <button color="accent" mat-raised-button>Submit</button>

            </div>
        </div>
    </div>
</div>