<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &nbsp;&raquo; <strong>Lab Values</strong></div>
    <div class="pg_ttl">Lab Values</div>
    <hr>
    <div class="hgt_10"></div>
    <div class="dsh_brd_crds">
        <form name="lab_values_form" #lab_values_form="ngForm" id="lab_values_form" (ngSubmit)="lab_values_form.valid && saveValues()"> 
        <div class="cm_fltr_sc mr_1">
            <div>Heading</div>
            <mat-form-field class="example-full-width" appearance="fill">
                <input required type="text" matInput placeholder="Heading" name="heading_name"  [matAutocomplete]="auto" [(ngModel)]="heading" (keyup)="headingFilter()">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of headings" [value]="option['name']">
                    {{option['name']}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-select placeholder="Heading" required>
                    <mat-option>
                        <ngx-mat-select-search ngModel></ngx-mat-select-search>
                    </mat-option>
                    <mat-option>Serum</mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
        <div class="cm_fltr_sc mr_1">
            <div>Sub Heading</div>
            <mat-form-field class="example-full-width" appearance="fill">
                <input type="text" required matInput placeholder="Sub Heading" name="sub_heading_name" [matAutocomplete]="auto" [(ngModel)]="sub_heading" (keyup)="subHeadingFilter()">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of sub_headings" [value]="option['name']">
                    {{option['name']}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-select placeholder="Subheading" required>
                    <mat-option>
                        <ngx-mat-select-search ngModel></ngx-mat-select-search>
                    </mat-option>
                    <mat-option>Cholestor</mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
        <div class="clear_fix"></div>
        <div class="cm_fltr_sc mr_1">
            <div>Parameter Name</div>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Parameter Name" [(ngModel)]="parameter_name" name="parameter_name" />
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <div>Ref Range</div>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="Ref Range" [(ngModel)]="ref_range" name="ref_range_name" />
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <div>SI Reference</div>
            <mat-form-field appearance="outline">
                <input required matInput placeholder="SI Reference" [(ngModel)]="si_ref" name="si_ref_name" />
            </mat-form-field>
        </div>
        <div class="mt_3px">
            <div>&nbsp;</div>
            <button mat-raised-button color="accent" class="mr_1">Save</button>
            <!-- <button mat-raised-button color="warn"><mat-icon>delete_outline</mat-icon></button> -->
        </div>
    </form>
    </div>
</div>