<div class="mn_dshbrd">
    <div class="cust_mdl_par cust_mdl_50p {{open_modal==true?'cust_mdl_opn':''}}">
        <div class="cust_mdl_chl">
            <div class="pg_ttl">
                Lab Values
                <span class="spacer"></span>
                <button mat-icon-button class="float_right" type="button" (click)="closeModal()">
                    &#x2715;
                </button>
            </div>
            <div class="tbbd_bdy dsh_brd_crds">
                <div class="hgt_10"></div>
                <form name="lab_values_form" #lab_values_form="ngForm" id="lab_values_form"
                    (ngSubmit)="lab_values_form.valid && saveValues()">
                    <div class="cm_fltr_sc mr_1">
                        <div>Heading</div>
                        <mat-form-field appearance="outline">
                            <input required matInput placeholder="Heading" name="heading_name" id="heading" [matAutocomplete]="auto"
                                [(ngModel)]="heading" (keyup)="headingFilter();" (blur)="getSubHeadings('')">
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete" appearance="outline">
                            <!-- <mat-option *ngFor="let option of headings" (onSelectionChange)="getSubHeadings(option['name']);" [value]="option['name']"> -->
                                <mat-option *ngFor="let option of headings" [value]="option['name']">
                                {{option['name']}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="cm_fltr_sc mr_1">
                        <div>Sub Heading</div>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Sub Heading" name="sub_heading_name"
                                [matAutocomplete]="auto1" [(ngModel)]="sub_heading" (keyup)="subHeadingFilter()">
                        </mat-form-field>
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let option of sub_headings" [value]="option['name']">
                                {{option['name']}}
                            </mat-option>
                        </mat-autocomplete>

                    </div>
                    <div class="clear_fix"></div>
                    <div class="ulvd_inpts">
                        <div>
                            <div>Parameter Name</div>
                            <mat-form-field appearance="outline">
                                <input required matInput placeholder="Ex: Serum" [(ngModel)]="parameter_name"
                                    name="parameter_name" autocomplete="off" />
                            </mat-form-field>
                        </div>
                        <div>
                            <div>Ref Range</div>
                            <mat-form-field appearance="outline">
                                <input required matInput placeholder="Ref Range" [(ngModel)]="ref_range"
                                    name="ref_range_name" autocomplete="off" />
                            </mat-form-field>
                        </div>
                        <div>
                            <div>SI Reference</div>
                            <mat-form-field appearance="outline">
                                <input required matInput placeholder="SI Reference" [(ngModel)]="si_ref"
                                    name="si_ref_name" autocomplete="off" />
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div class="hgt_10"></div>
                    <div class="text_right">
                        <button (click)="closeModal()" type="button" mat-raised-button class="gry_btn mr_1">Close</button>
                        <button mat-raised-button color="accent">Save</button>
                    </div>
                    <div class="hgt_20"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="brd_crm">Proceum &nbsp;&raquo; <strong>Lab Values</strong></div>
    <div class="d-flex">
        <div class="pg_ttl">Lab Values</div>
        <div class="spacer"></div>
        <div>
            <button (click)="openModal()" mat-raised-button color="accent">
                <mat-icon>add</mat-icon>
                Add Lab Value
            </button>
        </div>
    </div>
    
    <hr>
    <div class="hgt_10"></div>
    <div class="dsh_brd_crds">

        <div class="cm_fltr_sc mr_1">
            <div>Search</div>
            <mat-form-field appearance="outline" class="w_100p">
                <input matInput matInput [(ngModel)]="search_key" (keyup)="$event.keyCode == 13 ? applyFilters() : ''"
                    placeholder="Search" placeholder="Search" />
                <mat-icon matSuffix (click)="applyFilters()">search</mat-icon>
            </mat-form-field>
        </div>
        
        <div class="rsp_tbl">
            <table mat-table [dataSource]="dataSource" class="whtspc_nml">

                <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="s_no">
                    <th mat-header-cell *matHeaderCellDef> S.No</th>
                    <td mat-cell *matCellDef="let element"> {{element['s_no']}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="heading">
                    <th mat-header-cell *matHeaderCellDef> Heading </th>
                    <td mat-cell *matCellDef="let element">{{element['heading']}}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="sub_heading">
                    <th mat-header-cell *matHeaderCellDef> Sub Heading </th>
                    <td mat-cell *matCellDef="let element">{{element['sub_heading']?element['sub_heading']:'N/A'}}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Parameter Name </th>
                    <td mat-cell *matCellDef="let element">{{element['parameter_name']}}</td>
                </ng-container>

                <ng-container matColumnDef="ref_range">
                    <th mat-header-cell *matHeaderCellDef> Ref Range </th>
                    <td mat-cell *matCellDef="let element">{{element['ref_range']}}</td>
                </ng-container>

                <ng-container matColumnDef="si_reference">
                    <th mat-header-cell *matHeaderCellDef> SI Reference </th>
                    <td mat-cell *matCellDef="let element">{{element['si_reference']}}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="actions_tdh"> Actions </th>
                    <td mat-cell *matCellDef="let element" class="actions_tdh">
                        <button (click)="editValues(element)" mat-icon-button color="accent" matTooltip="Click to edit">
                            <mat-icon>edit_note</mat-icon>
                        </button>
                        <button mwlConfirmationPopover
                        [popoverTitle]="'Delete Lab Value ?'"
                        [popoverMessage]="'Are you sure, do you want to delete this Lab Value(It will be deleted from all Questions)?<br>Please confirm.'" placement="text_center"
                        (confirm)="deleteValue(element['id'])" confirmButtonType="danger" cancelButtonType="outline-secondary" mat-icon-button color="warn" matTooltip="Click to Delete">
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                    <td style="text-align: center; margin: 20px" class="mat-cell" colspan="7">
                        No Records Found
                    </td>
                </tr>
            </table>
        </div>
        <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options" [length]="values_count"
            [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
    </div>
</div>