<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &nbsp;&raquo; <strong>Lab Values</strong></div>
    <div class="pg_ttl">Lab Values</div>
    <hr>
    <div class="hgt_10"></div>
    <div class="dsh_brd_crds">
        <div class="cm_fltr_sc mr_1">
            <div>Heading</div>
            <mat-form-field appearance="outline">
                <mat-select placeholder="Heading" required>
                    <mat-option>
                        <ngx-mat-select-search ngModel></ngx-mat-select-search>
                    </mat-option>
                    <mat-option>Serum</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <div>Subheading</div>
            <mat-form-field appearance="outline">
                <mat-select placeholder="Subheading" required>
                    <mat-option>
                        <ngx-mat-select-search ngModel></ngx-mat-select-search>
                    </mat-option>
                    <mat-option>Cholestor</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="clear_fix"></div>
        <div class="cm_fltr_sc mr_1">
            <div>Parameter Name</div>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Parameter Name" />
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <div>Ref Range</div>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Ref Range" />
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <div>SI Reference</div>
            <mat-form-field appearance="outline">
                <input matInput placeholder="SI Reference" />
            </mat-form-field>
        </div>
        <div class="mt_3px">
            <div>&nbsp;</div>
            <button mat-raised-button color="accent" class="mr_1"><mat-icon>add</mat-icon></button>
            <button mat-raised-button color="warn"><mat-icon>delete_outline</mat-icon></button>
        </div>
    </div>
</div>