<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Dashboard</strong></div>
    <div class="pg_ttl">Dashboard</div>
    <div class="dsh_brd_crds">
      <ul class="crds_ul">
        <li>
          <div>
            No. of Students Subscribed
            <span>60</span>
          </div>
        </li>
        <li>
          <div>
            Total No. of Courses
            <span>90</span>
          </div>
        </li>
        <li>
          <div>
            No. of Videos
            <span>60</span>
          </div>
        </li>
        <li>
          <div>
            Qbank
            <span>60</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
