<app-topbar></app-topbar>
<div class="login_main inner-container">
  <div class="log_mdl_cont">
    <div class="log_div text_center">
      <!-- <h2 class="clr_wht fnt_nrml wlcm_hd">Welcome to Proceum</h2> -->
      <div class="sgn_sec">
        <p class="sgn_hd">Welcome</p>
        <!-- <p class="sgn_hint">Log-in to continue to application</p> -->

        <form #login_id="ngForm" name="login_form" (ngSubmit)="doLogin()" novalidate>
          <div class="mail {{ login_id.submitted && (login.email == '' || user_email.invalid) ? 'err_tltp_par' : ''}}">
            <input type="email" [(ngModel)]="login.email" focus name="user_email" placeholder="Enter Email" email
              #user_email="ngModel" ngModel required />
            <span class="material-icons mail_icon">mail_outline</span>
            <span class="prc_tltp" *ngIf="login_id.submitted && (login.email == '' || email_check == false)">{{email_error}}</span>
          </div>
          <div class="psswrd {{ login_id.submitted && (login.password == '') ? 'err_tltp_par' : ''}}">
            <input [type]="password_hide ? 'password' : 'text'" required [(ngModel)]="login.password"
              name="user_password" #user_password="ngModel" placeholder="Enter Password" ngModel />
            <span class="material-icons mail_icon">password</span>

              <span class="material-icons passcode_view_icon" (click)="passwordFun()">{{
                password_hide ? "visibility_off" : "visibility"
                }}</span>

              <span class="prc_tltp" *ngIf="login_id.submitted && login.password == ''">{{password_error}}</span>
          </div>
          <div class="remember_checkbox text-left">
            <!-- <input type="checkbox">  -->
            <mat-checkbox class="example-margin remember_checkbox text-left">Remember me</mat-checkbox>
          </div>
          <!-- <div
            class="prc_hnt"
            *ngIf="
              (login.password == '' ||
                login.email == '' ||
                user_email.invalid) &&
              login_id.submitted
            "
          >
            {{ message }}
          </div> -->
          <div class="login_btns">
            <input type="button" class="teal_btn sign_btn-2 lgn_btn" value="Signup" routerLink="/register">
            <button type="submit" class="teal_btn sign_btn lgn_btn">Sign in</button>
          </div>
        </form>
        <div class="or_signin_with">
          <span>or signin with</span>
        </div>
        <div class="social_login_block">
          <div class="sign_google" (click)="sociallogin('GG')">
            <img src="../../../assets/images/sign-googleicon.svg" />
          </div>
          <div class="sign_fb" (click)="sociallogin('FB')">
            <img src="../../../assets/images/sign-fbicon.svg" alt="">
          </div>
          <div class="sign_apple" (click)="sociallogin('AP')">
            <img src="../../../assets/images/sign-appleicon.svg" alt="">
          </div>
        </div>
        <!-- <div class="scl_lgns">
          <div class="sgn_fb" (click)="sociallogin('FB')">
            <img src="assets/images/facebook-logo.svg" /> Login with Facebook
          </div>
          <div class="sgn_gg" (click)="sociallogin('GG')">
            <img src="assets/images/google_logo.svg" /> Login with Google
          </div>
          <div class="sgn_ap" (click)="sociallogin('AP')">
            <img src="assets/images/apple_logo.svg" /> Login with Apple ID
          </div>
        </div> -->
      </div>
      <div class="forgot_password">
        <a routerLink="/forgot-password">Forgot Password ?</a>
      </div>
      <!-- <div class="frgt_sec">
        <a routerLink="/forgot-password">Forgot Password ?</a>
        <a routerLink="/register">Create New Account</a>
      </div> -->
    </div>
  </div>
</div>