.log_mdl_cont {
  position: absolute;
  margin: auto;
  top: 10%;
  bottom: 0;
  min-height: 350px;
  width: 800px;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo_img {
  border-right: 1px solid #0594b4;
  float: left;
  align-items: center;
  display: flex;
  width: 40%;
  justify-content: center;
  height: 350px;
}
.logo_img img {
  width: 200px;
}

.log_div {
  width: 500px;
  position: relative;
  z-index: 90;
}
.sgn_sec {
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  color: #000;
  padding: 50px 70px 30px;
  box-sizing: border-box;
  position: relative;
}

.sgn_sec p {
  text-align: left;
  margin: 0 0 30px 0;
}
.sgn_hd {
  font-size: 37px;
  font-weight: 800;
}
.sgn_hint {
  font-size: 12px;
}
.text-left{ text-align: left;}
.sgn_sec input[type="text"], .sgn_sec input[type="email"], .sgn_sec input[type="password"] {
  width: 100%;
  height: 40px;
  background-color: #fff;
  padding: 5px 40px 5px 45px;
  outline: none;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid #707070;
  margin-bottom: 15px;
}
.mail,
.psswrd {
  position: relative;
  margin: 12px 0 12px 0;
  border: 1px solid transparent;
}

.mail .mail_icon,
.psswrd .mail_icon {
  position: absolute;
  left: 0px;
  top: 0;
  color: #41AB3C;
  bottom: 15px;
  margin: auto;
  height: 24px;
}
.passcode_view_icon {
  position: absolute;
  right: 9px;
  top: 0;
  color: #41AB3C;
  bottom: 15px;
  margin: auto;
  height: 24px;
  cursor: pointer;
}
.mail.err_tltp_par input,
.psswrd.err_tltp_par input{
  border-bottom: 1px solid #b71c1c;
}
.mail.err_tltp_par .material-icons,
.psswrd.err_tltp_par .material-icons{
  color: #b71c1c
}

.frgt_sec {
  color: #0594b4;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.scl_lgns {
  position: absolute;
  left: 100%;
  top: 80px;
}
.scl_lgns div {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  line-height: 40px;
  cursor: pointer;
  text-align: left;
  text-indent: 5px;
}
.sgn_fb {
  background-color: #385591;
  color: #fff;
}
.sgn_fb img {
  width: 20px;
  float: left;
  height: 40px;
  margin-right: 8px;
}
.scl_lgns .sgn_gg {
  background-color: #4285f4;
  color: #fff;
  padding-left: 14px;
}
.sgn_gg img {
  width: 24px;
  float: left;
  height: 24px;
  background-color: #fff;
  margin-top: 8px;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 4px;
}
.sgn_ap img {
  width: 20px;
  float: left;
  height: 40px;
  margin-right: 8px;
}
.sgn_ap {
  background-color: #757575;
  color: #fff;
}
.err_tltp_par, .inp_par_dv{width: 100%;}
.frgt_sec{
  font-weight: 200;
  font-size: 14px;
  a{
    color: #FFF;
    opacity: 0.6;
    &:hover{
      opacity: 1;
    }
  }
}
.teal_btn.sign_btn-2{
  background-color: #fff;
  border: 1px solid #70707030;
  text-transform: uppercase;
  border-radius: 5px;
  color: #000;
  margin-right: 20px;
}
.teal_btn.sign_btn{
  background-color: #41AB3C;
  border: 1px solid #41AB3C;
  text-transform: uppercase;
  border-radius: 5px;
}
.social_login_block {
  margin-top: 20px;
}
.forgot_password {
  margin-top: 20px;
}
.forgot_password a {
  color: #000;
}
.or_signin_with:before {
  content: "";
  height: 1px;
  background: #707070;
  width: 100%;
  position: absolute;
  left: 0;
  top: 13px;
  z-index: -1;
}
.or_signin_with {
  position: relative;
  text-align: center;
  z-index: 0;
  margin-top: 30px;
}
.or_signin_with span{
  background: #FFF;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}
.social_login_block div{
  display: inline-block;
  max-width: 35px;
  margin: 0 5px;
  cursor: pointer;
}
.login_btns{ text-align: center;margin-top: 10px;}
@media (max-width: 1600px) {
  .log_mdl_cont {
    left: 0;
    right:0
  }
}

@media (max-width: 1280px) {
  // .log_mdl_cont {
  //   left: 5%;
  // }
}

@media (max-width: 1100px) {
  .logo_img {
    width: 100%;
    border: 0;
    height: auto;
    margin-top: 40px;
  }
  .log_mdl_cont {
    display: block;
    position: relative;
    width: 80%;
    top: auto;
    left: auto;
  }
  .wlcm_hd {
    text-align: left;
  }
  .log_div{
    margin: 0 auto;
    top: 10%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}
}

@media (max-width: 767px) {
  .log_mdl_cont {
    width: 100%;
    padding-bottom: 15px;
  }
  .scl_lgns {
    left: auto;
    right: auto;
    top: 20px;
    border-top: 1px solid #fff;
    padding-top: 20px;
    position: relative;
  }
  .scl_lgns div {
    width: auto;
  }
  .log_div {
    width: 100%;
  }

  .login_main{
    height: 100%;
    background: #FFF;
    padding: 0 20px;
}

  .sgn_sec {
    padding: 30px 15px;
  }
  .lgn_btn {
    width: 100%;
  }
  .frgt_sec {
    display: inline-block;
    margin-top: 0px;
  }
  .frgt_sec a {
    width: 100%;
    display: inline-block;
    margin-top: 12px;
  }
  .logo_img img {
    margin-right: 25px;
  }
  .wlcm_hd {
    text-align: center;
  }
}
