<div class="login_main">
    <div class="log_mdl_cont">
      <div class="logo_img"> <img src="assets/images/ProceumLogo.png" /> </div>
      <div class="log_div text_center">
        <h2 class="clr_grn fnt_nrml wlcm_hd">Welcome to Proceum</h2>
        <div class="sgn_sec">
          <p class="sgn_hd">Sign In</p>
          <p class="sgn_hint">Log-in to continue to application</p>
          <input type="text" placeholder="Enter Email" class="mail" />
          <input type="password" placeholder="Enter Password" class="psswrd" />
          <button type="button" (click)="doLogin()" class="teal_btn">Login</button> 
        </div>
        <div class="frgt_sec"> <a href="#">Forgot Password ?</a> <a href="#">Create New Account</a> </div>
      </div>
      <div class="scl_lgns">
        <div class="sgn_fb"><img src="assets/images/facebook-logo.svg" /> Login with Facebook</div>
        <div class="sgn_gg"><img src="assets/images/google_logo.svg" /> Login with Google</div>
        <div class="sgn_ap"><img src="assets/images/apple_logo.svg" /> Login with Apple</div>
      </div>
    </div>
    <div class="footer"> Copyright © Proceum 2021.All right reserved.Created by <a href="#">Proceum</a> <span><a href="#">Privacy Policy</a>, <a href="#">Terms &amp; Conditions</a></span> </div>
  </div>