<app-topbar class="inner-header"></app-topbar>
<div class="mn_dshbrd fl_mndsbrd">
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br p_1 d-flex ai_cntr">
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon><strong>Coupons</strong>
        </div>
    </div>
    <div class="hgt_20"></div>
    <div class="dsh_brd_crds">
        <div class="coupons_page_container">
            <mat-tab-group class="w_100p">
                <mat-tab label="Available Coupons">
                    <div class="coupons_block" *ngFor="let promotion of promotions">
                        <div class="top_1">
                            <div>
                                <span>Coupon for </span>
                                &nbsp;{{promotion.currency_symbol}} {{promotion.discount_amount}} <span
                                    class="ml_05">Discount</span>
                            </div>
                        </div>
                        <div class="coupon_description">
                            {{promotion.description}}
                        </div>
                        <div class="trms_txt">Terms &amp; Conditions:</div>
                        <div class="terms_condition_popover">
                            <ul>
                                <li>The Coupon is applicable for the country {{promotion.country_name}}.</li>
                                <li>Minimum Order Amount : {{promotion.min_order_amount}}</li>
                                <li>Coupon valid from <br> {{promotion.valid_from | date:'short' }} to <br>
                                    {{promotion.valid_to | date:'short'}}</li>
                                <li>To avail the coupon, you need to apply the coupon code.</li>
                                <li>Click to view the coupon code</li>
                            </ul>
                        </div>
                        <div class="showCoupon">
                            <div class="showCodeBtn {{promotion.show_coupon ? 'shcp_sld':''}}"
                                (click)="promotion.show_coupon = 1">
                                Show Coupon Code
                            </div>
                            <span class="{{promotion.show_coupon ? 'text-center':'fltr_blr'}}">
                                {{promotion.code}}
                                <!-- {{promotion.show_coupon ? promotion.code : ''}} -->
                            </span>
                            <mat-icon color="accent" matTooltip="Copy Coupon Code" class="cpy_btn"
                                (click)="copyToClipboard(promotion.code)">{{promotion.show_coupon ? 'file_copy':''}}
                            </mat-icon>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Latest Discounts">
                    <div class="coupons_block" *ngFor="let discount of discounts">
                        <div class="top_1">
                            <div *ngIf="discount.discount_type ==2">
                                <span>Coupon for </span>
                                &nbsp;{{discount.discount_percent}}% <span class="ml_05">Discount</span>
                            </div>
                            <div *ngIf="discount.discount_type ==1">
                                <span>Coupon for </span>
                                &nbsp;{{discount.currency_symbol}} {{discount.amount}} <span
                                    class="ml_05">Discount</span>
                            </div>
                        </div>
                        <div class="coupon_description">
                            {{discount.description}}
                        </div>
                        <div class="trms_txt">Terms & Conditions:</div>
                        <div class="terms_condition_popover">
                            <ul>
                                <li>The Coupon is applicable for {{discount.package_name}}.</li>
                                <li>The Coupon is applicable for the country {{discount.country_name}}.</li>
                                <!--  <li>Minimum Order Amount : 123</li>
                                <li>Maximum Discount Amount : 123</li> -->
                                <li>Coupon valid from <br> {{discount.valid_from | date:'short' }} to <br>
                                    {{discount.valid_to | date:'short'}}</li>
                                <!-- <li>To avail the coupon, you need to apply the coupon code.</li>
                                <li>Click to view the coupon code</li> -->
                            </ul>
                        </div>
                    </div>

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<app-footer class="fl_mnftr"></app-footer>
