.coupons_block{
    background-color: #FFF;
    width: 280px;
    padding: 15px;
    border-radius: 10px;
    margin:0 10px 15px 0px;
    position: relative;
    display: inline-block;
}
.coupons_block div.top_1 span {
    font-size: 14px;
    color:#cacaca;
}
.coupons_block div.top_1 div span {
    vertical-align: middle;
    font-weight: 700;
    font-size: 14px;
    color: #30C940;
}
.coupons_block div.top_1 div {
    font-size: 24px;
    vertical-align: top;
    font-weight: 800;
    color: #30C940;
    line-height: 40px;
    display: flex;
    align-items: center;
}
.showCoupon {
    padding: 10px;
    background-color: rgba(0,0,0,0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border: 1px dashed #ddd;
    width: 80%;
    margin: auto;
}
.coupons_page_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .mat-tab-body-content{
        display: flex;
        flex-wrap: wrap;
    }
}
.coupon_description {
    font-size: 13px;
    line-height: 18px;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
}
.termsandConditions{
    position: relative;
}
.termsandConditions a {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 5px;
}
.termsandConditions a mat-icon {
    font-size: 17px;
    position: relative;
    top: 3px;
    left: 10px;
}
.top_1 div img {
    max-width: 9px;
    vertical-align: top;
    top: 10px;
    position: relative;
}
.showCodeBtn{
    text-align: center;
    position: absolute;
    top: 1px;
    width: 100%;
    margin: 0 1px;
    left: 0;
    height: calc(100% - 2px);
    z-index: 9;
    cursor: pointer;
    background-color: #30C940;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center; 
    animation-name: cpn_cd_ani;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    // &:hover{
    //     animation-name: cpn_cd_ani;
    //     animation-iteration-count: infinite;
    //     animation-duration: 0.8s;
    //     animation-timing-function: ease-in-out;
    // }
    @keyframes cpn_cd_ani {
        0%{
            width: 98%;
        }
        50%{
            width: calc(100% - 2px);
        }
        100%{
            width: 98%;
        }
    }
    &.shcp_sld{
       width: 0%;
       animation-name: cpn_cd_ani1 !important;
       animation-iteration-count: 1;
       font-size: 0;
       animation-duration: 0.6s;
       overflow: hidden;
       white-space: nowrap;
       @keyframes cpn_cd_ani1 {
            0%{
                width: 100%;
                font-size: 14px;
            }
            99%{
                font-size: 14px;
            }
            100%{
                width: 0%;
                font-size: 0;
            }
        }
    }
    // @keyframes sld_animtn {
    //     0%{
    //         width: 70%;
    //     }
    //     55%{
    //         width: 76%;
    //     }
    //     100%{
    //         width: 0%;
    //     }
    // }
}
.showCodeBtn input{
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
}
.showCoupon span {
    position: relative;
    top: 2px;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}
.terms_condition_popover {
    // position: absolute;
    // background: #333;
    // z-index: 1;
    bottom: 35px;
    padding:0 20px 10px 20px;
    // color: #FFF;
    // border-radius: 10px;
    font-size: 12px; 
}
// .termsandConditions:hover .terms_condition_popover{
//      display: block;
// }
.terms_condition_popover ul {
    margin: 0;
    padding-left: 10px;
    li{
        list-style: none;
    }
}
.terms_condition_popover ul li::before {
    content: "O";
    color: #30C940;
    font-weight: bold;
    display: inline-block; 
    width: 2em;
    margin-left: -2em;
  }