.coupons_block{
    background-color: #FFF;
    width: 290px;
    padding: 30px;
    border-radius: 20px;
    margin: 0 15px 30px;
    position: relative;
}
.coupons_block div.top_1 span {
    font-size: 14px;
    color:#cacaca;
}
.coupons_block div.top_1 div span {
    vertical-align: middle;
    font-weight: 700;
    font-size: 18px;
    color: #30C940;
}
.coupons_block div.top_1 div {
    font-size: 42px;
    vertical-align: top;
    font-weight: 800;
    color: #30C940;
    line-height: 40px;
}
.showCoupon {
    padding: 10px;
    background-color: rgba(0,0,0,0.03);
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23B7B7B7FF' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='33' stroke-linecap='square'/%3e%3c/svg%3e");
}
.coupons_page_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.coupon_description {
    font-size: 13px;
    line-height: 18px;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
}
.termsandConditions{
    position: relative;
}
.termsandConditions a {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 5px;
}
.termsandConditions a mat-icon {
    font-size: 17px;
    position: relative;
    top: 3px;
    left: 10px;
}
.top_1 div img {
    max-width: 9px;
    vertical-align: top;
    top: 10px;
    position: relative;
}
.showCodeBtn{
    text-align: center;
}
.showCodeBtn input{
    margin: 10px auto;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    border: 0 none;
    background-color: #30C940;
    color: #FFF;
}
.showCoupon span {
    position: relative;
    top: 2px;
    letter-spacing: 1.5px;
}
.terms_condition_popover {
    position: absolute;
    background: #333;
    z-index: 1;
    bottom: 35px;
    padding: 20px;
    color: #FFF;
    border-radius: 10px;
    font-size: 12px;
    display: none;
}

.termsandConditions:hover .terms_condition_popover{
    display: block;
}
.terms_condition_popover ul {
    margin: 0;
    padding-left: 20px;
    li{
        list-style: none;
    }
}
.terms_condition_popover ul li::before {
    content: "O";
    color: #30C940;
    font-weight: bold;
    display: inline-block; 
    width: 2em;
    margin-left: -2em;
  }