<div class="mn_dshbrd">
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br p_1 d-flex ai_cntr">
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon><strong>Coupons</strong>
        </div>
    </div>
    <div class="hgt_20"></div>
    <div class="dsh_brd_crds">
        <div class="coupons_page_container">
            <mat-tab-group class="w_100p">
                <mat-tab label="Available Coupons">                   
                    <div class="coupons_block">
                        <div class="top_1">
                            <div>
                                <span>Coupon for</span>
                                <mat-icon>currency_rupee</mat-icon>700 <span class="ml_05">Discount</span>
                            </div>
                        </div>
                        <div class="coupon_description">
                            Coupon Description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        </div>
                        <div class="trms_txt">Terms &amp; Conditions:</div>
                        <div class="terms_condition_popover">
                            <ul>
                                <li>The Coupon is applicable for the country India.</li>
                                <li>Minimum Order Amount : 123</li>
                                <li>Maximum Discount Amount : 123</li>
                                <li>Coupon valid from <br> 01/12/2021 to 18/01/2022</li>
                                <li>To avail the coupon, you need to apply the coupon code.</li>
                                <li>Click to view the coupon code</li>
                            </ul>
                        </div>
                        <div class="showCoupon">
                            <div class="showCodeBtn {{shwCpncd ? 'shcp_sld':''}}" (click)="shwCpncd = !shwCpncd">
                                Show Coupon Code
                            </div>
                            <span class="{{shwCpncd ? 'text-center':''}}">{{shwCpncd ? '8912-8912-3456' : '8912-8912-XXXX'}}</span>
                            <mat-icon color="accent" matTooltip="Copy Coupon Code">{{shwCpncd ? 'file_copy':''}}</mat-icon>
                        </div>
                    </div>
                    <div class="coupons_block">
                        <div class="top_1">
                            <div>
                                <span>Coupon for</span>
                                <mat-icon>currency_rupee</mat-icon>700 <span class="ml_05">Discount</span>
                            </div>
                        </div>
                        <div class="coupon_description">
                            Coupon Description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        </div>
                        <div class="trms_txt">Terms &amp; Conditions:</div>
                        <div class="terms_condition_popover">
                            <ul>
                                <li>The Coupon is applicable for the country India.</li>
                                <li>Minimum Order Amount : 123</li>
                                <li>Maximum Discount Amount : 123</li>
                                <li>Coupon valid from <br> 01/12/2021 to 18/01/2022</li>
                                <li>To avail the coupon, you need to apply the coupon code.</li>
                                <li>Click to view the coupon code</li>
                            </ul>
                        </div>
                        <div class="showCoupon">
                            <div class="showCodeBtn {{shwCpncd ? 'shcp_sld':''}}" (click)="shwCpncd = !shwCpncd">
                                Show Coupon Code
                            </div>
                            <span class="{{shwCpncd ? 'text-center':''}}">{{shwCpncd ? '8912-8912-3456' : '8912-8912-XXXX'}}</span>
                            <mat-icon color="accent" matTooltip="Copy Coupon Code">{{shwCpncd ? 'file_copy':''}}</mat-icon>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Latest Discounts">
                    <div class="coupons_block">
                        <div class="top_1">
                            <div>
                                <span>Coupon for</span>
                                <mat-icon>currency_rupee</mat-icon>700 <span class="ml_05">Discount</span>
                            </div>
                        </div>
                        <div class="coupon_description">
                            Coupon Description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        </div>
                        <div class="trms_txt">Terms & Conditions:</div>
                        <div class="terms_condition_popover">
                            <ul>
                                <li>The Coupon is applicable for the country India.</li>
                                <li>Minimum Order Amount : 123</li>
                                <li>Maximum Discount Amount : 123</li>
                                <li>Coupon valid from <br> 01/12/2021 to 18/01/2022</li>
                                <li>To avail the coupon, you need to apply the coupon code.</li>
                                <li>Click to view the coupon code</li>
                            </ul>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

           
        </div>
    </div>
</div>