 .dsh_brd_crds{width: 100%;}
 .crds_ul{margin: 0; padding: 0; display: flex; flex-wrap: wrap;}
 .crds_ul li{flex: auto; list-style: none; margin:5px 0.5%; text-align: center; color: #606672; flex-basis:32%; cursor: pointer;}
 .crds_ul div{background-color: #fff; border-radius: 8px; box-shadow: 0 2px 3px -2px #808080; font-size: 18px; padding: 5px 15px; text-align: center; height: 100%; box-sizing: border-box;}
 .crds_ul div span{font-size: 24px; font-weight: bold; width: 100%; display: inline-block; text-align: center;}
 .anly_crd div span{text-align: left; font-size: 14px;}
 .uni_lg_img {
     text-transform: uppercase;
     display: flex;
     align-items: center;
    }
.uni_lg_img img{
    max-width: 28%;
    margin: 1% 2% 1% 0;
    max-height: 100px;
}



/* Responsive Css*/


