<app-admin-topbar></app-admin-topbar>
<app-sidebar></app-sidebar>
<div class="mn_dshbrd">

 

  <div class="brd_crm">Proceum &raquo; <strong>Dashboard</strong></div>
  <div class="dsh_brd_crds">
    <ul class="crds_ul">
      <li>
        <div>
          Content Need Approval
          <span>60</span>
        </div>
      </li>
      <li>
        <div>
          Individual Student Subscriptions
          <span>90</span>
        </div>
      </li>
      <li>
        <div>
          MCI Students
          <span>60</span>
        </div>
      </li>
      <li>
        <div>
          Current Month Earnings
          <span>60</span>
        </div>
      </li>
    </ul>
    <ul class="crds_ul Clients">
      <li>
        <div>
          <span>Clients/Partners</span>
          <!-- <img src="./assets/images/ipsum_1.jpg" /> -->
        </div>
      </li>
    </ul>
    <ul class="crds_ul anly_crd">
      <li>
        <div class="uni_lg_img">
          <span class="text_center">kaloji narayana rao university of health sciences</span>
          <img src="./assets/images/Kaloji_Narayana.png" />
        </div>
      </li>
      <li>
        <div class="uni_lg_img">
          <span class="text_center">Kazakh medical university of continuing education</span>
          <img src="./assets/images/kazakh-logo.png" />
        </div>
      </li>
      <li>
        <div class="uni_lg_img">
          <span class="text_center">ntr university of health sciences</span>
          <img src="./assets/images/NTR_University.png" />
        </div>
      </li>
    </ul>
    <ul class="crds_ul anly_crd">
      <li>
        <div class="uni_lg_img">
          <span class="text_center">Avicenna Tajik State Medical University</span>
          <img src="./assets/images/atsmu.png" />
        </div>
      </li>
      <li>
        <div class="uni_lg_img">
          <span class="text_center">International Higher School Of Medicine</span>
          <img src="./assets/images/International_Higher_School_of_Medicine.jpg" />
        </div>
      </li>
      <li>
        <div class="uni_lg_img">
          <span class="text_center">Caspian University</span>
          <img src="./assets/images/caspian.png" />
        </div>
      </li>
    </ul>
    <ul class="crds_ul Clients">
      <li>
        <div>
          <span>Finance &amp; Revenue</span>
          <!-- <img src="./assets/images/ipsum_1.jpg" /> -->
        </div>
      </li>
    </ul>
    <ul class="crds_ul anly_crd">
      <li>
        <div>
          <span>Finance &amp; Revenue</span>
          <img src="./assets/images/ipsum_3.jpg" />
        </div>
      </li>
    </ul>
  </div>
</div>
<app-admin-footer></app-admin-footer>