<app-reviewer *ngIf="!loadAdmin && user['role']!='12'"></app-reviewer>
<app-teacher *ngIf="user['role']== '12'"></app-teacher>
<div class="mn_dshbrd" *ngIf="loadAdmin">
  <div class="brd_crm">Proceum &raquo; <strong>Dashboard</strong></div>
  <div class="pg_ttl">Dashboard</div>
  <div class="dsh_brd_crds">
    <div class="admin-notify" *ngIf="notifications.collegeNotify || notifications.yearSemGroupNotify || notifications.teacherNotify">
      <div class="fl_frmt_info wrn_bg mb_1" *ngIf="notifications.collegeNotify">
        {{ notifications.collegeNotify }} <a  style="color: #0014ff;font-weight: bold;border-bottom: 1px solid" routerLink="/admin/college-list">Click to Manage</a>
      </div>
      <div class="fl_frmt_info wrn_bg mb_1" *ngIf="notifications.yearSemGroupNotify">
        {{ notifications.yearSemGroupNotify }} <a  style="color: #0014ff;font-weight: bold;border-bottom: 1px solid" routerLink="/admin/manage-year-semester-group">Click to Manage</a>
      </div>
      <div class="fl_frmt_info wrn_bg mb_1" *ngIf="notifications.teacherNotify">
        {{ notifications.teacherNotify }} <a  style="color: #0014ff;font-weight: bold;border-bottom: 1px solid" routerLink="/admin/manage-users">Click to Manage</a>
      </div>
    </div>
    <ul class="crds_ul" *ngIf="counts_loaded">
      <li>
        <div>
          Total No. of Students
          <span>{{ subscribed_student_count }}</span>
        </div>
      </li>

      <li *ngIf="user['role'] == '8'">
        <div>
          Total No. of Colleges
          <span>{{ colleges_count }}</span>
        </div>
      </li>

      <li>
        <div>
          Total Assessments
          <span>{{ assessment_count }}</span>
        </div>
      </li>

      <li>
        <div>
          Total Notes
          <span>{{ notes_count }}</span>
        </div>
      </li>

      <li>
        <div>
          Total Classes / Webinars Conducted
          <span>{{ class_count }}</span>
        </div>
      </li>

      <li>
        <div>
          Total QBanks
          <span>{{ qbank_count }}</span>
        </div>
      </li>
    </ul>
    <ul class="crds_ul Clients" *ngIf="partners.length > 0">
      <li>
        <div class="clpr_vabtn">
          <span>Clients/Partners</span>
          <!-- <img src="./assets/images/ipsum_1.jpg" /> -->
          <button mat-raised-button color="accent" class="w_100px" routerLink="/admin/partners-list">View All</button>
        </div>
      </li>
    </ul>
    <ul class="crds_ul anly_crd" *ngIf="partners.length > 0">
      <li *ngFor="let partner of partners">
        <div class="uni_lg_img" routerLink="/admin/create-partner/{{partner.pk_id}}">
          <img src="{{ partner.header_logo }}" />
          <span class="text_center">{{ partner.partner_name }}</span>
         
        </div>
      </li>
    </ul>

    <!-- <ul class="crds_ul Clients">
      <li>
        <div>
          <span>Finance &amp; Revenue</span>
          <img src="./assets/images/ipsum_1.jpg" />
        </div>
      </li>
    </ul>
    <ul class="crds_ul anly_crd">
      <li>
        <div>
          <span>Finance &amp; Revenue</span>
          <img src="./assets/images/ipsum_3.jpg" />
        </div>
      </li>
    </ul> -->
  </div>
</div>
