<div class="mn_dshbrd">
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br p_1 d-flex ai_cntr">
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon><strong>Attend Assessment</strong>
        </div>
    </div>
    <div class="hgt_20"></div>
    <div class="tsts_mn stdy_md_qstns {{show_q_numbers == false ? 'tsts_collps':''}}">
        <div class="tsts_qstns_nums">
            <div class="tstsnms_hd_dv">
                <div class="tstsnms_hd">Questions 1</div>
                <div class="spacer"></div>
                <div class="tsts_qst_swch {{show_q_numbers == false ? 'rot_90':'rot_0'}}">
                    <mat-icon color="accent" (click)="show_q_numbers = !show_q_numbers">menu_open</mat-icon>
                </div>
            </div>
            <div class="hgt_20"></div>
            <div class="tstsnms_cnt_dv">
                <ul class="tst_lgnds">
                    <li class="actv">Active</li>
                    <li class="answrd">Answered</li>
                    <li class="orng">Marked</li>
                    <li class="skppd">Skipped</li>
                </ul>
                <ul>
                    <li class="actv">1</li>
                    <li class="answrd">2</li>
                    <li class="orng">3</li>
                    <li class="skppd">4</li>
                    <li class="">5</li>
                </ul>
            </div>
        </div>
        <div class="tsts_qstns">
            <div class="d-flex ai_cntr">
                <div class="tstsqst_hd">Question 1</div>
                <div class="spacer"></div>
                <div class="mr_1 grn_clr">Remain Time: 00HH:00MM</div>
            </div>
            <div class="hgt_20"></div>
            <div class="tstsqst_qst">
                <span>This is a Question</span>
                <div class="tstsqst_img">
                    <!-- <img [src]="bucket_url+active_question['q_source_value']" alt=""> -->
                </div>
            </div>
            <div class="tstsqst_ans">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="tstsqst_navs">
                <button mat-raised-button color="accent">
                    <mat-icon>arrow_left</mat-icon> Prev
                </button>
                <button mat-raised-button color="accent" class="skp_btn {{false ? 'gry_btn':''}}">Check
                    Answer <mat-icon>subdirectory_arrow_right
                    </mat-icon>
                </button>
                <button mat-raised-button color="accent">Next <mat-icon>arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>