<div class="mn_dshbrd dsh_brd_crds qm_mn">
  <div class="brd_crm">
    <span>Question Management</span>
  </div>
  <div class="pg_ttl">Question Management</div>
  <div class="qm_srchhd">
    Search
  </div>
  <div class="qm_srch d-flex ">
    <div class="mr_1">
      <mat-form-field appearance="outline" color="accent">
        <mat-select [(ngModel)]="search_source" (selectionChange)="changeQSource($event)" name="search_source"
          #searchsource="ngModel">
          <mat-option value="" selected>Select video type</mat-option>
          <mat-option value="kpoint" selected>KPoint</mat-option>
          <mat-option value="youtube" selected>Youtube</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w_100p mr_1">
      <mat-form-field appearance="outline" class="w_100p">
        <input matInput matInput [(ngModel)]="search_key" (keyup)="$event.keyCode == 13 ? applyFilters() : ''"
          placeholder="Search" placeholder="Search" />
        <mat-icon matSuffix (click)="applyFilters()">search</mat-icon>
      </mat-form-field>
    </div>
    <div class="">
      <button mat-raised-button color="accent" class="mt_6px" routerLink="/admin/questions-mgt/create-question">
        <mat-icon>add</mat-icon>
        Add new Question
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>S.No </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef> Question </th>
      <td mat-cell *matCellDef="let element"><div [innerHtml]="element.question"></div></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="question_type">
      <th mat-header-cell *matHeaderCellDef> Question type </th>
      <td mat-cell *matCellDef="let element">{{ element.question_type }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="q_bank">
      <th mat-header-cell *matHeaderCellDef> Question bank </th>
      <td mat-cell *matCellDef="let element"> {{ element.q_bank }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" class="mr_1">
          <mat-icon routerLink="/admin/questions-mgt/edit-question/{{element.id}}">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Click to delete" mwlConfirmationPopover
          [popoverTitle]="'Delete Question ?'"
          [popoverMessage]="'Are you sure, do you want to delete Question ?<br>Please confirm.'" placement="text_center"
          (confirm)="deleteQuestion(element.id)" confirmButtonType="danger" cancelButtonType="outline-secondary">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row no_rcrds_fd" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">No Records Found</td>
    </tr>
  </table>
  <mat-paginator #paginator [pageSize]="pageSize" [length]="questions_count" [pageSizeOptions]="page_size_options"
    [showFirstLastButtons]="true" (page)="getServerData($event)"></mat-paginator>
</div>