// .main_div{min-height: 100%;}
// app-sidenav {display: flex;}
// mat-drawer-container {flex: 1 1 auto;}
// mat-drawer-container, mat-drawer-content { display: block; height: 100%; }
// main { height: 100%; overflow-y: auto; }

