.team-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profile-div {
    width: 23%;
    margin: 1%;
    height: initial;
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}
.team-block {
    background: rgba(23, 31, 50, 0.1);
}
.mat-card-header .mat-card-title {
    margin-bottom: 12px;
    color: #0F98A6;
}
.profile-div mat-card.mat-card {
    border-radius: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: none !important;
    width: 100%;
}
.profile-div .mat-card-content p {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    line-height: 19px;
}
.profile-img-div {
    border: 7px solid rgba(23, 31, 50, 0.1);
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto 30px auto;
    box-shadow: 0px 0px 5px 0px rgb(23 31 50 / 40%);
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin: 0;
}
    }
    .mat-card-content:before {
        content: "";
        position: absolute;
        width: 30%;
        height: 10px;
        background-color: #46ad41;
        margin: 0 auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        top: 0;
    }
    .mat-card-content {
        padding-top: 30px;
        position: relative;
    }
    mat-card-subtitle.mat-card-subtitle {
        line-height: 20px;
        font-size: 14px;
        padding-top: 15px;
    }

.inner-content .block-1 .left-content {
    width: 70%;
    margin-right: 7%;
    text-align: justify;
}
.profile-div .mat-card-header{ justify-content: center;}
@media screen and (max-width:1024px){
    .profile-div{ width: 30%;}
}
@media(max-width:768px){
    .inner-container{ width: 90%;}
    .inner-content .block-1{ display: block;}
    .inner-content .block-1 .left-content, .inner-content .block-1 .right-content{ width: 100%;}
    .team-profiles .profile-div{ width: 90%; justify-content:center;}
    .profile-div mat-card.mat-card{ width: 100%;}
}
@media (min-width:600px) and (max-width:768px){
    .profile-div mat-card.mat-card{ width: 50%;}
}