<app-topbar class="inner-header"></app-topbar>
<div class="inner-container">
    <div class="title-header">
        <div class="section-title">
            <h3 >Our Story</h3>
            <h5 >Proceum</h5>
        </div>

        <!-- <div class="brd_crm">Home &raquo; <strong>About Us</strong></div>
        <div class="pg_ttl">About Us</div> -->
    </div>

    
    
    <div class="inner-content">
        <div class="left-content">
            Proceum is an umbrella portal encompassing everything related to health under its wings. Proceum has a very
            strong vision to connect an individual to every direct and indirect entity related to health thus making him
            central to the entire healthcare system. Whether that entity is an organization or it is medical education;
            whether it is the research & development or it is a specific service provider; whether it is the direct
            user/customer/patient or it is a product. Proceum is geared to provide the most comprehensive, qualitatively
            superior and useful service at the click of a button to the individual, well-being of whose health, has
            resulted in the birth or establishment of all these services, institutions, organizations, groups, methods
            and processes.<br><br>

            Proceum is a world within a world. A virtual world, where everything and every one of the real world
            entities, related to health, are interconnected through an information gateway. This gateway is not only
            linking, directly and indirectly, all the players in the health sector but is one of the strongest catalyst
            to improve the quality of life substantially. Over a period of time it will not only make everyone benefit
            economically but will steadily fine tune the entire health system and make it quintessentially appealing.
            <br><br>
            Already operational, Proceum will soon revolutionize the way health is perceived, referred, dealt, acted
            upon, used and guided. Proceum is working on to tackle future health related issues today. Its mission is to
            empower each and every individual in this globe in one of the most important aspects of its existence and
            that is having access to good health at affordable price.
            <br><br>
            And the first step in this direction is to make qualitatively superior medical e-learning video lectures using anatomically accurate 2D/3D animations and illustrations with an updated and comprehensive yet easy-to-comprehend content. These state-of-the-art video lectures are given for one-year online subscription through www.medvizz.com, the medical e-learning portal.  
            <br><br>
            Along with offering year-long online video lectures subscriptions for students of medicine, Proceum, through ProMed (a world class teaching tool for medical colleges), a learning management system, empowers the faculty to impart their knowledge in their own way using modern ICT methods.
            <br><br>
            ProMed allows the faculty to have access to its repository of e-content consisting of medically accurate Hi-definition images, Clinical pictures, Medical cases, 2D/3D animations to an institution on an annual license basis and provided on an offline encrypted storage device. 
        </div>
        <div class="right-content">
            <img src="../../../assets/images/out-story-img.jpeg" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>