<app-topbar class="inner-header"></app-topbar>
<div class="inner-container">
    <div class="title-header">
        <div class="section-title">
            <h3 >Our Story</h3>
            <h5 >Proceum</h5>
        </div>

        <!-- <div class="brd_crm">Home &raquo; <strong>About Us</strong></div>
        <div class="pg_ttl">About Us</div> -->
    </div>

    
    
    <div class="inner-content">
        <div class="block-1">
            <div class="left-content">
                <h2>What is Proceum?</h2>
                Proceum is an umbrella portal encompassing everything related to health under its wings. Proceum has a very
                strong vision to connect an individual to every direct and indirect entity related to health thus making him
                central to the entire healthcare system. Whether that entity is an organization or it is medical education;
                whether it is the research & development or it is a specific service provider; whether it is the direct
                user/customer/patient or it is a product. Proceum is geared to provide the most comprehensive, qualitatively
                superior and useful service at the click of a button to the individual, well-being of whose health, has
                resulted in the birth or establishment of all these services, institutions, organizations, groups, methods
                and processes.<br><br>
    
                Proceum is a world within a world. A virtual world, where everything and every one of the real world
                entities, related to health, are interconnected through an information gateway. This gateway is not only
                linking, directly and indirectly, all the players in the health sector but is one of the strongest catalyst
                to improve the quality of life substantially. Over a period of time it will not only make everyone benefit
                economically but will steadily fine tune the entire health system and make it quintessentially appealing.
                <br><br>
                Already operational, Proceum will soon revolutionize the way health is perceived, referred, dealt, acted
                upon, used and guided. Proceum is working on to tackle future health related issues today. Its mission is to
                empower each and every individual in this globe in one of the most important aspects of its existence and
                that is having access to good health at affordable price.
            </div>
            <div class="right-content">
                <img src="../../../assets/images/out-story-img.jpeg" alt="">
            </div>
            
        </div>
        <br><br>
                And the first step in this direction is to make qualitatively superior medical e-learning video lectures using anatomically accurate 2D/3D animations and illustrations with an updated and comprehensive yet easy-to-comprehend content. These state-of-the-art video lectures are given for one-year online subscription through www.medvizz.com, the medical e-learning portal.  
                <br><br>
                Along with offering year-long online video lectures subscriptions for students of medicine, Proceum, through ProMed (a world class teaching tool for medical colleges), a learning management system, empowers the faculty to impart their knowledge in their own way using modern ICT methods.
                <br><br>
                ProMed allows the faculty to have access to its repository of e-content consisting of medically accurate Hi-definition images, Clinical pictures, Medical cases, 2D/3D animations to an institution on an annual license basis and provided on an offline encrypted storage device. 
    </div>
    <br>
    <div class="block-1">
        <h2>What is Proceum's Edge</h2>
        <div class="inner-content">
            Following Bloom's Taxonomy Framework, Adaptive Learning &amp; Richard Mayer's Principles for Multimedia e-Learning. <br><br>
            We, at Proceum, follow Adaptive Learning for much better learning results for students. Taking advantage of individualized learning experience, we harness the power of e-Learning platform and deliver a customized learning program factoring in each student's learning needs through intelligent data mining. <br><br>
            We also follow the Bloom's Taxonomy Framework to facilitate our medical e-Learning video lectures to help our students in achieving higher depth of learning along with an understanding of the subject matter. Moreover, it allows generation of an Assessment Report that gives an accurate feedback on students’ progress and how much they have achieved their learning goals. Thus, our video lectures ensure that instruction and assessment are in sync with the learning goals, both for the teachers as well as well as for the students. This helps in a harmonious delivery of curriculum and better results.   <br><br>
            Further, we have integrated Adaptive Learning to Richard Mayer's Principles for Multimedia Learning and e-Learning and the Science of Instruction. By perfectly integrating high quality 2D and 3D animations and high-resolution medical illustrations in our Medical e-Learning Video Lectures, we have reaped the benefits of Richard Mayer’s Principles.  <br><br>
            We take pride in the fact that working with experienced subject matter experts has allowed us to be completely up to date with the medical content in addition to ensuring its accuracy. We, then professionally deliver the same across various learning and technology platforms.  This, diligent attention to details and to the changes happening in the medical arena in terms of latest developments, facts, treatment modalities and pattern of diseases, has allowed us to produce perfectly in-sync medical video lectures which are resulting in good scores for students in various competitive examinations apart from producing doctors who are confident, better informed and knowledgeable. <br><br>
        </div>
    </div>

</div>

    <!-- Our Team -->
    <div class="team-block">
        <div class="inner-container mt-0">
            <div class="title-header">
                <div class="section-title">
                    <h3 >Our Team</h3>
                    <h5 >Contributors</h5>
                </div>
            </div>
            <div class="team-profiles">
                <div class="profile-div">
                    <mat-card class="example-card">
                        <div class="profile-img-div">
                            <img mat-card-image src="../../../assets/images/gajendra-singh.jpeg" alt="Photo of Gajendra Singh">
                        </div>
                        <mat-card-header>                          
                          <mat-card-title>Dr. Gajendra Singh</mat-card-title>
                          <mat-card-subtitle>General, Hepatobiliary, Pancreatic, advanced laparoscopic & Robotic surgeon in Winston Salem,  NC USA</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            Contributor of Hepatibiliary surgery videos
                          </p>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="profile-div">
                    <mat-card class="example-card">
                        <div class="profile-img-div">
                            <img mat-card-image src="../../../assets/images/john-minarcik1.jpeg" alt="Photo of John Minarcik1">
                        </div>
                        <mat-card-header>                          
                        <mat-card-title>Dr. John Minarcik</mat-card-title>
                        <mat-card-subtitle>Pathologist International American University California, United States</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Contributor of Histopathology and Histology Videos.
                        </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="profile-div">
                    <mat-card class="example-card">
                        <div class="profile-img-div">
                            <img mat-card-image src="../../../assets/images/drsanjoysanyal.jpeg" alt="Photo of Dr. Sanjoy Sanyal">
                        </div>
                        <mat-card-header>                          
                        <mat-card-title>Dr. Sanjoy Sanyal</mat-card-title>
                        <mat-card-subtitle>MBBS, MS (Surgery), MSc (Royal College Edin.), ADPHA Surgeon Neuroscientist Professor and Department Chair</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Contributor of Surgical anatomy videos.
                        </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="profile-div">
                    <mat-card class="example-card">
                        <div class="profile-img-div">
                            <img mat-card-image src="../../../assets/images/drbhushan.jpeg" alt="Photo of Dr. Bhushan Kathuria">
                        </div>
                        <mat-card-header>                          
                        <mat-card-title>Dr. Bhushan Kathuria</mat-card-title>
                        <mat-card-subtitle>MBBS, MS ENT, FHNS Fellowship endoscopic skull base Surgery, Weil Cornell Medicine, (New York, USA) Head Neck Oncosurgeon Endoscopic Skull Base Surgeon</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Contributor of ENT Suregry videos.
                        </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="profile-div">
                    <mat-card class="example-card">
                        <div class="profile-img-div">
                            <img mat-card-image src="../../../assets/images/drpoulos.jpeg" alt="Photo of Dr K. O. Paulose">
                        </div>
                        <mat-card-header>                          
                        <mat-card-title>Dr K. O. Paulose</mat-card-title>
                        <mat-card-subtitle>FRCS, DLO (UK) Consultant ENT Surgeon, Jubilee Hospital Trivandrum Kerala India</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Contributor of ENT Suregry videos.
                        </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                

                <div class="profile-div">
                    <mat-card class="example-card">
                        <div class="profile-img-div">
                            <img mat-card-image src="../../../assets/images/drrahmat.jpeg" alt="Photo of Dr. Rahmat Omar">
                        </div>
                        <mat-card-header>                          
                        <mat-card-title>Dr. Rahmat Omar</mat-card-title>
                        <mat-card-subtitle> MS(ORL_HNS) Founder of drrahmatorlummc's Channel @ YouTube,</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Contributor of ENT Suregry videos.
                        </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="profile-div">
                    <mat-card class="example-card">
                        <div class="profile-img-div">
                            <img mat-card-image src="../../../assets/images/Demo-placeholder.jpeg" alt="Photo of Dr. Shannon Wong">
                        </div>
                        <mat-card-header>                          
                        <mat-card-title>Dr. Shannon Wong</mat-card-title>
                        <mat-card-subtitle>  MD Ophthalmologist - Austin Eye,</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Contributor of ophthalmology surgery videos.
                        </p>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>
        </div>
    </div>

<app-footer></app-footer>