<app-topbar class="inner-header"></app-topbar>
<div class="innr_sd_mnu ">
    <!-- ism_opn -->
    <div class="ism_scrl">
        <ul>
            <li>
                <mat-icon class="ism_icn">quiz</mat-icon>
                <span class="ism_hd">this is test heading for menu</span>
            </li>
            <li>
                <mat-icon class="ism_icn">history_edu</mat-icon>
                <span class="ism_hd">this is test heading for menu</span>
            </li>
            <li>
                <mat-icon class="ism_icn">lightbulb</mat-icon>
                <span class="ism_hd">this is test heading for menu</span>
            </li>
            <li>
                <mat-icon class="ism_icn">wallpaper</mat-icon>
                <span class="ism_hd">this is test heading for menu</span>
            </li>
            <li>
                <mat-icon class="ism_icn">attachment</mat-icon>
                <span class="ism_hd">this is test heading for menu</span>
            </li>
            <li>
                <mat-icon class="ism_icn">highlight</mat-icon>
                <span class="ism_hd">this is test heading for menu</span>
            </li>
            <li>
                <mat-icon class="ism_icn">description</mat-icon>
                <span class="ism_hd">this is test heading for menu</span>
            </li>
            <li>
                <mat-icon class="ism_icn">insert_link</mat-icon>
                <span class="ism_hd">this is test heading for menu</span>
            </li>
            <li>
                <mat-icon class="ism_icn">bolt</mat-icon>
                <span class="ism_hd">this is test heading for menu</span>
            </li>
        </ul>
    </div>
</div>
<div class="mn_dshbrd crs_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>MCQ's</strong></div>
    <div class="pg_ttl">MCQ's</div> 
    <div class="crs_lft_hd">
        General features of Muscle<br>
        AN 3.2 Enumerate parts of skeletal muscle and differentiate between tendons and aponeuroses
        with examples
    </div>
    <div class="crses_tc_mn">
        <div class="crses_lft">
            
            <div class="crs_desc">
                <div class="crs_desc_hd">
                    <span class="desc_in_hd">Description</span>
                    <span class="spacer"></span>
                    <span class="fnt_sze">
                        <span class="a_pls">A<sup>+</sup></span>
                        <span class="a_mns">A<sup>-</sup></span>
                    </span>
                </div>
                <div class="crs_desc_cnt">
                    Donec nisl neque, tincidunt sit amet dolor at, tempor ultrices leo. Quisque vehicula ultrices justo ut auctor. Integer
mollis justo lacus, vel ultrices odio tempor vel. Morbi ullamcorper porta augue, a posuere lacus ultricies sed. In
maximus augue et nibh dignissim molestie. Praesent lacinia dui et lorem eleifend rhoncus. Praesent vel nibh
rhoncus, ullamcorper est eleifend, ultrices dui. Vivamus ultricies malesuada libero, vel ultricies erat vehicula vel.
Quisque accumsan orci eu sem laoreet ornare. Phasellus pulvinar vulputate mi, at luctus magna scelerisque
suscipit. Maecenas a odio nisl. Integer ac felis tincidunt, consectetur est in, vestibulum mauris. Nullam justo leo,
facilisis vitae pretium sit amet, lacinia et aug
                </div>
            </div>
        </div>
       
    
    </div>
</div>
<div class="crses_rgt">
    <div class="intr_vd_hd">
        <div>
            <mat-icon>videocam</mat-icon>
            Introduction video 
        </div>
        <span class="spacer"></span>
        <div>
            <mat-icon>playlist_add</mat-icon>
            Introduction video 
        </div>
    </div>
    <div class="intr_vd_sc">
        <img src="../../../assets/images/vid_smpl.jpg" >
    </div>
    <div class="intr_vd_optns">
        <span><mat-icon>thumb_up_off_alt</mat-icon> Like</span>
        <span><mat-icon>share</mat-icon> Share</span>
        <span><mat-icon>favorite_border</mat-icon> Favorite</span>
        <span><mat-icon>bookmark_border</mat-icon> Add to Bookmark</span>
    </div>

</div>
<app-footer></app-footer>