<app-topbar class="inner-header"></app-topbar>
<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>MCQ's</strong></div>
    <div class="pg_ttl">MCQ's</div>
    <div class="hgt_20"></div>
</div>
<div class="innr_sd_mnu ism_opn">
    <ul>
        <li>
            <mat-icon class="ism_icn">quiz</mat-icon>
            <span class="ism_hd">this is test heading for menu</span>
        </li>
        <li>
            <mat-icon class="ism_icn">history_edu</mat-icon>
            <span class="ism_hd">this is test heading for menu</span>
        </li>
        <li>
            <mat-icon class="ism_icn">lightbulb</mat-icon>
            <span class="ism_hd">this is test heading for menu</span>
        </li>
        <li>
            <mat-icon class="ism_icn">wallpaper</mat-icon>
            <span class="ism_hd">this is test heading for menu</span>
        </li>
        <li>
            <mat-icon class="ism_icn">attachment</mat-icon>
            <span class="ism_hd">this is test heading for menu</span>
        </li>
        <li>
            <mat-icon class="ism_icn">highlight</mat-icon>
            <span class="ism_hd">this is test heading for menu</span>
        </li>
        <li>
            <mat-icon class="ism_icn">description</mat-icon>
            <span class="ism_hd">this is test heading for menu</span>
        </li>
        <li>
            <mat-icon class="ism_icn">insert_link</mat-icon>
            <span class="ism_hd">this is test heading for menu</span>
        </li>
        <li>
            <mat-icon class="ism_icn">bolt</mat-icon>
            <span class="ism_hd">this is test heading for menu</span>
        </li>
    </ul>
</div>
<div class="crses_tc_mn">
    
</div>
<app-footer></app-footer>