<div class="mn_dshbrd">
    <div class="cust_mdl_par cust_mdl_50p" [ngClass]="{ cust_mdl_opn: model_status }">
        <div class="cust_mdl_chl">
            <div class="pg_ttl">
                Social Approval
                <span class="spacer"></span>
                <button mat-icon-button (click)="toggleModel()">
                    &#x2715;
                </button>
            </div>
            <div class="tbbd_bdy">
                <div class="hgt_20"></div>
                <div class="img_prp">
                    <img src="../../../../assets/images/apple_logo.svg" alt="" />
                </div>
                <div class="img_prp_dets">
                    <ul>
                        <li>
                            <span class="img_info_hd">Uploaded From</span>
                            <span class="img_info_dets">Facebook</span>
                        </li>
                        <li>
                            <span class="img_info_hd">Uploaded Date</span>
                            <span class="img_info_dets">09-11-21</span>
                        </li>
                    </ul>
                </div>
                <hr />
                <div class="img_prp_btns">
                    <div>
                        <button type="button" mat-raised-button color="accent" class="float_right mr_1">Approve
                        </button>
                    </div>
                    <div>
                        <button mat-raised-button class="float_right mr_1 gry_btn">
                            Close
                        </button>
                    </div>
                </div>
                <div class="hgt_20"></div>
            </div>
        </div>
    </div>
    <div class="brd_crm">
        Proceum &raquo; <strong>Social Approval</strong>
    </div>
    <div class="pg_ttl">Social Approval</div>
    <hr />
    <div class="dsh_brd_crds">
        <div class="rsp_tbl">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> S.No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                </ng-container>
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef> Phone </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>
                <ng-container matColumnDef="platform">
                    <th mat-header-cell *matHeaderCellDef> Platform </th>
                    <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
                </ng-container>
                <ng-container matColumnDef="datetime">
                    <th mat-header-cell *matHeaderCellDef> Date &amp; Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.datetime}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="accent" matTooltip="Click to Approve">
                            <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" (click)="toggleModel()" matTooltip="Click to View">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" matTooltip="Click to Delete">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </td>
                </ng-container>
                <ng-container matColumnDef="aproval_status">
                    <th mat-header-cell *matHeaderCellDef> Approval Status </th>
                    <td mat-cell *matCellDef="let element">
                        <span matTooltip="Current Status is Approved" class="sts_grn">Approved</span>
                        <!-- <span matTooltip="Current Status is {{
                            element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
                          }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
                          "Inactive" }}</span> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </div>
    </div>


</div>