<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <span *ngIf="user['role'] == '1'" routerLink="/admin/teacher-material"><strong>{{"teacher.side_menu.teacher_materials"|translate}}</strong></span><span *ngIf="user['role'] == '12'" routerLink="/teacher/materials"><strong>{{"teacher.side_menu.teacher_materials"|translate}}</strong></span> <strong>&raquo; {{page_title}}</strong></div>
    <div class="pg_ttl">{{page_title}}</div>
    <hr />

    <div style="z-index: 10000;" class="cust_mdl_par cust_mdl_50p {{ library_popup ? 'cust_mdl_opn' : '' }}">
      <div class="cust_mdl_chl">
        <div class="pg_ttl">
          {{"teacher.teacher_materials.assets_library"|translate}}
          <span class="spacer"></span>
          <button (click)="CloseLibraryModal()" mat-icon-button class="float_right">
            &#x2715;
          </button>
        </div>
        <div class="tbbd_bdy" *ngIf="library_popup">
          <app-assets-library [data]="{ modal_view: true, active_tab: active_tab, 'library_purpose': library_purpose }">
          </app-assets-library>
          <hr />
          <button mat-raised-button color="accent" class="float_right mr_1">
            Select
          </button>
          <button mat-raised-button class="float_right mr_1 gry_btn" (click)="CloseLibraryModal()">
            Close
          </button>
          <div class="hgt_20"></div>
        </div>
      </div>
    </div>
    
    <form id="material_form" #material_form="ngForm" name="material_form"
          (ngSubmit)="material_form.valid && (!model_edit_status? saveMaterial() : updateMaterial())" novalidate>
          <div class="grd_2c no_bxsdw">
            <div class="frm_dvs">
              <span> {{"teacher.teacher_materials.title"|translate}}<span class="required">*</span> </span>
              <div class="clear_fix"></div>
              <mat-form-field appearance="outline" class="w_100p {{material_name_error == true?'mat-form-field-invalid':''}}">
                <input matInput placeholder='{{"teacher.teacher_materials.enter_mat_title"|translate}}' [(ngModel)]="material_name"
                  name="material_name_name" maxlength="250" trim="blur" #material_name_name="ngModel" required />
              </mat-form-field>             
            </div>
            <div *ngIf="user!= undefined && user['role'] == '1'" class="frm_dvs">
              <span> {{"teacher.teacher_materials.faculty"|translate}}<span class="required">*</span> </span>
              <div class="clear_fix"></div>
              <mat-form-field appearance="outline" class="w_100p">
                <mat-select placeholder='{{"teacher.teacher_materials.select_faculty"|translate}}' [(ngModel)]="teacher_id" name="teacher_name"
                  #teacher_name="ngModel" required>
                  <mat-option *ngFor="let value of usersList" [disabled]="value['status'] == '0'" [value]="value['id']" [matTooltip]="value['name']">{{
                    value["name"] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>              
            </div>
            <div class="frm_dvs" *ngIf="curriculum_list == undefined">
              {{"teacher.teacher_materials.no_course_found"|translate}}
            </div>
            <div class="cm_fltr_sc mr_1" *ngIf="curriculum_list != undefined">
              <span>{{"teacher.teacher_materials.course"|translate}}<span class="required">*</span> </span>
              <div class="clear_fix"></div>
              <mat-form-field appearance="outline">
                <mat-select placeholder='{{"teacher.teacher_materials.select_course"|translate}}' [(ngModel)]="curriculum_id" name="course_list_0"
                  #course_list_0="ngModel" (ngModelChange)="applyCourseFilters(0)" required>
                  <mat-option *ngFor="let value of curriculum_list" [value]="value['pk_id']"
                    [matTooltip]="value['curriculumn_name']">{{ value["curriculumn_name"] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1" *ngFor="let value of curriculum_labels; let i = index">
              <span>{{ ucFirst(value["display_label"]) }}<span
                  *ngIf="level_options[value['level_number']] != undefined && level_options[value['level_number']].length > 0"
                  class="required">*</span> </span>
              <div class="clear_fix"></div>
              <mat-form-field appearance="outline">
                <mat-select placeholder="{{'select_text'|translate}} {{ ucFirst(value['display_label']) }}"
                  [(ngModel)]="selected_level[value['level_number']]" name="course_list_{{i+1}}"
                  #course_list_{{i+1}}="ngModel"
                  (ngModelChange)="applyCourseFilters(value['level_number']);getLevels(value['level_number'])"
                  [required]="level_options[value['level_number']] != undefined && level_options[value['level_number']].length > 0">
                  <mat-option>
                    <ngx-mat-select-search [noEntriesFoundLabel]="'No '+ ucFirst(value['display_label'])+' found'"
                      name="search_topic" ngModel (ngModelChange)="searchLevelByName($event,value['level_number'])"
                      [placeholderLabel]="'Search '+ucFirst(value['display_label'])">{{'select_text'|translate}}
                      {{ucFirst(value['display_label'])}}
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let level of level_options[value['level_number']]" [value]="level['pk_id']"
                    [matTooltip]="level['level_name']">{{level["level_name"] }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="hgt_10"></div>
            <div class="frm_dvs">
              <span> {{"description"|translate}}<span class="required">*</span> </span>
              <div class="hgt_5"></div>
              <span class="edtr_frm">
                <span class="oc_w100p">
                  <ckeditor (ready)="onReady($event)" id="editor" #editor [config]="editorConfig" required ngModel
                    #material_description_name="ngModel" [(ngModel)]="material_description"
                    name="material_description_name">
                  </ckeditor>                 
                </span>
              </span>
            </div>
            <div class="frm_dvs">
              <span class="edtr_frm">
                <span class="oc_w100p">
                  <div class="upld_attchmnts">
                    <div class="c_block">
                      <div class="c_block_title">
                        <mat-icon>attachment</mat-icon>
                        <label for="Intro video">{{"teacher.teacher_materials.upload_doc"|translate}} </label>
                        <span class="spacer"></span>
                        <mat-icon (click)="openAssetsLibrary('documents', 'attachments')">add</mat-icon>
                      </div>
                      <div class="c_block_content" *ngIf="attachments.length == 0">
                        <div class="upload_placeholder">
                          <div class="place_block">
                            <span>{{"teacher.teacher_materials.click_add_doc"|translate}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="c_block_content">
                        <ul>
                          <li *ngFor="let file of attachments; let i = index">
                            <img [src]="file['path']" alt="" />
                            <span class="upldd_hd">
                              {{
                              file["file_path"].substring(
                              file["file_path"].lastIndexOf("/") + 1
                              )
                              }}
                            </span>
                            <span class="spacer"></span>
                            <mat-icon class="vd_dl_icn" (click)="removeFile(i, 'attachments')">remove_circle_outline
                            </mat-icon>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </span>
              </span>
            </div>

            <div class="frm_dvs">
              <span>{{"teacher.teacher_materials.select_notes_content"|translate}}:</span>
              <hr class="line-sep" />
              <div class="tbbd_bdy w_100p px_0">
                  <mat-tab-group (selectedTabChange)="teacherMaterialTab($event)" [(selectedIndex)]="teachermaterials_tab"
                    animationDuration="0.15s">
                    <mat-tab label='{{"teacher.teacher_materials.all_content"|translate}}'>
                      <div class="cm_fltr_sc mr_1" *ngIf="curriculum_list != undefined">
                        <div class="hgt_10"></div>
                        <div>{{"teacher.teacher_materials.select_course"|translate}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select [(ngModel)]="filter_array.curriculum_id" name="filter_array_curriculum_id"
                            placeholder='{{"teacher.teacher_materials.select_course"|translate}}' (ngModelChange)="getLabels('teacherMaterialTab')">
                            <mat-option *ngFor="let value of curriculum_list" [value]="value['pk_id']"
                              [matTooltip]="value['curriculumn_name']">{{ value["curriculumn_name"] }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="cm_fltr_sc mr_1" *ngFor="let value of curriculum_labels1; let i = index">
                        <span>{{ ucFirst(value["display_label"]) }}</span>
                        <div class="clear_fix"></div>
                        <mat-form-field appearance="outline">
                          <mat-select placeholder="{{'select_text'|translate}} {{ ucFirst(value['display_label']) }}"
                            name="selected_level_{{value['level_number']}}"
                            [(ngModel)]="selected_level1[value['level_number']]"
                            (selectionChange)="getLevels1(value['level_number'],'teacherMaterialTab')">
                            <mat-option>
                              <ngx-mat-select-search name="selected_level_search_{{value['level_number']}}"
                                [noEntriesFoundLabel]="'No '+ ucFirst(value['display_label'])+' found'"
                                name="search_topic" ngModel
                                (ngModelChange)="searchLevelByName1($event,value['level_number'])"
                                [placeholderLabel]="'Search '+ucFirst(value['display_label'])">{{'select_text'|translate}}
                                {{ucFirst(value['display_label'])}}
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let level of level_options1[value['level_number']]"
                              [value]="level['pk_id']" [matTooltip]="level['level_name']">{{level["level_name"] }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="dsh_brd_crds" *ngIf="all_display">
                        <mat-form-field appearance="outline" class="w_100p">
                          <input [(ngModel)]="search_question" name="search_question" (keyup)="
                              $event.keyCode == 13 ? searchteacherMaterialQuestions() : ''
                            " matInput placeholder='{{"teacher.teacher_materials.search_content"|translate}}' />

                          <mat-icon matSuffix (click)="searchteacherMaterialQuestions()">search</mat-icon>

                        </mat-form-field>
                      </div>

                      <table mat-table [dataSource]="teacher_materials_all_questions" class="qsp_pp_mn whtspc_nml" *ngIf="all_display">
                        <ng-container matColumnDef="s_no">
                          <td mat-cell *matCellDef="let element" class="w_50px">
                            <mat-checkbox [value]="element['id']" [checked]="
                                selected_teacher_materials.includes(''+element['id'])
                              " (change)="
                                selectTeacherMaterialQuestion($event, element['id'])
                              "></mat-checkbox>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="question">
                          <td mat-cell *matCellDef="let element">
                              <div class="qsp_hd" [innerHtml]="element['title']"></div>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                          <td mat-cell *matCellDef="let element">
                            {{ element.weight }}
                          </td>
                        </ng-container>

                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                          <td style="text-align: center; margin: 20px" class="mat-cell" colspan="3">
                            <span *ngIf="!loading_questions">{{'no_records_found_text'|translate}}</span>
                          </td>
                        </tr>
                      </table>
                      <mat-paginator *ngIf="teacher_materials_all_questions.data.length > 0 && all_display" [pageSizeOptions]="page_size_options"
                        [length]="totalSize" [pageSize]="pageSize" showFirstLastButtons
                        (page)="getTeacherMaterialServerData($event)"></mat-paginator>
                    </mat-tab>
                    <mat-tab label='{{"teacher.teacher_materials.selected_content"|translate}}'>
                      <div class="cm_fltr_sc mr_1" *ngIf="curriculum_list != undefined">
                        <div class="hgt_10"></div>
                        <div>{{"teacher.teacher_materials.select_course"|translate}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select [(ngModel)]="filter_array.curriculum_id" name="filter_array_curriculum_id"
                            placeholder='{{"teacher.teacher_materials.select_course"|translate}}' (ngModelChange)="getLabels('teacherMaterialTab')">
                            <mat-option *ngFor="let value of curriculum_list" [value]="value['pk_id']"
                              [matTooltip]="value['curriculumn_name']">{{ value["curriculumn_name"] }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="cm_fltr_sc mr_1" *ngFor="let value of curriculum_labels1; let i = index">
                        <span>{{ ucFirst(value["display_label"]) }}</span>
                        <div class="clear_fix"></div>
                        <mat-form-field appearance="outline">
                          <mat-select placeholder="{{'select_text'|translate}} {{ ucFirst(value['display_label']) }}"
                            name="selected_level_{{value['level_number']}}"
                            [(ngModel)]="selected_level1[value['level_number']]"
                            (selectionChange)="getLevels1(value['level_number'],'teacherMaterialTab')">
                            <mat-option>
                              <ngx-mat-select-search name="selected_level_search_{{value['level_number']}}"
                                [noEntriesFoundLabel]="'No '+ ucFirst(value['display_label'])+' found'"
                                name="search_topic" ngModel
                                (ngModelChange)="searchLevelByName1($event,value['level_number'])"
                                [placeholderLabel]="'Search '+ucFirst(value['display_label'])">{{'select_text'|translate}}
                                {{ucFirst(value['display_label'])}}
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let level of level_options1[value['level_number']]"
                              [value]="level['pk_id']" [matTooltip]="level['level_name']">{{level["level_name"] }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="dsh_brd_crds" *ngIf="selected_teacher_materials.length > 0">
                        <mat-form-field appearance="outline" class="w_100p">
                          <input [(ngModel)]="search_question" name="search_question" (keyup)="
                              $event.keyCode == 13 ? searchteacherMaterialQuestions() : ''
                            " matInput placeholder='{{"teacher.teacher_materials.search_content"|translate}}' />
                          <mat-icon matSuffix (click)="searchteacherMaterialQuestions()">search</mat-icon>
                        </mat-form-field>
                      </div>

                      <table mat-table [dataSource]="teacher_materials_all_questions" class="qsp_pp_mn whtspc_nml" *ngIf="selected_teacher_materials.length > 0 && selected_display">
                        <ng-container matColumnDef="s_no">
                          <td mat-cell *matCellDef="let element" class="w_50px">
                            <mat-checkbox [value]="element['id']" [checked]="
                                selected_teacher_materials.includes(''+element['id'])
                              " (change)="
                              selectTeacherMaterialQuestion($event, element['id'])
                              "></mat-checkbox>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="question">
                          <td mat-cell *matCellDef="let element">
                              <div class="qsp_hd" [innerHtml]="element['title']"></div>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                          <td mat-cell *matCellDef="let element">
                            {{ element.weight }}
                          </td>
                        </ng-container>

                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                          <td style="text-align: center; margin: 20px" class="mat-cell"
                            [attr.colspan]="displayedColumns.length">
                            <span *ngIf="!loading_questions">{{'no_records_found_text'|translate}}</span>
                          </td>
                        </tr>
                      </table>
                      <mat-paginator *ngIf="teacher_materials_all_questions.data.length > 0 && selected_display" [pageSizeOptions]="page_size_options"
                        [length]="totalSize" [pageSize]="pageSize" showFirstLastButtons
                        (page)="getTeacherMaterialServerData($event)"></mat-paginator>
                    </mat-tab>
                  </mat-tab-group>
              </div>              
            </div>

          </div>
          <hr class="line-sep" />
          <button mat-raised-button color="accent" class="float_right mr_1">
            Submit
          </button>
        </form>
</div>