<div class="mn_dshbrd">
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br p_1 d-flex ai_cntr">
            <mat-icon color="accent" routerLink="/">home</mat-icon>
            <mat-icon>navigate_next</mat-icon>
            <span routerLink="/student/teacher-material">Teacher Material</span>
            <mat-icon>navigate_next</mat-icon>
            <span>{{ curriculumn["curriculumn_name"] }}</span>
            <span *ngFor="let bread of breadcome; let i = index">
                <mat-icon>navigate_next</mat-icon>
                <span matTooltip='{{bread["level_name"]}}' *ngIf="i < breadcome.length - 1">{{ bread["level_name"].length>10?bread["level_name"].substring(0,9)+'...': bread["level_name"]}}</span>
                <strong *ngIf="i == breadcome.length - 1">
                  {{ bread["level_name"] }}</strong>
            </span>
        </div>      
    </div>
    <div class="hgt_5"></div>
    <div class="dsh_brd_crds tm_dsc_mn">
        <div class="tchr_mat_dets">
            <div class="tchr_mt_mn">
                <div class="tchr_mt_cnt">
                    {{ materials[0]["title"] }}
                </div>
                <div class="spacer"></div>
                <div class="upld_by">
                    Uploaded By: {{ materials[0]["uploaded_by"] }}<Br>Date: {{ materials[0]["updated_at"] }}
                </div>
            </div>
        </div>
        <div class="hgt_5"></div>
        <div class="con_view">
            <div class="crses_lft_mn w_100p">
                <div class="crses_lft">
                    <div class="crs_desc">
                        <div class="crs_desc_hd">
                            <span class="desc_in_hd">
                                <mat-icon>feed</mat-icon>Description
                            </span>
                        </div>
                        <div class="crs_desc_cnt" [innerHtml]="description">                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="hgt_10"></div>
            <div class="cc_row">
                <div class="upld_attchmnts">
                    <div class="c_block">
                        <div class="c_block_title">
                            <mat-icon>attachment</mat-icon>
                            <label for="Intro video"> Attachments</label>
                            <span class="spacer"></span>
                            <a *ngIf="materials[0]['download_flag'] == 1 && materials[0]['attachments'].length > 0" [href]="hrefZIP" target="_blank">
                            <mat-icon matTooltip="Download All">file_download</mat-icon>
                            </a>
                        </div>                        
                        <div class="c_block_content">
                            <ul>
                                <li *ngFor="let file of materials[0]['attachments']; let i = index">
                                    <img src="{{file['path']}}" alt="" />
                                    <span class="upldd_hd">
                                        {{
                                        file["file_path"].substring(
                                        file["file_path"].lastIndexOf("/") + 1
                                        )
                                        }}
                                    </span>
                                    <span class="spacer"></span>
                                    <a *ngIf="materials[0]['download_flag'] == 1" [href]="bucket_url + file['file_path']" target="_blank">
                                        <mat-icon matTooltip="Download File">file_download</mat-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>