<div class="register_main">
    <div class="reg_mdl_cont">
      <div class="logo_img">
        <a routerLink="/"> <img src="assets/images/ProceumLogo_w.png" /></a>
      </div>
      <div class="reg_div text_center">
        <h2 class="clr_wht fnt_nrml wlcm_hd">Welcome to Proceum</h2>
        <div class="sgn_sec">
            <p class="sgn_hd">Sign Up</p>
            <form
                #register_id="ngForm" name="register_form" (ngSubmit)="register_id.valid && doRegistration()" novalidate>
                <div class="fir_name">
                    <input type="text" required [(ngModel)]="register.first_name" focus name="user_firstname" #user_firstname="ngModel" placeholder="Enter First Name" ngModel/>
                </div>
                <!-- <div class="last_name">
                    <input type="text" required [(ngModel)]="register.last_name" name="user_lastname" #user_lastname="ngModel" placeholder="Enter Last Name" ngModel/>
                </div>
                <div class="sur_name">
                    <input type="text" required [(ngModel)]="register.sur_name" name="user_surname" #user_surname="ngModel" placeholder="Enter Surname" ngModel/>
                </div> -->
                <div class="mail {{ register_id.submitted && user_email.invalid ? 'err_tltp_par' : ''}}">
                <input type="text" [(ngModel)]="register.email" name="user_email" placeholder="Enter Email" email #user_email="ngModel" ngModel required/>
                <span class="material-icons mail_icon">mail_outline</span>
                <span class="prc_tltp" *ngIf=" (register.password == '' || register.email == '' || user_email.invalid) && register_id.submitted">{{ message }}</span>
                </div>
                <div class="psswrd">
                <input type="password" required [(ngModel)]="register.password" name="user_password" #user_password="ngModel" placeholder="Enter Password" ngModel/>
                <span class="material-icons mail_icon">password</span>
                </div>
                <div class="psswrd">
                    <input type="password" required [(ngModel)]="register.confirm_pwd" name="user_confirmpassword" #user_confirmpassword="ngModel" placeholder="Confirm Password" ngModel/>
                    <span class="material-icons mail_icon">password</span>
                </div>
                <div class="prc_hnt" *ngIf="(register.password == '' || register.email == '' || user_email.invalid) && register_id.submitted">{{ message }}</div>
                <button type="submit" class="teal_btn lgn_btn">Register</button>
            </form>
            <div class="scl_lgns">
                <div class="sgn_fb"><img src="assets/images/facebook-logo.svg" /> Login with Facebook</div>
                <div class="sgn_gg"><img src="assets/images/google_logo.svg" /> Login with Google</div>
                <div class="sgn_ap"><img src="assets/images/apple_logo.svg" /> Login with Apple ID</div>
            </div>
        </div>
      </div>
    </div>
  </div>
  