.login_main.inner-container {
  margin-top: 95px;
  background-color: #fff;
}

.log_div .mat-horizontal-stepper-header-container {
  width : 65%;
  margin: 0 auto;
}

.log_mdl_cont {
  // position       : absolute;
  margin         : auto;
  top            : 70px;
  min-height     : 350px;
  width          : 1000px;
  display        : flex;
  align-items    : center;
  justify-content: space-around;
}

.logo_img {
  border-right   : 1px solid #0594b4;
  float          : left;
  align-items    : center;
  display        : flex;
  width          : 40%;
  justify-content: center;
  height         : 350px;
}

.logo_img img {
  width: 200px;
}

.reg_container {
  display        : flex;
  justify-content: space-between;
}

.reg_container>div {
  flex-basis: 47%;
}

.log_div {
  width   : 1000px;
  position: relative;
  z-index : 90;
}

.sgn_sec {
  width              : 100%;
  // background-color: #FFF;
  border-radius      : 10px;
  color              : #000;
  // padding: 50px 70px 30px;
  padding            : 50px 25px 30px;
  box-sizing         : border-box;
  position           : relative;
}

.sgn_sec p {
  text-align: center;
  margin    : 0 0 30px 0;
}

.sgn_hd {
  font-size  : 37px;
  font-weight: 800;
}

.sgn_hint {
  font-size: 12px;
}

.text-left {
  text-align: left;
}

// .sgn_sec input[type="text"], .sgn_sec input[type="email"], .sgn_sec input[type="password"] {
//   width: 100%;
//   height: 40px;
//   background-color: #fff;
//   padding: 5px;
//   outline: none;
//   border: 0;
//   box-sizing: border-box;
//   font-size: 18px;
//   color: #000;
//   border-bottom: 1px solid #707070;
//   margin-bottom: 15px;
// }
.mail,
.psswrd {
  position: relative;
  margin  : 12px 0 12px 0;
  border  : 1px solid transparent;
}

.mail .mail_icon,
.psswrd .mail_icon {
  position: absolute;
  left    : 0px;
  top     : 0;
  color   : #41AB3C;
  bottom  : 15px;
  margin  : auto;
  height  : 24px;
}

.passcode_view_icon {
  position: absolute;
  right   : 9px;
  top     : 0;
  color   : #41AB3C;
  bottom  : 15px;
  margin  : auto;
  height  : 24px;
  cursor  : pointer;
}

.mail.err_tltp_par input,
.psswrd.err_tltp_par input {
  border-bottom: 1px solid #b71c1c;
}

.mail.err_tltp_par .material-icons,
.psswrd.err_tltp_par .material-icons {
  color: #b71c1c
}

.frgt_sec {
  color          : #0594b4;
  width          : 100%;
  margin-top     : 15px;
  display        : flex;
  justify-content: space-between;
}

.scl_lgns {
  position: absolute;
  left    : 100%;
  top     : 80px;
}

.scl_lgns div {
  width        : 200px;
  height       : 40px;
  margin-bottom: 10px;
  padding-left : 15px;
  line-height  : 40px;
  cursor       : pointer;
  text-align   : left;
  text-indent  : 5px;
}

.sgn_fb {
  background-color: #385591;
  color           : #fff;
}

.sgn_fb img {
  width       : 20px;
  float       : left;
  height      : 40px;
  margin-right: 8px;
}

.scl_lgns .sgn_gg {
  background-color: #4285f4;
  color           : #fff;
  padding-left    : 14px;
}

.sgn_gg img {
  width           : 24px;
  float           : left;
  height          : 24px;
  background-color: #fff;
  margin-top      : 8px;
  padding         : 5px;
  box-sizing      : border-box;
  margin-right    : 5px;
  border-radius   : 4px;
}

.sgn_ap img {
  width       : 20px;
  float       : left;
  height      : 40px;
  margin-right: 8px;
}

.sgn_ap {
  background-color: #757575;
  color           : #fff;
}

.err_tltp_par,
.inp_par_dv {
  width: 100%;
}

.frgt_sec {
  font-weight: 200;
  font-size  : 14px;

  a {
    color  : #FFF;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.teal_btn.sign_btn-2 {
  background-color: #fff;
  border          : 1px solid #70707030;
  text-transform  : uppercase;
  border-radius   : 5px;
  color           : #000;
  margin-right    : 20px;
}

.teal_btn.sign_btn {
  background-color: #41AB3C;
  border          : 1px solid #41AB3C;
  text-transform  : uppercase;
  border-radius   : 5px;
}

.social_login_block {
  margin-top: 20px;
}

.forgot_password {
  margin-top: 20px;
}

.forgot_password a {
  color: #000;
}

.or_signin_with:before {
  content   : "";
  height    : 1px;
  background: #707070;
  width     : 100%;
  position  : absolute;
  left      : 0;
  top       : 13px;
  z-index   : -1;
}

.or_signin_with {
  position  : relative;
  text-align: center;
  z-index   : 0;
  margin-top: 30px;
}

.or_signin_with span {
  background   : #FFF;
  display      : inline-block;
  padding-right: 10px;
  padding-left : 10px;
}

.social_login_block div {
  display  : inline-block;
  max-width: 35px;
  margin   : 0 5px;
  cursor   : pointer;
}

.login_btns {
  text-align: center;
  margin-top: 10px;
}

// .login_main {
  // background-image: url(../../../assets/images/signup_bg.svg);
  // height           : auto;
  // background-repeat: no-repeat;
  // background-size  : 100% auto;
  // margin           : 0 auto;
  // max-width        : none;
  // min-height: 100%;
// }
.chkbx_aa mat-radio-group{
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.conditions_div {
  text-align   : left;
  margin-bottom: 15px;

  .mat-radio-button {
    margin-right: 20px;
  }
}

.account_type {
  background: #41AB3C;
  padding   : 30px 20px;
  color     : #FFF;
  margin    : 0 auto 60px;
  width     : 70%;
  cursor    : pointer;
}

.acc_title {
  font-size: 22px;
}

.account_type mat-icon {
  font-size: 44px;
  width    : auto;
  height   : auto;
}

.account_type span {
  font-size  : 14px;
  font-weight: 300;
}

.sgn_hd span {
  float      : left;
  font-size  : 18px;
  font-weight: 700;
  line-height: 48px;
  cursor     : pointer;
}

.sgn_hd mat-icon {
  color       : #41AB3C;
  font-size   : 35px;
  width       : auto;
  height      : auto;
  position    : relative;
  top         : 5px;
  float       : left;
  margin-right: 9px;
}

::ng-deep .mat-checkbox-label {
  white-space: normal !important;
}


@media (max-width: 1600px) {
  .log_mdl_cont {
    left : 0;
    right: 0;
  }
}

@media (max-width: 1280px) {
  // .log_mdl_cont {
  //   left: 5%;
  // }
}

@media (max-width: 1100px) {
  .logo_img {
    width     : 100%;
    border    : 0;
    height    : auto;
    margin-top: 40px;
  }

  .log_mdl_cont {
    display : block;
    position: relative;
    width   : 80%;
    top     : auto;
    left    : auto;
  }

  .wlcm_hd {
    text-align: left;
  }

  .log_div {
    margin  : 0 auto;
    top     : 10%;
    bottom  : 0;
    // position: absolute;
    left    : 0;
    right   : 0;
    width   : 100%;
  }

  .partner_registration .log_div {
    position: static;
    top     : auto;
  }

  .partner_registration .partner_info {
    border-radius: 20px 20px 0 0px;
  }

  .partner_registration .mat-stepper-horizontal {
    border-radius: 0 0 20px 20px;
  }
}

@media (max-width: 768px) {
  .log_mdl_cont {
    width         : 100%;
    padding-bottom: 15px;
  }

  .scl_lgns {
    left       : auto;
    right      : auto;
    top        : 20px;
    border-top : 1px solid #fff;
    padding-top: 20px;
    position   : relative;
  }

  .scl_lgns div {
    width: auto;
  }

  .log_div {
    width: 100%;
  }

  .login_main {
    // height    : 100%;
    background: #FFF;
    padding   : 0 20px;
  }

  .sgn_sec {
    padding: 30px 0px;
  }

  .lgn_btn {
    width: 100%;
  }

  .frgt_sec {
    display   : inline-block;
    margin-top: 0px;
  }

  .frgt_sec a {
    width     : 100%;
    display   : inline-block;
    margin-top: 12px;
  }

  .logo_img img {
    margin-right: 25px;
  }

  .wlcm_hd {
    text-align: center;
  }
}

@media (max-width: 490px) {
  .reg_container {
    display: block;
  }

  .sgn_hd {
    font-size: 28px;
  }

  .sgn_hd span {
    width     : 100%;
    text-align: left;
  }

  .mat-horizontal-content-container {
    padding: 0 !important
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: block !important;
  }

}

/*.register_main {
    background-image: url(../../../assets/images/indx_bg.jpg);
    background-size: cover;
    width: 100%;
    height:100%;
    position: relative;
  }
  .reg_mdl_cont {
    position: absolute;
    margin: auto;
    top: 10%;
    min-height: 350px;
    width: 800px;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo_img {
    border-right: 1px solid #0594b4;
    float: left;
    align-items: center;
    display: flex;
    width: 40%;
    justify-content: center;
    height: 350px;
  }
  .logo_img img {
    width: 200px;
  }
  
  .reg_div {
    width: 50%;
    position: relative;
    z-index: 98;
  }
  .sgn_sec {
    width: 100%;
    background-color: #0F1626;
    border-radius: 16px;
    color: #fff;
    padding: 40px 25px;
    box-sizing: border-box;
    position: relative;
  }
  
  .sgn_sec p {
    text-align: left;
    margin: 0;
  }
  .sgn_hd {
    font-size: 28px;
  }
  .sgn_hint {
    font-size: 12px;
  }
  .sgn_sec input {
    width: 100%;
    height: 50px;
    background-color: #fff;
  
    padding: 5px 40px 5px 15px;
    outline: none;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #000;
  }
  .fir_name,.last_name,.mail,
  .psswrd {
    position: relative;
    margin: 12px 0 12px 0;
    border: 1px solid transparent;
  }
  
  .fir_name .first_name_icon,
  .last_name .last_name_icon,
  .mail .mail_icon,
  .psswrd .mail_icon {
    position: absolute;
    right: 9px;
    top: 0;
    color: #000;
    bottom: 0;
    margin: auto;
    height: 24px;
  }
  .last_name.err_tltp_par,
  .fir_name.err_tltp_par,
  .mail.err_tltp_par,
  .psswrd.err_tltp_par {
    border: 1px solid #b71c1c;
  }
  
  .frgt_sec {
    color: #0594b4;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  .scl_lgns {
    position: absolute;
    left: 100%;
    top: 80px;
  }
  .scl_lgns div {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    line-height: 40px;
    cursor: pointer;
    text-align: left;
    text-indent: 5px;
  }
  .sgn_fb {
    background-color: #385591;
    color: #fff;
  }
  .sgn_fb img {
    width: 20px;
    float: left;
    height: 40px;
    margin-right: 8px;
  }
  .scl_lgns .sgn_gg {
    background-color: #4285f4;
    color: #fff;
    padding-left: 14px;
  }
  .sgn_gg img {
    width: 24px;
    float: left;
    height: 24px;
    background-color: #fff;
    margin-top: 8px;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 4px;
  }
  .sgn_ap img {
    width: 20px;
    float: left;
    height: 40px;
    margin-right: 8px;
  }
  .sgn_ap {
    background-color: #757575;
    color: #fff;
  }
  .frgt_sec{
    font-weight: 200;
    font-size: 14px;
    a{
      color: #FFF;
      opacity: 0.6;
      &:hover{
        opacity: 1;
      }
    }
  }
  
  @media (max-width: 1600px) {
    .reg_mdl_cont {
      left: 15%;
    }
  }
  
  @media (max-width: 1280px) {
    .reg_mdl_cont {
      left: 5%;
    }
  }
  
  @media (max-width: 1100px) {
    .logo_img {
      width: 100%;
      border: 0;
      height: auto;
      margin-top: 40px;
    }
    .reg_mdl_cont {
      display: block;
      position: relative;
      width: 80%;
      top: auto;
      left: auto;
    }
    .wlcm_hd {
      text-align: left;
    }
    .reg_div {
      width: 400px;
      display: inline-block;
    }
    .scl_lgns {
      left: 400px;
      right: auto;
      top: 80px;
    }
  }
  
  @media (max-width: 767px) {
    .reg_mdl_cont {
      width: 90%;
      padding-bottom: 15px;
    }
    .scl_lgns {
      left: auto;
      right: auto;
      top: 20px;
      border-top: 1px solid #fff;
      padding-top: 20px;
      position: relative;
    }
    .scl_lgns div {
      width: auto;
    }
    .reg_div {
      width: 100%;
    }
  
    .register_main {
      height: auto;
    }
  
    .sgn_sec {
      padding: 30px 15px;
    }
    .lgn_btn {
      width: 100%;
    }
    .frgt_sec {
      display: inline-block;
      margin-top: 0px;
    }
    .frgt_sec a {
      width: 100%;
      display: inline-block;
      margin-top: 12px;
    }
    .logo_img img {
      margin-right: 25px;
    }
    .wlcm_hd {
      text-align: center;
    }
  }
  */
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.reg_imgupld {
  display  : flex;
  flex-wrap: wrap;
}

.unilogup {
  background   : #f9f9f9;
  border-radius: 5px;
  padding      : 15px;
  border       : 1px solid #afafaf;
  width        : 100%;
  position     : relative;
  height       : 55px;

  >mat-icon {
    color     : #ccc;
    margin-top: 10px;
  }

  &:hover {
    img {
      opacity: 0.3;
    }

    .unilogup_btns {
      button {
        opacity: 1;
      }
    }
  }

  .unilogup_btns {
    position: absolute;
    bottom  : 10px;
    right   : 10px;
    z-index : 10;

    button {
      opacity: 0.1;
    }

    mat-icon {
      color: #fff;
    }
  }

  img {
    max-width : 100%;
    max-height: 55px;
  }
}

.log_div .mat-stepper-horizontal {
  // padding      : 50px 50px 0;
  border-radius: 20px;
}

.partner_info {
  // width: 350px;
  padding        : 27px;
  background     : #41ab3c;
  flex           : 1;
  display        : flex;
  justify-content: space-evenly;
  flex-direction : column;
  border-radius  : 20px 0 0 20px;
  font-size      : 16px;
  font-weight    : 200;
  color          : #FFF;

}

.partner_registration h4 {
  margin-bottom: 0;
  font-weight  : 300;
  font-size    : larger;
  color        : #FFF;
}

.partner_registration h2 {
  margin-top: 0;
  color     : #FFF;
}

.partner_info hr {
  background-color: #FFF;
}

.partner_registration .sgn_hd {
  text-align: center;
  margin-top: 100px;
}

.partner_registration .log_div {
  flex: 3;
}

.partner_registration .mat-stepper-horizontal {
  border-radius: 0 20px 20px 0;
}

.partner_registration .log_mdl_cont {
  top           : 190px;
  vertical-align: top;
  align-items   : normal;
  max-height    : 550px;
}

.partner_registration .sgn_sec {
  padding-top : 0;
  padding-left: 0;
}