<div class="register_main" *ngIf="!is_show">
    <div class="reg_mdl_cont">
      <div class="logo_img">
        <a routerLink="/"> <img src="assets/images/ProceumLogo_w.png" /></a>
      </div>
      <div class="reg_div text_center">
        <h2 class="clr_wht fnt_nrml wlcm_hd">Welcome to Proceum</h2>
        <div class="sgn_sec">
            <p class="sgn_hd">Sign Up</p>
            <form #register_id="ngForm" name="register_form" (ngSubmit)="doRegistration()" novalidate>
                <div class="fir_name err_tltp_par">
                    <input type="text" required [(ngModel)]="register.first_name" focus name="user_firstname" autocomplete="off" maxlength="30" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' #user_firstname="ngModel" placeholder="First Name" ngModel/>
                    <span class="material-icons first_name_icon">person</span>
                    <span class="prc_tltp">First Name Required</span>
                </div>
                <div class="last_name err_tltp_par">
                    <input type="text" required [(ngModel)]="register.last_name" name="user_lastname" autocomplete="off" maxlength="30" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' #user_lastname="ngModel" placeholder="Last Name" ngModel/>
                    <span class="material-icons last_name_icon">person</span>
                    <span class="prc_tltp">Last Name Required</span>
                </div>
                <div class="mail err_tltp_par">
                <input type="text" [(ngModel)]="register.email" name="user_email" autocomplete="off" maxlength="90" placeholder="Your Email" onkeypress='return (event.charCode != 32)'  email #user_email="ngModel" ngModel required/>
                <span class="material-icons mail_icon">mail_outline</span>
                <span class="prc_tltp">Email Required</span>
                </div>
                <div class="psswrd err_tltp_par">
                  <input [type]="password_hide ? 'password' : 'text'" required [(ngModel)]="register.password" minlength="8" maxlength="16" name="user_password" onkeypress='return (event.charCode != 32)' #user_password="ngModel" placeholder="Password" ngModel/>
                  <span class="material-icons mail_icon" (click)="passwordFun()">{{password_hide ? 'visibility_off' : 'visibility'}}</span>
                  <span class="prc_tltp">Password Error</span>
                </div>
                <div class="psswrd err_tltp_par">
                    <input [type]="confirm_hide ? 'password' : 'text'" required [(ngModel)]="register.confirm_pwd" minlength="8" maxlength="16" name="user_confirmpassword" onkeypress='return (event.charCode != 32)' #user_confirmpassword="ngModel" placeholder="Confirm Password" ngModel/>
                    <span class="material-icons mail_icon" (click)="confirmFun()">{{confirm_hide ? 'visibility_off' : 'visibility'}}</span>
                    <span class="prc_tltp">Password Error</span>
                  </div>
                <!-- <div class="prc_hnt" *ngIf="(register.password == '' || register.email == '' || user_email.invalid || email_check == false || password_check == false || confirm_check == false ||) && register_id.submitted">{{ message }}</div> -->
                <button type="submit" class="teal_btn lgn_btn">Register</button><br>
            </form>
            <div class="scl_lgns">
                <div class="sgn_fb" (click)="sociallogin('FB')"><img src="assets/images/facebook-logo.svg" /> Login with Facebook</div>
                <div class="sgn_gg" (click)="sociallogin('GG')"><img src="assets/images/google_logo.svg" /> Login with Google</div>
                <div class="sgn_ap" (click)="sociallogin('AP')"><img src="assets/images/apple_logo.svg" /> Login with Apple ID</div>
            </div>
        </div>
        <div class="frgt_sec">
          <a routerLink="/login">Already have an account ?</a>
        </div>
      </div>
    </div>
  </div>


  <div class="indvidual_main" *ngIf="is_show">
    <div class="ind_mdl_cont">
      <div class="ind_logo_img">
        <a routerLink="/"> <img src="assets/images/ProceumLogo_w.png" /></a>
      </div>
      <div class="message-box-div">
            <mat-icon>forward_to_inbox</mat-icon>
            <div class="message-area">
              <p>Thank you for registering with us! </p>
              <p>A verification link has been sent to your email. Please check your inbox/spam/junk folder to verify your mail and activate account. </p>
            </div>
      </div>
    </div>
  </div>
  
  