<app-topbar></app-topbar>
<div class="mn_dshbrd">
  <div class="cust_mdl_par" [ngClass]="{'cust_mdl_opn' : model_status}">
    <div class="cust_mdl_chl">
      <button mat-button (click)="closeModel()">Close</button>
    </div>
  </div>
<button mat-button (click)="openModel()">Open Cust Pop</button>
    
    <div class="al_asts">
        <div class="pg_ttl">Check Box / Radio eg:</div>
        <section>
            <mat-checkbox>Check me!</mat-checkbox>
            <mat-checkbox>Check me!</mat-checkbox>
            <mat-checkbox>Check me!</mat-checkbox>
            <mat-checkbox>Check me!</mat-checkbox>
        </section>
         <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
          </mat-radio-group>
    </div>
    <div class="al_asts">
        <div class="pg_ttl">Check Box / Radio eg:</div>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
  
    
    </div>
