<app-topbar class="inner-header"></app-topbar>
<div class="mn_dshbrd">
  <div class="title-header">
    <div class="section-title">
        <h3 >Proceum</h3>
        <h5 >Library</h5>
    </div>
</div>
    
    <div class="al_asts">
        <div class="pg_ttl">Check Box</div>
        <section>
            <mat-checkbox>Check me!</mat-checkbox>
            <mat-checkbox>Check me!</mat-checkbox>
            <mat-checkbox>Check me!</mat-checkbox>
            <mat-checkbox>Check me!</mat-checkbox>
        </section>
         
    </div>
    <div class="al_asts">
      <div class="pg_ttl">Radio</div>
      <section>
        <label for="">Radio button example</label> <br>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Option 1</mat-radio-button>
          <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>
      </section>
    </div>
    
    <div class="al_asts">
        <div class="pg_ttl">Dropdown</div>
        <section>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </section>
    </div>

    <div class="al_asts">
      <div class="pg_ttl">Input field</div>
      <section>
        <mat-form-field appearance="outline">
          <mat-label>Label</mat-label>
          <input matInput placeholder="placeholder">
      </mat-form-field>
      </section>
    </div>

    <div class="al_asts">
      <div class="pg_ttl">Buttons</div>
      <section>
        <div class="example-label">Basic</div>
        <div class="example-button-row">
          <button mat-button>Basic</button>
          <button mat-button color="primary">Primary</button>
          <button mat-button color="accent">Accent</button>
          <button mat-button color="warn">Warn</button>
          <button mat-button disabled>Disabled</button>
          <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>

        <mat-divider></mat-divider>
        <br>
          <div class="example-label">Raised</div>
          <div class="example-button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
            <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
          </div>

        <mat-divider></mat-divider>
        <br>
          <div class="example-label">Stroked</div>
          <div class="example-button-row">
            <button mat-stroked-button>Basic</button>
            <button mat-stroked-button color="primary">Primary</button>
            <button mat-stroked-button color="accent">Accent</button>
            <button mat-stroked-button color="warn">Warn</button>
            <button mat-stroked-button disabled>Disabled</button>
            <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
          </div>

      </section>
    </div>
  
    
    </div>
