.al_asts{margin: 10px 1%;}
.pg_ttl{     font-size: 16px;
    font-weight: 400;}
.al_asts section {
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
button + button {
    margin-right: 10px !important;
}