<div class="mn_dshbrd">
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br">
            <mat-icon color="accent" routerLink="/">home</mat-icon>
            <mat-icon>navigate_next</mat-icon>
            <strong>Individual Courses</strong>
        </div>
    </div>
    <div class="dsh_brd_crds">
        <div class="hgt_10"></div>
        <div class="xl_srch">
            <mat-form-field appearance="outline" class="w_100p">
                <input matInput placeholder="Search" />
                <mat-icon matSuffix color="accent">search</mat-icon>
            </mat-form-field>
        </div>
        <mat-tab-group>
            <mat-tab label="All"><div class="crs_tbbd_mn indvd_crs">
                <div class="crs_tbbd_dv">
                    <span class="ct_hd">
                        Heading
                    </span>
                    <span class="spacer"></span>
                    <span class="ct_rtn">
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                    </span>
                    <span class="ct_fav">
                        <mat-icon color="accent" matTooltip="Make Favorite">
                            favorite_border</mat-icon>
                    </span>
                    <span class="ct_bm">
                        <mat-icon color="accent" matTooltip="Add Bookmark">bookmark_border
                        </mat-icon>
                    </span>
                </div>
                <div class="crs_tbbd_dv">
                    <span class="ct_hd">
                        Heading
                    </span>
                    <span class="spacer"></span>
                    <span class="ct_rtn">
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                    </span>
                    <span class="ct_fav">
                        <mat-icon color="accent" matTooltip="Make Favorite">
                            favorite_border</mat-icon>
                    </span>
                    <span class="ct_bm">
                        <mat-icon color="accent" matTooltip="Add Bookmark">bookmark_border
                        </mat-icon>
                    </span>
                </div>
                <div class="crs_tbbd_dv">
                    <span class="ct_hd">
                        Heading
                    </span>
                    <span class="spacer"></span>
                    <span class="ct_rtn">
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                    </span>
                    <span class="ct_fav">
                        <mat-icon color="accent" matTooltip="Make Favorite">
                            favorite_border</mat-icon>
                    </span>
                    <span class="ct_bm">
                        <mat-icon color="accent" matTooltip="Add Bookmark">bookmark_border
                        </mat-icon>
                    </span>
                </div>
            </div></mat-tab>
            <mat-tab label="Bookmarks"> <div class="crs_tbbd_mn indvd_crs">
                <div class="crs_tbbd_dv">
                    <span class="ct_hd">
                        Heading
                    </span>
                    <span class="spacer"></span>
                    <span class="ct_rtn">
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                    </span>
                    <span class="ct_fav">
                        <mat-icon color="accent" matTooltip="Make Favorite">
                            favorite_border</mat-icon>
                    </span>
                    <span class="ct_bm">
                        <mat-icon color="accent" matTooltip="Add Bookmark">bookmark_border
                        </mat-icon>
                    </span>
                </div>
                <div class="crs_tbbd_dv">
                    <span class="ct_hd">
                        Heading
                    </span>
                    <span class="spacer"></span>
                    <span class="ct_rtn">
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                    </span>
                    <span class="ct_fav">
                        <mat-icon color="accent" matTooltip="Make Favorite">
                            favorite_border</mat-icon>
                    </span>
                    <span class="ct_bm">
                        <mat-icon color="accent" matTooltip="Add Bookmark">bookmark_border
                        </mat-icon>
                    </span>
                </div>
                <div class="crs_tbbd_dv">
                    <span class="ct_hd">
                        Heading
                    </span>
                    <span class="spacer"></span>
                    <span class="ct_rtn">
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                    </span>
                    <span class="ct_fav">
                        <mat-icon color="accent" matTooltip="Make Favorite">
                            favorite_border</mat-icon>
                    </span>
                    <span class="ct_bm">
                        <mat-icon color="accent" matTooltip="Add Bookmark">bookmark_border
                        </mat-icon>
                    </span>
                </div>
            </div> </mat-tab>
            <mat-tab label="Favorites"> <div class="crs_tbbd_mn indvd_crs">
                <div class="crs_tbbd_dv">
                    <span class="ct_hd">
                        Heading
                    </span>
                    <span class="spacer"></span>
                    <span class="ct_rtn">
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                    </span>
                    <span class="ct_fav">
                        <mat-icon color="accent" matTooltip="Make Favorite">
                            favorite_border</mat-icon>
                    </span>
                    <span class="ct_bm">
                        <mat-icon color="accent" matTooltip="Add Bookmark">bookmark_border
                        </mat-icon>
                    </span>
                </div>
                <div class="crs_tbbd_dv">
                    <span class="ct_hd">
                        Heading
                    </span>
                    <span class="spacer"></span>
                    <span class="ct_rtn">
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                    </span>
                    <span class="ct_fav">
                        <mat-icon color="accent" matTooltip="Make Favorite">
                            favorite_border</mat-icon>
                    </span>
                    <span class="ct_bm">
                        <mat-icon color="accent" matTooltip="Add Bookmark">bookmark_border
                        </mat-icon>
                    </span>
                </div>
                <div class="crs_tbbd_dv">
                    <span class="ct_hd">
                        Heading
                    </span>
                    <span class="spacer"></span>
                    <span class="ct_rtn">
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                        <mat-icon class="ct_slctd">star</mat-icon>
                    </span>
                    <span class="ct_fav">
                        <mat-icon color="accent" matTooltip="Make Favorite">
                            favorite_border</mat-icon>
                    </span>
                    <span class="ct_bm">
                        <mat-icon color="accent" matTooltip="Add Bookmark">bookmark_border
                        </mat-icon>
                    </span>
                </div>
            </div> </mat-tab>
        </mat-tab-group>
        
    </div>
</div>