<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Colleges</strong></div>
    <div class="d-flex rsp_fw">
        <div class="pg_ttl">Colleges</div>
        <div class="spacer"></div>
        <div>
            <button mat-raised-button color="accent" class="float_right mr_1 btn_st_frm"
                (click)="navigateTo('create-college/'+partner_id)">
                <mat-icon>add</mat-icon>
                Add New College
            </button>
        </div>
    </div>

    <hr />
    <div class="dsh_brd_crds">
        <div class="d_flx_ac">
            <mat-form-field appearance="outline" class="mr_1">
                <input matInput [(ngModel)]="search_box" (keyup)="$event.keyCode == 13 ? doFilter() : ''"
                    placeholder="Search" />
                <mat-icon (click)="doFilter()" matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr_1">
                <input matInput [max]="today" [matDatepicker]="from_picker" [(ngModel)]="from_date" readonly
                    placeholder="From Date" />
                <mat-datepicker-toggle matSuffix [for]="from_picker"></mat-datepicker-toggle>
                <mat-datepicker #from_picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr_1">
                <input matInput [min]="from_date" [matDatepicker]="to_picker" [(ngModel)]="to_date"
                    [disabled]="!from_date" readonly placeholder="To Date" />
                <mat-datepicker-toggle matSuffix [for]="to_picker"></mat-datepicker-toggle>
                <mat-datepicker #to_picker></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="accent" class="float_right mr_1 btn_st_frm" (click)="doFilter()"
                [disabled]="!from_date || !to_date">
                Submit
            </button>
            <button mat-raised-button class="float_right mr_1 btn_st_frm" (click)="resetFilters()" color="warn"
                matTooltip="Reset">
                <mat-icon>restart_alt</mat-icon>
            </button>
        </div>
        <div class="hgt_20"></div>
        <!-- <div class="d-flex">
            <div class="spacer"></div>
            <div class="mr_1">
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker" placeholder="From Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="mr_1">
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker1" placeholder="To Date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="mr_1">
                <button mat-raised-button color="accent" class="mt_3px">Search</button>
            </div>
            <div>
                <button mat-raised-button class="gry_btn mt_3px">Clear</button>
            </div>
        </div> -->
        <div class="dsh_brd_crds">
                <div class="rsp_tbl">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>S.No</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.s_no }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="partner_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                                College Name
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.partner_name }}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="contact_number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                                Contact
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.contact_number }}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="partner_email">
                            <th mat-header-cell *matHeaderCellDef cdkDrag>
                                Email
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.partner_email }}</td>
                        </ng-container>


                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef cdkDrag>Status</th>
                            <td mat-cell *matCellDef="let element">

                                <mat-slide-toggle (click)="deletePartner(element.pk_id, element.status)"
                                    [checked]="element.status == 1 ? true : false"
                                    matTooltip="{{element.status == 1 ? 'Make Inactive' : 'Make Active'}}">
                                </mat-slide-toggle>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef color="accent">Actions</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button matTooltip="Click to edit" color="accent"
                                    (click)="navigateTo('create-college/'+partner_id+'/'+element.pk_id)">
                                    <mat-icon>edit_notes</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                            <td class="mat-cell" [attr.colspan]="displayedColumns.length">No Records Found</td>
                        </tr>
                        
                        
                    </table>
                </div>
                <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options"
                    [length]="totalSize" [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)">
                </mat-paginator>
        </div>
    </div>
</div>