.spacer{flex:auto;}
.logo_spn img{max-width: 150px; margin-left: 15px;}
.tp_rt_mn{margin: 0 10px 0 0;
    font-size: 16px;
    text-align: center;
    line-height: 24px;}
    // .mat-toolbar{border-bottom: 1px solid #bfbfbf; position: fixed; z-index: 98;}
    .mat-toolbar mat-icon{font-size: 22px; position: relative; top: 3px;}
    .lgot_btn{cursor: pointer; /* display: flex; align-items: center;*/}

    .logo_spn {display: flex;}

    .hmbrg_btn img {
        width: 24px;
    }
    .mat-toolbar{
        border-bottom: 1px solid #bfbfbf;
        position: fixed;
        z-index: 98;
        color: #7c7c7c;
        font-weight: 400;
        font-size: 16px;
    }
    .top-top-bar{display: none;}
    .sdmn_cntul .sdmn_sub li:last-child {
        border-bottom: 0 none !important;
    }
    
    .sdmn_cntul .sdmn_sub li {
        border-bottom: 1px solid #c3c3c3 !important;
    }