<mat-toolbar>
  <!-- <mat-icon (click)="toggleSidemenu('hello')">menu</mat-icon> -->
  <button mat-icon-button (click)="toggleSidemenu('hello')" class="hmbrg_btn">
    <img src="./assets/images/hamburg-icon.svg" />
  </button>
  <span class="logo_spn"><img src="./assets/images/ProceumLogo.png" /></span>
  <span class="spacer"></span>

  <app-white-board></app-white-board>
  <span class="tp_rt_mn ps_rel fr_bdg">
      <span (click)="show_notifications = !show_notifications">
        <mat-icon *ngIf="content_notifications.length > 0" class="tp_rt_mn lft_0" matBadge="{{content_notifications.length>0?content_notifications.length:''}}" matBadgeColor="warn">notification_important</mat-icon>
        <mat-icon *ngIf="content_notifications.length == 0" class="tp_rt_mn lft_0">notification_important</mat-icon>
        <span>Notifications</span>
    </span>
    <div class="noti_dv {{show_notifications == false?'d-none':''}}">
      <div class="noti_hd d-flex">
        <span class="fnt_16">Notifications</span>
        <span class="spacer"></span>
        <span (click)="show_notifications = !show_notifications"><mat-icon>close</mat-icon></span>
      </div>
      <div class="noti_cnt">
        <ul>
          <li *ngFor="let notification of content_notifications">
            <!-- <span class="noti_bld">This is bold notification</span> -->
            <span (click)="navigateTo('create-content/'+notification['content_id'])">Content Review request from {{notification['first_name']}}</span>
          </li>
          <!-- <li>
            <span class="noti_bld">This is bold notification</span>
            <span>This is notification content</span>
          </li>-->
          <li>
            <span *ngIf="content_notifications.length == 0">No Notifications</span>
          </li> 
      </ul>
      </div>
    </div>
  </span>
  <span class="tp_rt_mn">
    <mat-icon class="tp_rt_mn">face</mat-icon>
    <span>{{ user["name"] + "(" + user["role_name"] + ")" }}</span>
  </span>

  <span class="tp_rt_mn lgot_btn" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span> Logout</span>
  </span>
</mat-toolbar>