.spacer{flex:auto;}
.logo_spn img{max-width: 150px; margin-left: 15px;}
.tp_rt_mn{margin: 0 10px 0 0;
    font-size: 16px;
    text-align: center;
    line-height: 24px;}
    .mat-toolbar{border-bottom: 1px solid #bfbfbf; position: fixed; z-index: 98;}
    .mat-toolbar mat-icon{font-size: 22px; }
    .lgot_btn{cursor: pointer; display: flex; align-items: center;}