<mat-toolbar>
  <!-- <mat-icon (click)="toggleSidemenu('hello')">menu</mat-icon> -->
  <button mat-icon-button (click)="toggleSidemenu('hello')" class="hmbrg_btn">
    <img src="./assets/images/hamburg-icon.svg" />
  </button>
  <span class="logo_spn"><img src="./assets/images/ProceumLogo.png" /></span>
  <span class="spacer"></span>

  <app-white-board></app-white-board>
  <span class="tp_rt_mn">
    <mat-icon class="tp_rt_mn">notification_important</mat-icon>
    <span>Notifications</span>
    </span
  >
  <span class="tp_rt_mn">
    <mat-icon class="tp_rt_mn">face</mat-icon>
    <span>{{ user["name"] + "(" + user["role_name"] + ")" }}</span>
    </span>

  <span class="tp_rt_mn lgot_btn" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span> Logout</span>
    </span>
</mat-toolbar>
