// ::ng-deep .sd_br{display: none;}
//  mat-toolbar{display: none !important;}
.shw_lvmd_mnu{display: none;}
.clc_cls_icn{position: absolute;
    right: 243px;
    background: #fff;
    border: 1px solid blue;
    border-radius: 50%;
    top: 21px;
    z-index: 5;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;}
    .lbvl_hd{
        display: flex;
        align-items: center;
        > div:first-child{font-size: 16px; font-weight: bold;}
    }
    .lvmd_nts{
        position: fixed;
        background: #fff;
        padding: 20px;
        top: 50%;
        border-radius: 8px;
        box-shadow: 0 0 2px 2px #d1d1d1;
        .clc_cls_icn{
            top: -10px;
            left: -10px;
        }
        .mat-form-field{
            width: 100%;
            textarea{
                height: 150px;
            }
        }
    }
@media (max-width:767px){
   
    ::ng-deep .clc_mn{
        float: right;
        transform: scale(0.8) translateX(5%);
        width: 80%;
    }
    .clc_cls_icn{position: absolute;
        right: 243px;
        background: #fff;
        border: 1px solid blue;
        border-radius: 50%;
        top: 21px;
        z-index: 5;
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;}
    .shw_lvmd_mnu{display: block;}
    .lv_md_mn .lv_md_qstn .lvmd_hd .lvmd_hd_ad{display: flex;
        align-items: center;
        position: absolute;
        flex-wrap: wrap;
        background: #fff;
        color: #000;
        z-index: 99;
        right: 30px;
        top: 84px;
        padding: 0;
        width: 200px;
        justify-content: center;
        box-shadow: 0 0 2px 2px #d1d1d1;}
        .lv_md_mn .lv_md_qstn .lvmd_hd .lvmd_hd_ad > div {
            br{display: none;}
            margin-right: 0;
            cursor: pointer;
            text-align: center;
            width: 100%;
            display: flex;
            padding:15px;
            border-bottom: 1px solid #ccc;
            align-items: center;
            &:hover{
                background-color: #ececed;
            }
            &:last-child{border-bottom: 0; margin-bottom: 0;}
            img{margin-right: 10px;}
        }
    .tstsqst_img{
        img, audio{max-width: 100%;}
    }
    .lv_md_mn .lv_md_qstn{margin-left: 0;}
    .mn_dshbrd{margin: 0; width: 100%; z-index: 99; margin-bottom: -60px !important; height: 100%;}
    .lv_md_mn .lv_md_qstn .lvmd_hd{padding: 10px 0;}
    .lvmd_cnt .w_47p{width: 100%;}
    .footer{display: none;}
    .cust_mdl_chl.w_50p{width: 92%;}
    .btm_aa{margin: 0; flex-wrap: wrap; justify-content: center;
        .spacer{display: none;}
        .text_center{margin: auto; width: 100%;}
    }
    .lv_md_mn .lv_md_qstn .lvmd_hd .lvmd_hd_ad.lvmd_mn_hd{display: none;}
    .lv_md_mn .lv_md_nms{display: none;}
    .lvmd_hd_ab {margin: 0 15px; text-align: center;}
    .lv_md_mn .lv_md_qstn .lvmd_hd .lvmd_hd_aa{display: none;}
    .lv_md_mn .lv_md_qstn .lvmd_cnt{height: 100%; box-sizing: border-box;}
    .lv_md_mn{height: 100%;}
    .btm_aa .lv_md_btm_mn .lv_md_btm_dv .lvmd_btm_tmr{flex: auto;}
    .btm_aa .lv_md_btm_mn{width: auto;}
    .lv_md_mn .lv_md_qstn .lvmd_cnt .lb_vles_rgt{
        position: fixed;
        top: 0;
        background: #fff;
        bottom: 0;
        width: 100%;
        margin: 0;
        left: 0;
        padding: 30px 20px;
        box-sizing: border-box;
    }
    .lv_md_mn .lv_md_qstn .lvmd_cnt .lb_vles .lb_vles_cnt table{font-size: 14px;}
    .lv_md_mn .lv_md_qstn .lvmd_cnt .lb_vles .lb_vles_cnt .mat-tab-body-wrapper{max-height: 76vh;}
}