<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Subscriptions</strong></div>
    <div class="d-flex">
        <div class="pg_ttl">Subscriptions</div>
        <div class="spacer"></div>
        <div>
            <button mat-raised-button color="accent" (click)="toggleModel()" type="button">
                <mat-icon>add</mat-icon> Subscription
            </button>
        </div>
    </div>
    <hr />

    <div class="dsh_brd_crds">
        <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="search_box" (keyup)="$event.keyCode == 13 ? doFilter() : ''"
                placeholder="Search" />
            <mat-icon (click)="doFilter()" matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="rsp_tbl">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>S.No</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.s_no }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="partner_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                        Partner Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.partner_name | titlecase }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="package_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                        Package Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.package_name }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef cdkDrag>Status</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle (click)="deleteDiscount(element.pk_id, element.status)"
                            [checked]="element.status == 1 ? true : false"
                            matTooltip="{{element.status == 1 ? 'Make Inactive' : 'Make Active'}}">
                        </mat-slide-toggle>

                        <!-- <span matTooltip="Current Status is {{
                  element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
                }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
                "Inactive" }}</span> -->

                    </td>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef cdkDrag>Subscription on</th>
                    <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
                </ng-container>


                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button  color="accent"
                            matTooltip="Click to edit">
                            <mat-icon>edit_notes</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                    <td style="text-align: center; margin: 20px" class="mat-cell" colspan="9">
                        No Records Found
                    </td>
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="page_size_options" showFirstLastButtons (page)="getServerData($event)">
        </mat-paginator>
    </div>
</div>
<div class="cust_mdl_par cust_mdl_50p" [ngClass]="{ cust_mdl_opn: model_status }">
    <div class="cust_mdl_chl">
        <div class="pg_ttl">
            Add Subscription
            <span class="spacer"></span>
            <button type="button" mat-icon-button (click)="model_status = !model_status">
                &#x2715;
            </button>
        </div>
        <div class="tbbd_bdy">
            <form id="subscription_form" #subscription_form="ngForm" name="subscription_form"
                (ngSubmit)="subscription_form.valid" novalidate>
                <div class="tbbd_bdy">
                    <div class="grd_2c no_bxsdw">
                        <span class="text-right w_100p rqrd_txtinfo">
                            All <span class="required">( * ) </span>marked fields are
                            mandatory</span>
                        <div class="hgt_20"></div>
                        <div class="frm_dvs">
                            <span>Select Partner <span class="required">*</span></span>
                            <span>
                              <span class="err_tltp_par">
                                <mat-form-field appearance="outline" class="mt_05">
                                  <mat-select placeholder="Select Partner"  [(ngModel)]="partner_id" name="partner_id_edit" #partner_id_edit="ngModel" required>
                                      <mat-option value=''>Select Partner</mat-option>
                                      <ng-container *ngFor="let package of all_packages | async">
                                          <mat-option [value]="package['pk_id']">
                                              {{ package['package_name'] }}
                                          </mat-option>
                                      </ng-container>
                                  </mat-select>
                                </mat-form-field>
                                <span class="prc_tltp" *ngIf="
                                    (subscription_form.submitted || course_name.touched) &&
                                    course_name.invalid
                                  ">Course is required</span>
                              </span></span>
                          </div>
                        <!-- Select package -->
                        <div class="frm_dvs">
                            <span>Select Package <span class="required">*</span></span>
                            <span>
                                <span class="err_tltp_par">
                                    <mat-form-field appearance="outline" class="mt_05">
                                        <mat-select placeholder="Select package" [(ngModel)]="package_id"
                                            name="course_name" #course_name="ngModel" required>
                                            <mat-option value=''>Select Package</mat-option>
                                            <ng-container *ngFor="let package of all_packages | async">
                                                <mat-option [value]="package['pk_id']">
                                                    {{ package['package_name'] }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <span class="prc_tltp" *ngIf="
                        (subscription_form.submitted || course_name.touched) &&
                        course_name.invalid
                      ">Course is required</span>
                                </span></span>
                        </div>
                        <!-- Description -->
                        <div class="frm_dvs">
                            <span>Description</span>
                            <span>
                                <span class="err_tltp_par">
                                    <mat-form-field appearance="outline">
                                        <textarea matInput class="crt_prt_txt" placeholder="Enter Description"
                                            [(ngModel)]="description" name="title_name"
                                            #title_name="ngModel"></textarea>
                                    </mat-form-field>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <button mat-raised-button color="accent" class="float_right mr_1">
                    Submit
                </button>
                <button mat-raised-button class="float_right mr_1 gry_btn"
                    (click)="model_status = !model_status">
                    Close
                </button>
            </form>
            <div class="hgt_20"></div>
        </div>
    </div>
</div>