<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>manage Users</strong></div>

    <div class="d-flex rsp_fw">
        <div class="pg_ttl">Manage Users</div>
        <div class="spacer"></div>
        <div>
            <button mat-raised-button color="accent" (click)="navigateTo('create-user')" class="mt_3px">
                <mat-icon>add</mat-icon>
                Add New User
            </button>
        </div>
    </div>
    <hr />
    <div class="dsh_brd_crds">
        <div class="d-flex rsp_flx_aa">
            <div class="xl_srch mr_1">
                <mat-form-field appearance="outline" class="w_100p">
                    <input matInput [(ngModel)]="search_box" (keyup)="$event.keyCode == 13 ? doFilter() : ''"
                        placeholder="Search" />
                    <mat-icon (click)="doFilter()" matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Role</span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Student</mat-option>
                    <mat-option value="0">Student</mat-option>
                    <mat-option value="0">Student</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="clear_fix"></div>
        <div class="w_100p">
            <mat-radio-group>
                <mat-radio-button value="1" class="mr_1">Promote Students</mat-radio-button>
                <mat-radio-button value="2">Download Students</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="hgt_10"></div>
        <div class="cm_fltr_sc mr_1">
            <span>Organization</span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Organization</mat-option>
                    <mat-option value="0">Organization</mat-option>
                    <mat-option value="0">Organization</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Year</span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Year</mat-option>
                    <mat-option value="0">Year</mat-option>
                    <mat-option value="0">Year</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Semester</span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Semester</mat-option>
                    <mat-option value="0">Semester</mat-option>
                    <mat-option value="0">Semester</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mt_18px">
            <button mat-raised-button  class="mt_6px" color="warn"><mat-icon>autorenew</mat-icon></button>
        </div>
        <div>
            <div class="rsp_tbl">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>S.No</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.s_no }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.name }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                            Email
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.email }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="role_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                            Role
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.role_name }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef cdkDrag>
                            Contact
                        </th>
                        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
                    </ng-container>

                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef cdkDrag>
                            Created
                        </th>
                        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef cdkDrag>Status</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle (click)="changeStatus(element.id, element.status)"
                                [checked]="element.status == 1 ? true : false"
                                matTooltip="{{element.status == 1 ? 'Make Inactive' : 'Make Active'}}">
                            </mat-slide-toggle>
                            <!-- <span matTooltip="Current Status is {{
                        element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
                    }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
                                "Inactive" }}</span> -->

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button matTooltip="Click to edit" color="accent"
                                (click)="navigateTo('edit-user/'+element.id)">
                                <mat-icon>edit_notes</mat-icon>
                            </button>

                            <!--
                            <button matTooltip="click here to {{
                        element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
                    }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                        'are you sure to change status of <b>' +
                        element.name +
                        '</b>'
                    " placement="auto" (confirm)="changeStatus(element.id, element.status)" confirmButtonType="danger"
                                cancelButtonType="outline-secondary">
                                <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
                                <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
                            </button> -->
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                        <td class="mat-cell" colspan="9">No Records Found</td>
                    </tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="page_size_options" showFirstLastButtons (page)="getServerData($event)">
            </mat-paginator>
        </div>
    </div>
</div>