<div class="sd_br" [ngClass]="sidemenuStatus" (scroll)="scrollHandler($event)">
    <!-- sd_opn || sd_cls -->
    <ul class="sdmn_cntul">
      <li (click)="menu_active = 0" routerLinkActive="active" routerLink="/admin/dashboard">
        <div class="sd_mnuhd">
          <mat-icon>dashboard</mat-icon> Dashboard
        </div>
      </li>
  
      <li routerLinkActive="active" routerLink="/admin/manage-users" [ngClass]="{
        active:
          active_route == '/admin/manage-users' }">
        <div class="sd_mnuhd">
          <mat-icon>manage_accounts</mat-icon> User Management
        </div>
      </li>
      <li routerLinkActive="active" routerLink="/admin/manage-year-semester-group" [ngClass]="{
        active:
          active_route == '/admin/manage-year-semester-group' }">
        <div class="sd_mnuhd">
          <mat-icon>auto_awesome_mosaic</mat-icon> Years / Semesters / Groups
        </div>
      </li>
      <li (click)="menu_active = 0" routerLinkActive="active" routerLink="/admin/curriculum" [ngClass]="{
        active:
            active_route == '/admin/curriculum' ||
            active_route.includes('/admin/curriculum')
        }">
        <div class="sd_mnuhd">
          <mat-icon>auto_awesome_mosaic</mat-icon> Courses / QBank Management
        </div>
      </li>

      <li class="hs_sbmnu {{
        menu_active == 4 ||
        active_route == '/admin/create-content' ||
        active_route == '/admin/link-content' ||
        active_route.includes('/admin/create-content') ||
        active_route == '/admin/manage-content'
          ? 'active'
          : ''
      }}" routerLinkActive="active" (click)="activeMenu(4, menu_active)">
      <div class="sd_mnuhd">
        <mat-icon>source</mat-icon> Content Management
      </div>
      <ul class="sdmn_sub">
        <li routerLinkActive="active" routerLink="/admin/create-content">
          <mat-icon>add</mat-icon>Create Content
        </li>
        <li routerLinkActive="active" routerLink="/admin/manage-content">
          <mat-icon>border_color</mat-icon>Manage Content
        </li>
        <li routerLinkActive="active" routerLink="/admin/link-content">
          <mat-icon>add_link</mat-icon>Link Content
        </li>
        <li routerLink="/admin/teacher-material">
          <mat-icon>description</mat-icon>Teacher Materials
        </li>
        <li routerLinkActive="active" routerLink="/admin/manage-flash-cards">
          <mat-icon>style</mat-icon>Flash Cards
        </li>
      </ul>
    </li>
    <!-- <li routerLink="/admin/users" (click)="menu_active = 0">
      <div class="sd_mnuhd">
        <mat-icon>library_books</mat-icon> Proceum User
      </div>
    </li>-->
    <li class="hs_sbmnu {{
      menu_active == 5 || active_route.includes('/admin/assets-library')
        ? 'active'
        : ''
    }}" (click)="activeMenu(5, menu_active)">
    <div class="sd_mnuhd">
      <mat-icon>corporate_fare</mat-icon> Assets Library
    </div>
    <ul class="sdmn_sub">
      <!--<li routerLinkActive="active" routerLink="/admin/assets-library/videos">
        <mat-icon>play_circle_outline</mat-icon>Videos
      </li>-->
      <li routerLinkActive="active" routerLink="/admin/assets-library/images">
        <mat-icon>wallpaper</mat-icon>Images
      </li>
      <li routerLinkActive="active" routerLink="/admin/assets-library/documents">
        <mat-icon>text_snippet</mat-icon>Documents
      </li>
      <!-- Added by Phanindra 06-09-2021 -->
      <!--<li routerLinkActive="active" routerLink="/admin/poc-videos" target="_blank">
        <mat-icon>play_circle_outline</mat-icon>Videos
      </li>-->
      <li>
        <a (click)="menu_active = 0" routerLink="/admin/poc-videos" [ngClass]="{
            active: active_route == '/admin/poc-videos'
          }" target="_blank">
          <div class="sd_mnuhd">
            <mat-icon>play_circle_outline</mat-icon>Videos
          </div>
        </a>
      </li>
    </ul>
  </li>
  <li routerLinkActive="active" routerLink="/admin/study-planner" (click)="menu_active = 0">
    <div class="sd_mnuhd">
      <mat-icon>today</mat-icon> Study Planner
    </div>
  </li>
  <li class="hs_sbmnu {{
    menu_active == 6 ||
    active_route == '/admin/questions-mgt/qbank' ||
    active_route == '/admin/questions-mgt/questions-list' ||
    active_route.includes('/questions-mgt/create-question') ||
    active_route.includes('/questions-mgt/edit-question/') ||
    active_route == '/admin/questions-mgt/lab-values'
      ? 'active'
      : ''
  }}" (click)="activeMenu(6, menu_active)">
    <div class="sd_mnuhd">
      <mat-icon>quiz</mat-icon>Questions Management
    </div>
    <ul class="sdmn_sub">
      <!-- <li routerLink="/admin/questions-mgt/qbank"
        [ngClass]="{ active: active_route == '/admin/questions-mgt/qbank' }">
        <mat-icon>quiz</mat-icon>Question Banks
      </li> -->
      <li routerLink="/admin/questions-mgt/questions-list" [ngClass]="{ active: active_route == '/admin/questions-mgt/questions-list' ||
      active_route.includes('/questions-mgt/create-question') ||
      active_route.includes('/questions-mgt/edit-question/') }">
        <mat-icon>quiz</mat-icon>Manage Questions
      </li>
      <li routerLink="/admin/questions-mgt/lab-values"
        [ngClass]="{ active: active_route == '/admin/questions-mgt/lab-values' }">
        <mat-icon>quiz</mat-icon>Lab Values
      </li>
    </ul>
  </li>
  <li routerLinkActive="active" (click)="menu_active = 0">
    <div class="sd_mnuhd">
      <mat-icon>description</mat-icon> Exam Modes
    </div>
  </li>
  <li routerLinkActive="active" (click)="activeMenu(11, menu_active)" class="hs_sbmnu {{
    menu_active == 11 || active_route == '/admin/create-assessment' ||
    active_route == '/admin/assessment-list' ? 'active' : ''
  }}">
    <div class="sd_mnuhd">
      <mat-icon>assignment</mat-icon> Assessments
    </div>
    <ul class="sdmn_sub">
      <li routerLinkActive="active" routerLink="/admin/create-assessment">
        <mat-icon>manage_accounts</mat-icon> Create Assessment
      </li>
      <li routerLinkActive="active" routerLink="/admin/assessment-list">
        <mat-icon>manage_accounts</mat-icon> Assessment List
      </li>
    </ul>
  </li>
  
  <li routerLinkActive="active" routerLink="/admin/college-list">
    <div class="sd_mnuhd">
      <mat-icon>manage_accounts</mat-icon> Colleges
    </div>
  </li>
  <li>
    <div class="sd_mnuhd">
      <mat-icon>subscriptions</mat-icon> Subscription Plans
    </div>
  </li>
  <li routerLinkActive="active" routerLink="/admin/prices-package-management">
    <div class="sd_mnuhd">
      <mat-icon>summarize</mat-icon> Pricing &amp; Package Management
    </div>
  </li>
  <li>
    <div class="sd_mnuhd">
      <mat-icon>store</mat-icon> Marketplace & Add-ons
    </div>
  </li>

  <li class="hs_sbmnu {{
      menu_active == 8 ||
      active_route == '/admin/promotional-settings' ||
      active_route == '/admin/discount-settings'
        ? 'active'
        : ''
    }}" (click)="activeMenu(8, menu_active)">
    <div class="sd_mnuhd">
      <mat-icon>assessment</mat-icon> Coupons/Promotions
    </div>
    <ul class="sdmn_sub">
      <li routerLink="/admin/promotional-settings"
        [ngClass]="{ active: active_route == '/admin/promotional-settings' }">
        <mat-icon>qr_code</mat-icon>Coupon Management
      </li>
      <li routerLink="/admin/discount-settings" [ngClass]="{ active: active_route == '/admin/discount-settings' }">
        <mat-icon>sell</mat-icon>Discounts
      </li>
    </ul>
  </li>

  <li class="hs_sbmnu {{
      menu_active == 9 ||
      active_route == '/admin/settings/email-templates' ||
      active_route == '/admin/settings' 
        ? 'active'
        : ''
    }}" (click)="activeMenu(9, menu_active)">
    <div class="sd_mnuhd">
      <mat-icon>settings</mat-icon> Settings
    </div>
    <ul class="sdmn_sub">
      <li routerLink="/admin/settings/email-templates" [ngClass]="{
          active: active_route == '/admin/settings/email-templates'
        }">
        <mat-icon>email</mat-icon>Email Templates
      </li>
      <!-- <li routerLink="/admin/settings" [ngClass]="{
          active: active_route == '/admin/settings'
        }">
        <mat-icon>phonelink_setup</mat-icon>System Settings
      </li> -->
      
    </ul>
  </li>
  
  <li>
    <a (click)="menu_active = 0" routerLink="/white-board" [ngClass]="{
        active: active_route == '/white-board'
      }" target="_blank">
      <div class="sd_mnuhd">
        <mat-icon>auto_awesome_mosaic</mat-icon> White Board
      </div>
    </a>
  </li>
  <li>
    <a (click)="menu_active = 0" routerLink="/admin/whiteboard-gallery" [ngClass]="{
        active: active_route == '/admin/whiteboard-gallery'
      }">
      <div class="sd_mnuhd">
        <mat-icon>auto_awesome_mosaic</mat-icon> White Board Gallery
      </div>
    </a>
  </li>
      
    </ul>
  </div>
  <div class="sdmnu_cvr" (click)="closeSidebar()"></div>