.indx_bnnr{width: 100%; height:calc(100vh - 45px); background-image: url(../../../assets/images/indx_bg2.png); background-repeat: no-repeat; background-size: cover;}
.top_nav{margin-top: 15px; position: relative;}
.sticky-header .top_nav:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: url(../../../assets/images/ProceumLogo.png);
    z-index: 999;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.sticky-header .lg_inbtn{
    color: #333;
}
.sticky-header .lg_inbtn mat-icon{
    color: #333;
}
mat-toolbar.mat-toolbar.sticky-header {
    position: fixed;
    background: #FFF;
    z-index: 999;
    box-shadow: 2px 2px 10px #33333325;
    transition: 0.2s;
}
.top_nav img{max-width: 150px;}
mat-toolbar{background-color: transparent;}
.spacer{flex:auto;}
// .indx_bnnr mat-icon{color: white;}

.tp_rt_mn{margin: 0 40px 0 0; font-size: 14px; text-align: center; line-height: 24px; color: #7f8c90; text-transform: uppercase; cursor: pointer;}
.tp_rt_mn:hover, .tp_rt_mn.active{color: #fff;}
.sticky-header .tp_rt_mn:hover, .sticky-header .tp_rt_mn.active{color: #7f8c90;}

.sticky-header .tp_rt_mn:hover{color: #333;}

.ind_cnt_sec{display: flex; justify-content: center; align-items: center; height: 100%; color: #fff; text-align: center; font-size: 38px; text-transform: uppercase; flex-direction: column; width: 50%;}
.ind_cnt_sml{    font-size: 30px;
    color: #000;
    font-weight: 600;}
.ind_cnt_lrg{    font-size: 50px;
    font-weight: 600;
    color: #65BB61;}
    .ind_cnt_sec > span > img:first-child{ margin-right: 30px;}
.trl_btn{background-color: #fff; color: #2277c5; margin: 15px 0; text-transform: uppercase;}
.ind_cnt_sec img{max-width: 150px;}
.bnr_btmsec{display: flex; flex-direction: row; color: #000; width: 95%; align-self: center;}
.bnr_btmsec div{position: relative; padding: 15px inherit 15px inherit; font-weight: 300; flex: 1; white-space: normal;}
.four_sec_1{background-color: #366d9b;}
.four_sec_2{background-color: #db561f;}
.four_sec_3{background-color: #f0c442;}
.four_sec_4{background-color: #96aa36;}
.tpfr_brd{height: 5px; background-color: #ffffff69; position: absolute; top: 0; width: 100%; left: 0;}
.bnr_btmsec .fr_hd{align-items: center; justify-content: center; display: flex; font-size: 20px; font-weight: 600; margin-bottom: 20px; }
.bnr_btmsec .fr_mr{align-items: center; display: flex; justify-content: flex-end;
    font-size: 14px;
    mat-icon{
        margin-left: 5px;
    }
}
.pd_1{padding: 1em;}
.bnr_btmsec ul{padding: 0; margin: 0;}
.bnr_btmsec ul li{list-style: none; font-weight: 200; font-size:15px; margin-bottom: 15px; padding-left: 35px;}

.bnr_btmsec > div {
    padding-top: 30px;
    padding-bottom: 10px; 
}
.bnr_btmsec > div img {
    margin-right: 14px;
    width: 33px;
}
.mat-list-base .mat-list-item{
    color: #000;
    height: inherit;
    margin: 10px 0;
    font-size: 15px;
}
.four_sec_1 mat-icon{
    color: #65BB61;
}
.four_sec_3 {
    color: #333;

    .mat-list-base .mat-list-item{
        color: #333;
    }
}

.Aboutus{background-color: #FFF;
    border-top: 20px solid #f8f8f8;
    .img-block{
        width:40%;
        float: left;
    }
    .content-block{ 
        width: 80%;
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
        color: #000;
        text-align: center;
        margin: auto;
    }
    .container{
    max-width: 1186px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    }
}
.img_grd_sct{background-color: #FFF;
    border-top: 20px solid #f8f8f8;
    .img-block{
        width:40%;
        img{
            box-shadow: 0px 0px 50px 0px #e0e0e0;
        }
    }
    .content-block{ 
        width: 40%;
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
        color: #000;
        text-align: center;
        margin: auto;
    }
    .container{
    max-width: 1186px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    }
}
.section-title.text_left{line-height: normal;}
.img_grd_sct .section-title h3{font-weight: bold; margin-bottom: 0;}
.fr_trl_btn{background-color: #59a831; color: #fff;}
.gry_bg_sct{background-color: #F9F9FA;}
/*why choose proceum*/
.why-choose{
    background-color: #F9F9FA;
    .container{
        max-width: 1186px;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        // margin-top: 30px;
        > div {
            width: 50%;
            text-align: center;
            margin-bottom: 50px;
            min-height: 300px;
            display: flex;
        }
        
        .in-box{
            // background: #FFF;
            border-radius: 50px;
            // padding: 30px 50px;
            width: 70%;
            margin: 0 auto;
            position: relative;
            // height: 100%;
        //  span {
        //     position: absolute;
        //     top: -45px;
        //     font-size: 61px;
        //     font-weight: 800;
        //     left: 0;
        //     right: 0;
        //     opacity: 0.5;
        //     mat-icon{
        //         padding: 25px;
        //         border-radius: 50px;
        //         width: auto;
        //         height: auto;
        //         font-size: 30px;
        //         color: #FFF;
        //     }
        // }

        
        h5{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        
        p{
            color: #7C7C7C;
            font-size: 16px;
            font-weight: 200;
        }
    }
    }
    /*.box1 span, .box1 h5 { color: #366D9B;}
    .box2 span, .box2 h5 { color: #DB561F;}
    .box3 span, .box3 h5 { color: #F0C442;}
    .box4 span, .box4 h5 { color: #96AA36;}

    .box1 span mat-icon { color: #366D9B; background-color: #366D9B;}
    .box2 span mat-icon { color: #DB561F; background-color: #DB561F;}
    .box3 span mat-icon { color: #F0C442; background-color: #F0C442;}
    .box4 span mat-icon { color: #96AA36; background-color: #96AA36;}*/

    span.box-number {
        display: block;
        padding: 10px;
        box-shadow: -2px 9px 11px 4px #e8e8e8;
        background: #FFF;
        width: 70%;
        margin: 0 auto;
    }
  }
section{
    padding:70px 0;
}

.section-title {text-align: center;
    width: 100%;
    h3{
        font-size: 32px;
        font-weight: 400;
        color: #171F32;
        padding: 0;
    }
    h5{
        margin: 0;
        padding: 0;
        color: #41AB3C;
        font-size: 26px;
        font-weight: 400;
    }
}
.competency{
    border-bottom: 20px solid #F8F8F8;
    .container{
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .card{
            width: 33%;
            text-align: center;
            .mat-card{
                margin: 30px;
                border-radius: 20px;
                p{
                    margin-top: 15px;
                    color: #171F32;
                    font-weight: 200;
                    line-height: 20px;
                }
            }
        }
    }
    mat-card-title.mat-card-title {
        color: #0F98A6;
        font-weight: 400;
        font-size: 24px;
        text-shadow: 1px 1px 2px #cccccc;
    }
    .mat-card{
        box-shadow: -1px 5px 17px 4px #33333220;
    }
    .mat-card:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 260px;
        background: #33333320;
        left: 0;
        top: 0;
        border-radius: 20px 20px 0px 0px;
    }
}

.glance{
    border-bottom: 20px solid #F8F8F8;
    background-color: #FFF;
    .container{
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .card{
            width: 33%;
            text-align: center;
            .mat-card{
                margin: 10px;
                border-radius: 20px;
                p{
                    margin-top: 15px;
                    color: #171F32;
                    font-weight: 200;
                    line-height: 20px;
                }
            }
            .mat-card-title {
                font-size: 16px;
                display: flex;
                align-items: center;
                font-weight: 400;  
                text-align: left;
            }

            // &:nth-child(1) mat-card-title{ background-color: #366D9B; }
            // &:nth-child(1) mat-icon{ color: #366D9B;}

            // &:nth-child(2) mat-card-title{ background-color: #DB561F; }
            // &:nth-child(2) mat-icon{ color: #DB561F;}

            // &:nth-child(3) mat-card-title{ background-color: #F0C442; }
            // &:nth-child(3) mat-icon{ color: #F0C442;}

            // &:nth-child(4) mat-card-title{ background-color: #96AA36; }
            // &:nth-child(4) mat-icon{ color: #96AA36;}

            // &:nth-child(5) mat-card-title{ background-color: #366D9B; }
            // &:nth-child(5) mat-icon{ color: #366D9B;}

            // &:nth-child(6) mat-card-title{ background-color: #DB561F; }
            // &:nth-child(6) mat-icon{ color: #DB561F;}
        }
        
    }
    .mat-list-base .mat-list-item{ color: #7C7C7C; text-align: left; height: 20px;}
}

.testimonials{
    // background-color: rgba($color: #0F98A6, $alpha: 0.14);
    // background-image: url(../../../assets/images/testimonials-background.svg);
    // background-repeat: no-repeat;
    padding-bottom: 100px;

    .container{
        max-width: 1186px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0 auto;
        mat-card{
            cursor: pointer;
            max-width: 28%;
            float:left;
            border-radius: 21px;
            padding: 10px;
            text-align: center;
            &:nth-child(2){ float:right}
            

        }

        .t-image {
            max-width: 100%;
            margin-right: 20px;
            position: relative;
            z-index: 2;
            margin: 0 auto;
            img {
                left: 0;
                position: static;
                margin-left: 0;
                margin-top: 0 !important;
                top: 0;
                border: 5px solid #fff;
                // border-radius: 50px;
            }
            
            
        }.t-image.user_icon {
                max-width: 220px;
            }
        .t-user-details{
            span{
                display: block;
                &:nth-child(1){
                    color: #41AB3C;
                    font-size: 22px;
                    font-weight: 400;
                    height: 35px;
                }
                &:nth-child(2){
                    font-size: 16px;
                    color: #7C7C7C;
                    font-weight: 400;
                    height: 28px;
                }
                &:nth-child(3){
                    color: #FFC107;
                }
            }
        }
        .mat-card-content{clear: both;
            p{
                font-size: 16px;
                font-weight: 300;
                line-height: 23px;
            }
        }
    .testimonials-block-container{
        display: flex;
        justify-content: space-between;
    }

    }

}

.download-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #FFF;
    .container{
        max-width: 1186px;
        margin: 0 auto;
        .left-content{
            float: left;
            width: 45%;
            .title{
                font-size: 36px;
                font-weight: 400;
                color: #41AB3C;
            }
            .title-2{
                font-size: 70px;
                font-weight: 600;
            }
            p{
                font-size: 14px;
            }
            img{
                max-width: 250px;
            }
        }
        .right-content{
            float: right;
            width: 45%;
        }
    }
}
.sty_in_tch_dv{
    background-color: #F8F8F8; 
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
}
.subscribe {
    text-align: center;
    display: flex;
    margin: auto;
    .err_tltp_par .prc_tltp{
        display: block;
    }
    button:focus-visible, input:focus-visible{ 
        outline: none;
    }
    .err_tltp_par{
        margin-right: 0;
    }
    input {
        padding: 10px 15px;
        width: 350px;
        border: 1px solid #171F32;
    }
    button {
        padding: 10px;
        border: 1px solid #171F32;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #171F32;
        color: #FFF;
    }
}

footer{
    min-height: 270px;
    background-color: #F8F8F8; 
    position: relative;
    z-index: 0;
    .second-part-footer{
        background: #EFEFEF;
    }
    // &::before{
        // content: "";
        // width: 100%;
        // height: 100%;
        // margin-top: -70px;
        // position: absolute;
        // top: -85px;
        // background-repeat: no-repeat;
        // z-index: -1;
        // background-image: url(../../../assets/images/footer-bg.svg);
    // }
    .section-title{
        h3{color: #171F32;}
        h5{color: #F0C442;}
        width: 100%;
    }
   
    .footer-menu{
        text-align: center;
        margin-top: 50px;
        ul{
            padding-left: 0;
            li  {
                list-style-type: none;
                display: inline;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 14px;
                a{
                    color: #171F32;
                    text-decoration: none;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }
    .social-icons{
        text-align: left;
        margin-top: 50px;
        img{
            margin-right: 5px;
            margin-left: 5px;
            width: 40px;
        }
    }
    .container{
        max-width: 1186px;
        margin: 0 auto;
        .footer-main-menu{
            margin-top: 30px;
            padding-top: 30px;
            display: flex;
            .block{
                width: 25%;
                
                .title{
                    color: #65BB61;
                    font-weight: 500;
                    font-size: 16px;
                }
    
                ul{
                    padding-left: 0px;
                    li  {
                        list-style-type: none;
                        color: #171F32;
                        font-weight: 300;
                        height: 30px;
                    }
                }
            }
        }
    }
    .bottom-line{
        background-color: #0F1626;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
    }
}
.nav{display: flex; align-items: center;}
.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}

.icon-scroll{
  width: 30px;
  height: 47px;
  margin-left: -20px;
  bottom: 17%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll{
  0%{
    opacity: 1;}
  100%{
    opacity: 0;
    transform: translateY(30px);
  }
} 

// Responsive css

@media screen and (max-width:1024px){

    .ind_cnt_sec{ width: 100%;}
    .download-section, .img_grd_sct{ padding-left: 30px; padding-right: 30px;}
    .testimonials .container .t-image.user_icon { max-width: 165px;}
    footer .container .footer-main-menu { flex-wrap: wrap;
        div.block{ width: 20%; text-align: center; margin: 0 auto;}
    }
    footer .social-icons { text-align: center; margin-top: 10px; margin-bottom: 10px;}
}
@media(max-width:769px){
    
    .indx_bnnr{height: 100vh;}
    .Aboutus .container .img-block, .Aboutus .container .content-block,
    .why-choose .container > div,
    .testimonials .container mat-card,
    .download-section .container .left-content, .download-section .container .right-content,
    .testimonials .container mat-card,
    .competency .container .card,
    .glance .container .card
    { width: 50%;}
    .Aboutus .container .img-block, .Aboutus .container .content-block,
    .download-section .container .left-content, .download-section .container .right-content
    {
        width: 100%;
        text-align: center;
    }

    .Aboutus .container{
        display: block;
    }
    .testimonials .container
    { padding-left: 0; padding-right: 0;}
    footer input[type="text"]{     margin-bottom: 10px;
        max-width: 100% !important;
        width: 200px !important;}
    footer{ min-height: auto;}

    section.Aboutus{ padding: 20px; text-align: center;}
    .bnr_btmsec{ flex-wrap: wrap;}
    .bnr_btmsec > div{ flex-basis: 50%;}

    .img_grd_sct{
        .container{
            flex-wrap: wrap;
        }
        .img-block, .content-block{width: 80%; margin: auto;}
        .img-block{margin: 20px auto;}
    }
    footer .container .footer-main-menu { flex-wrap: wrap;
        div.block{ width: 50%; text-align: center; margin: 0 auto;}
    }
    footer .social-icons { text-align: center; margin-top: 10px; margin-bottom: 10px;}
}

@media(max-width:500px){
    .ind_cnt_lrg,.ind_cnt_sml{ font-size: 40px;}
    footer .container .footer-main-menu { flex-wrap: wrap;
        div.block{ width: 90%; text-align: center; margin: 0 auto;}
    }
    footer .social-icons { text-align: center; margin-top: 10px; margin-bottom: 10px;}
    .testimonials .container .testimonials-block-container{ flex-wrap: wrap;}
    .testimonials{ padding-bottom: 0;}
    section, .download-section{ padding:30px 0;}

    .bnr_btmsec, .Aboutus .container, .why-choose .container,
    .competency .container,
    .glance .container
    { display: block;}

    .Aboutus .container .img-block, .Aboutus .container .content-block,
    .why-choose .container > div,
    .testimonials .container mat-card,
    .download-section .container .left-content, .download-section .container .right-content,
    .testimonials .container mat-card,
    .competency .container .card,
    .glance .container .card
    
    { width: 100%;}
 
    .testimonials .container .mat-card{
        max-width: fit-content;
    }

    .competency .container .card
    
    {
        max-width: 100%;
    }
    .download-section .container .left-content .title,
    .section-title h3
     {  font-size: 18px;}
     .section-title h5{ font-size: 16px;}
     .section-title.text_left{ text-align: center !important;}
    .download-section .container .left-content .title-2 {  font-size: 30px;}
    .img_grd_sct .img-block, .img_grd_sct .content-block{ width: 100%;}
    .why-choose span.box-number{ width: 90%;}
    
}
::ng-deep .top-top-bar{ display: none;}


// ::ng-deep .mat-toolbar{
//  background: transparent;
// }


.top-right-icon img:first-child {
    max-width: 22px;
    margin-left: 20px;
}
.top-right-icon img {
    max-width: 30px;
    margin-left: 20px;
}



.input-border-color{border: 1px solid rgb(231, 4, 4) !important;}
.cursor-pointer
{ 
    cursor: pointer;
}
.fr_cnt mat-icon, .glance mat-icon{color: #65bb61; font-size: 20px; width: 20px; height: 20px;}
