<div class="indx_bnnr">
  <!-- Testing mobile menu responsive -->

  <!-- Ends -->
  <mat-toolbar [ngClass]="{'sticky-header' : isSticky}">
    <div class="top_nav">
      <img src="../../../assets/images/ProceumLogo_w.png" />
    </div>

    <span class="spacer"></span>
    <div class="nav">
      <span class="tp_rt_mn">Home</span>
      <span class="tp_rt_mn">About Us</span>
      <span class="tp_rt_mn">Pricing</span>
      <span class="tp_rt_mn">Subscribe</span>
      <span class="tp_rt_mn">Register Trail</span>
      <span class="tp_rt_mn">Contact Us</span>
      <div routerLink="/login" class="lg_inbtn">
        <mat-icon>login</mat-icon>Login
      </div>
    </div>
    <!-- <mat-icon>menu_open</mat-icon> -->
    <!-- <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
  </mat-toolbar>

  <!-- <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a href="#" mat-list-item>Menu Item 1s</a>
      <a href="#" mat-list-item>Menu Item 2</a>
      <a href="#" mat-list-item>Menu Item 3</a>
      <a href="#" mat-list-item>Menu Item 4</a>
      <a href="#" mat-list-item>Menu Item 5</a>
      <a href="#"mat-list-item>Menu Item 6</a>
    </mat-nav-list>
  </mat-sidenav> -->

  <div class="ind_cnt_sec">
    <span class="ind_cnt_sml">Become Fluent In</span>
    <span class="ind_cnt_lrg">Medical Concepts</span>
    <button mat-button class="trl_btn">Register now and Get benifits</button>
    <span
      ><img src="../../../assets/images/gp_w.png" /><img
        src="../../../assets/images/as_w.png"
    /></span>

    <div class="icon-scroll"></div>
  </div>
</div>
<div class="bnr_btmsec">
  <div class="four_sec_1">
    <span class="tpfr_brd"></span>
    <div class="fr_hd">
      <img src="../../../assets/images/reading-book.svg" alt="Study Plan" />
      Study Plan
    </div>
    <div class="fr_cnt">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Sed vel enim ut nunc tempus</div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Aenean iaculis arcu nec enim dignissim tincidunt.</div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Aenean luctus lectus et venenatis feugiat.</div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="fr_mr pd_1">More <mat-icon>arrow_forward</mat-icon></div>
  </div>
  <div class="four_sec_2">
    <span class="tpfr_brd"></span>
    <div class="fr_hd">
      <img src="../../../assets/images/book.svg" alt="Question Bank" /> Question
      Bank
    </div>
    <div class="fr_cnt">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Sed vel enim ut nunc tempus</div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Aenean iaculis arcu nec enim dignissim tincidunt.</div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Aenean luctus lectus et venenatis feugiat.</div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="fr_mr pd_1">More <mat-icon>arrow_forward</mat-icon></div>
  </div>
  <div class="four_sec_3">
    <span class="tpfr_brd"></span>
    <div class="fr_hd">
      <img src="../../../assets/images/taxes.svg" alt="Assessments" />
      Assessments
    </div>
    <div class="fr_cnt">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Sed vel enim ut nunc tempus</div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Aenean iaculis arcu nec enim dignissim tincidunt.</div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Aenean luctus lectus et venenatis feugiat.</div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="fr_mr pd_1">More <mat-icon>arrow_forward</mat-icon></div>
  </div>
  <div class="four_sec_4">
    <span class="tpfr_brd"></span>
    <div class="fr_hd">
      <img src="../../../assets/images/online-course.svg" alt="Courses" />
      Courses
    </div>
    <div class="fr_cnt">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Sed vel enim ut nunc tempus</div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Aenean iaculis arcu nec enim dignissim tincidunt.</div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>check_circle</mat-icon>
          <div mat-line>Aenean luctus lectus et venenatis feugiat.</div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="fr_mr pd_1">More <mat-icon>arrow_forward</mat-icon></div>
  </div>
</div>

<!-- About proceum Block -->
<section class="Aboutus">
  <div class="section-title">
    <h3>About Proceum</h3>
    <h5>Lorem Ipsum</h5>
  </div>
  <div class="container">
    <div class="img-block">
      <img src="../../../assets/images/aboutus_img.svg" alt="About us" />
    </div>
    <div class="content-block">
      Proceum is an umbrella portal encompassing everything related to health
      under its wings. Proceum has a very strong vision to connect an individual
      to every direct and indirect entity related to health thus making him
      central to the entire healthcare system. Whether that entity is an
      organization or it is medical education; whether it is the research &
      development or it is a specific service provider; whether it is the direct
      user/customer/patient or it is a product. Proceum is geared to provide the
      most comprehensive, qualitatively superior and useful service at the click
      of a button to the individual, well-being of whose health, has resulted in
      the birth or establishment of all these services, institutions,
      organizations, groups, methods and processes. lorem ipsum dummy text well-being of whose health, has resulted in
      the birth or establishment of all these services, institutions,
      organizations, groups, methods and processes. well-being of whose health, has resulted in
      the birth or establishment of all these services, institutions,
      organizations, groups, methods and processes.
    </div>
  </div>
</section>

<!-- Why choose proceum -->
<section class="why-choose">
  <div class="section-title">
    <h3>Why Choose</h3>
    <h5>Proceum ?</h5>
  </div>
  <br />
  <div class="container">
    <div class="box1">
      <div class="in-box">
        <span class="box-number">
          <mat-icon>wallpaper</mat-icon>
        </span>
        <h5>
          Repositry of High Definition Images, Illustrations, 2D & 3D Animations
        </h5>
        <p>
          Proceum is continuously producing anatomically accurate repositry of
          high definition images, illustrations and 2D & 3D Animations for
          medical e-content. This qualitatively superior medical e-content has
          multiple uses across various educational and industrial platforms.
        </p>
      </div>
    </div>
    <div class="box2">
      <div class="in-box">
        <span class="box-number">
          <mat-icon>videocam</mat-icon>
        </span>
        <h5>Detailed Video Lectures for all the MBBS subjects.</h5>
        <p>
          Under production, these video lectures are a great support for first
          to fourth year students studying MBBS.
        </p>
      </div>
    </div>
    <div class="box3">
      <div class="in-box">
        <span class="box-number">
          <mat-icon>article</mat-icon>
        </span>
        <h5>High-Yield Video Lectures for Various Licensing Examinations</h5>
        <p>
          Under production, these video lectures concentrate more on case
          discussions rather than on didactic way of teaching.
        </p>
      </div>
    </div>
    <div class="box4">
      <div class="in-box">
        <span class="box-number">
          <mat-icon>subject</mat-icon>
        </span>
        <h5>
          Exhaustive Q-banks with Explanations for Various Licensing
          Examinations
        </h5>
        <p>
          Feature-rich Q-banks are a great source of support for students
          appearing for multiple licensing examinations.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Competency Based Curriculum  -->
<section class="competency">
  <div class="section-title">
    <h3>Competency Based Curriculum</h3>
    <h5>For Every Medical Graduate</h5>
  </div>
  <br />
  <div class="container">
    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <img
          mat-card-image
          src="../../../assets/images/HumanAnatomy.svg"
          alt="Human Anatomy"
        />
        <mat-card-title>Human Anatomy</mat-card-title>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <img
          mat-card-image
          src="../../../assets/images/Physiology.svg"
          alt="Physiology"
        />
        <mat-card-title>Physiology</mat-card-title>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <img
          mat-card-image
          src="../../../assets/images/Gybaecology.svg"
          alt="Gynaecology"
        />
        <mat-card-title>Gynaecology</mat-card-title>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <img
          mat-card-image
          src="../../../assets/images/Pathology.svg"
          alt="Pathology"
        />
        <mat-card-title>Pathology</mat-card-title>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <img
          mat-card-image
          src="../../../assets/images/Pediatrics.svg"
          alt="Pediatrics"
        />
        <mat-card-title>Pediatrics</mat-card-title>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <img
          mat-card-image
          src="../../../assets/images/Forensic.svg"
          alt="Forensic medicine"
        />
        <mat-card-title>Forensic medicine</mat-card-title>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div align="center" style="width: 100%">
      <button mat-flat-button color="accent">View all Curriculum</button>
    </div>
  </div>
</section>

<!-- Proceum at Glance -->

<section class="glance">
  <div class="section-title">
    <h3>Proceum at Glance</h3>
    <h5>Lorem Ipsum</h5>
  </div>
  <div class="container">
    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <mat-card-title>Proceum Products</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Advanced Medical Training Program</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>MBBS B2B (LMS)</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>USMLE Video Lectures</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Dr’s Prep Q Bank</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>NEET Prep Q Bank</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>FMGE Prep Q Bank</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Medical Illustrations</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>3D Anatomy</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <mat-card-title
          >Proceum Products - Uses and Applications</mat-card-title
        >
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Mobile / Online / Tablets</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Continuing Medical Education</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Seminar and Conferences</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Flash Presentations</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Online Streaming</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Assessments and Performance Charts</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Interactive Medical Program</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Pharmaceutical Video Production</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <mat-card-title>What Proceum Communicates</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>
                Complex or Novel Mechanisms of Drugs / Device Action (MOA)
              </div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Detailed Pathophysiology</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>
                Product Advantages That Are Difficult To Visualize
              </div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>3D Sterioscopic Animation</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Peer Reviews</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Medical Education</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Peer Reviews</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Medical Education</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <mat-card-title
          >Proceum Products - Uses and Applications</mat-card-title
        >
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Mobile / Online / Tablets</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Continuing Medical Education</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Seminar and Conferences</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Flash Presentations</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Online Streaming</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Assessments and Performance Charts</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Interactive Medical Program</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Pharmaceutical Video Production</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <mat-card-title>Visualizing Medicine</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Physiology</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Biochemistry</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Pathology</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Pharmacology</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Microbiology</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Internal Medicine</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Surgery</div>
            </mat-list-item>

             <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>OBG</div>
            </mat-list-item>

            <!--<mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Pediatrics</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>ENT</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Opthalmology</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Anatomy</div>
            </mat-list-item>-->
          </mat-list>
        </mat-card-content> 
      </mat-card>
    </div>

    <div class="card">
      <mat-card class="example-card mat-elevation-z0">
        <mat-card-title>Medical Test Prep Product Cycle</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Scrutinize and Review</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Blue Print</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Workflow</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Medical Content Developer</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Distribution</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Assessment</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Distribution</div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>check_circle</mat-icon>
              <div mat-line>Assessment</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>

<!-- Testimonials -->

<section class="testimonials">
  <div class="section-title">
    <h3>Testimonials</h3>
    <h5>Lorem Ipsum</h5>
  </div>
  <br />
  <div class="container">
    <mat-card class="example-card mat-elevation-z0">
      <div class="t-image">
        <img
          mat-card-image
          src="../../../assets/images/t-user.svg"
          alt="Victor"
        />
      </div>
      <div class="t-user-details">
        <span class="name">Victor</span>
        <span class="designation">Professor, Lorem University</span>
        <span class="rating">
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
        </span>
      </div>

      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card mat-elevation-z0">
      <div class="t-image">
        <img
          mat-card-image
          src="../../../assets/images/t-user.svg"
          alt="Victor"
        />
      </div>
      <div class="t-user-details">
        <span class="name">Victor</span>
        <span class="designation">Professor, Lorem University</span>
        <span class="rating">
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
        </span>
      </div>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<!-- Download from app store -->
<section class="download-section">
  <div class="container">
    <div class="left-content">
      <div class="title">Lorem ipsum dollar</div>
      <div class="title-2">Lorem ipsum</div>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries.
      </p>
      <div class="download-icons">
        <img src="../../../assets/images/download-icons.svg" alt="" />
      </div>
    </div>
    <div class="right-content">
      <img src="../../../assets/images/proceum-responsive.svg" alt="" />
    </div>
  </div>
</section>

<!-- footer -->
<footer>
  <div class="section-title">
    <h3>Lets Stay In Touch</h3>
    <h5>Lorem Ipsum</h5>
  </div>
  <br />
  <div class="subscribe">
    <input type="text" placeholder="Enter your Email" />
    <button>Subscribe</button>
  </div>
  <div class="footer-menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
  <div class="social-icons">
    <img src="../../../assets/images/fb-icon.svg" alt="" />
    <img src="../../../assets/images/twitter-icon.svg" alt="" />
    <img src="../../../assets/images/instagram-icon.svg" alt="" />
    <img src="../../../assets/images/whatsapp-icon.svg" alt="" />
  </div>
  <div class="second-part-footer">
    <div class="container">
      <div class="footer-main-menu">
        <div class="block">
          <div class="title">Proceum</div>
          <ul>
            <li>Lorem ipsum dolor</li>
            <li>sit amet, cons</li>
          </ul>
        </div>
        <div class="block">
          <div class="title">Lorem</div>
          <ul>
            <li>Lorem ipsum dolor</li>
            <li>sit amet, consectetur</li>
            <li>adipiscing elit</li>
            <li>Sed imperdiet</li>
          </ul>
        </div>
        <div class="block">
          <div class="title">Lorem</div>
          <ul>
            <li>Lorem ipsum dolor</li>
            <li>sit amet, consectetur</li>
            <li>adipiscing elit</li>
            <li>Sed imperdiet</li>
          </ul>
        </div>
        <div class="block">
          <div class="title">Lorem</div>
          <ul>
            <li>Lorem ipsum dolor</li>
            <li>sit amet, consectetur</li>
            <li>adipiscing elit</li>
            <li>Sed imperdiet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-line">2021 @ All rights reserved</div>
  <div class="arrow-up" (click)="scrollToTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </div>
</footer>
