<div class="indx_bnnr">
    <mat-toolbar>
        <div class="top_nav">
            <img src="../../../assets/images/ProceumLogo_w.png">
        </div>
        <span class="spacer"></span>
        <span class="tp_rt_mn">Home</span>
        <span class="tp_rt_mn">Curriculum</span>
        <span class="tp_rt_mn">Videos</span>
        <span class="tp_rt_mn">Pricing</span>
        <span class="tp_rt_mn">Universities</span>
        <span class="tp_rt_mn">Students</span>
        <div routerLink="/first-component" class="lg_inbtn">
            <mat-icon>login</mat-icon>Login
        </div>
        <mat-icon>menu_open</mat-icon>
    </mat-toolbar>
    <div class="ind_cnt_sec">
        <span class="ind_cnt_sml">Become Fluent In</span>
        <span class="ind_cnt_lrg">Medical Concepts</span>
        <button mat-button class="trl_btn">Sign Up for A 7-Day Free Trail</button>
        <span><img src="../../../assets/images/gp_w.png"><img src="../../../assets/images/as_w.png"></span>
    </div>
</div>