.indx_bnnr{width: 100%; height:calc(100vh - 45px); background-image: url(../../../assets/images/indx_bg.jpg); background-repeat: no-repeat; background-size: cover;}
.top_nav{margin-top: 15px;}
.top_nav img{max-width: 150px;}
mat-toolbar{background-color: transparent;}
.spacer{flex:auto;}
.indx_bnnr mat-icon{color: white;}
.tp_rt_mn{margin: 0 15px 0 0; font-size: 14px; text-align: center; line-height: 24px; color: #7f8c90; text-transform: uppercase; cursor: pointer;}
.tp_rt_mn:hover{color: #fff;}
.lg_inbtn mat-icon{font-size: 14px; justify-content: center; align-items: center; display: flex;}
.lg_inbtn{border: 0; outline: none; display: flex; color: #fff; align-items: center; font-size: 14px; margin-right: 15px; cursor: pointer;}
.ind_cnt_sec{display: flex; justify-content: center; align-items: center; height: 70%; color: #fff; text-align: center; font-size: 38px; text-transform: uppercase; flex-direction: column;}
.ind_cnt_sml{font-size: 24px;}
.ind_cnt_lrg{font-size: 38px;}
.trl_btn{background-color: #fff; color: #2277c5; margin: 15px 0; text-transform: uppercase;}
.ind_cnt_sec img{max-width: 150px;}
.bnr_btmsec{display: flex; flex-direction: row; color: #fff;}
.bnr_btmsec div{position: relative; padding: 15px 1em 15px 1em; flex: 1;}
.four_sec_1{background-color: #366d9b;}
.four_sec_2{background-color: #db561f;}
.four_sec_3{background-color: #f0c442;}
.four_sec_4{background-color: #96aa36;}
.tpfr_brd{height: 5px; background-color: #ffffff69; position: absolute; top: 0; width: 100%; left: 0;}
.bnr_btmsec .fr_hd{align-items: center; justify-content: center; display: flex; font-size: 24px;}
.bnr_btmsec .fr_mr{align-items: center; display: flex; justify-content: flex-end;}
.pd_1{padding: 1em;}
.bnr_btmsec ul{padding: 0; margin: 0;}
.bnr_btmsec ul li{list-style: none; font-size:18px; margin-bottom: 15px; padding-left: 35px;}