<div class="indx_bnnr">
  <mat-toolbar>
    <div class="top_nav">
      <img src="../../../assets/images/ProceumLogo_w.png" />
    </div>
    <span class="spacer"></span>
    <span class="tp_rt_mn">Home</span>
    <span class="tp_rt_mn">Curriculum</span>
    <span class="tp_rt_mn">Videos</span>
    <span class="tp_rt_mn">Pricing</span>
    <span class="tp_rt_mn">Universities</span>
    <span class="tp_rt_mn">Students</span>
    <div routerLink="/login" class="lg_inbtn">
      <mat-icon>login</mat-icon>Login
    </div>
    <mat-icon>menu_open</mat-icon>
  </mat-toolbar>
  <div class="ind_cnt_sec">
    <span class="ind_cnt_sml">Become Fluent In</span>
    <span class="ind_cnt_lrg">Medical Concepts</span>
    <button mat-button class="trl_btn">Sign Up for A 7-Day Free Trail</button>
    <span
      ><img src="../../../assets/images/gp_w.png" /><img
        src="../../../assets/images/as_w.png"
    /></span>
  </div>
</div>
<div class="bnr_btmsec">
  <div class="four_sec_1"><span class="tpfr_brd"></span>
    <div class="fr_hd">
      <mat-icon>login</mat-icon>
        Study Plan
    </div>
    <div class="fr_cnt">
      <ul>
        <li><mat-icon>check_circle</mat-icon>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.</li>
        <li>Sed vel enim ut nunc tempus</li>
        <li>Aenean iaculis arcu nec enim
          dignissim tincidunt.</li>
        <li>Aenean luctus lectus et venenatis
          feugiat.
          </li>
      </ul>
    </div>
    <div class="fr_mr pd_1">
      More <mat-icon>arrow_forward</mat-icon>
    </div>

  </div>
  <div class="four_sec_2"><span class="tpfr_brd"></span>
    <div class="fr_hd">
      <mat-icon>login</mat-icon>
        Study Plan
    </div>
    <div class="fr_cnt">
      <ul>
        <li>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.</li>
        <li>Sed vel enim ut nunc tempus</li>
        <li>Aenean iaculis arcu nec enim
          dignissim tincidunt.</li>
        <li>Aenean luctus lectus et venenatis
          feugiat.
          </li>
      </ul>
    </div>
    <div class="fr_mr pd_1">
      More <mat-icon>arrow_forward</mat-icon>
    </div>

  </div>
  <div class="four_sec_3"><span class="tpfr_brd"></span>
    <div class="fr_hd">
      <mat-icon>login</mat-icon>
        Study Plan
    </div>
    <div class="fr_cnt">
      <ul>
        <li>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.</li>
        <li>Sed vel enim ut nunc tempus</li>
        <li>Aenean iaculis arcu nec enim
          dignissim tincidunt.</li>
        <li>Aenean luctus lectus et venenatis
          feugiat.
          </li>
      </ul>
    </div>
    <div class="fr_mr pd_1">
      More <mat-icon>arrow_forward</mat-icon>
    </div>

  </div>
  <div class="four_sec_4"><span class="tpfr_brd"></span>
    <div class="fr_hd">
      <mat-icon>login</mat-icon>
        Study Plan
    </div>
    <div class="fr_cnt">
      <ul>
        <li>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.</li>
        <li>Sed vel enim ut nunc tempus</li>
        <li>Aenean iaculis arcu nec enim
          dignissim tincidunt.</li>
        <li>Aenean luctus lectus et venenatis
          feugiat.
          </li>
      </ul>
    </div>
    <div class="fr_mr pd_1">
      More <mat-icon>arrow_forward</mat-icon>
    </div>

  </div>
</div>