.spacer{flex:auto;}
.logo_spn{display: flex;}
.logo_spn img{max-width: 150px; margin-left: 15px;}
.noti_bl{margin: 0 5px;}
.noti_bl mat-icon{color: #0594b4; cursor: pointer; margin-right: 0;}
.accnt_nm{font-weight: 200; color:#7c7c7c;}
.tp_rt_mn{margin: 0 10px 0 0; font-size: 16px; text-align: center; line-height: 24px;}
.mat-toolbar{border-bottom: 1px solid #bfbfbf; position: fixed; z-index: 98;}
.mat-toolbar mat-icon{font-size: 22px;}
.lgot_btn{cursor: pointer; color:#7c7c7c; margin: 0 5px;}
.lgot_btn mat-icon{margin: 0;}
.hmbrg_btn img{width: 24px;}