<mat-toolbar [ngClass]="{ 'sticky-header': isSticky }" *ngIf="load_top_bar">
  <!-- <button mat-icon-button (click)="menuToggle()" class="hmbrg_btn">
    <img src="./assets/images/hamburg-icon.svg" />
  </button> -->
  <span class="logo_spn" routerLink="/">
    <img src="{{ getHeaderLogo() }}" />
  </span>
  <span class="spacer"></span>
  <div class="nav" [ngClass]="{ menu_open: isOpen }">
    <div>
      <app-white-board *ngIf="user['role'] == '1' || user['role'] == '12'"></app-white-board>
    </div>
    <div routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Home
    </div>
    <div routerLink="/about-us" routerLinkActive="active">About Us</div>
    <div routerLink="/courses" routerLinkActive="active">
      Courses
    </div>
    <div routerLink="/contact-us" routerLinkActive="active">
      Contact Us
    </div>
    <div routerLink="/blog/index.php" routerLinkActive="active">
      Blog
    </div>
    <div (click)="navigateTo()" *ngIf="user['id']" routerLinkActive="active">
      Dashboard
    </div>
    <div *ngIf="number" routerLink="/shopping-cart" class="fr_bdg">
      <mat-icon color="accent" matBadge="{{number.text}}" matBadgeColor="warn" matTooltip="My Cart">shopping_cart
      </mat-icon>
    </div>
    <div>
      <mat-icon color="accent" (click)="glbSrch = false">search</mat-icon>
      <div class="top-right-icon rsp_100p_767 ord_mo_767">
        <div class="glbl_srch dsh_brd_crds {{glbSrch == false ? 'glbsrc_act' : '' }}">
          <mat-form-field appearance="{{glbSrch == false ? 'outline' : 'none'}}">
            <input matInput [(ngModel)]="search_key" (keyup)="$event.keyCode == 13 ? studentglobalsearch() : ''"
              placeholder="Search" class="{{glbSrch == false ? '' : 'd-none'}}" autocomplete="off">
            <mat-icon color="accent" matSuffix (click)="glbSrch = !glbSrch" class="gs_clsbtn"> {{glbSrch == false ?
              'close' : ''}}
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="{{glbSrch == false ? 'srch_spprt' : 'd-none' }}"></div>
      </div>
    </div>
    <div *ngIf="!user['name']" routerLink="/login" routerLinkActive="active" class="lgin_dv">
      <mat-icon color="accent" matTooltip="Login" class="mr_02">login</mat-icon> Login
    </div>
    <div *ngIf="user['name']" (click)="logout()" class="lg_ot">
      <mat-icon matTooltip="Logout" class="mr_02">power_settings_new</mat-icon><span class="m_hide"></span>
      Logout
    </div>
  </div>


</mat-toolbar>