<div class="top-top-bar">
  <div class="inner-container-top">
    <div class="top-top-left">
      <mat-icon>mail_outline</mat-icon> info@proceum.com
      <mat-icon>smartphone</mat-icon> +91 98855 88972
    </div>
    <div class="top-top-right">
      <img src="../../../../assets/images/GetitonGoogleplay.svg" alt="Get it on Googleplay">
      <img src="../../../../assets/images/app-store-badge.svg" alt="Download from Applestore">
    </div>
  </div>
</div>
<mat-toolbar [ngClass]="{'sticky-header' : isSticky}">

  <span class="logo_spn"><img src="./assets/images/ProceumLogo.png" /></span>
  <!-- <span class="spacer"></span> -->
  <div class="nav" [ngClass]="{'menu_open' : isOpen}">
    <span mat-list-item class="tp_rt_mn" routerLink="/" routerLinkActive="active">Home</span>
    <span mat-list-item class="tp_rt_mn" routerLink="/about-us"routerLinkActive="active">About Us</span>
    <span mat-list-item class="tp_rt_mn">Pricing</span>
    <span mat-list-item class="tp_rt_mn">Subscribe</span>
    <span mat-list-item class="tp_rt_mn">Register Trail</span>
    <span mat-list-item class="tp_rt_mn" routerLink="/contact-us"routerLinkActive="active">Contact Us</span>
  </div>
  <div routerLink="/login" class="lg_inbtn">
    <mat-icon>login</mat-icon>Login
  </div>
  <div class="spacer"></div>
    <div class="top-right-icon">
      <img src="../../../../assets/images/Search-icon.svg" alt="Search">
      <img src="../../../../assets/images/hamburg-icon.svg" (click)="menuToggle()" alt="Hamberg">
    </div>
  <!-- <button mat-icon-button class="tp_rt_mn lgot_btn" (click)="logout()"><mat-icon>logout</mat-icon></button> -->
</mat-toolbar>


<!-- <mat-toolbar [ngClass]="{'sticky-header' : isSticky}">
  <div class="top_nav" routerLink="/">
    <img src="../../../assets/images/ProceumLogo_w.png" />
  </div>

  <span class="spacer"></span>
  <div class="nav">
    <span class="tp_rt_mn active">Home</span>
    <span class="tp_rt_mn" routerLink="/about-us">About Us</span>
    <span class="tp_rt_mn">Pricing</span>
    <span class="tp_rt_mn">Subscribe</span>
    <span class="tp_rt_mn">Register Trail</span>
    <span class="tp_rt_mn">Contact Us</span>
    <div routerLink="/login" class="lg_inbtn">
      <mat-icon>login</mat-icon>Login
    </div>
  </div>
</mat-toolbar> -->