<app-topbar class="inner-header"></app-topbar>
<div class="mn_dshbrd">
  <div class="hgt_20"></div>
  <div class="sp_mn">
    <div class="brdcrm_br">
      <mat-icon color="accent" routerLink="/">home</mat-icon>
      <mat-icon>navigate_next</mat-icon>
      <span routerLink="/index/curriculum/{{ curriculum['pk_id'] }}">{{
        curriculum["curriculumn_name"]
        }}</span>

      <span *ngFor="let bread of breadcome; let i = index">
        <span *ngIf="i < breadcome.length - 1" routerLink="/index/curriculum/{{
          curriculum_id + '/' + bread['level_id'] + '/' + bread['id']
        }}">
          <mat-icon>navigate_next</mat-icon>{{ bread["name"] }}
        </span>
        <strong *ngIf="i == breadcome.length - 1">
          <mat-icon>navigate_next</mat-icon>
          {{ setTitle(bread["name"]) }}
        </strong>
      </span>
    </div>
  </div>

  <!-- <div class="pg_ttl">{{ title }}</div> -->
  <!-- <div class="brd_crm mt_0">
    <span routerLink="/student/curriculums">Courses & Qbanks / </span>
    <span routerLink="/index/curriculum/{{ curriculum['pk_id'] }}">{{
      curriculum["curriculumn_name"]
      }}</span>
    <span *ngFor="let bread of breadcome; let i = index"><span *ngIf="i < breadcome.length - 1" routerLink="/index/curriculum/{{
          curriculum_id + '/' + bread['level_id'] + '/' + bread['id']
        }}">{{ bread["name"] }}</span>
      <strong *ngIf="i == breadcome.length - 1">
        {{ setTitle(bread["name"]) }}</strong></span>
  </div> -->
  <div class="hgt_10"></div>
  <div class="dsh_brd_crds">
    <!-- <span>Search</span> -->
    <div class="clear_fix"></div>
    <mat-form-field appearance="outline" class="xl_srch">
      <input [(ngModel)]="search" matInput (keyup)="$event.keyCode == 13 ? doFilter() : ''"
        placeholder="Search in {{ title }}" />
      <mat-icon matSuffix color="accent" (click)="doFilter()">search</mat-icon>
    </mat-form-field>
  </div>
  <!-- <mat-tab-group (selectedTabChange)="switchTab($event)" animationDuration="0.15s"> -->
    <!-- <mat-tab label="All"> -->
      <div class="crs_tbbd_mn no_desc_fnd" *ngIf="levels.length == 0 && is_loaded">No Records Found</div>
      <div class="crs_tbbd_mn" *ngIf="levels.length > 0">
        <div class="crs_tbbd_dv" *ngFor="let level of levels; let i = index">
          <span class="ct_hd" routerLink="/index/curriculum/{{ level['curriculum_id'] }}/{{
              level['level_id']
            }}/{{ level['id'] }}">{{ level["name"] }} - (Code :
            {{ level["code"] ? level["code"] : "N/A" }})</span>
          
        </div>
      </div>
    <!-- </mat-tab> -->
    
  <!-- </mat-tab-group> -->
  <div class="hgt_20"></div>
  <div class="hgt_20 text_right" *ngIf="levels.length > 0 &&levels.length < total_items">
    <button mat-raised-button (click)="loadMore()" color="accent">
      Load More
    </button>
  </div>
</div>