<div class="mn_dshbrd">
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br p_1 d-flex ai_cntr">
            <mat-icon color="accent" routerLink="/">home</mat-icon>
            <mat-icon>navigate_next</mat-icon>
            <span>Teacher Material</span>
        </div>
    </div>
    <div class="hgt_10"></div>
    <div class="dsh_brd_crds">
        <div class="xl_srch">
            <mat-form-field appearance="outline" class="main_search w_100p">
                <input matInput placeholder="Search" />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="tchr_mat_stu">
            <div class="tchr_mat_mn">
                <div class="tchr_ttl fnt_bold">Page Title
                    <div class="vd_pth"> Test Description</div>
                </div>
                <div class="spacer"></div>
                <div class="tchr_actn">
                    <mat-icon class="mr_1" matTooltip="View Description">visibility</mat-icon>
                    <mat-icon matTooltip="Download Material">save_alt</mat-icon>
                </div>
            </div>
            <div class="tchr_mat_mn">
                <div class="tchr_ttl fnt_bold">Page Title
                    <div class="vd_pth"> Test Description</div>
                </div>
                <div class="spacer"></div>
                <div class="tchr_actn">
                    <mat-icon class="mr_1" matTooltip="View Description">visibility</mat-icon>
                    <mat-icon matTooltip="Download Material">save_alt</mat-icon>
                </div>
            </div>
        </div>
    </div>

</div>