<app-admin-topbar></app-admin-topbar>
<app-sidebar></app-sidebar>
<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Promotional Settings</strong></div>
    <div class="pg_ttl">Promotional Settings</div>
    <div class="hgt_20"></div>
    <div class="grd_2c">
        <span>System Logo</span>
        <span>
            <button mat-raised-button color="accent">Generate</button>
        </span>
        <span class="hgt_20"></span>
        <span class="hgt_20"></span>
        <span>Organization Name</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Organization Name</mat-label>
                <input matInput placeholder="Organization Name">
            </mat-form-field>
        </span>
        <span>GST Number</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>GST Number</mat-label>
                <input matInput placeholder="GST Number">
            </mat-form-field>
        </span>
        <span>Contact Phone 1</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Contact Phone 1</mat-label>
                <input matInput placeholder="Contact Phone 1">
            </mat-form-field>
        </span>
        <span>Contact Phone 2</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Contact Phone 2</mat-label>
                <input matInput placeholder="Contact Phone 2">
            </mat-form-field>
        </span>
        <span>Contact Email 1</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Contact Email 1</mat-label>
                <input matInput placeholder="Contact Email 1">
            </mat-form-field>
        </span>
        <span>Contact Email 2</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Contact Email 2</mat-label>
                <input matInput placeholder="Contact Email 2">
            </mat-form-field>
        </span>
        <span>Copyright Text</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Copyright Text</mat-label>
                <textarea matInput rows="8"></textarea>
            </mat-form-field>
        </span>
        <span>Full Address</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Full Address</mat-label>
                <textarea matInput rows="8"></textarea>
            </mat-form-field>
        </span>
        <span>System Mode</span>
        <span>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Option 1</mat-radio-button>
                <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group>
        </span>
    </div>
</div>
<app-footer></app-footer>