<div class="mn_dshbrd">
  <div class="brd_crm">Proceum &raquo; <strong>Settings</strong></div>
  <div class="pg_ttl">Save Settings</div>
  <div class="hgt_20"></div>
  <div class="grd_2c">
    <span class="text-right w_100p rqrd_txtinfo">
      All <span class="required">( * ) </span>marked fields are mandatory</span
    >
    <div class="hgt_20"></div>
    <form
        #settings_form="ngForm"
        id="settings_form"
        name="settings_form"
        (ngSubmit)="settings_form.valid && saveSettings()"
        novalidate
      >
    <div class="tc_w50p">
      
        <div class="frm_dvs">
          <span>System Logo <span class="required">*</span></span>
          <span class="fw_w frm_img">
            <img src="{{ src }}" />
            <span class="hgt_20"></span>
            <!-- <button mat-raised-button color="accent">Generate</button> -->

            <button
              mat-raised-button
              color="accent"
              type="button"
              class="margin-bottom_20"
              (click)="fileInput.click()"
            >
              Browse
              <input
                type="file"
                #fileInput
                mat-raised-button
                color="accent"
                required
                accept="image/*"
                (change)="fileEvent($event)"
                style="display: none"
              />
            </button>
            <span class="hgt_10"></span>
            <span class="required">{{ imgMessage }}</span>
            <span class="hgt_10"></span>
          </span>
        </div>
        <div class="frm_dvs">
          <span>Organization Name <span class="required">*</span></span>
          <span>
            <span class="err_tltp_par">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Organization Name"
                  autocomplete="off"
                  required
                  maxlength="255"
                  name="organization_name"
                  [(ngModel)]="settings.organization_name"
                  pattern="[^ ](.*|\n|\r|\r\n)*"
                  #organization_name="ngModel"
                  ngModel
                />
              </mat-form-field>
              <span
                *ngIf="
                  settings_form.submitted && settings.organization_name == ''
                "
                class="prc_tltp"
                >Organization Name is required</span
              >
              <span
                *ngIf="
                  settings_form.submitted && organization_name.errors?.pattern
                "
                class="prc_tltp"
                >Please enter valid Organization Name</span
              >
              <span
                *ngIf="
                  settings_form.submitted && organization_name_check == false
                "
                class="prc_tltp"
                >Organization Name is required</span
              >
            </span>
          </span>
        </div>
        <div class="frm_dvs">
          <span>Contact Name <span class="required">*</span></span>
          <span>
            <span class="err_tltp_par">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Contact Name"
                  autocomplete="off"
                  required
                  maxlength="90"
                  name="contact_name"
                  [(ngModel)]="settings.contact_name"
                  #contact_name="ngModel"
                  ngModel
                  pattern="[^ ](.*|\n|\r|\r\n)*"
                  onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <=122 )|| (event.charCode ==32 ))"
                />
              </mat-form-field>
              <span
                *ngIf="settings_form.submitted && settings.contact_name == ''"
                class="prc_tltp"
                >Contact Name is required</span
              >
              <span
                *ngIf="settings_form.submitted && contact_name.errors?.pattern"
                class="prc_tltp"
                >Please enter valid Name</span
              >
              <span
                *ngIf="settings_form.submitted && contact_name_check == false"
                class="prc_tltp"
                >Contact Name is required</span
              >
            </span>
          </span>
        </div>
        <div class="frm_dvs">
          <span>GST Number <span class="required">*</span></span>
          <span>
            <span
              [ngClass]="{
                err_tltp_par:
                  (settings_form.submitted && gstin_number.errors?.pattern) ||
                  settings.gstin_number == ''
              }"
            >
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="GST Number ( Ex:11AAAAA0000A1Z5 )"
                  autocomplete="off"
                  minlength="15"
                  maxlength="15"
                  required
                  name="gstin_number"
                  [(ngModel)]="settings.gstin_number"
                  #gstin_number="ngModel"
                  ngModel
                  onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 47 && event.charCode <= 58))"
                  pattern="^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$"
                />
              </mat-form-field>
              <span
                *ngIf="settings_form.submitted && settings.gstin_number == ''"
                class="prc_tltp"
                >GST Number is required</span
              >
              <span
                *ngIf="settings_form.submitted && gstin_number.errors?.pattern"
                class="prc_tltp"
                >Please enter valid GST Number ( Ex:11AAAAA0000A1Z5 )</span
              >
            </span>
          </span>
        </div>
        <div class="frm_dvs">
          <span>Contact Phone 1 <span class="required">*</span></span>
          <span>
            <span
              [ngClass]="{
                err_tltp_par:
                  (settings_form.submitted &&
                    contact_number_1.errors?.pattern) ||
                  settings.contact_number_1 == ''
              }"
            >
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Contact Phone 1 ( Ex:9020345765 )"
                  autocomplete="off"
                  required
                  name="contact_number_1"
                  minlength="10"
                  maxlength="10"
                  [(ngModel)]="settings.contact_number_1"
                  #contact_number_1="ngModel"
                  ngModel
                  onkeypress="return ((event.charCode >= 47 && event.charCode <= 58))"
                  pattern="^[6-9]{1}[0-9]{9}$"
                />
              </mat-form-field>
              <span
                *ngIf="
                  settings_form.submitted && settings.contact_number_1 == ''
                "
                class="prc_tltp"
                >Phone Number is required</span
              >
              <span
                *ngIf="
                  settings_form.submitted && contact_number_1.errors?.pattern
                "
                class="prc_tltp"
                >Please enter valid Phone Number ( Ex:9020345765 )</span
              >
            </span>
          </span>
        </div>
        <div class="frm_dvs">
          <span>Contact Phone 2</span>
          <span>
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Contact Phone 2"
                autocomplete="off"
                name="contact_number_2"
                [(ngModel)]="settings.contact_number_2"
                #contact_number_2="ngModel"
                ngModel
                minlength="10" 
                maxlength="10"
                pattern="^[6-9]{1}[0-9]{9}$"
                onkeypress="return ((event.charCode >= 47 && event.charCode <= 58))"
              />
            </mat-form-field>
            <span
                *ngIf="
                  settings_form.submitted && contact_number_2.errors?.pattern
                "
                class="prc_tltp"
                >Please enter valid Phone Number ( Ex:9020345765 )</span
              >
          </span>
        </div>
        <div class="frm_dvs">
          <span>Contact Email 1 <span class="required">*</span></span>
          <span>
            <span
              [ngClass]="{
                err_tltp_par:
                  (settings_form.submitted &&
                    contact_email_1.errors?.pattern) ||
                  settings.contact_email_1 == ''
              }"
            >
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Email ( Ex:samplw123@gmail.com )"
                  autocomplete="off"
                  required
                  name="contact_email_1"
                  [(ngModel)]="settings.contact_email_1"
                  #contact_email_1="ngModel"
                  ngModel
                  maxlength="254"
                  onkeypress="return (event.charCode !=32)"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                />
              </mat-form-field>
              <span
                *ngIf="
                  settings_form.submitted && settings.contact_email_1 == ''
                "
                class="prc_tltp"
                >Email is required</span
              >
              <span
                *ngIf="
                  settings_form.submitted && contact_email_1.errors?.pattern
                "
                class="prc_tltp"
                >Please enter valid Email ( Ex:samplw123@gmail.com )</span
              >
            </span>
          </span>
        </div>
        <div class="frm_dvs">
          <span>Contact Email 2</span>
          <span>
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Contact Email 2"
                autocomplete="off"
                name="contact_email_2"
                [(ngModel)]="settings.contact_email_2"
                #contact_email_2="ngModel"
                ngModel
                maxlength="254"
                onkeypress="return (event.charCode !=32)"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              />
            </mat-form-field>
          </span>
        </div>
        
        
        <!-- <div class="hgt_20"></div> -->
    </div>
    <div class="tc_w50p">
      <div class="frm_dvs">
        <span class="algn_s_fs">Copyright Text</span>
        <span>
          <mat-form-field appearance="outline">
            <textarea
              matInput 
              maxlength="45"
              rows="8"
              name="copy_right"
              placeholder="Please enter copy right text"
              autocomplete="off"
              [(ngModel)]="settings.copy_right"
              #copy_right="ngModel"
              ngModel
            ></textarea>
          </mat-form-field>
        </span>
      </div>
      <div class="frm_dvs">
        <span class="algn_s_fs"
          >Full Address <span class="required">*</span></span
        >
        <span>
          <span class="err_tltp_par">
            <mat-form-field appearance="outline">
              <textarea
                matInput
                rows="8" 
                maxlength="255"
                name="full_address"
                required
                placeholder="Please enter Your Address"
                [(ngModel)]="settings.full_address"
                pattern="[^ ](.*|\n|\r|\r\n)*"
                #full_address="ngModel"
                ngModel
              ></textarea>
            </mat-form-field>
            <span
              *ngIf="settings_form.submitted && settings.full_address == ''"
              class="prc_tltp"
              >Full Address is required</span
            >
            <span
              *ngIf="settings_form.submitted && full_address.errors?.pattern"
              class="prc_tltp"
              >Please enter valid address</span
            >
          </span>
        </span>
      </div>
      <div class="frm_dvs">
        <span>Theme/Color <span class="required">*</span></span>
        <span>
          <span class="err_tltp_par">
            <mat-form-field>
              <input
                matInput
                [ngxMatColorPicker]="picker"
                readonly
                required
                name="theme_color"
                [(ngModel)]="settings.theme_color"
                #theme_color="ngModel"
                ngModel
              />
              <ngx-mat-color-toggle
                matSuffix
                [for]="picker"
              ></ngx-mat-color-toggle>
              <ngx-mat-color-picker
                #picker
                [touchUi]="touchUi"
                [color]="color"
              ></ngx-mat-color-picker>
            </mat-form-field>
            <span
              *ngIf="
                (settings_form.submitted || theme_color.touched) &&
                settings.theme_color == ''
              "
              class="prc_tltp"
              >Theme/Color is required</span
            >
          </span>
        </span>
      </div>
      <div class="frm_dvs">
        <span>List View Page Limit<span class="required">*</span></span>
        <span>
          <span class="err_tltp_par">
            <mat-form-field appearance="outline">
              <input
                matInput
                autocomplete="off"
                placeholder="List View Page Limit eg:10"
                min="1"
                minlength="1"
                maxlength="3"
                min="1"
                max="100"
                required
                name="list_view_limit"
                [(ngModel)]="settings.list_view_limit"
                #list_view_limit="ngModel"
                ngModel
                onkeypress="return ((event.charCode >= 47 && event.charCode <= 58))"
              />
            </mat-form-field>
            <span
              *ngIf="
                settings_form.submitted &&
                (settings.list_view_limit == undefined ||
                  settings.list_view_limit == '')
              "
              class="prc_tltp"
              >List View Page Limit is required</span
            >
          </span>
        </span>
      </div>
      <div class="frm_dvs">
        <span>Date Format <span class="required">*</span></span>
        <span>
          <span class="err_tltp_par">
            <mat-form-field appearance="outline" color="accent">
              <mat-select
                matInput
                name="date_format"
                [(ngModel)]="settings.date_format"
                #date_format="ngModel"
                ngModel
                required
                placeholder="select dateformat"
              >
                <mat-option value="d/m/Y">d/m/Y (Ex:02/04/2021)</mat-option>
                <mat-option value="d-m-Y">d-m-Y (Ex:02-04-2021)</mat-option>
                <mat-option value="Y/m/d">Y/m/d (Ex:2021/06/08)</mat-option>
                <mat-option value="Y-m-d">Y-m-d (Ex:2021-06-08)</mat-option>
                <mat-option value="Y/m/d">m/d/Y (Ex:08/06/2021)</mat-option>
                <mat-option value="m-d-Y">m-d-Y (Ex:08-06-2021)</mat-option>
                <mat-option value="F jS, Y"
                  >F jS, Y (Ex:April 9th, 2012)</mat-option
                >
                <mat-option value="F j, Y"
                  >F j, Y (Ex:January 1, 2018)</mat-option
                >
              </mat-select>
            </mat-form-field>
            <span
              *ngIf="settings_form.submitted && settings.date_format == ''"
              class="prc_tltp"
              >Date format is required</span
            >
          </span>
        </span>
      </div>
      <div class="frm_dvs">
        <span>Time Format <span class="required">*</span></span>
        <span>
          <span class="err_tltp_par">
            <mat-form-field appearance="outline" color="accent">
              <mat-select
                required
                name="time_format"
                [(ngModel)]="settings.time_format"
                placeholder="select time format"
                #time_format="ngModel"
                ngModel
              >
                <mat-option value="12 Hr"
                  >12 Hr (Ex: 02:20:02 PM )</mat-option
                >
                <mat-option value="24 Hr"
                  >24 Hr (Ex: 14:20:02 )</mat-option
                >
              </mat-select>
            </mat-form-field>
            <span
              *ngIf="
                (settings_form.submitted || time_format.touched) &&
                settings.time_format == ''
              "
              class="prc_tltp"
              >Time format is required</span
            >
          </span>
        </span>
      </div>

      <!-- <form #system_mode_form="ngForm" id="system_mode_form" name="system_mode_form"
                (ngSubmit)="system_mode_form.valid && updateSysMode()" novalidate> -->
      <!-- <form> -->
        <div class="frm_dvs">
          <span>Maintenance Mode <span class="required">*</span></span>
          <span>
            <mat-slide-toggle 
            class="ml_10"
            (change)="openModel($event)"
            [checked]="ischecked"
            ></mat-slide-toggle>
            <!-- <mat-radio-group
              name="mode"
              [(ngModel)]="systemMode"
              ngModel
              required
            >
              <mat-radio-button value="live">Live Mode</mat-radio-button>
              <mat-radio-button value="maintenance"
                >Maintenance Mode</mat-radio-button
              >
            </mat-radio-group>-->
          </span> 
        </div>
        <div class="hgt_20"></div>
        <!-- <div class="text-center">
          <button mat-raised-button color="accent" (click)="toggleModel()">
            Save
          </button>
        </div> -->
      <!-- </form> -->
    </div>
    <div class="hgt_20"></div>
    <div class="text-center">
      <button type="submit" mat-raised-button color="accent">Save</button>
    </div>
  </form>
  </div>
</div>
<div
  class="cust_mdl_par cust_mdl_30p"
  [ngClass]="{ cust_mdl_opn: model_status }"
>
  <div class="cust_mdl_chl">
    <div class="pg_ttl">
      Confirmation Required!
      <span class="spacer"></span>
      <button mat-icon-button (click)="closeModel()" class="float_right">
        &#x2715;
      </button>
    </div>
    <div class="tbbd_bdy">
      <div class="hgt_20"></div>
      <div class="grd_2c no_bxsdw">
        <span style="float: left; width: 20%">
          <mat-icon style="width: 30%; height: 30%; font-size: 50px"
            >help_outline</mat-icon
          >
        </span>
        <span style="float: left; width: 80%">
          <span
            ><b>Do you want to turn the system into maintanence Mode?</b></span
          ><br />
          <span
            >System will not be accessable for the online users in Maintanence
            Mode.</span
          >
        </span>
      </div>
      <hr />
      <button
        mat-raised-button
        color="accent"
        class="float_right mr_1"
        (click)="updateSysMode()"
      >
        Ok
      </button>
      <button
        mat-raised-button
        class="float_right mr_1 gry_btn"
        (click)="closeModel()"
      >
        Close
      </button>
      <div class="hgt_20"></div>
    </div>
  </div>
</div>
