.mn_dshbrd{margin: 64px auto; width: 60%;}
.brd_crm{width: 100%; color: #606672; font-size: 14px; margin: 15px 1%;}
.dsh_brd_crds{width: 100%;}
.crds_ul{margin: 0; padding: 0; display: flex;}
.crds_ul li{flex: auto; list-style: none; margin: 15px 1%; text-align: center; color: #606672;}
.crds_ul div{background-color: #fff; border-radius: 8px; box-shadow: 0 2px 3px -2px #808080; font-size: 18px; padding: 20px; text-align: center; height: 100%; box-sizing: border-box;}
.crds_ul div span{font-size: 24px; font-weight: bold; width: 100%; display: inline-block; text-align: center;}
.anly_crd div span{text-align: left; font-size: 14px;}


/* Responsive Css*/

@media(max-width:1499px) {
   .mn_dshbrd{ width: 80%;}
}
@media(max-width:990px) {
   .mn_dshbrd{ width: 90%;}
}
