<div class="mn_dshbrd">
  <div class="cust_mdl_par cust_mdl_50p" [ngClass]="{ cust_mdl_opn: model_status }">
    <div class="cust_mdl_chl">
      <div class="pg_ttl">
        Create Curriculum
        <span class="spacer"></span>
        <button mat-icon-button (click)="toggleModel()" class="float_right">
          &#x2715;
        </button>
      </div>
      <div class="tbbd_bdy">
        <form id="curriculum_form" #curriculum_form="ngForm" name="curriculum_form"
          (ngSubmit)="curriculum_form.valid && createCurriculum()" novalidate>
          <div class="grd_2c no_bxsdw">
            <span class="text-right w_100p rqrd_txtinfo">
              All <span class="required">( * ) </span>marked fields are
              mandatory</span>
            <div class="hgt_20"></div>
            <div class="frm_dvs">
              <span> Curriculum Name <span class="required">*</span></span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <input trim="blur" matInput maxlength="255" [(ngModel)]="curriculum_name"
                      #curriculum_name_name="ngModel" name="curriculum_name_name" placeholder="Provide Curiculum Name"
                      required />
                  </mat-form-field>

                  <span class="prc_tltp" *ngIf="
                      (curriculum_form.submitted ||
                        curriculum_name_name.touched) &&
                      curriculum_name_name.invalid
                    ">
                    Curriculum Name is required</span>
                </span>
              </span>
            </div>
            <div class="frm_dvs">
              <h3>Placeholder for levels</h3>
              <span>&nbsp;</span>
            </div>
            <div class="frm_dvs" *ngFor="
                let step of steps;
                let indexOfelement = index;
                let last = last;
                let first = first
              ">
              <span>
                Level {{ indexOfelement + 1 }}
                <span class="required">*</span></span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline" class="{{
                      duplicate_error_value != '' &&
                      duplicate_error_value == steps[step]
                        ? 'mat-form-field-invalid'
                        : ''
                    }}">
                    <input trim="blur" matInput maxlength="255" name="ref_{{ step }}" [(ngModel)]="steps[step]"
                      #ref_{{step}}="ngModel" required (keyup)="checkDuplicate(steps[step], step)" (blur)="
                        duplicate_error_value == steps[step] &&
                          resetDuplicates(step)
                      " placeholder="Provide Level {{ indexOfelement + 1 }} Label" />
                  </mat-form-field>

                  <span class="prc_tltp" *ngIf="curriculum_form.submitted && !steps[step]">
                    Level {{ indexOfelement + 1 }} is required</span>
                  <span class="prc_tltp" *ngIf="
                      duplicate_error_value != '' &&
                      duplicate_error_value == steps[step]
                    ">
                    Duplicate Level Name not allowed</span>
                </span>
                <button mat-raised-button type="button" *ngIf="last" (click)="addStep()" color="accent" class="ml_1">
                  +
                </button>
                <button type="button" *ngIf="!first && last" (click)="removeStep(indexOfelement)" mat-raised-button
                  color="warn" class="ml_1">
                  -
                </button>
              </span>
            </div>
          </div>

          <hr />
          <button mat-raised-button color="accent" class="float_right mt_0">
            Submit
          </button>
          <button mat-raised-button class="float_right mr_1 gry_btn" (click)="toggleModel()">
            Close
          </button>
          <div class="hgt_20"></div>
        </form>
        <div class="clear_fix"></div>
      </div>
    </div>
  </div>
  <div class="cust_mdl_par" [ngClass]="{ cust_mdl_opn: view_model_status }">
    <div class="cust_mdl_chl">
      <div class="pg_ttl">
        Curriculum Sitemap
        <span class="spacer"></span>
        <button mat-icon-button (click)="view_model_status = !view_model_status" class="float_right">
          &#x2715;
        </button>
      </div>
      <div class="grd_2c">
        <ul class="mlty_fl_mnu">
          <li class="mlty_par">
            <div class="mlty_fl_hd">
              <mat-icon>folder</mat-icon>File Name 1
            </div>
            <ul class="mlty_fl_mnu mlty_fl_chld">
              <li class="mlty_par">
                <div class="mlty_fl_hd">
                  <mat-icon>folder_open</mat-icon>File Child Name 1
                </div>
                <ul class="mlty_fl_mnu mlty_fl_chld">
                  <li class="mlty_par">
                    <div class="mlty_fl_hd">
                      <mat-icon>folder</mat-icon>File Child Name 1.1
                    </div>
                  </li>
                  <li class="mlty_par">
                    <div class="mlty_fl_hd">
                      <mat-icon>folder</mat-icon>File Child Name 1.2
                    </div>
                  </li>
                  <li class="mlty_par">
                    <div class="mlty_fl_hd">
                      <mat-icon>folder</mat-icon>File Child Name 1.3
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="mlty_par">
            <div class="mlty_fl_hd">
              <mat-icon>folder_open</mat-icon>File Name 2
            </div>
            <ul class="mlty_fl_mnu mlty_fl_chld mlty_actv">
              <li class="mlty_par">
                <div class="mlty_fl_hd">
                  <mat-icon>folder_open</mat-icon>File Child Name 2
                </div>
                <ul class="mlty_fl_mnu mlty_fl_chld mlty_actv">
                  <li class="mlty_par">
                    <div class="mlty_fl_hd">
                      <mat-icon>folder_open</mat-icon>File Child Name 2.1
                    </div>
                    <ul class="mlty_fl_mnu mlty_fl_chld mlty_actv">
                      <li class="mlty_par">
                        <div class="mlty_fl_hd">
                          <mat-icon>folder</mat-icon>File Child Name 2.1.1
                        </div>
                      </li>
                      <li class="mlty_par">
                        <div class="mlty_fl_hd">
                          <mat-icon>folder</mat-icon>File Child Name 2.1.2
                        </div>
                      </li>
                      <li class="mlty_par">
                        <div class="mlty_fl_hd">
                          <mat-icon>folder</mat-icon>File Child Name 2.1.3
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="mlty_par">
                    <div class="mlty_fl_hd">
                      <mat-icon>folder</mat-icon>File Child Name 2.2
                    </div>
                  </li>
                  <li class="mlty_par">
                    <div class="mlty_fl_hd">
                      <mat-icon>folder</mat-icon>File Child Name 2.3
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="mlty_par">
            <div class="mlty_fl_hd">
              <mat-icon>folder_open</mat-icon>File Name 3
            </div>
          </li>
          <li class="mlty_par">
            <div class="mlty_fl_hd">
              <mat-icon>folder_open</mat-icon>File Name 4
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="brd_crm">Proceum &nbsp;&raquo; <strong>Curriculum</strong></div>
  <div class="pg_ttl">Curriculums</div>
  <div class="dsh_brd_crds">
    <mat-form-field appearance="outline">
      <input trim="blur" matInput maxlength="255" [(ngModel)]="search_text"
        (keyup)="$event.keyCode == 13 ? doFilter() : ''" placeholder="Search" />
      <mat-icon (click)="doFilter()" matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="accent" class="float_right margin-bottom_20" (click)="toggleModel()" type="button">
      New Curriculum
    </button>
    <div class="rsp_tbl">
      <table mat-table [dataSource]="dataSource" matSort class="mat-table mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="s_no">S.No</th>
          <td mat-cell *matCellDef="let element" class="s_no">
            {{ element.s_no }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Curriculum Name
          </th>
          <td mat-cell *matCellDef="let element">
            <span (click)="navigateTo(element.id)" class="lnk_nav">{{
              element.name
              }}</span>
          </td>
        </ng-container>

    

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef class="date_tdh">Created Date</th>
          <td mat-cell *matCellDef="let element" class="date_tdh">{{ element.created_at }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef class="date_tdh">Updated Date</th>
          <td mat-cell *matCellDef="let element" class="date_tdh">{{ element.updated_at }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions_tdh">Actions</th>
          <td mat-cell *matCellDef="let element" class="actions_tdh">
            <!-- <button mat-icon-button (click)="viewCurriculum(element)">
              <mat-icon>view_list</mat-icon>
            </button> -->
            <button mat-icon-button (click)="editCurriculum(element)" matTooltip="Click to edit" color="accent">
              <mat-icon>edit_note</mat-icon>
            </button>

            <!-- <button  color="accent" matTooltip="click here to {{
                element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
              }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                'are you sure to change status of <b>' +
                element.name +
                '</b> Curriculum'
              " placement="auto" (confirm)="deleteCurriculum(element.id, element.status)" confirmButtonType="danger"
              cancelButtonType="outline-secondary">
              <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
              <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
            </button> -->
          </td>
        </ng-container>


        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="status_tdh">Status</th>

          <td mat-cell *matCellDef="let element" class="status_tdh">
            <!-- <span matTooltip="Current Status is {{
                element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
              }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
              "Inactive" }}</span> -->

              <mat-slide-toggle (click)="deleteCurriculum(element.id, element.status)" [checked]="element.status == 1 ? true : false" matTooltip="{{element.status == 1 ? 'Make Inactive' : 'Make Active'}}"></mat-slide-toggle>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row no_rcrds_fd" *matNoDataRow>
          <td style="text-align: center; margin: 20px" class="mat-cell" colspan="6">
            No Records Found
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="getServerData($event)">
    </mat-paginator>
  </div>
</div>
<div class="cust_mdl_par cust_mdl_50p" [ngClass]="{ cust_mdl_opn: edit_model_status }">
  <div class="cust_mdl_chl">
    <div class="pg_ttl">
      Edit Curriculum
      <span class="spacer"></span>
      <button mat-icon-button (click)="edit_model_status = !edit_model_status" class="float_right">
        &#x2715;
      </button>
    </div>

    <div class="tbbd_bdy">
      <form id="edit_curriculum_form" #edit_curriculum_form="ngForm" name="edit_curriculum_form"
        (ngSubmit)="edit_curriculum_form.valid && updateCurriculum()" novalidate>
        <div class="grd_2c no_bxsdw">
          <span class="text-right w_100p rqrd_txtinfo">
            All <span class="required">( * ) </span>marked fields are
            mandatory</span>
          <div class="hgt_20"></div>
          <div class="frm_dvs">
            <span>Curriculum Name <span class="required">*</span></span>
            <span>
              <!--  [ngClass]="{err_tltp_par:edit_curriculum_form.submitted && curriculum_name == ''}" -->
              <span class="err_tltp_par">
                <mat-form-field appearance="outline">
                  <input trim="blur" matInput [(ngModel)]="curriculum_name" maxlength="255"
                    #curriculum_name_name_edit="ngModel" name="curriculum_name_name_edit"
                    placeholder="Provide Curiculum Name" required />
                </mat-form-field>

                <span class="prc_tltp" *ngIf="
                    (edit_curriculum_form.submitted ||
                      curriculum_name_name_edit.touched) &&
                    curriculum_name_name_edit.invalid
                  ">
                  Curriculum Name is required</span>
              </span>
            </span>
          </div>
          <div class="frm_dvs" *ngFor="
              let step of steps;
              let indexOfelement = index;
              let last = last;
              let first = first
            ">
            <!-- [ngClass]="{err_tltp_par: curriculum_form.submitted && (steps[step] == '' || steps[step] == undefined) }" -->
            <span>
              Level {{ indexOfelement + 1 }}
              <span class="required">*</span></span>
            <span>
              <!-- [ngClass]="{err_tltp_par: curriculum_form.submitted && curriculum_name == ''}" -->
              <span class="err_tltp_par">
                <mat-form-field appearance="outline" class="{{
                    duplicate_error_value != '' &&
                    duplicate_error_value == steps[step]
                      ? 'mat-form-field-invalid'
                      : ''
                  }}">
                  <input trim="blur" (keyup)="checkDuplicate(steps[step], step)" (blur)="
                      duplicate_error_value == steps[step] &&
                        resetDuplicates(step)
                    " matInput maxlength="255" name="ref_edit_{{ step }}" [(ngModel)]="steps[step]"
                    #ref_edit_{{step}}="ngModel" required placeholder="Provide Level {{ indexOfelement + 1 }} Label" />
                </mat-form-field>
                <span class="prc_tltp" *ngIf="
                    edit_curriculum_form.submitted &&
                    'ref_edit_' + step.invalid &&
                    steps[step] == ''
                  ">
                  Level {{ indexOfelement + 1 }} is required
                </span>
                <span class="prc_tltp" *ngIf="
                    duplicate_error_value != '' &&
                    duplicate_error_value == steps[step]
                  ">
                  Duplicate Level Name not allowed</span>
              </span>
              <button *ngIf="last && false" mat-raised-button (click)="addStep()" color="accent" class="mr_1"
                type="button">
                +
              </button>
              <button *ngIf="!first && last && false" type="button" (click)="removeStep(indexOfelement)"
                mat-raised-button color="warn" type="button">
                -
              </button>
            </span>
          </div>
        </div>

        <hr />
        <button mat-raised-button color="accent" class="mt_0 float_right">
          Submit
        </button>
        <button mat-raised-button class="float_right mr_1 gry_btn" (click)="edit_model_status = !edit_model_status">
          Close
        </button>
      </form>
      <div class="hgt_20"></div>
    </div>
  </div>
</div>