<div class="mn_dshbrd">


  <div class="hgt_20"></div>
  <div class="sp_mn">
    <div class="brdcrm_br">
      <mat-icon color="accent" routerLink="/">home</mat-icon>
      <mat-icon>navigate_next</mat-icon>
      <span routerLink="/student/curriculums">{{"student.my_courses.courses_qbanks"|translate}}</span>
      <mat-icon>navigate_next</mat-icon>
      <span routerLink="/student/curriculums/{{ curriculum['pk_id'] }}">{{
        curriculum["curriculumn_name"]
        }}</span>

      <span *ngFor="let bread of breadcome; let i = index">
        <span *ngIf="i < breadcome.length - 1" routerLink="/student/curriculums/{{
          curriculum_id + '/' + bread['level_id'] + '/' + bread['id']
        }}">
          <mat-icon>navigate_next</mat-icon>{{ bread["name"] }}
        </span>
        <strong *ngIf="i == breadcome.length - 1">
          <mat-icon>navigate_next</mat-icon>
          {{ setTitle(bread["name"]) }}
        </strong>
      </span>
    </div>
  </div>
  <div class="hgt_10"></div>
  <div class="dsh_brd_crds">
    <!-- <span>Search</span> -->
    <div class="clear_fix"></div>
    <mat-form-field appearance="outline" class="xl_srch">
      <input [(ngModel)]="search" matInput (keyup)="$event.keyCode == 13 ? doFilter() : ''"
        placeholder="{{'student.my_courses.search_in'|translate}} {{ title }}" />
      <mat-icon matSuffix color="accent" (click)="doFilter()">search</mat-icon>
    </mat-form-field>
  </div>
  <mat-tab-group (selectedTabChange)="switchTab($event)" animationDuration="0.15s">
    <mat-tab label="{{'student.my_courses.all'|translate}}">
      <div class="crs_tbbd_mn no_desc_fnd" *ngIf="levels.length == 0 && is_loaded">{{'no_records_found_text'|translate}}</div>
      <div class="crs_tbbd_mn" *ngIf="levels.length > 0">
        <div class="crs_tbbd_dv" *ngFor="let level of levels; let i = index">
          <span class="ct_hd" routerLink="/student/curriculums/{{ level['curriculum_id'] }}/{{
              level['level_id']
            }}/{{ level['id'] }}">{{(i+1)+". "+ level["name"] }}
            <span *ngIf="level['description'] && level['level_id'] > 3"> - {{level['description']}}</span>
            <span *ngIf="level['code']  && level['level_id'] <= 3"> - ({{'student.my_courses.code'|translate}} :
              {{ level["code"] ? level["code"] : "N/A" }})</span>
          </span>
          <span class="spacer"></span>
          <span class="ct_rtn">
            <mat-icon class="{{level['rating'] > 0 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,0.5)">star</mat-icon>
            <mat-icon class="hlf_str1 {{level['rating'] > 0.5 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,1)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 1 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,1.5)">star</mat-icon>
            <mat-icon class="hlf_str2 {{level['rating'] > 1.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,2)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 2?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,2.5)">star</mat-icon>
            <mat-icon class="hlf_str3 {{level['rating'] > 2.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,3)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 3 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,3.5)">star</mat-icon>
            <mat-icon class="hlf_str4 {{level['rating'] > 3.5 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,4)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 4 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,4.5)">star</mat-icon>
            <mat-icon class="hlf_str5 {{level['rating'] > 4.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,5)">star</mat-icon>
            <!-- ct_slctd || add this class to the selected single star -->
          </span>
          <!-- <span class="ct_vw">Videos watched</span>
          <span class="ct_br">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </span>
          <span class="ct_cnt">100/628</span> -->
          <span class="ct_fav">
            <mat-icon color="accent" (click)="manageStatistics('fav', level['id'], i)"
              *ngIf="level['is_fav'] != 1 ? true : false" matTooltip="{{'student.my_courses.make_favorite'|translate}}">
              favorite_border</mat-icon>
            <mat-icon color="accent" (click)="manageStatistics('fav', level['id'], i)"
              *ngIf="level['is_fav'] == 1 ? true : false" matTooltip="{{'student.my_courses.unfavourite'|translate}}">
              favorite</mat-icon>
          </span>
          <span class="ct_bm">
            <mat-icon color="accent" (click)="manageStatistics('bookmark', level['id'], i)"
              *ngIf="level['is_bookmark'] != 1 ? true : false" matTooltip="{{'student.my_courses.add_bookmark'|translate}}">bookmark_border
            </mat-icon>
            <mat-icon color="accent" (click)="manageStatistics('bookmark', level['id'], i)"
              *ngIf="level['is_bookmark'] == 1 ? true : false" matTooltip="{{'student.my_courses.remove_bookmark'|translate}}">bookmark
            </mat-icon>
          </span>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{'student.my_courses.bookmarks'|translate}}">
      <div class="crs_tbbd_mn no_desc_fnd" *ngIf="levels.length == 0 && is_loaded">{{'no_records_found_text'|translate}}</div>
      <div class="crs_tbbd_mn" *ngIf="levels.length > 0">
        <div *ngFor="let level of levels; let i = index">
          <div class="crs_tbbd_dv" *ngIf="level['is_bookmark'] == 1">
            <span class="ct_hd" routerLink="/student/curriculums/{{ level['curriculum_id'] }}/{{
              level['level_id']
            }}/{{ level['id'] }}">{{ level["name"] }} - ({{'student.my_courses.code'|translate}} : {{ level["code"] }})</span>
            <span class="spacer"></span>
            <span class="ct_rtn">
              <mat-icon class="{{level['rating'] > 0 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,0.5)">star</mat-icon>
              <mat-icon class="hlf_str1 {{level['rating'] > 0.5 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,1)">star</mat-icon>
              <mat-icon class="{{level['rating'] > 1 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,1.5)">star</mat-icon>
              <mat-icon class="hlf_str2 {{level['rating'] > 1.5?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,2)">star</mat-icon>
              <mat-icon class="{{level['rating'] > 2?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,2.5)">star</mat-icon>
              <mat-icon class="hlf_str3 {{level['rating'] > 2.5?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,3)">star</mat-icon>
              <mat-icon class="{{level['rating'] > 3 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,3.5)">star</mat-icon>
              <mat-icon class="hlf_str4 {{level['rating'] > 3.5 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,4)">star</mat-icon>
              <mat-icon class="{{level['rating'] > 4 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,4.5)">star</mat-icon>
              <mat-icon class="hlf_str5 {{level['rating'] > 4.5?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,5)">star</mat-icon>
            </span>
            <!-- <span class="ct_vw">Videos watched</span>
            <span class="ct_br">
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </span>
            <span class="ct_cnt">100/628</span> -->
            <!-- <span class="ct_fav">
            <mat-icon (click)="manageStatistics('fav', level['id'], i)" *ngIf="level['is_fav'] != 1 ? true : false" matTooltip="Make Favorite" color="accent">
              favorite_border</mat-icon>
            <mat-icon (click)="manageStatistics('fav', level['id'], i)" *ngIf="level['is_fav'] == 1 ? true : false" matTooltip="Unfavorite" color="accent">
              favorite</mat-icon>
          </span> -->
            <span class="ct_bm">
              <mat-icon (click)="manageStatistics('bookmark', level['id'], i)"
                *ngIf="level['is_bookmark'] != 1 ? true : false" color="accent" matTooltip="{{'student.my_courses.add_bookmark'|translate}}">
                bookmark_border
              </mat-icon>
              <mat-icon (click)="manageStatistics('bookmark', level['id'], i)"
                *ngIf="level['is_bookmark'] == 1 ? true : false" color="accent" matTooltip="{{'student.my_courses.remove_bookmark'|translate}}">bookmark
              </mat-icon>
            </span>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{'student.my_courses.favourites'|translate}}">
      <div class="crs_tbbd_mn no_desc_fnd" *ngIf="levels.length == 0 && is_loaded">{{'no_records_found_text'|translate}}</div>
      <div class="crs_tbbd_mn" *ngIf="levels.length > 0">
        <div *ngFor="let level of levels; let i = index">
          <div class="crs_tbbd_dv" *ngIf="level['is_fav'] == 1">
            <span class="ct_hd" routerLink="/student/curriculums/{{ level['curriculum_id'] }}/{{
              level['level_id']
            }}/{{ level['id'] }}">{{ level["name"] }} - ({{'student.my_courses.code'|translate}} : {{ level["code"] }})</span>
            <span class="spacer"></span>
            <span class="ct_rtn">
              <mat-icon class="{{level['rating'] > 0 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,0.5)">star</mat-icon>
              <mat-icon class="hlf_str1 {{level['rating'] > 0.5 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,1)">star</mat-icon>
              <mat-icon class="{{level['rating'] > 1 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,1.5)">star</mat-icon>
              <mat-icon class="hlf_str2 {{level['rating'] > 1.5?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,2)">star</mat-icon>
              <mat-icon class="{{level['rating'] > 2?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,2.5)">star</mat-icon>
              <mat-icon class="hlf_str3 {{level['rating'] > 2.5?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,3)">star</mat-icon>
              <mat-icon class="{{level['rating'] > 3 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,3.5)">star</mat-icon>
              <mat-icon class="hlf_str4 {{level['rating'] > 3.5 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,4)">star</mat-icon>
              <mat-icon class="{{level['rating'] > 4 ?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,4.5)">star</mat-icon>
              <mat-icon class="hlf_str5 {{level['rating'] > 4.5?'ct_slctd':''}}"
                (click)="manageStatistics('rating', level['id'], i,5)">star</mat-icon>
            </span>
            <!-- <span class="ct_vw">Videos watched</span>
            <span class="ct_br">
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </span>
            <span class="ct_cnt">100/628</span> -->
            <span class="ct_fav">
              <mat-icon (click)="manageStatistics('fav', level['id'], i)" *ngIf="level['is_fav'] != 1 ? true : false"
                color="accent" matTooltip="{{'student.my_courses.make_favorite'|translate}}">
                favorite_border</mat-icon>
              <mat-icon (click)="manageStatistics('fav', level['id'], i)" *ngIf="level['is_fav'] == 1 ? true : false"
                color="accent" matTooltip="{{'student.my_courses.unfavourite'|translate}}">
                favorite</mat-icon>
            </span>
            <!-- <span class="ct_bm">
            <mat-icon (click)="manageStatistics('bookmark', level['id'], i)"
              *ngIf="level['is_bookmark'] != 1 ? true : false" color="accent" matTooltip="Add Bookmark">bookmark_border
            </mat-icon>
            <mat-icon (click)="manageStatistics('bookmark', level['id'], i)"
              *ngIf="level['is_bookmark'] == 1 ? true : false" color="accent" matTooltip="Remove Bookmark">bookmark
            </mat-icon>
          </span> -->
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="hgt_20"></div>
  <div class="hgt_20 text_right" *ngIf="levels.length > 0 &&levels.length < total_items">
    <button mat-raised-button (click)="loadMore()" color="accent">
      {{'student.my_courses.load_more'|translate}}
    </button>
  </div>
</div>