<app-topbar class="inner-header"></app-topbar>
<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Student Curriculum</strong></div>
    <div class="pg_ttl">MCI Curriculum</div>
    <div class="hgt_20"></div>
    <div class="mt_grd_dv">
        <mat-tab-group>
            <mat-tab label="UG MED Volume - 1">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Human Anatomy
                            </mat-panel-title>
                            <mat-panel-description>
                                <span>Videos: 98%</span>
                                <span>Notes: 20%</span>
                                <span>MCQs: 95%</span>
                                <span>Cases: 100%</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                   
                       <div class="dsh_brd_crds no_bxsdw bg_accrd">
                        <ul class="crds_ul">
                          <li>
                            <div>
                                <button mat-icon-button ><mat-icon>menu</mat-icon></button>
                                Competencies
                                <span class="spacer"></span>
                              <span class="accd_crc_nmbr">141</span>
                            </div>
                          </li>
                          <li>
                            <div>
                                <button mat-icon-button ><mat-icon>videocam</mat-icon></button>
                                Videos
                                <span class="spacer"></span>
                              <span class="accd_crc_nmbr">182</span>
                            </div>
                          </li>
                          <li>
                            <div>
                                <button mat-icon-button ><mat-icon>text_snippet</mat-icon></button>
                                Notes
                                <span class="spacer"></span>
                                <span class="accd_crc_nmbr">964</span>
                            </div>
                          </li>
                          <li>
                            <div>
                                 <button mat-icon-button ><mat-icon>help_outline</mat-icon></button>
                             MCQs
                             <span class="spacer"></span>
                             <span class="accd_crc_nmbr">1458</span>
                            </div>
                          </li>
                          <li>
                            <div> <button mat-icon-button ><mat-icon>medical_services</mat-icon></button>
                              Cases
                              <span class="spacer"></span>
                              <span class="accd_crc_nmbr">561</span>
                            </div>
                          </li>
                          <li>
                            <div> <button mat-icon-button ><mat-icon>bloodtype</mat-icon></button>
                              Procedures
                              <span class="spacer"></span>
                              <span class="accd_crc_nmbr">03</span>
                            </div>
                          </li>
                          <li>
                            <div> <button mat-icon-button ><mat-icon>group</mat-icon></button>
                              Faculty
                              <span class="spacer"></span>
                              <span class="accd_crc_nmbr">110</span>
                            </div>
                          </li>
                          <li>
                            <div> <button mat-icon-button ><mat-icon>supervisor_account</mat-icon></button>
                                Peer Reviewers
                                <span class="spacer"></span>
                                <span class="accd_crc_nmbr">1</span>
                            </div>
                          </li>
                        </ul>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Human Anatomy
                            </mat-panel-title>
                            <mat-panel-description>
                                <span>Videos: 98%</span>
                                <span>Notes: 20%</span>
                                <span>MCQ's: 95%</span>
                                <span>Cases: 100%</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="grd_2c bg_accrd no_bxsdw">
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                       </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Human Anatomy
                            </mat-panel-title>
                            <mat-panel-description>
                                <span>Videos: 98%</span>
                                <span>Notes: 20%</span>
                                <span>MCQ's: 95%</span>
                                <span>Cases: 100%</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="grd_2c bg_accrd no_bxsdw">
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                       </div>
                    </mat-expansion-panel>
                    
                </mat-accordion>
            </mat-tab>
            <mat-tab label="UG MED Volume - 2">   <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                
            </mat-accordion> </mat-tab>
            <mat-tab label="UG MED Volume - 3">  <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>

                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                
            </mat-accordion> </mat-tab>
        </mat-tab-group>
    </div>
</div>
<app-footer></app-footer>