<app-topbar class="inner-header"></app-topbar>
<app-sidemenu></app-sidemenu>
<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Courses</strong></div>
    <div class="pg_ttl">Courses</div>
    <div class="hgt_20"></div>
    <!-- <div class="mt_grd_dv">
        <mat-tab-group animationDuration="800ms">
            <mat-tab label="UG MED Volume - 1">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Human Anatomy
                            </mat-panel-title>
                            <mat-panel-description>
                                <span>Videos: 98%</span>
                                <span>Notes: 20%</span>
                                <span>MCQs: 95%</span>
                                <span>Cases: 100%</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                   
                       <div class="dsh_brd_crds no_bxsdw bg_accrd">
                        <ul class="crds_ul">
                          <li>
                            <div>
                                <button mat-icon-button ><mat-icon>menu</mat-icon></button>
                                Competencies
                                <span class="spacer"></span>
                              <span class="accd_crc_nmbr">141</span>
                            </div>
                          </li>
                          <li>
                            <div>
                                <button mat-icon-button ><mat-icon>videocam</mat-icon></button>
                                Videos
                                <span class="spacer"></span>
                              <span class="accd_crc_nmbr">182</span>
                            </div>
                          </li>
                          <li>
                            <div>
                                <button mat-icon-button ><mat-icon>text_snippet</mat-icon></button>
                                Notes
                                <span class="spacer"></span>
                                <span class="accd_crc_nmbr">964</span>
                            </div>
                          </li>
                          <li>
                            <div>
                                 <button mat-icon-button ><mat-icon>help_outline</mat-icon></button>
                             MCQs
                             <span class="spacer"></span>
                             <span class="accd_crc_nmbr">1458</span>
                            </div>
                          </li>
                          <li>
                            <div> <button mat-icon-button ><mat-icon>medical_services</mat-icon></button>
                              Cases
                              <span class="spacer"></span>
                              <span class="accd_crc_nmbr">561</span>
                            </div>
                          </li>
                          <li>
                            <div> <button mat-icon-button ><mat-icon>bloodtype</mat-icon></button>
                              Procedures
                              <span class="spacer"></span>
                              <span class="accd_crc_nmbr">03</span>
                            </div>
                          </li>
                          <li>
                            <div> <button mat-icon-button ><mat-icon>group</mat-icon></button>
                              Faculty
                              <span class="spacer"></span>
                              <span class="accd_crc_nmbr">110</span>
                            </div>
                          </li>
                          <li>
                            <div> <button mat-icon-button ><mat-icon>supervisor_account</mat-icon></button>
                                Peer Reviewers
                                <span class="spacer"></span>
                                <span class="accd_crc_nmbr">1</span>
                            </div>
                          </li>
                        </ul>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Human Anatomy
                            </mat-panel-title>
                            <mat-panel-description>
                                <span>Videos: 98%</span>
                                <span>Notes: 20%</span>
                                <span>MCQ's: 95%</span>
                                <span>Cases: 100%</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="grd_2c bg_accrd no_bxsdw">
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                       </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Human Anatomy
                            </mat-panel-title>
                            <mat-panel-description>
                                <span>Videos: 98%</span>
                                <span>Notes: 20%</span>
                                <span>MCQ's: 95%</span>
                                <span>Cases: 100%</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="grd_2c bg_accrd no_bxsdw">
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                            <span>test</span>
                       </div>
                    </mat-expansion-panel>
                    
                </mat-accordion>
            </mat-tab>
            <mat-tab label="UG MED Volume - 2">   <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                
            </mat-accordion> </mat-tab>
            <mat-tab label="UG MED Volume - 3">  <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Human Anatomy
                        </mat-panel-title>

                        <mat-panel-description>
                            <span>Videos: 98%</span>
                            <span>Notes: 20%</span>
                            <span>MCQ's: 95%</span>
                            <span>Cases: 100%</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   <div>

                    Human Anatomy Content
                   </div>
                </mat-expansion-panel>
                
            </mat-accordion> </mat-tab>
        </mat-tab-group>
    </div> -->
    <div class="dsh_brd_crds">
        <mat-form-field appearance="outline" class="float_right main_search">
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="crs_par">
        <div class="crs_tp_sc">
            <span>UG MED VOL</span>
            <span>View All &nbsp;<mat-icon>east</mat-icon></span>
        </div>
        <div class="hgt_20"></div>
        <div class="crs_chld">
            <div class="crs_icn grn_bg">
                <mat-icon>work_outline</mat-icon>
            </div>
            <div class="crs_hdng">
                Echocardiography Workshops
            </div>
            <div class="rtng_par">
                <div class="crs_rtng str_slctd">
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str1">star_rate</mat-icon>
                    <mat-icon class="">star_rate</mat-icon>
                    <mat-icon class="hlf_str2">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str3 ct_slctd">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str4">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str5">star_rate</mat-icon>
                </div>
            </div>
            <div class="crs_dsc">
                Overcoming the limitation of conventional
                echo books, keeping in mind that the main
                distinguishing factor…
            </div>
            <div class="crs_d_r_p">
                <span>
                    <mat-icon>timelapse</mat-icon> 4 months
                </span>
                <span>
                    <mat-icon>favorite_border</mat-icon> 3445
                </span>
                <span class="bld_txt_blk"><span class="rpe_sym">₹</span> 14500</span>
            </div>
            <div class="crs_pr_bynw">
                <div class="pr_btn_dv">
                    <mat-icon>play_circle</mat-icon> Preview
                </div>
                <div class="bn_btn_dv">
                    <mat-icon>shopping_cart</mat-icon> Buy Now
                </div>
            </div>
        </div>
        <div class="crs_chld">
            <div class="crs_icn grn_bg">
                <mat-icon>work_outline</mat-icon>
            </div>
            <div class="crs_hdng">
                Echocardiography Workshop
            </div>
            <div class="rtng_par">
                <div class="crs_rtng str_slctd">
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str1">star_rate</mat-icon>
                    <mat-icon class="">star_rate</mat-icon>
                    <mat-icon class="hlf_str2">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str3 ct_slctd">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str4">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str5">star_rate</mat-icon>
                </div>
            </div>
            <div class="crs_dsc">
                Overcoming the limitation of conventional
                echo books, keeping in mind that the main
                distinguishing factor…
            </div>
            <div class="crs_d_r_p">
                <span>
                    <mat-icon>timelapse</mat-icon> 4 months
                </span>
                <span>
                    <mat-icon>favorite_border</mat-icon> 3445
                </span>
                <span class="bld_txt_blk"><span class="rpe_sym">₹</span> 14500</span>
            </div>
            <div class="crs_pr_bynw">
                <div class="pr_btn_dv">
                    <mat-icon>play_circle</mat-icon> Preview
                </div>
                <div class="bn_btn_dv">
                    <mat-icon>shopping_cart</mat-icon> Buy Now
                </div>
            </div>
        </div>
        <div class="crs_chld">
            <div class="crs_icn grn_bg">
                <mat-icon>work_outline</mat-icon>
            </div>
            <div class="crs_hdng">
                Echocardiography Workshop
            </div>
            <div class="rtng_par">
                <div class="crs_rtng str_slctd">
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str1">star_rate</mat-icon>
                    <mat-icon class="">star_rate</mat-icon>
                    <mat-icon class="hlf_str2">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str3 ct_slctd">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str4">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str5">star_rate</mat-icon>
                </div>
            </div>
            <div class="crs_dsc">
                Overcoming the limitation of conventional
                echo books, keeping in mind that the main
                distinguishing factor…
            </div>
            <div class="crs_d_r_p">
                <span>
                    <mat-icon>timelapse</mat-icon> 4 months
                </span>
                <span>
                    <mat-icon>favorite_border</mat-icon> 3445
                </span>
                <span class="bld_txt_blk"><span class="rpe_sym">₹</span> 14500</span>
            </div>
            <div class="crs_pr_bynw">
                <div class="pr_btn_dv">
                    <mat-icon>play_circle</mat-icon> Preview
                </div>
                <div class="bn_btn_dv">
                    <mat-icon>shopping_cart</mat-icon> Buy Now
                </div>
            </div>
        </div>

    </div>
    <div class="crs_par">
        <div class="crs_tp_sc">
            <span>UG MED VOL</span>
            <span>View All &nbsp;<mat-icon>east</mat-icon></span>
        </div>
        <div class="hgt_20"></div>
        <div class="crs_chld">
            <div class="crs_icn grn_bg">
                <mat-icon>work_outline</mat-icon>
            </div>
            <div class="crs_hdng">
                Echocardiography Workshop
            </div>
            <div class="rtng_par">
                <div class="crs_rtng str_slctd">
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str1">star_rate</mat-icon>
                    <mat-icon class="">star_rate</mat-icon>
                    <mat-icon class="hlf_str2">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str3 ct_slctd">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str4">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str5">star_rate</mat-icon>
                </div>
            </div>
            <div class="crs_dsc">
                Overcoming the limitation of conventional
                echo books, keeping in mind that the main
                distinguishing factor…
            </div>
            <div class="crs_d_r_p">
                <span>
                    <mat-icon>timelapse</mat-icon> 4 months
                </span>
                <span>
                    <mat-icon>favorite_border</mat-icon> 3445
                </span>
                <span class="bld_txt_blk"><span class="rpe_sym">₹</span> 14500</span>
            </div>
            <div class="crs_pr_bynw">
                <div class="pr_btn_dv">
                    <mat-icon>play_circle</mat-icon> Preview
                </div>
                <div class="bn_btn_dv">
                    <mat-icon>shopping_cart</mat-icon> Buy Now
                </div>
            </div>
        </div>
        <div class="crs_chld">
            <div class="crs_icn grn_bg">
                <mat-icon>work_outline</mat-icon>
            </div>
            <div class="crs_hdng">
                Echocardiography Workshop
            </div>
            <div class="rtng_par">
                <div class="crs_rtng str_slctd">
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str1">star_rate</mat-icon>
                    <mat-icon class="">star_rate</mat-icon>
                    <mat-icon class="hlf_str2">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str3 ct_slctd">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str4">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str5">star_rate</mat-icon>
                </div>
            </div>
            <div class="crs_dsc">
                Overcoming the limitation of conventional
                echo books, keeping in mind that the main
                distinguishing factor…
            </div>
            <div class="crs_d_r_p">
                <span>
                    <mat-icon>timelapse</mat-icon> 4 months
                </span>
                <span>
                    <mat-icon>favorite_border</mat-icon> 3445
                </span>
                <span class="bld_txt_blk"><span class="rpe_sym">₹</span> 14500</span>
            </div>
            <div class="crs_pr_bynw">
                <div class="pr_btn_dv">
                    <mat-icon>play_circle</mat-icon> Preview
                </div>
                <div class="bn_btn_dv">
                    <mat-icon>shopping_cart</mat-icon> Buy Now
                </div>
            </div>
        </div>
        <div class="crs_chld">
            <div class="crs_icn grn_bg">
                <mat-icon>work_outline</mat-icon>
            </div>
            <div class="crs_hdng">
                Echocardiography Workshop
            </div>
            <div class="rtng_par">
                <div class="crs_rtng str_slctd">
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str1">star_rate</mat-icon>
                    <mat-icon class="">star_rate</mat-icon>
                    <mat-icon class="hlf_str2">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str3 ct_slctd">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str4">star_rate</mat-icon>
                    <mat-icon>star_rate</mat-icon>
                    <mat-icon class="hlf_str5">star_rate</mat-icon>
                </div>
            </div>
            <div class="crs_dsc">
                Overcoming the limitation of conventional
                echo books, keeping in mind that the main
                distinguishing factor…
            </div>
            <div class="crs_d_r_p">
                <span>
                    <mat-icon>timelapse</mat-icon> 4 months
                </span>
                <span>
                    <mat-icon>favorite_border</mat-icon> 3445
                </span>
                <span class="bld_txt_blk"><span class="rpe_sym">₹</span> 14500</span>
            </div>
            <div class="crs_pr_bynw">
                <div class="pr_btn_dv">
                    <mat-icon>play_circle</mat-icon> Preview
                </div>
                <div class="bn_btn_dv">
                    <mat-icon>shopping_cart</mat-icon> Buy Now
                </div>
            </div>
        </div>

    </div>
    <div class="crs_innr_par">
        <div class="crs_innr_chld">
            <div class="crs_innr_lgo">
                <div class="crs_icn grn_bg m_auto">
                    <mat-icon>work_outline</mat-icon>
                </div>
            </div>
            <div class="crs_innr_dsc">
                <div class="crs_innr_hd">
                    Echocardiography Workshop
                </div>
                <div class="hgt_10"></div>
                <div class="rtng_par">
                    <div class="crs_rtng str_slctd">
                        <mat-icon>star_rate</mat-icon>
                        <mat-icon class="hlf_str1">star_rate</mat-icon>
                        <mat-icon class="">star_rate</mat-icon>
                        <mat-icon class="hlf_str2">star_rate</mat-icon>
                        <mat-icon>star_rate</mat-icon>
                        <mat-icon class="hlf_str3 ct_slctd">star_rate</mat-icon>
                        <mat-icon>star_rate</mat-icon>
                        <mat-icon class="hlf_str4">star_rate</mat-icon>
                        <mat-icon>star_rate</mat-icon>
                        <mat-icon class="hlf_str5">star_rate</mat-icon>
                    </div>
                </div>
                <div class="hgt_10"></div>
                <div class="crs_innr_prc">
                    <span class="bld_txt_blk"><span class="rpe_sym">₹</span> 14500</span>
                </div>
                <div class="crs_dsc">
                    Overcoming the limitation of conventional
                    echo books, keeping in mind that the main
                    distinguishing factor…
                </div>
                <hr class="wht_hr">
                <div class="crs_yr">
                    What year to choose ?
                    <mat-form-field appearance="outline" color="accent">
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">2020</mat-option>
                            <mat-option value="option2">2021</mat-option>
                            <mat-option value="option3">2022</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <hr class="wht_hr">
                <div class="crs_d_r_p">
                    <span>
                        <mat-icon>timelapse</mat-icon> 4 months
                    </span>
                    <span>
                        <mat-icon>favorite_border</mat-icon> 3445
                    </span>
                </div>
                <div class="bn_btn_dv grn_bg rsp_m_auto">
                    <mat-icon>shopping_cart</mat-icon> Buy Now
                </div>
            </div>
            <div class="crs_innr_dets">
                <span class="crs_dets_hd">Course details</span>
                <ul class="crs_innr_dets_tbl">
                    <li>
                        <span class="dets_tbl_hd">Length</span>
                        <span class="dets_tbl_cnt">12 Weeks</span>
                    </li>
                    <li>
                        <span class="dets_tbl_hd">Effort</span>
                        <span class="dets_tbl_cnt">6 - 18 hours per week</span>
                    </li>
                    <li>
                        <span class="dets_tbl_hd">Institution</span>
                        <span class="dets_tbl_cnt">HarvardX</span>
                    </li>
                    <li>
                        <span class="dets_tbl_hd">Subject</span>
                        <span class="dets_tbl_cnt">Computer Science</span>
                    </li>
                    <li>
                        <span class="dets_tbl_hd">Level</span>
                        <span class="dets_tbl_cnt">Introductory</span>
                    </li>
                    <li>
                        <span class="dets_tbl_hd">Language</span>
                        <span class="dets_tbl_cnt">English</span>
                    </li>
                    <li>
                        <span class="dets_tbl_hd">Video Transcript</span>
                        <span class="dets_tbl_cnt">English</span>
                    </li>
                    <li>
                        <span class="dets_tbl_hd">Course Type</span>
                        <span class="dets_tbl_cnt">Self-Paced on your time</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hgt_20"></div>
        <div class="crs_tbbd_sc">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>description</mat-icon>
                        Description
                    </ng-template>
                    <div class="crs_tbbs_cnt">
                        <span class="crs_yr_spn">2019</span>
                        <ul class="crs_pdf_dl">
                            <li>Click here to view Table of Contents for 2019 Part 2 Videos <mat-icon>picture_as_pdf
                                </mat-icon>
                            </li>
                            <li>Click here to view Table of Contents for 2019 Part 2 Videos <mat-icon>picture_as_pdf
                                </mat-icon>
                            </li>
                            <li>Click here to view Table of Contents for 2019 Part 2 Videos <mat-icon>picture_as_pdf
                                </mat-icon>
                            </li>

                        </ul>
                    </div>
                    <div class="hgt_20"></div>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Biochemistry
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="crs_innr_tbd">
                                <ul>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Endocrine Overview <span
                                            class="crs_du_spn">29:50 Min</span><span
                                            class="crs_fr_indi">Free</span><span class="crs_clktovw">Click here to
                                            View</span>
                                    </li>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Pituitary <span class="crs_du_spn">29:50
                                            Min</span><span class="crs_fr_indi">Free</span><span
                                            class="crs_clktovw">Click here to View</span>
                                    </li>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Adrenal Steroid Synthesis <span
                                            class="crs_du_spn">29:50 Min</span><span class="crs_lkd">
                                            <mat-icon>lock</mat-icon>
                                        </span>
                                    </li>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Glucocorticoids and Cushing Syndrome
                                        <span class="crs_du_spn">29:50 Min</span><span class="crs_lkd">
                                            <mat-icon>lock</mat-icon>
                                        </span>
                                    </li>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Other Adrenal Pathology <span
                                            class="crs_du_spn">29:50 Min</span><span class="crs_lkd">
                                            <mat-icon>lock</mat-icon>
                                        </span>
                                    </li>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Thyroid Basics and Hyperthyroidism <span
                                            class="crs_du_spn">29:50 Min</span><span class="crs_lkd">
                                            <mat-icon>lock</mat-icon>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Biochemistry
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="crs_innr_tbd">
                                <ul>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Endocrine Overview <span
                                            class="crs_du_spn">29:50 Min</span><span
                                            class="crs_fr_indi">Free</span><span class="crs_clktovw">Click here to
                                            View</span>
                                    </li>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Pituitary <span class="crs_du_spn">29:50
                                            Min</span><span class="crs_fr_indi">Free</span><span
                                            class="crs_clktovw">Click here to View</span>
                                    </li>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Adrenal Steroid Synthesis <span
                                            class="crs_du_spn">29:50 Min</span><span class="crs_lkd">
                                            <mat-icon>lock</mat-icon>
                                        </span>
                                    </li>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Glucocorticoids and Cushing Syndrome
                                        <span class="crs_du_spn">29:50 Min</span><span class="crs_lkd">
                                            <mat-icon>lock</mat-icon>
                                        </span>
                                    </li>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Other Adrenal Pathology <span
                                            class="crs_du_spn">29:50 Min</span><span class="crs_lkd">
                                            <mat-icon>lock</mat-icon>
                                        </span>
                                    </li>
                                    <li>
                                        <mat-icon>play_circle_filled</mat-icon> Thyroid Basics and Hyperthyroidism <span
                                            class="crs_du_spn">29:50 Min</span><span class="crs_lkd">
                                            <mat-icon>lock</mat-icon>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </mat-expansion-panel>


                    </mat-accordion>

                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>data_usage</mat-icon>
                        Usage
                    </ng-template>
                    Usage
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>topic</mat-icon>
                        Topics
                    </ng-template>
                    Topics
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>person</mat-icon>
                        Testimonials
                    </ng-template>
                    <div class="testi_mo_mn">
                        <div class="testi_hd">
                            Testimonials
                        </div>
                        <div class="testi_cnt">
                            <div class="testi_dv">
                                <div class="testi_aa">
                                    <div class="testi_pp">
                                        dp
                                    </div>
                                    <div class="testi_rt">
                                        rating
                                    </div>
                                </div>
                                <div class="testi_ab">
                                    <div class="testi_ac">
                                        An awesome activity to experience
                                    </div>
                                    <div class="testi_ad">
                                        If you really enjoy spending your vacation 'on water' or would like to try something new and exciting for the first time.If you really enjoy spending your vacation 'on water' or would like to try something new and exciting for the first time.
                                    </div>
                                    <div class="testi_ae">
                                        28/07/2021
                                    </div>
                                </div>
                            </div>
                            <div class="testi_dv">

                            </div>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>videocam</mat-icon>
                        Sample
                    </ng-template>
                    Sample
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>help_outline</mat-icon>
                        FAQ's
                    </ng-template>
                    FAQ's
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>
<app-footer></app-footer>