<div class="mn_dshbrd">
  <div
    class="cust_mdl_par cust_mdl_50p {{ modal_popup ? 'cust_mdl_opn' : '' }}"
  >
    <div class="cust_mdl_chl">
      <div class="pg_ttl">
        <strong>Link To : </strong> MCI Curriculum / UG MED Volume - 1 /
        Chapters
        <span class="spacer"></span>
        <button mat-icon-button (click)="closeModal()" class="float_right">
          &#x2715;
        </button>
      </div>
      <div class="tbbd_bdy">
        <div class="hgt_20"></div>
        <div class="dsh_brd_crds">
          <mat-form-field appearance="outline" class="float_right">
            <input matInput placeholder="Search" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="rsp_tbl">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="s_no">
              <th mat-header-cell *matHeaderCellDef>S.No</th>
              <td mat-cell *matCellDef="let element">{{ element.sno }}</td>
            </ng-container>

            <ng-container matColumnDef="Volume">
              <th mat-header-cell *matHeaderCellDef>Volume</th>
              <td mat-cell *matCellDef="let element">{{ element.Volume }}</td>
            </ng-container>

            <ng-container matColumnDef="Subject">
              <th mat-header-cell *matHeaderCellDef>Subject</th>
              <td mat-cell *matCellDef="let element">{{ element.Subject }}</td>
            </ng-container>

            <ng-container matColumnDef="Chapter">
              <th mat-header-cell *matHeaderCellDef>Chapter</th>
              <td mat-cell *matCellDef="let element">{{ element.Chapter }}</td>
            </ng-container>

            <ng-container matColumnDef="Topic">
              <th mat-header-cell *matHeaderCellDef>Topic</th>
              <td mat-cell *matCellDef="let element">{{ element.Topic }}</td>
            </ng-container>

            <ng-container matColumnDef="SubTopic">
              <th mat-header-cell *matHeaderCellDef>SubTopic</th>
              <td mat-cell *matCellDef="let element">{{ element.SubTopic }}</td>
            </ng-container>

            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">{{ element.Actions }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <hr />
        <div class="float_right">
          <button mat-raised-button class="mr_1 gry_btn">Close</button>
          <button mat-raised-button color="accent">Done</button>
        </div>
        <div class="hgt_20"></div>
      </div>
    </div>
  </div>

  <div class="brd_crm">Proceum &raquo; <strong>Content linking</strong></div>
  <div class="pg_ttl">Content linking</div>
  <hr />
  <div class="dsh_brd_crds">
    <div>
      <span>Select Course</span>
      <div class="clear_fix"></div>
      <mat-form-field appearance="outline">
        <mat-select
          [(ngModel)]="curriculum_id"
          (ngModelChange)="applyFilters(0)"
        >
          <mat-option
            *ngFor="let value of curriculum_list"
            [value]="value['pk_id']"
            >{{ value["curriculumn_name"] }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button mat-mini-fab color="accent" class="ml_1">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <div>
      <div class="cm_fltr_sc mr_1" *ngFor="let value of curriculum_labels">
        <span>{{ ucFirst(value["display_label"]) }}</span>
        <div class="clear_fix"></div>
        <mat-form-field appearance="outline">
          <mat-select [(ngModel)]="selected_level[value['level_number']]">
            <mat-option
              *ngFor="let level of level_options[value['level_number']]"
              [value]="level['pk_id']"
              >{{ level["level_name"] }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="rsp_tbl" *ngIf="stepsDisplayedColumns.length > 2">
      <table mat-table [dataSource]="stepsDataSource">
        <ng-container matColumnDef="s_no">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
        </ng-container>

        <ng-container
          *ngFor="let label of curriculum_labels"
          matColumnDef="{{ label['display_label'] }}"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ ucFirst(label["display_label"]) }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element["level_name_" + label["level_number"]] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <span (click)="openModal()">{{ element.Actions }}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="stepsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: stepsDisplayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
