<div class="mn_dshbrd">
  <div class="cust_mdl_par {{ modal_popup ? 'cust_mdl_opn' : '' }}">
    <div class="cust_mdl_chl">
      <div class="pg_ttl mpng_pp_hd">
        <strong>Linking To : </strong> {{ link_to_string }}
        <span class="spacer"></span>
        <button mat-icon-button (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="tbbd_bdy">
        <div class="hgt_20"></div>
        <div class="dsh_brd_crds">
          <mat-form-field appearance="outline" class="float_right">
            <input [(ngModel)]="content_search_box" (keyup)="$event.keyCode == 13 ? doFilter() : ''" matInput
              placeholder="Search" />
            <mat-icon matSuffix (click)="doFilter()">search</mat-icon>
          </mat-form-field>
        </div>
        <div class="rsp_tbl">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="s_no">
              <th mat-header-cell *matHeaderCellDef>Select</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox [value]="element['id']" [checked]="
                    slected_content_ids[element['id']] != undefined
                      ? slected_content_ids[element['id']]['is_selected']
                      : false
                  " (change)="selectContent($event, element['id'])"></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Content Title</th>
              <td mat-cell *matCellDef="let element">{{ element.title }}</td>
            </ng-container>

            <ng-container matColumnDef="created_by">
              <th mat-header-cell *matHeaderCellDef>Created by</th>
              <td mat-cell *matCellDef="let element">
                {{ element.created_by }}
              </td>
            </ng-container>

            <ng-container matColumnDef="created_date">
              <th mat-header-cell *matHeaderCellDef>Created date</th>
              <td mat-cell *matCellDef="let element">
                {{ element.created_at }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <a href="/admin/create-content/{{ element['id'] }}" target="_blank">View</a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
              <td style="text-align: center; margin: 20px" class="mat-cell" colspan="{{ displayedColumns.length }}">
                No Records Found
              </td>
            </tr>
          </table>
        </div>
        <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options"
          [length]="content_totalSize" [pageSize]="content_pageSize" showFirstLastButtons
          (page)="contentGetServerData($event)"></mat-paginator>
        <hr />
        <div class="float_right">
          <button mat-raised-button (click)="closeModal()" class="mr_1 gry_btn">
            Close
          </button>
          <button mat-raised-button (click)="linkContent()" color="accent">
            Save
          </button>
        </div>
        <div class="hgt_20"></div>
      </div>
    </div>
  </div>

  <div class="brd_crm">Proceum &raquo; <strong>Content linking</strong></div>
  <div class="pg_ttl">Content linking</div>
  <hr />
  <div class="dsh_brd_crds">
      <div *ngIf="curriculum_list == undefined">
          No Curriculums Found
      </div>
    <div *ngIf="curriculum_list != undefined">
      <span>Select Course</span>
      <div class="clear_fix"></div>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="curriculum_id" (ngModelChange)="applyFilters(0)">
          <mat-option *ngFor="let value of curriculum_list" [value]="value['pk_id']">{{ value["curriculumn_name"] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <button mat-mini-fab color="accent" class="ml_1">
        <mat-icon>filter_list</mat-icon>
      </button> -->
    </div>
    <div>
      <div class="cm_fltr_sc mr_1" *ngFor="let value of curriculum_labels; let i = index">
        <div *ngIf="i < curriculum_labels.length - 1">
          <span>{{ ucFirst(value["display_label"]) }}</span>
          <div class="clear_fix"></div>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select {{ ucFirst(value['display_label']) }}"
              [(ngModel)]="selected_level[value['level_number']]" (ngModelChange)="
                applyFilters(value['level_number']);
                getLevels(value['level_number'])
              ">
              <mat-option *ngFor="let level of level_options[value['level_number']]" [value]="level['pk_id']">{{
                level["level_name"] }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="rsp_tbl" *ngIf="stepsDisplayedColumns.length > 2">
      <table mat-table [dataSource]="stepsDataSource">
        <ng-container matColumnDef="s_no">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
        </ng-container>

        <ng-container *ngFor="let label of curriculum_labels" matColumnDef="{{ label['display_label'] }}">
          <th mat-header-cell *matHeaderCellDef>
            {{ ucFirst(label["display_label"]) }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element["level_name_" + label["level_number"]] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element; let i = dataIndex">
            <a (click)="openModal(element)">Link Content</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="stepsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: stepsDisplayedColumns"></tr>
        <tr class="mat-row no_rcrds_fd" *matNoDataRow>
          <td style="text-align: center; margin: 20px" class="mat-cell" colspan="7">
            No Records Found
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator *ngIf="stepsDataSource.data.length > 0" [pageSizeOptions]="page_size_options" [length]="totalSize"
      [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
  </div>
</div>