<div class="mn_dshbrd">
  <div class="brd_crm">Proceum &raquo; <strong>Manage Content</strong></div>
  <div class="pg_ttl">Manage Content</div>
  <hr />
  <div class="dsh_brd_crds">
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="search_box" (keyup)="$event.keyCode == 13 ? doFilter() : ''" placeholder="Search" />
      <mat-icon class="curserToPointer" (click)="doFilter()" matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="accent" class="float_right" (click)="navigateTo('create-content')" type="button">
      Create Content
    </button>
    <mat-tab-group class="wht_tbl" (selectedTabChange)="switchTab($event)">
      <mat-tab label="All">
         <div class="rsp_tbl">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>S.No</th>
            <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
          </ng-container>
          <ng-container matColumnDef="content_title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Content title
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.title }}
            </td>
          </ng-container>
          <ng-container matColumnDef="created_by">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
            <td mat-cell *matCellDef="let element">
              {{element['created_by']}}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="Current Status is {{
                  element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
                }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
                "Inactive" }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="content_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Content Status</th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.content_status == 'PUBLISHED' ? "Published" :
                "" }}{{ element.content_status == 'DRAFT' ? "Draft" :
                "" }}{{ element.content_status == 'REVIEW' ? "Reviewing" :
                "" }}{{ element.content_status == null ? "Copy" :
                "" }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef>Create Date</th>
            <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
          </ng-container>
          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef>Updated Date</th>
            <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acions</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" matTooltip="Click to edit" (click)="navigateTo('create-content/'+element.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <!-- <button matTooltip="click here to {{
                  element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
                }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                  'are you sure to change status of <b>' + element.title + '</b> '
                " placement="auto" (confirm)="deleteContent(element.id, element.status)" confirmButtonType="danger"
                cancelButtonType="outline-secondary">
                <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
                <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
              </button> -->
              <button *ngIf="user['role'] == '1'" mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
              'are you sure to delete <b>' + element.title + '</b> '
            " placement="auto" (confirm)="deleteContentData(element.id, element.status)" confirmButtonType="danger"
            cancelButtonType="outline-secondary" mat-icon-button color="warn" matTooltip="Delete">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row no_rcrds_fd" *matNoDataRow>
            <td style="text-align: center; margin: 20px" class="mat-cell" colspan="6">
              No Records Found
            </td>
          </tr>
        </table>
      </div>
    <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options" [length]="totalSize"
      [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
    </mat-tab>
      <mat-tab label="Drafts">         <div class="rsp_tbl">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>S.No</th>
            <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
          </ng-container>
  
          <ng-container matColumnDef="content_title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Content title
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.title }}
            </td>
          </ng-container>
          <ng-container matColumnDef="created_by">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
            <td mat-cell *matCellDef="let element">
              {{element['created_by']}}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="Current Status is {{
                  element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
                }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
                "Inactive" }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="content_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Content Status</th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.content_status == 'PUBLISHED' ? "Published" :
                "" }}{{ element.content_status == 'DRAFT' ? "Draft" :
                "" }}{{ element.content_status == 'REVIEW' ? "Reviewing" :
                "" }}{{ element.content_status == null ? "Copy" :
                "" }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef>Create Date</th>
            <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
          </ng-container>
  
          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef>Updated Date</th>
            <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acions</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" matTooltip="Click to edit" (click)="navigateTo('create-content/'+element.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <!-- <button matTooltip="click here to {{
                  element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
                }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                  'are you sure to change status of <b>' + element.title + '</b> '
                " placement="auto" (confirm)="deleteContent(element.id, element.status)" confirmButtonType="danger"
                cancelButtonType="outline-secondary">
                <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
                <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
              </button> -->
              <button *ngIf="user['role'] == '1'" mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
              'are you sure to delete <b>' + element.title + '</b> '
            " placement="auto" (confirm)="deleteContentData(element.id, element.status)" confirmButtonType="danger"
            cancelButtonType="outline-secondary" mat-icon-button color="warn" matTooltip="Delete">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row no_rcrds_fd" *matNoDataRow>
            <td style="text-align: center; margin: 20px" class="mat-cell" colspan="6">
              No Records Found
            </td>
          </tr>
        </table>
      </div>
    <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options" [length]="totalSize"
      [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
    </mat-tab>
      <mat-tab label="Pending Reviews">
        <div class="rsp_tbl">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef>S.No</th>
                <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
              </ng-container>
      
              <ng-container matColumnDef="content_title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Content title
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.title }}
                </td>
              </ng-container>
              <ng-container matColumnDef="created_by">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
                <td mat-cell *matCellDef="let element">
                  {{element['created_by']}}
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element">
                  <span matTooltip="Current Status is {{
                      element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
                    }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
                    "Inactive" }}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="content_status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Content Status</th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.content_status == 'PUBLISHED' ? "Published" :
                    "" }}{{ element.content_status == 'DRAFT' ? "Draft" :
                    "" }}{{ element.content_status == 'REVIEW' ? "Reviewing" :
                    "" }}{{ element.content_status == null ? "Copy" :
                    "" }}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef>Create Date</th>
                <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
              </ng-container>
      
              <ng-container matColumnDef="updated_at">
                <th mat-header-cell *matHeaderCellDef>Updated Date</th>
                <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acions</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="accent" matTooltip="Click to edit" (click)="navigateTo('create-content/'+element.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <!-- <button matTooltip="click here to {{
                      element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
                    }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                      'are you sure to change status of <b>' + element.title + '</b> '
                    " placement="auto" (confirm)="deleteContent(element.id, element.status)" confirmButtonType="danger"
                    cancelButtonType="outline-secondary">
                    <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
                    <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
                  </button> -->
                  <button *ngIf="user['role'] == '1'" mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
              'are you sure to delete <b>' + element.title + '</b> '
            " placement="auto" (confirm)="deleteContentData(element.id, element.status)" confirmButtonType="danger"
            cancelButtonType="outline-secondary" mat-icon-button color="warn" matTooltip="Delete">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
                </td>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                <td style="text-align: center; margin: 20px" class="mat-cell" colspan="6">
                  No Records Found
                </td>
              </tr>
            </table>
          </div>
        <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options" [length]="totalSize"
          [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
         </mat-tab>
      <mat-tab label="Published">
        <div class="rsp_tbl">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef>S.No</th>
                <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
              </ng-container>
      
              <ng-container matColumnDef="content_title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Content title
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.title }}
                </td>
              </ng-container>
              <ng-container matColumnDef="created_by">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
                <td mat-cell *matCellDef="let element">
                  {{element['created_by']}}
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element">
                  <span matTooltip="Current Status is {{
                      element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
                    }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
                    "Inactive" }}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="content_status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Content Status</th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.content_status == 'PUBLISHED' ? "Published" :
                    "" }}{{ element.content_status == 'DRAFT' ? "Draft" :
                    "" }}{{ element.content_status == 'REVIEW' ? "Reviewing" :
                    "" }}
                    {{ element.content_status == null ? "Copy" :
                    "" }}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef>Create Date</th>
                <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
              </ng-container>
      
              <ng-container matColumnDef="updated_at">
                <th mat-header-cell *matHeaderCellDef>Updated Date</th>
                <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acions</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="accent" matTooltip="Click to edit" (click)="navigateTo('create-content/'+element.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button matTooltip="click here to {{
                      element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
                    }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                      'are you sure to change status of <b>' + element.title + '</b> '
                    " placement="auto" (confirm)="deleteContent(element.id, element.status)" confirmButtonType="danger"
                    cancelButtonType="outline-secondary">
                    <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
                    <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
                  </button>
                </td>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                <td style="text-align: center; margin: 20px" class="mat-cell" colspan="6">
                  No Records Found
                </td>
              </tr>
            </table>
          </div>
        <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options" [length]="totalSize"
          [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
      </mat-tab>
    </mat-tab-group>

  
  </div>
</div>