<div class="mn_dshbrd">
  <div class="brd_crm">Proceum &raquo; <strong>Manage Content</strong></div>
  <div class="pg_ttl">Manage Content</div>
  <div class="dsh_brd_crds">
    <div>
      <div class="cm_fltr_sc mr_1">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Users" [(ngModel)]="dataentry_uid" (ngModelChange)="doFilter()" name="user_name">
            <mat-option value="0">Select User</mat-option>
            <mat-option *ngFor="let user of users" [value]="user['id']">{{
              user['first_name'] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="cm_fltr_sc mr_1">
        <mat-form-field appearance="outline" class="cal_wdth date_picker" color="accent">
          <input placeholder="From Date" required name="valid_from_name" #valid_from_name="ngModel"
            [(ngModel)]="from_date" matInput [matDatepicker]="picker" autocomplete="off" [max]="today_date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="cm_fltr_sc mr_1">
        <mat-form-field appearance="outline" class="cal_wdth date_picker" color="accent">
          <input placeholder="To Date" required name="valid_to_name" #valid_to_name="ngModel" [(ngModel)]="to_date"
            matInput [matDatepicker]="picker2" autocomplete="off" [min]="from_date" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="cm_fltr_sc mr_1">
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="search_box" (keyup)="$event.keyCode == 13 ? doFilter() : ''"
            placeholder="Search" />
          <mat-icon class="curserToPointer" (click)="doFilter()" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <button mat-raised-button color="accent" class="float_right" (click)="navigateTo('create-content')" type="button">
        Create Content
      </button>
    </div>
    <div class="clear_fix"></div>
    
    <div class="clear_fix"></div>
    <mat-tab-group (selectedTabChange)="switchTab($event)">
      <mat-tab label="All">
        <div class="rsp_tbl">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef>S.No</th>
              <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
            </ng-container>
            <ng-container matColumnDef="content_title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Content title
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.title }}
              </td>
            </ng-container>
            <ng-container matColumnDef="created_by">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
              <td mat-cell *matCellDef="let element">
                {{element['created_by']}}
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="Current Status is {{
                  element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
                }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
                  "Inactive" }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="content_status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Content Status</th>
              <td mat-cell *matCellDef="let element">
                <span>
                    <span *ngIf="element.content_status == null">Copy</span>
                    <span *ngIf="element.content_status == 'PUBLISHED'">Published</span>
                    <span *ngIf="element.content_status == 'DRAFT'">Draft</span>
                    <span *ngIf="element.content_status == 'REVIEW' && element.reviewer_role==3">Corrections Pending</span>
                    <span *ngIf="element.content_status == 'REVIEW' && element.reviewer_role==7">Awaiting Approval</span>
                    <span *ngIf="element.content_status == 'REVIEW' && (element.reviewer_role==4 || element.reviewer_role==5 || element.reviewer_role==6)">Review Pending</span>
                    
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="assigned_to">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pending at</th>
                <td mat-cell *matCellDef="let element">
                  <span>{{element.role?element.role:'N/A'}}</span>
                </td>
              </ng-container>
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef>Create Date</th>
              <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
            </ng-container>
            <ng-container matColumnDef="updated_at">
              <th mat-header-cell *matHeaderCellDef>Updated Date</th>
              <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="actions_tdh">Actions</th>
              <td mat-cell *matCellDef="let element" class="actions_tdh">
                <button mat-icon-button color="accent" matTooltip="Click to edit"
                  (click)="navigateTo('create-content/'+element.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <!-- <button matTooltip="click here to {{
                  element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
                }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                  'Are you sure to change status of <b>' + element.title + '</b> '
                " placement="auto" (confirm)="deleteContent(element.id, element.status)" confirmButtonType="danger"
                cancelButtonType="outline-secondary">
                <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
                <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
              </button> -->
                <button *ngIf="user['role'] == '1'" mwlConfirmationPopover [popoverTitle]="'Are you sure?'"
                  [popoverMessage]="
              'Are you sure to delete <b>' + element.title + '</b> '
            " placement="auto" (confirm)="deleteContentData(element.id, element.status)" confirmButtonType="danger"
                  cancelButtonType="outline-secondary" mat-icon-button color="warn" matTooltip="Delete">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
              <td style="text-align: center; margin: 20px" class="mat-cell" [attr.colspan]="displayedColumns.length">
                No Records Found
              </td>
            </tr>
          </table>
        </div>
        <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options" [length]="totalSize"
          [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
      </mat-tab>
      <mat-tab label="Drafts">
        <div class="rsp_tbl">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef>S.No</th>
              <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
            </ng-container>

            <ng-container matColumnDef="content_title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Content title
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.title }}
              </td>
            </ng-container>
            <ng-container matColumnDef="created_by">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
              <td mat-cell *matCellDef="let element">
                {{element['created_by']}}
              </td>
            </ng-container>
            
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef>Create Date</th>
              <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
            </ng-container>

            <ng-container matColumnDef="updated_at">
              <th mat-header-cell *matHeaderCellDef>Updated Date</th>
              <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" matTooltip="Click to edit"
                  (click)="navigateTo('create-content/'+element.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <!-- <button matTooltip="click here to {{
                  element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
                }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                  'Are you sure to change status of <b>' + element.title + '</b> '
                " placement="auto" (confirm)="deleteContent(element.id, element.status)" confirmButtonType="danger"
                cancelButtonType="outline-secondary">
                <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
                <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
              </button> -->
                <button *ngIf="user['role'] == '1'" mwlConfirmationPopover [popoverTitle]="'Are you sure?'"
                  [popoverMessage]="
              'Are you sure to delete <b>' + element.title + '</b> '
            " placement="auto" (confirm)="deleteContentData(element.id, element.status)" confirmButtonType="danger"
                  cancelButtonType="outline-secondary" mat-icon-button color="warn" matTooltip="Delete">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="draft_displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: draft_displayedColumns"></tr>
            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
              <td style="text-align: center; margin: 20px" class="mat-cell" [attr.colspan]="draft_displayedColumns.length">
                No Records Found
              </td>
            </tr>
          </table>
        </div>
        <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options" [length]="totalSize"
          [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
      </mat-tab>
      <mat-tab label="Pending Reviews">
        <div class="rsp_tbl">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef>S.No</th>
              <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
            </ng-container>

            <ng-container matColumnDef="content_title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Content title
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.title }}
              </td>
            </ng-container>
            <ng-container matColumnDef="created_by">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
              <td mat-cell *matCellDef="let element">
                {{element['created_by']}}
              </td>
            </ng-container>
            
            <ng-container matColumnDef="content_status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Content Status</th>
              <td mat-cell *matCellDef="let element">
                <span>
                    <span *ngIf="element.content_status == null">Copy</span>
                    <span *ngIf="element.content_status == 'PUBLISHED'">Published</span>
                    <span *ngIf="element.content_status == 'DRAFT'">Draft</span>
                    <span *ngIf="element.content_status == 'REVIEW' && element.reviewer_role==3">Corrections Pending</span>
                    <span *ngIf="element.content_status == 'REVIEW' && element.reviewer_role==7">Awaiting Approval</span>
                    <span *ngIf="element.content_status == 'REVIEW' && (element.reviewer_role==4 || element.reviewer_role==5 || element.reviewer_role==6)">Review Pending</span>
                    
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="assigned_to">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pending at</th>
                <td mat-cell *matCellDef="let element">
                  <span>{{element.role?element.role:'N/A'}}</span>
                </td>
              </ng-container>
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef>Create Date</th>
              <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
            </ng-container>

            <ng-container matColumnDef="updated_at">
              <th mat-header-cell *matHeaderCellDef>Updated Date</th>
              <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" matTooltip="Click to edit"
                  (click)="navigateTo('create-content/'+element.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <!-- <button matTooltip="click here to {{
                      element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
                    }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                      'Are you sure to change status of <b>' + element.title + '</b> '
                    " placement="auto" (confirm)="deleteContent(element.id, element.status)" confirmButtonType="danger"
                    cancelButtonType="outline-secondary">
                    <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
                    <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
                  </button> -->
                <button *ngIf="user['role'] == '1'" mwlConfirmationPopover [popoverTitle]="'Are you sure?'"
                  [popoverMessage]="
              'Are you sure to delete <b>' + element.title + '</b> '
            " placement="auto" (confirm)="deleteContentData(element.id, element.status)" confirmButtonType="danger"
                  cancelButtonType="outline-secondary" mat-icon-button color="warn" matTooltip="Delete">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="review_displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: review_displayedColumns"></tr>
            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
              <td style="text-align: center; margin: 20px" class="mat-cell" [attr.colspan]="review_displayedColumns.length">
                No Records Found
              </td>
            </tr>
          </table>
        </div>
        <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options" [length]="totalSize"
          [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
      </mat-tab>
      <mat-tab label="Published">
        <div class="rsp_tbl">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef>S.No</th>
              <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
            </ng-container>

            <ng-container matColumnDef="content_title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Content title
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.title }}
              </td>
            </ng-container>
            <ng-container matColumnDef="created_by">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
              <td mat-cell *matCellDef="let element">
                {{element['created_by']}}
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="Current Status is {{
                      element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
                    }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
                  "Inactive" }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef>Create Date</th>
              <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
            </ng-container>

            <ng-container matColumnDef="updated_at">
              <th mat-header-cell *matHeaderCellDef>Updated Date</th>
              <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" matTooltip="Click to edit"
                  (click)="navigateTo('create-content/'+element.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button matTooltip="click here to {{
                      element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
                    }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                      'Are you sure to change status of <b>' + element.title + '</b> '
                    " placement="auto" (confirm)="deleteContent(element.id, element.status)" confirmButtonType="danger"
                  cancelButtonType="outline-secondary">
                  <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
                  <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="published_displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: published_displayedColumns"></tr>
            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
              <td style="text-align: center; margin: 20px" class="mat-cell" [attr.colspan]="published_displayedColumns.length">
                No Records Found
              </td>
            </tr>
          </table>
        </div>
        <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="page_size_options" [length]="totalSize"
          [pageSize]="pageSize" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
      </mat-tab>
    </mat-tab-group>


  </div>
</div>