 
<div class="mn_dshbrd">
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br" >
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon><span>Study Mode</span>
        </div>
    </div>
    <div class="hgt_20"></div>
    <div class="tsts_mn stdy_md_qstns {{show_q_numbers == false ? 'tsts_collps':''}} {{ lst_grdclk == false ? '':'qbnk_mn'}}">
        <div class="tsts_qstns_nums">
            <div class="tstsnms_hd_dv">
                <div class="tstsnms_hd">Questions 40</div>
                <div class="spacer"></div>
                <div class="tsts_qst_swch grd_lst_vw" (click)="lst_grdclk = !lst_grdclk">
                    <mat-icon color="accent" matTooltip="{{lst_grdclk == false ? 'List View':'Grid View'}}" >{{lst_grdclk == false ? 'list':'grid_view'}}</mat-icon>
                </div>
                <div class="tsts_qst_swch {{show_q_numbers == false ? 'rot_90':'rot_0'}}">
                    <mat-icon color="accent" (click)="show_q_numbers = !show_q_numbers">menu_open</mat-icon>
                </div>
            </div>
            <div class="hgt_20"></div>
            <div class="tstsnms_cnt_dv">
                <ul>
                    <li class="grn">1 <span class="qstn_elb">this is test questions ?</span></li>
                    <li class="rd">2 <span class="qstn_elb">this is test questions and with long question also ?</span></li>
                    <li class="orng">3 <span class="qstn_elb">this is test questions and with long question alsothis is test questions and with long question also ?</span></li>
                    <li class="gry">4 <span class="qstn_elb">this is test questions and with long question alsothis is test questions and with long question also ?</span></li>
                    <li>4 <span class="qstn_elb">this is test questions and with long question alsothis is test questions and with long question also ?</span></li>
                    <li>4 <span class="qstn_elb">this is test questions and with long question alsothis is test questions and with long question also ?</span></li>
                    <li>4 <span class="qstn_elb">this is test questions and with long question alsothis is test questions and with long question also ?</span></li>
                    <li>4 <span class="qstn_elb">this is test questions and with long question alsothis is test questions and with long question also ?</span></li>
                </ul>
            </div>
        </div>
        <div class="tsts_qstns">
            <div class="tstsqst_hd d-flex">
                <div>Question (5/40)</div>
                <div class="qt_lbl">
                    MCQ Question
                </div>
            </div>
            <div class="hgt_10"></div>
            <div class="tstsqst_qst">
                An 86-year-old woman is brought to the emergency department by her niece because the patient felt like
                she was spinning and about to topple over. This occurred around 4 hours ago, and although symptoms have
                improved, she still feels like she is being pulled to the right side. Her vital signs include: blood
                pressure 116/75 mm Hg, pulse 90/min, and SpO2 99% on room air. Physical examination reveals right-sided
                limb ataxia along with hypoalgesia and decreased temperature sensation on the right side of the face and
                left side of the body. An urgent noncontrast CT scan of the head shows no evidence of hemorrhage. What
                other finding is most likely to be present in this patient?
                <div class="tstsqst_img">
                    <img src="../../../assets/images/testimonial-img-1.png">
                </div>
            </div>
            <div class="tstsqst_ans">
                <mat-radio-group>
                    <mat-radio-button value="1" class="tstwrng_ans wrng_rdo">Option 1</mat-radio-button>
                    <mat-radio-button value="2" class="actvfr_dsc crrct_rdo">Option 2</mat-radio-button>
                    <mat-radio-button value="3" class="tstwrng_ans wrng_rdo">Option 2</mat-radio-button>
                    <mat-radio-button value="4" class="actvfr_dsc crrct_rdo">Option 2</mat-radio-button>
                    <div class="rdo_desc">Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt
                        im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den
                        großen Sylter Deich. Vogel Quax zwickt Johnys Pferd Bim. Sylvia wagt quick den Jux bei
                        Pforzheim. Polyfon zwitschernd aßen Mäxchens Vögel Rüben, Joghurt und Quark. "Fix, Schwyz!"
                        quäkt Jürgen blöd vom Paß. Victor jagt zwölf Boxkämpfer quer über den großen Sylter Deich.
                        Falsches Üben von Xylophonmusik quält jeden größeren Zwerg. Heizölrückstoßabdämpfung</div>
                </mat-radio-group>
                <mat-checkbox class="wrng_rdo">Checkbox 1</mat-checkbox>
                <mat-checkbox>Checkbox 1</mat-checkbox>
                <mat-checkbox>Checkbox 1</mat-checkbox>
            </div>
            <div class="tstsqst_navs">
                <button mat-raised-button color="accent">
                    <mat-icon>arrow_left</mat-icon> Prev
                </button>
                <button mat-raised-button color="accent" >Next <mat-icon>arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>