<mat-toolbar>
  <!-- <button *ngIf="user['role'] == '2'" mat-icon-button (click)="toggleSidemenu('hello')" class="hmbrg_btn">
    <img src="./assets/images/hamburg-icon.svg" />
  </button> -->
  <span class="logo_spn" routerLink="/"><img src="{{ getHeaderLogo() }}" /></span>
  <!-- <span class="usr_lgns">Welcome to {{user['role'] == '2' ? 'Student': 'Teacher'}} Dashboard</span> -->
  <span class="usr_lgns">{{"welcome_to_text"|translate}} {{ user["role_name"] }} {{"dashboard_text"|translate}}</span>
  <span class="spacer"></span>
  <!-- <div class="nav" [ngClass]="{ menu_open: isOpen }"> -->

  <div class="nav">
    <div>
      <app-white-board *ngIf="user['role'] == '1' || user['role'] == '12'"></app-white-board>
    </div>
    <div *ngIf="user['role'] != '2'" routerLink="/" routerLinkActive="active">Home</div>
    <div *ngIf="user['id']" routerLink="/courses" routerLinkActive="active">Courses</div>
    <div class="ps_rel">
      <mat-icon (click)="show_notifications = !show_notifications"
        [matBadge]="class_notifications.length>0||assessment_notifications.length>0?(class_notifications.length+assessment_notifications.length):''"
        matBadgeColor="warn" color="accent">notification_important</mat-icon>
      <div class="noti_dv" *ngIf="show_notifications">
        <!-- {{show_notifications == false?'d-none':''}} -->
        <div class="noti_hd d-flex">
          <span class=" ">Notifications</span>
          <span class="spacer"></span>
          <span (click)="show_notifications = !show_notifications">
            <mat-icon>close</mat-icon>
          </span>
        </div>
        <div class="noti_cnt">
          <ul>
            <li *ngFor="let n of class_notifications">
              <span routerLink="/student/class/list">You have a class {{n['topic']}}</span>
            </li>
            <li *ngFor="let n of assessment_notifications">
              <span routerLink="/student/assessments/list">You have a assessment {{n['assessment_name']}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="user['name']" routerLink="/student/my-account">
      <mat-icon color="accent">account_circle</mat-icon>
      <span> {{ user["name"] }}</span>
    </div>
    <div *ngIf="!user['id']" (click)="navigateTo()">
      Dashboard
    </div>
    <div *ngIf="!user['id']" routerLink="/about-us" routerLinkActive="active">
      About Us
    </div>
    <div *ngIf="!user['id']">
      Pricing
    </div>
    <div *ngIf="!user['id']">
      Subscribe
    </div>
    <div *ngIf="!user['id']">
      Register Trail
    </div>
    <div *ngIf="!user['name']" routerLink="/contact-us" routerLinkActive="active">
      Contact Us
    </div>
    <div routerLink="/blog">
      Blog
    </div>
    <div class="fr_bdg" *ngIf="number" routerLink="/shopping-cart">
      <mat-icon color="accent" matBadge="{{number.text}}" matBadgeColor="warn">shopping_cart</mat-icon>
    </div>
    <div>
      <mat-icon color="accent" (click)="glbSrch = false">search</mat-icon>
      <div class="top-right-icon rsp_100p_767 ord_mo_767">
        <div class="glbl_srch dsh_brd_crds {{glbSrch == false ? 'glbsrc_act' : '' }}">
          <mat-form-field appearance="{{glbSrch == false ? 'outline' : 'none'}}">
            <input matInput [(ngModel)]="search_key" (keyup)="$event.keyCode == 13 ? studentglobalsearch() : ''"
              placeholder="Search" class="{{glbSrch == false ? '' : 'd-none'}}" autocomplete="off">
            <mat-icon color="accent" matSuffix (click)="glbSrch = !glbSrch" class="gs_clsbtn"> {{glbSrch == false ?
              'close' : ''}}
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="{{glbSrch == false ? 'srch_spprt' : 'd-none' }}"></div>
      </div>
    </div>
    <div *ngIf="user['name']" (click)="logout()" class="lg_ot">
      <mat-icon matTooltip="Logout">power_settings_new</mat-icon><span class="m_hide"></span> Logout
    </div>
  </div>
</mat-toolbar>