.spacer{flex:auto;}
.logo_spn{display: flex; margin-right: 70px;}
.logo_spn img{max-width: 150px; margin-left: 15px;}
.noti_bl{margin: 0 5px;}
.noti_bl mat-icon{color: #0594b4; cursor: pointer; margin-right: 0;}
.accnt_nm{font-weight: 200; color:#7c7c7c;}

.mat-toolbar mat-icon{font-size: 22px; color:#41ab3c;}
.lgot_btn{cursor: pointer; color:#7c7c7c; margin: 0 5px;}
.lgot_btn mat-icon{margin: 0;}
.hmbrg_btn img{width: 24px;}

.tp_rt_mn{margin: 0 20px 0 0; font-size: 14px; text-align: center; line-height: 24px; color: #7f8c90; text-transform: uppercase; cursor: pointer; font-weight: 400; display: flex;}

.sticky-header .tp_rt_mn:hover, .sticky-header .tp_rt_mn.active{color: #7f8c90;}
.nav{display: flex; align-items: center;}
.lg_inbtn {
    border: 0;
    outline: none;
    display: flex;
    color: #7f8c90;
    align-items: center;
    font-size: 14px;
    margin-right: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;;
}

.tp_rt_mn:hover, .tp_rt_mn.active {
    color: #7f8c90;
    opacity: 1;
}
// .inner-header .tp_rt_mn:hover, .inner-header .tp_rt_mn.active {
//     color: #333 !important;
//     opacity: 1;
// }
.top-top-bar{
    background-color: #171F32;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 96;
    width: 100%;
    display: none;
}
.top-right-icon img:first-child {
    max-width: 22px;
}

.top-right-icon img {
    max-width: 30px;
    margin-left: 20px;
}
mat-toolbar.sticky-header {
    background: #FFF;
    position: fixed; z-index: 98;
}

@media screen and (max-width:768px){
    .tp_rt_mn > span {
        display: none;
    }
    .logo_spn img {
        max-width: 120px;
        margin-left: 5px;
        margin-right: 10px;
    }
    .logo_spn{
        margin-right: 0px;
    }
    .tp_rt_mn{
        margin: 0 10px 0 0;
    }
    .top-right-icon img {
        max-width: 30px;
        margin-left: 0px;
    }
}