<mat-toolbar>
  <button *ngIf="user['role'] == '2'" mat-icon-button (click)="toggleSidemenu('hello')" class="hmbrg_btn">
    <img src="./assets/images/hamburg-icon.svg" />
  </button>
  <span class="logo_spn" routerLink="/"><img src="{{ getHeaderLogo() }}" /></span>
  <span class="spacer"></span>
  <!-- <div class="nav" [ngClass]="{ menu_open: isOpen }"> -->
  <span *ngIf="user['role'] == '2'" mat-list-item class="tp_rt_mn" routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </span>
  <span *ngIf="!user['id']" mat-list-item class="tp_rt_mn" routerLink="/about-us" routerLinkActive="active">About
    Us</span>
  <span mat-list-item class="tp_rt_mn" *ngIf="!user['id']">Pricing</span>
  <span mat-list-item class="tp_rt_mn" *ngIf="!user['id']">Subscribe</span>
  <span *ngIf="!user['id']" mat-list-item class="tp_rt_mn">Register Trail</span>
  <span *ngIf="!user['name']" mat-list-item class="tp_rt_mn" routerLink="/contact-us" routerLinkActive="active">Contact Us</span>
  <!-- <span
        mat-list-item
        [matMenuTriggerFor]="appMenu"
        class="tp_rt_mn"
        *ngFor="let menu of menus"
        (click)="changeSubmenu(menu.pk_id)"
        >{{ menu.name }}</span
      > -->
  <!-- <span
        mat-list-item
        [matMenuTriggerFor]="appMenu"
        class="tp_rt_mn"
        routerLinkActive="active"
        >CMS</span
      >
      <mat-menu #appMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let subMenu of subMenus"
          routerLink="/mcicirriculam/{{ subMenu.pk_id }}"
        >
          {{ subMenu.name }}
        </button>
      </mat-menu> -->

  <span *ngIf="!user['id']" mat-list-item class="tp_rt_mn" (click)="navigateTo()">Dashboard</span>

  <span *ngIf="user['name']" mat-list-item class="tp_rt_mn">
    <mat-icon>face</mat-icon>
    <span> {{ user["name"] }}<span *ngIf="user['role_name']"> {{ "("+ user["role_name"] +")" }}</span> </span>
  </span>

  <span *ngIf="user['name']" (click)="logout()" class="tp_rt_mn">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </span>
  <div class="shpncrt_tpbr" *ngIf="number" routerLink="/shopping-cart">
    <mat-icon color="accent" matBadge="{{number.text}}" matBadgeColor="warn">shopping_cart</mat-icon>
  </div>
  <div class="top-right-icon">
    <mat-icon (click)="glbSrch = !glbSrch">{{glbSrch == false ? 'close' : 'search'}}</mat-icon>
    <div class="glbl_srch dsh_brd_crds {{glbSrch == false ? 'glbsrc_act' : '' }}">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Search">
        <mat-icon matSuffix>travel_explore</mat-icon>
      </mat-form-field>
    </div>
  </div>
</mat-toolbar>