<mat-toolbar>
  <button *ngIf="user['role'] == '2'" mat-icon-button (click)="toggleSidemenu('hello')" class="hmbrg_btn">
    <img src="./assets/images/hamburg-icon.svg" />
  </button>
  <span class="logo_spn" routerLink="/"><img src="{{ getHeaderLogo() }}" /></span>
  <!-- <span class="usr_lgns">Welcome to {{user['role'] == '2' ? 'Student': 'Teacher'}} Dashboard</span> -->
  <span class="usr_lgns">{{"welcome_to_text"|translate}} {{ user["role_name"] }} {{"dashboard_text"|translate}}</span>
  <span class="spacer"></span>
  <!-- <div class="nav" [ngClass]="{ menu_open: isOpen }"> -->

    <app-white-board *ngIf="user['role'] == '1' || user['role'] == '12'"></app-white-board>
  <span *ngIf="user['role'] != '2'" mat-list-item class="tp_rt_mn" routerLink="/" routerLinkActive="active">
    <mat-icon color="accent" matTooltip="Home">home</mat-icon>
    <!-- <span>Home</span> -->
  </span>
  <!-- notification -->
  <span class="tp_rt_mn ps_rel notification_span_icon fr_bdg mr_0">
    <div (click)="show_notifications = !show_notifications">
      <mat-icon  [matBadge]="class_notifications.length>0||assessment_notifications.length>0?(class_notifications.length+assessment_notifications.length):''" matBadgeColor="warn">notification_important</mat-icon>
    </div>
    <div class="noti_dv" *ngIf="show_notifications">
      <!-- {{show_notifications == false?'d-none':''}} -->
      <div class="noti_hd d-flex">
        <span class=" ">Notifications</span>
        <span class="spacer"></span>
        <span (click)="show_notifications = !show_notifications">
          <mat-icon>close</mat-icon>
        </span>
      </div>
      <div class="noti_cnt">
        <ul>
          <li *ngFor="let n of class_notifications">
            <span routerLink="/student/class/list">You have a class {{n['topic']}}</span>
          </li>
          <li *ngFor="let n of assessment_notifications">
            <span routerLink="/student/assessments/list">You have a assessment {{n['assessment_name']}}</span>
          </li>            
        </ul>
      </div>
    </div>
  </span>
  <!-- notification -->
  <span *ngIf="user['id']" mat-list-item class="tp_rt_mn" routerLink="/pricing-and-packages" routerLinkActive="active">Pricing &amp;
    Packages</span>
  <span *ngIf="!user['id']" mat-list-item class="tp_rt_mn" routerLink="/about-us" routerLinkActive="active">About
    Us</span>
  <span mat-list-item class="tp_rt_mn" *ngIf="!user['id']">Pricing</span>
  <span mat-list-item class="tp_rt_mn" *ngIf="!user['id']">Subscribe</span>
  <span *ngIf="!user['id']" mat-list-item class="tp_rt_mn">Register Trail</span>
  <span *ngIf="!user['name']" mat-list-item class="tp_rt_mn" routerLink="/contact-us" routerLinkActive="active">Contact Us</span>
  <!-- <span
        mat-list-item
        [matMenuTriggerFor]="appMenu"
        class="tp_rt_mn"
        *ngFor="let menu of menus"
        (click)="changeSubmenu(menu.pk_id)"
        >{{ menu.name }}</span
      > -->
  <!-- <span
        mat-list-item
        [matMenuTriggerFor]="appMenu"
        class="tp_rt_mn"
        routerLinkActive="active"
        >CMS</span
      >
      <mat-menu #appMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let subMenu of subMenus"
          routerLink="/mcicirriculam/{{ subMenu.pk_id }}"
        >
          {{ subMenu.name }}
        </button>
      </mat-menu> -->

  <span *ngIf="!user['id']" mat-list-item class="tp_rt_mn" (click)="navigateTo()">Dashboard</span>

  <div *ngIf="user['name']" mat-list-item class="tp_rt_mn">
    <mat-icon color="accent">account_circle</mat-icon>
    <span> {{ user["name"] }}</span>
    <!-- <span *ngIf="user['role_name']"> {{ "("+ user["role_name"] +")" }}</span>  -->
  </div>
  <div class="top-right-icon">
    <div class="glbl_srch dsh_brd_crds {{glbSrch == false ? 'glbsrc_act' : '' }}">
      <mat-icon color="accent" matSuffix (click)="glbSrch = false">search</mat-icon>
      <mat-form-field appearance="{{glbSrch == false ? 'outline' : 'none'}}">
        <input matInput [(ngModel)]="search_key" (keyup)="$event.keyCode == 13 ? studentglobalsearch() : ''" placeholder="Search" class="{{glbSrch == false ? '' : 'd-none'}}" autocomplete="off">
        <mat-icon color="accent" matSuffix (click)="glbSrch = !glbSrch" class="gs_clsbtn"> {{glbSrch == false ? 'close' : 'search'}}</mat-icon>
      </mat-form-field>
    </div>
    <div class="{{glbSrch == false ? 'srch_spprt' : 'd-none' }}"></div>
  </div>
  <div class="shpncrt_tpbr" *ngIf="number" routerLink="/shopping-cart">
    <mat-icon color="accent" matBadge="{{number.text}}" matBadgeColor="warn">shopping_cart</mat-icon>
  </div>
  <span *ngIf="user['name']" (click)="logout()" class="tp_rt_mn">
    <mat-icon color="warn" matTooltip="Logout">power_settings_new</mat-icon>
    <!-- <span>Logout</span> -->
  </span>

</mat-toolbar>
