<div class="mn_dshbrd">
  <div class="hgt_20"></div>
  <div class="sp_mn">
    <div class="brdcrm_br">
      <mat-icon color="accent" routerLink="/">home</mat-icon>
      <mat-icon>navigate_next</mat-icon>
      <strong>Student Dashboard</strong>
    </div>
  </div>
  <div class="dsh_brd_crds">
    <ul class="crds_ul anl_crd">
      <li>
        <div class="crd_dv">
          Videos Watched
          <span>60</span>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          Assessments Completed
          <span>90</span>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          Notes Accessed
          <span>60</span>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          Courses Registered
          <span>60</span>
        </div>
      </li>
    </ul>
    <ul class="crds_ul">
      <li>
        <div class="lfrt_grd">
          <span class="text_left">
            <button mat-mini-fab class="mr_1">
              <mat-icon>live_help</mat-icon>
            </button>
            Quiz of the Day
          </span>
        </div>
        <hr />
        <div class="crd_cnt">
          <span> Q (1). Resting membrane potential in nerve fiber: </span>
          <span> Q (2). Cholestyramine is known to interfere with the abso... </span>
          <span> Q (3). Which of the following components of Mycobacterium... </span>
          <span> Q (4). Which is true about Watson and Crick base base pai... </span>
          <span> Q (5). Henderson- Paterson bodies are seen in </span>
          <span class="vw_mre_fw">
            <a>View Details</a>
          </span>
        </div>
      </li>
      <li>
        <div class="lfrt_grd">
          <span class="text_left">
            <button mat-mini-fab class="mr_1">
              <mat-icon>today</mat-icon>
            </button>
            Case of the Day
          </span>
        </div>
        <hr />
        <div class="crd_cnt">
          <span>A 62-year-old woman with a past medical history of breast cancer presents to her physician with concerns
            of swelling in her left arm that developed suddenly over the past few days. She underwent modified radical
            mastectomy 6 months ago and has since been receiving chemotherapy via a totally implantable venous access
            port
            that was placed in the left brachiocephalic vein. Port thrombosis is suspected as the cause of her arm
            swelling. Thrombosis of...</span>
          <span class="vw_mre_fw">
            <a>View Details</a>
          </span>
        </div>

      </li>
    </ul>
    <ul class="crds_ul rcnt_vw">
      <li>
        <mat-tab-group animationDuration="800ms">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr_02">videocam</mat-icon>
              Recent Videos
            </ng-template>
            <ul class="crds_ul full_crd">
              <li>
                <div class="lfrt_grd">
                  <span class="text_left">
                    <button mat-mini-fab class="mr_1">
                      <mat-icon>videocam</mat-icon>
                    </button>
                    <div>
                      <span>Cellular Pathology: Basic Principles and Practices</span>
                      <span class="prg_btm_cnt">Microbiology</span>
                    </div>
                  </span>
                  <span>
                    <button mat-mini-fab class="mr_02">
                      <mat-icon>favorite_border</mat-icon>
                    </button> <button mat-mini-fab class="mr_02">
                      <mat-icon>bookmark_add</mat-icon>
                    </button>
                  </span>
                </div>
                <hr>
                <div class="lfrt_grd">
                  <span class="text_left">
                    <button mat-mini-fab class="mr_1">
                      <mat-icon>videocam</mat-icon>
                    </button>
                    <div>
                      <span>Biochemistry: Basics</span>
                      <span class="prg_btm_cnt">Biochemistry</span>
                    </div>
                  </span>
                  <span>
                    <button mat-icon-button class="mr_02">
                      <mat-icon>favorite_border</mat-icon>
                    </button> <button mat-icon-button class="mr_02">
                      <mat-icon>bookmark_add</mat-icon>
                    </button>
                  </span>
                </div>
                <hr>
                <div class="lfrt_grd">
                  <span class="text_left">
                    <button mat-mini-fab class="mr_1">
                      <mat-icon>videocam</mat-icon>
                    </button>
                    <div>
                      <span>Pharmacology and Implications for Nursing</span>
                      <span class="prg_btm_cnt">Pharmacology</span>
                    </div>
                  </span>
                  <span>
                    <button mat-icon-button class="mr_02">
                      <mat-icon>favorite_border</mat-icon>
                    </button> <button mat-icon-button class="mr_02">
                      <mat-icon>bookmark_add</mat-icon>
                    </button>
                  </span>
                </div>
                <hr>
              </li>
            </ul>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr_02">videocam</mat-icon>
              Free Videos
            </ng-template>
            <ul class="crds_ul full_crd">
              <li>
                <div class="lfrt_grd">
                  <span class="text_left">
                    <button mat-mini-fab class="mr_1">
                      <mat-icon>videocam</mat-icon>
                    </button>
                    <div>
                      <span>Cellular Pathology: Basic Principles and Practices</span>
                      <span class="prg_btm_cnt">Microbiology</span>
                    </div>
                  </span>
                  <span>
                    <button mat-icon-button class="mr_02">
                      <mat-icon>favorite_border</mat-icon>
                    </button> <button mat-icon-button class="mr_02">
                      <mat-icon>bookmark_add</mat-icon>
                    </button>
                  </span>
                </div>
                <hr>
                <div class="lfrt_grd">
                  <span class="text_left">
                    <button mat-mini-fab class="mr_1">
                      <mat-icon>videocam</mat-icon>
                    </button>
                    <div>
                      <span>Biochemistry: Basics</span>
                      <span class="prg_btm_cnt">Biochemistry</span>
                    </div>
                  </span>
                  <span>
                    <button mat-icon-button class="mr_02">
                      <mat-icon>favorite_border</mat-icon>
                    </button> <button mat-icon-button class="mr_02">
                      <mat-icon>bookmark_add</mat-icon>
                    </button>
                  </span>
                </div>
                <hr>
                <div class="lfrt_grd">
                  <span class="text_left">
                    <button mat-mini-fab class="mr_1">
                      <mat-icon>videocam</mat-icon>
                    </button>
                    <div>
                      <span>Pharmacology and Implications for Nursing</span>
                      <span class="prg_btm_cnt">Pharmacology</span>
                    </div>
                  </span>
                  <span>
                    <button mat-icon-button class="mr_02">
                      <mat-icon>favorite_border</mat-icon>
                    </button> <button mat-icon-button class="mr_02">
                      <mat-icon>bookmark_add</mat-icon>
                    </button>
                  </span>
                </div>
                <hr>
              </li>
            </ul>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr_02">class</mat-icon>
              My Bookmarks
            </ng-template>
            <ul class="crds_ul full_crd" *ngIf="bookmarks">
              <li *ngIf="bookmarks.length==0">
                <div class="lfrt_grd">
                  <span>No Favorites Found</span>
                </div>
              </li>
              <li *ngIf="bookmarks.length>0">
                <div class="lfrt_grd" *ngFor="let bookmark of bookmarks">
                  <span class="text_left">
                    <button mat-mini-fab class="mr_1">
                      <mat-icon>videocam</mat-icon>
                    </button>
                    <div>
                      <span (click)="navigateTo(bookmark.cur_id+'/'+bookmark.level_id+'/'+bookmark.cur_pk_id)">{{bookmark.content_title}} </span>
                      <span class="prg_btm_cnt">{{bookmark.level_name}}</span>
                    </div>
                  </span>
                  <span>
                    <button mat-mini-fab class="mr_02" (click)="updateBookmarkFavorite(bookmark.source_id,'bookmark')">
                      <mat-icon>bookmark_add</mat-icon>
                    </button>
                  </span>
                </div>
                <hr>
              </li>
            </ul>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr_02">favorite_border</mat-icon>
              My Favorites
            </ng-template>
            <ul class="crds_ul full_crd" *ngIf="favorites">
              <li *ngIf="favorites.length==0">
                <div class="lfrt_grd">
                  <span>No Favorites Found</span>
                </div>
              </li>
              <li *ngIf="favorites.length>0">
                <div class="lfrt_grd" *ngFor="let favorite of favorites">
                  <span class="text_left">
                    <button mat-mini-fab class="mr_1">
                      <mat-icon>videocam</mat-icon>
                    </button>
                    <div>
                      <span (click)="navigateTo(favorite.cur_id+'/'+favorite.level_id+'/'+favorite.cur_pk_id)">{{favorite.content_title}}</span>
                      <span class="prg_btm_cnt">{{favorite.level_name}}</span>
                    </div>
                  </span>
                  <span>
                    <button mat-mini-fab class="mr_02" (click)="updateBookmarkFavorite(favorite.source_id,'fav')">
                      <mat-icon>favorite_border</mat-icon>
                    </button> 
                  </span>
                  <div class="clear_fix"></div>
                  <hr>
                </div>
                
              </li>
            </ul>
          </mat-tab>
          <mat-tab *ngIf="user_id">
            <!-- wishlist -->
            <ng-template mat-tab-label>
              <mat-icon class="mr_02">favorite_border</mat-icon>
              My Wishlist
            </ng-template>
            <ul class="crds_ul full_crd">
              <li>
                <div class="lfrt_grd" *ngFor="let item of wish_list">
                  <span class="text_left">
                    <button mat-mini-fab class="mr_1" [routerLink]="['/package-details', item.product_id]">
                      <div class="mr_1 crs_img">
                        <img src="{{ item.product_img != '' ? item.product_img : product_default_img  }}">
                      </div>
                    </button>
                    <div>
                      <span [routerLink]="['/package-details', item.product_id]">{{ item.product_name }}</span>
                      <span class="prg_btm_cnt">{{ (item.product_desc && item.product_desc.length > 100) ? (
                        item.product_desc | slice:0:100 ) + '....' : (item.product_desc) }}</span>
                    </div>
                  </span>
                  <!-- <span>
                    <button mat-mini-fab class="mr_02"><mat-icon>favorite_border</mat-icon></button> <button mat-icon-button  class="mr_02"><mat-icon>bookmark_remove</mat-icon></button>
                  </span> -->
                </div>
                <hr>
              </li>
            </ul>
          </mat-tab>
        </mat-tab-group>
      </li>
    </ul>

    <ul class="crds_ul rcnt_vw">
      <li>
        <span class="text_left">Subject Knowledge</span>
        <hr />
        <ul class="crds_ul prg_crd prg_crd">
          <li>
            <span class="text_left"><button mat-mini-fab class="mr_1">
                <mat-icon>auto_stories</mat-icon>
              </button>
              Human Anatomy</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="10"></mat-progress-bar>
              </span>
              <span class="cnt_sp">25/250</span>
            </div>
          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>auto_stories</mat-icon>
              </button>Physiology</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="33"></mat-progress-bar>
              </span>
              <span class="cnt_sp">300/1168</span>
            </div>
          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>auto_stories</mat-icon>
              </button>Biochemistry</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="92"></mat-progress-bar>
              </span>
              <span class="cnt_sp">92/100</span>
            </div>
          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>auto_stories</mat-icon>
              </button>Pharmacology</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="73"></mat-progress-bar>
              </span>
              <span class="cnt_sp">73/100</span>
            </div>
          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>auto_stories</mat-icon>
              </button>Pathology</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="47"></mat-progress-bar>
              </span>
              <span class="cnt_sp">47/100</span>
            </div>
          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>auto_stories</mat-icon>
              </button>Microbiology</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="20"></mat-progress-bar>
              </span>
              <span class="cnt_sp">20/100</span>
            </div>

          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>auto_stories</mat-icon>
              </button>General Medicine</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="85"></mat-progress-bar>
              </span>
              <span class="cnt_sp">85/100</span>
            </div>

          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>auto_stories</mat-icon>
              </button>Community Medicine</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="63"></mat-progress-bar>
              </span>
              <span class="cnt_sp">63/100</span>
            </div>

          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>auto_stories</mat-icon>
              </button>Pediatrics</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="72"></mat-progress-bar>
              </span>
              <span class="cnt_sp">72/100</span>
            </div>

          </li>
        </ul>
      </li>
    </ul>

    <!-- <ul class="crds_ul full_crd">
      <li>
        <div class="lfrt_grd">
          <span class="text_left">
            <button mat-mini-fab class="mr_1">
              <mat-icon>videocam</mat-icon>
            </button>
            Videos Watched
          </span>
          <span>
            <mat-icon>date_range</mat-icon>Date Range
          </span>
        </div>
        <hr />
        <div class="lfrt_grd">
          <span>Total tests</span>
          <span>50</span>
        </div>
        <div class="lfrt_grd">
          <span>Tests attended</span>
          <span>45</span>
        </div>
        <div class="lfrt_grd">
          <span>Pass results</span>
          <span>40</span>
        </div>
        <div class="lfrt_grd">
          <span>Subjects correct</span>
          <span>35/40</span>
        </div>
      </li>
    </ul>
    <ul class="crds_ul rcnt_vw">
      <li>
        <span class="text_left"> Recently Viewed </span>
        <hr />
        <p class="faint_txt">No recent history found</p>
      </li>
    </ul> -->
  </div>
</div>