.mn_dshbrd{margin: 64px auto; width: 60%;}
.brd_crm{width: 100%; color: #606672; font-size: 14px; margin: 15px 1% 0 1%;}
.pg_ttl{margin: 0 1%; font-size: 30px; color: #616774; font-weight: 700;}
.dsh_brd_crds{width: 100%;}
.crds_ul{margin: 0; padding: 0; display: flex;}
.crds_ul.anl_crd li{text-align: center;}
.crds_ul.anl_crd div{flex-wrap: wrap; display: flex; height: 100%; justify-content: center; font-weight: 300; color: #171f3296;}
.crds_ul li{flex: auto; flex-basis: 20%; list-style: none; margin: 15px 1%;  color: #606672;background-color: #fff; border-radius: 8px; box-shadow: 0 2px 3px -2px #808080; font-size: 18px; padding: 20px; box-sizing: border-box;}
.crds_ul .crd_dv span{font-size: 24px; font-weight: bold; width: 100%; display: inline-block; text-align: center;}
.crds_ul.anl_crd .crd_dv span{display: flex; text-align: center; justify-content: center; align-self: flex-end;}
.anly_crd div span{text-align: left; font-size: 14px;}
.prg_crd{display: flex; flex-wrap: wrap;}
.full_crd{display: flex;}
.full_crd li{display: flex; justify-content: space-between; flex-wrap: wrap;}
.full_crd li .lfrt_grd{display: flex; align-items: center; margin: 5px 0; flex-basis: 100%;justify-content: space-between;}
.full_crd li .lfrt_grd span{display: flex; align-items: center;} 
.prg_crd li{flex:0 0 48%;} 
.prg_crd li > span{display: flex; align-items: center;}
.prg_div{display: flex; justify-content: space-between; align-items: center; margin-top: 10px;}
.prg_sp{flex-basis: 100%; margin-right: 2%;}
.prg_clr{background-color: #41ab3c; height: 10px; border-radius: 8px;}
.prg_btm_cnt{text-align: left; font-size: 14px; margin-top: 5px; font-weight: 400; color: #aeaeae;}
.rcnt_vw span{display: flex;}
.cnt_sp{font-weight: 400; font-size: 14px;}

.prgcrd_fullw li{flex: 48%;}
/* Responsive Css*/

@media(max-width:1499px) {
   .mn_dshbrd{ width: 80%;}
}
@media(max-width:990px) {
   .mn_dshbrd{ width: 80%;}
}
