<app-topbar></app-topbar>
<app-sidemenu></app-sidemenu>
<div class="mn_dshbrd">
  <div class="brd_crm">Proceum &raquo; <strong>Student Dashboard</strong></div>
  <div class="pg_ttl">Student Dashboard</div>
  <div class="dsh_brd_crds">
    <ul class="crds_ul anl_crd">
      <li>
        <div class="crd_dv">
          Videos Watched
          <span>60</span>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          Assessments Completed
          <span>90</span>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          Notes Accessed
          <span>60</span>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          Courses Registered
          <span>60</span>
        </div>
      </li>
    </ul>
    <ul class="crds_ul prg_crd">
      <li>
        <div class="lfrt_grd">
          <span class="text_left">
            <button mat-mini-fab class="mr_1">
              <mat-icon>videocam</mat-icon>
            </button>
            Quiz of the Day
          </span>
        </div>
        <hr />
        <div class="crd_cnt">
          <span> Q (1). Resting membrane potential in nerve fiber: </span>
          <span> Q (2). Cholestyramine is known to interfere with the abso... </span>
          <span> Q (3). Which of the following components of Mycobacterium... </span>
          <span> Q (4). Which is true about Watson and Crick base base pai... </span>
          <span> Q (5). Henderson- Paterson bodies are seen in </span>
        <span class="vw_mre_fw">
         <a>View Details</a>
        </span>
      </div>
      </li>
      <li>
        <div class="lfrt_grd">
          <span class="text_left">
            <button mat-mini-fab class="mr_1">
              <mat-icon>videocam</mat-icon>
            </button>
            Case of the Day
          </span>
        </div>
        <hr />
        <div class="crd_cnt">
        <span>A 62-year-old woman with a past medical history of breast cancer presents to her physician with concerns
          of swelling in her left arm that developed suddenly over the past few days. She underwent modified radical
          mastectomy 6 months ago and has since been receiving chemotherapy via a totally implantable venous access port
          that was placed in the left brachiocephalic vein. Port thrombosis is suspected as the cause of her arm
          swelling. Thrombosis of...</span>
          <span class="vw_mre_fw">
            <a>View Details</a>
          </span>
          </div>

      </li>
    </ul>




    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <button mat-mini-fab class="mr_1">
            <mat-icon>videocam</mat-icon>
          </button>
          Recent Videos
        </ng-template>
        <ul class="crds_ul full_crd">
          <li>
            <div class="lfrt_grd">
              <span>Total tests</span>
            </div>
          </li>
        </ul>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <button mat-mini-fab class="mr_1">
            <mat-icon>videocam</mat-icon>
          </button>
          Free Videos
        </ng-template>
        <ul class="crds_ul full_crd">
          <li>
            <div class="lfrt_grd">
              <span>Total tests</span>
            </div>
          </li>
        </ul>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <button mat-mini-fab class="mr_1">
            <mat-icon>videocam</mat-icon>
          </button>
          My Bookmarks
        </ng-template>
        <ul class="crds_ul full_crd">
          <li>
            <div class="lfrt_grd">
              <span>Total tests</span>
            </div>
          </li>
        </ul>
      </mat-tab>
    </mat-tab-group>


    <ul class="crds_ul rcnt_vw">
      <li>
        <span class="text_left">Subject Knowledge</span>
        <hr />
        <ul class="crds_ul prg_crd prg_crd">
          <li>
            <span class="text_left"><button mat-mini-fab class="mr_1">
                <mat-icon>videocam</mat-icon>
              </button>
              Human Anatomy</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="10"></mat-progress-bar>
              </span>
              <span class="cnt_sp">25/250</span>
            </div>
          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>leaderboard</mat-icon>
              </button>Physiology</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="33"></mat-progress-bar>
              </span>
              <span class="cnt_sp">300/1168</span>
            </div>
          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>sticky_note_2</mat-icon>
              </button>Biochemistry</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="80"></mat-progress-bar>
              </span>
              <span class="cnt_sp">80/100</span>
            </div>
          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>sticky_note_2</mat-icon>
              </button>Pharmacology</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="80"></mat-progress-bar>
              </span>
              <span class="cnt_sp">80/100</span>
            </div>
          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>sticky_note_2</mat-icon>
              </button>Pathology</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="80"></mat-progress-bar>
              </span>
              <span class="cnt_sp">80/100</span>
            </div>
          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>sticky_note_2</mat-icon>
              </button>Microbiology</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="80"></mat-progress-bar>
              </span>
              <span class="cnt_sp">80/100</span>
            </div>

          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>sticky_note_2</mat-icon>
              </button>General Medicine</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="80"></mat-progress-bar>
              </span>
              <span class="cnt_sp">80/100</span>
            </div>

          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>sticky_note_2</mat-icon>
              </button>Community Medicine</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="80"></mat-progress-bar>
              </span>
              <span class="cnt_sp">80/100</span>
            </div>

          </li>
          <li>
            <span><button mat-mini-fab class="mr_1">
                <mat-icon>sticky_note_2</mat-icon>
              </button>Pediatrics</span>
            <hr />
            <div class="prg_div">
              <span class="prg_sp">
                <mat-progress-bar class="prg_clr" color="primary" mode="determinate" value="80"></mat-progress-bar>
              </span>
              <span class="cnt_sp">80/100</span>
            </div>

          </li>
        </ul>
      </li>
    </ul>

    <ul class="crds_ul full_crd">
      <li>
        <div class="lfrt_grd">
          <span class="text_left">
            <button mat-mini-fab class="mr_1">
              <mat-icon>videocam</mat-icon>
            </button>
            Videos Watched
          </span>
          <span>
            <mat-icon>date_range</mat-icon>Date Range
          </span>
        </div>
        <hr />
        <div class="lfrt_grd">
          <span>Total tests</span>
          <span>50</span>
        </div>
        <div class="lfrt_grd">
          <span>Tests attended</span>
          <span>45</span>
        </div>
        <div class="lfrt_grd">
          <span>Pass results</span>
          <span>40</span>
        </div>
        <div class="lfrt_grd">
          <span>Subjects correct</span>
          <span>35/40</span>
        </div>
      </li>
    </ul>
    <ul class="crds_ul rcnt_vw">
      <li>
        <span class="text_left"> Recently Viewed </span>
        <hr />
        <p class="faint_txt">No recent history found</p>
      </li>
    </ul>
  </div>
</div>