<app-topbar class="inner-header"></app-topbar>
<app-sidemenu></app-sidemenu>
<div class="mn_dshbrd">
    <div class="hgt_20"></div>
    <div class="sp_mn ">
        <div class="brdcrm_br">
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon>
            <strong routerLink="/student/my-earnings">{{"student.socialshare.upload_details.scl_shrng" | translate}}</strong>
            <mat-icon>navigate_next</mat-icon>
            {{"student.socialshare.upload_details.upld_shrng_dets" | translate}}
        </div>
    </div>
    <hr />
    <form id="social_sharing_form" #social_sharing_form="ngForm" name="social_sharing_form"
        (ngSubmit)="social_sharing_form.valid && createSocialSharing()" novalidate>
    <div class="dsh_brd_crds upld_shr_dts">
        <div class="hgt_20"></div>
        <div class="upld_shr_aa">
            <div class="mr_1">
                <span>{{"student.socialshare.upload_details.slct_pltfrm" | translate}} <span class="required">*</span></span><br>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Platform" [(ngModel)]="platform_value" name="platform_name" #platform_name="ngModel" (ngModelChange)="changePlatform()" required>
                        <mat-option value="FACEBOOK">Facebook</mat-option>
                        <mat-option value="INSTAGRAM">Instagram</mat-option>
                        <mat-option value="LINKEDIN">LinkedIn</mat-option>
                        <mat-option value="TWITTER">Twitter</mat-option>
                        <mat-option value="WHATSAPP">Whatsapp</mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="prc_tltp" *ngIf="(social_sharing_form.submitted || platform_name.touched) && platform_name.invalid">Platform is required</span>
            </div>
            <div class="mr_1">
                <span>Select Publish Date <span class="required">*</span></span><br>
                <mat-form-field appearance="outline" class="cal_wdth" color="accent">
                    <input matInput [matDatepicker]="picker" placeholder="DD/MM/YYYY" required name="publish_date_name" #publish_date_name="ngModel"
                    [(ngModel)]="publish_date" autocomplete="off" [max]="today_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="(social_sharing_form.submitted || publish_date_name.touched) && publish_date_name.invalid">Publish Date is required</span>
            </div>
            <div class="w_100p" *ngIf="publish_url_div == true">
                <span>Publish URL <span class="required">*</span></span><br>
                <mat-form-field appearance="outline" class="w_100p">
                    <input matInput type="url" placeholder="Publish URL" [(ngModel)]="publish_url" name="publish_url_name" #publish_url_name="ngModel" required>
                </mat-form-field>
                <span class="prc_tltp" *ngIf="(social_sharing_form.submitted || publish_url_name.touched) && publish_url_name.invalid">Publish URL is required</span>
            </div>
        </div> 
        <div>
            <span>{{"description" | translate}}</span><br>
            <mat-form-field appearance="outline" class="w_100p">
                <textarea style="height: 50px;" (keyup)="autoGrowTextZone($event)" matInput placeholder="Description" [(ngModel)]="description" name="description_name" #description_name="ngModel"></textarea>
              </mat-form-field>
        </div>
        <div class="hgt_20"></div>
        <div class="cc_row">
            <div class="upld_img_thmb">
                <div class="c_block">
                    <div class="c_block_title">
                        <mat-icon>wallpaper</mat-icon>
                        <label for="Intro video"> Upload Screenshots <span class="required">*</span></label>
                        <span class="spacer"></span>
                        <mat-icon onclick="document.getElementById('imageToUpload').click()" matTooltip="Click to Upload Image">add</mat-icon>
                        <input (change)="uploadFiles($event)" multiple="true" accept="image/x-png,image/gif,image/jpeg"
                        id="imageToUpload" type="file" style="display: none" />
                    </div>
                    <div *ngIf="imageSrc.length == 0" class="c_block_content">
                        <div class="upload_placeholder">
                            <div class="place_block">
                                <span>Click + icon to add Attachments</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="imageSrc.length > 0" class="c_block_content upld_det_imgs">
                        <div class="upld_det_imgs_dv" *ngFor="let image of imageSrc; let i = index">
                            <img style="height: inherit;" src="{{image}}" />
                            <button type="button" mat-mini-fab class="img_dl_btn" (click)="removeFile(i)" color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span class="fl_frmt_info wrn_bg mb_1"> 
                {{"student.socialshare.upload_details.upload_scl_shrng"|translate}}
            </span>
        </div>
        <div class="w_100p d-flex">
            <div class="spacer"></div>
            <div>
                <button mat-raised-button color="accent">{{"submit"|translate}}</button>
            </div>
        </div>
    </div>
</form>
</div>