<app-topbar class="inner-header"></app-topbar>
<app-sidemenu></app-sidemenu>
<div class="mn_dshbrd">
    <div class="hgt_20"></div>
    <div class="sp_mn ">
        <div class="brdcrm_br">
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon>
            Social Share
            <mat-icon>navigate_next</mat-icon>
            Upload Sharing Details
        </div>
    </div>
    <div class="dsh_brd_crds">
        <div class="hgt_20"></div>
        <div class="d-flex">
            <div class="mr_1">
                <span>Select Platform</span><br>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="">Select Platform</mat-option>
                        <mat-option value="">Facebook</mat-option>
                        <mat-option value="">Twitter</mat-option>
                        <mat-option value="">Whatsapp</mat-option>
                        <mat-option value="">Insta</mat-option>
                        <mat-option value="">Linked In</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <span>Select Date</span><br>
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <div class="hgt_20"></div>
        <div class="cc_row">
            <div class="upld_img_thmb">
                <div class="c_block">
                    <div class="c_block_title">
                        <mat-icon>wallpaper</mat-icon>
                        <label for="Intro video"> Upload Screenshots</label>
                        <span class="spacer"></span>
                        <mat-icon>add</mat-icon>
                    </div>
                    <div class="c_block_content">
                        <div class="upload_placeholder">
                            <div class="place_block">
                                <span>Click + icon to add Attachements</span>
                            </div>
                        </div>
                    </div>
                    <div class="c_block_content upld_det_imgs">
                        <div class="upld_det_imgs_dv">
                            <img
                                src="../../../../assets/images/wc-img-3.png" />
                            <button mat-mini-fab class="img_dl_btn" color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <div class="upld_det_imgs_dv">
                            <img src="../../../../assets/images/wc-img-4.png" />
                            <button mat-mini-fab class="img_dl_btn" color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span>Description</span><br>
            <mat-form-field appearance="outline" class="w_100p">
                <textarea matInput placeholder="Description" class="hgt_100px"></textarea>
              </mat-form-field>
        </div>
        <div>
            <span class="fl_frmt_info wrn_bg">
                Upload the social sharing screenshot in detial. Screenshot should be clearly visible (Your identity name/email/pone number, date & time etc). Subject to approval.
            </span>
        </div>
        <div class="w_100p d-flex">
            <div class="spacer"></div>
            <div>
                <button mat-raised-button color="accent">Submit</button>
            </div>
        </div>
    </div>
</div>