
<div class="sd_br" [ngClass]="sidemenuStatus" (scroll)="scrollHandler($event)">
    <!-- sd_opn || sd_cls -->
    <ul class="sdmn_cntul">
        <li (click)="menu_active = 0" routerLinkActive="active" routerLink="/finance-user/dashboard">
            <div class="sd_mnuhd">
            <mat-icon>dashboard</mat-icon>Dashboard
            </div>
        </li>
        <li routerLinkActive="active" routerLink="/finance-user/orders">
          <div class="sd_mnuhd">
            <mat-icon>manage_accounts</mat-icon> Orders
          </div>
        </li>
        <li routerLinkActive="active" routerLink="/finance-user/revenue">
            <div class="sd_mnuhd">
              <mat-icon>manage_accounts</mat-icon> Revenue
            </div>
          </li>
    </ul>
  </div>
  <div class="sdmnu_cvr" (click)="closeSidebar()"></div>