<div class="wb_topbar">
  <img src="../../../assets/images/ProceumLogo.png" alt="Proceum logo">
  <div class="spacer"></div>
  <div class="top-tools">
    <label for="" (click)="save()">
      <mat-icon>file_download</mat-icon>
      <span> Save / Download </span>
    </label>
    <label for="" (click)="erase()">
      <mat-icon>delete_outline</mat-icon>
      <span> Clear screen</span>
    </label>
    <label for="" (click)="openFullscreen()" *ngIf="!isFullscreen">
      <mat-icon>aspect_ratio</mat-icon>
      <span> Full screen </span>
    </label>
    <label for="" (click)="closeFullscreen()" *ngIf="isFullscreen">
      <mat-icon>aspect_ratio</mat-icon>
      <span> Exit Full screen </span>
    </label>
    <label for="" (click)="closeWindow()">
      <mat-icon>close</mat-icon>
    </label>
  </div>
</div>
<img [src]="base_image_url"/>
<div class="white-board" id="white-board">
  <ng-whiteboard
    [color]="color"
    [backgroundColor]="backgroundColor"
    [size]="size"
    (init)="onInit()"
    (clear)="onClear()"
    (imageAdded)="onImageAded()"
    (redo)="onRedo()"
    (undo)="onUndo()"
    (save)="onSave()"
  ></ng-whiteboard>
</div>
<div class="tools">

  <div class="size-dropdown">
    <button
    matTooltip="Line weight"
      (click)="
        $event.preventDefault(); $event.stopPropagation(); isActive = !isActive
      "
    >
      <mat-icon>line_weight</mat-icon>
    </button>
    <ul class="dropdown" [ngClass]="{ active: isActive }">
      <li
        class="dropdown-item"
        (click)="setSize('2.5px')"
        [class.selected]="size === '2.5px'"
      >
        <svg height="100%" width="100%">
          <line
            x1="0"
            y1="50%"
            x2="100"
            y2="50%"
            style="stroke-width: 2.5px"
            [ngStyle]="{ stroke: color }"
          />
        </svg>
      </li>
      <li
        class="dropdown-item"
        (click)="setSize('5px')"
        [class.selected]="size === '5px'"
      >
        <svg height="100%" width="100%">
          <line
            x1="0"
            y1="50%"
            x2="100"
            y2="50%"
            style="stroke-width: 5px"
            [ngStyle]="{ stroke: color }"
          />
        </svg>
      </li>
      <li
        class="dropdown-item"
        (click)="setSize('10px')"
        [class.selected]="size === '10px'"
      >
        <svg height="100%" width="100%">
          <line
            x1="0"
            y1="50%"
            x2="100"
            y2="50%"
            style="stroke-width: 10px"
            [ngStyle]="{ stroke: color }"
          />
        </svg>
      </li>
      <li
        class="dropdown-item"
        (click)="setSize('15px')"
        [class.selected]="size === '15px'"
      >
        <svg height="100%" width="100%">
          <line
            x1="0"
            y1="50%"
            x2="100"
            y2="50%"
            style="stroke-width: 15px"
            [ngStyle]="{ stroke: color }"
          />
        </svg>
      </li>
    </ul>
  </div>

  <!-- <button>Erase</button> -->
  <button (click)="undo()"
  matTooltip="Undo"
  >
    <mat-icon>undo</mat-icon>
  </button>
  <button (click)="redo()"
  matTooltip="Redo"
  >
    <mat-icon>redo</mat-icon>
  </button>

  <!-- <input
    id="colorInput"
    class="color-input"
    type="color"
    [value]="color"
    (change)="color = $event.target.value"
  /> -->
  <input
    title="Pen Color"
    id="colorInput"
    [(colorPicker)]="color"
    [cpOKButton]="true"
    [style.background]="color"
    class="colr_pkr color-input"
  />
  <!-- <label
  title="Pen Color"
    id="colorInput"
    [(colorPicker)]="color"
    [cpOKButton]="true"
    [style.background]="color"
    class="colr_pkr color-input"
  >
    <mat-icon>format_color_fill</mat-icon>
  </label> -->
<label
    for="colorInput"
    matTooltip="Pen color"
    class="color-label"
    [ngStyle]="{ 'background-color': color }"
  >
</label>
  

  <!-- <input
    id="backgroundInput"
    class="color-input"
    type="color"
    [value]="backgroundColor"
    (change)="backgroundColor = $event.target.value"
  /> -->
  <input
    title="Background Color"
    id="backgroundInput"
    [(colorPicker)]="backgroundColor"
    [cpOKButton]="true"
    [style.background]="backgroundColor"
    class="colr_pkr color-input"
  />
  <label
    for="backgroundInput"
    matTooltip="Background color"
    class="color-label"
    [ngStyle]="{ 'background-color': backgroundColor }"
  ></label>

  <input
    type="file"
    class="color-input"
    id="photoInput"
    (change)="addImage($event.target)"
    accept="image/x-png,image/gif,image/jpeg"
  />
  <label
    for="photoInput"
    class="color-label"
    matTooltip="Background image"
    [ngStyle]="{
      'background-image':
        'url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACHElEQVRYhe3XsWtUQRAG8N+G45ADJUUIFiHYaCESTArTWKRSSSVpRSvxL5A0VuJ/YorUFmlsxUKTYCVGhRRBEMHYJKjJmTyLN6fv4uVuDy+JhXMMj7f77czH7De771KhcJI2dKLZ/wUCtVxgkk7hAsYdTnwfG3hXKL5nBS4yf3iETRQ9fBMPs+NmJp/JSHzQr+bE7ljKJA0lqRbewK2scrbb7SQ1KnE65mrTQJJquINpNGK4HhXo125iGLvx/jVJL/C4UPz4haqU+SyW9F/qfn0Jo39oAPNoHgOBJuY7aeC6PtryL6wWudDez8OZAdbxAJM4HT4ZY+uZMX7nqmzBqu6l21Pu30QQP4NzyoOpEWMTgdnrEWu1kwZ6EXiO8cq58ARv8RoLuBhz44EdKIEmpgJ3AzsdMJsVElO6C7pvAstR4lE864JbqGzHcg6B3NtwpVDsB4HLXXBTGAnsSk7gXALbFXy3Vq1VYm53wfVNYCyeX7DWBbcWmOqa7papgY/KO2EI9w7B7GAmYtVjzUDbcB61wN7FK3zDllKYszFXC+zAz4FPyhuutc9jyoPnkrhcYm4usAMn0CJxH/UOHy31mOuVvI1AisXirr4izz7gKd7H+3lckys8XhaKabRVYDGD+aB8sdMWzCoFddTJt4RgDxJoCeiNo/kwaUbsOdFNbRpoWZLGMaIU1SBtF58LxUZbvoMEjttO/K/ZfwI/AfTgP/XC4sIdAAAAAElFTkSuQmCC)',
      'background-position': 'center',
      'background-size': 'cover',
      'box-shadow': 'none'
    }"
  ></label>
</div>
