$button-bg-color: #348AA7;
$button-border-color: #166E84;
$timing:.3s;

.white_board_overlay {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  Z-INDEX: 9999;
}

.wb_topbar {
  background: #FFF;
  padding: 5px 15px;
  display:flex;
  align-items: center;
  img{
    max-width: 150px;
  }
  .top-tools {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
  }
  label{
    display:flex;
    border-right: 1px solid #707070;
    padding-right: 30px;
    margin-right: 30px;
    color: #000;
    cursor: pointer;
    mat-icon{
      margin-right: 10px;
      color: #41AB3C;
    }
    &:last-child{
      border-right: 0 none;
      padding-right: 0;
      margin-right: 0;
    }
  }
}

@media screen and (max-width:1025px){
  .wb_topbar{
    img{
      max-width: 100px;
    }
    label{
      padding: 0;
      margin: 0;
      mat-icon{
        margin-left: 10px;
      }
       span{
        display: none;
      }
    }
  } 
}
.white-board {
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
}
.white-board svg image, .white-board svg img {
  width: 100% !important;
  height: auto !important;
}
::ng-deep .color-picker.open{
  left: 60px !important;
  top: auto !important;
}
.tools {
  position: absolute;
  top: 70px;
  left: 20px;
  right: 20px;
  max-width: 435px;
  width: 65px;
  opacity: 0.1;
  transition: opacity 0.3s ease-in-out;
  background-color: #FFF;
  border: 1px solid #70707060;
  border-radius: 6px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  & > * {
    margin-bottom: 10px;
  }
button{
    display: inline-block;
    padding: 0;
    margin-right: 0px;
    background: none;
    border: none;
    outline: none;
    // color: white;
    // border-radius: 3px;
    // box-shadow: 0 5px 0px darken($button-bg-color,0%);
    // border-bottom: 2px solid transparent;
    &:hover{
      // background: darken($button-bg-color,5%);
      // box-shadow: 0 4px 1px darken($button-bg-color,5%);
      // transition: all 0.1s ease-in;
    }

    &:active{
      // transform:translateY(4px);
      // box-shadow: none;
    }
  }
  .color-input {
      display: none;
  }
  .color-label {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      margin-right: 5px;
        cursor: pointer;
  }
  .size-dropdown {
    position: relative;
}
.dropdown {
    position: absolute;
    // bottom: 50%;
    left: 60px;
    opacity: 0;
    min-width: 12em;
    overflow:hidden;
    display: none;
    cursor: pointer;

  outline: none;
  border: .06em solid transparent;
  border-radius: 1em;
  background-color: mix($button-border-color,#fff,25%);
  transition: $timing all ease-in-out;

  .dropdown-item {
    border-top: .06em solid #d9d9d9;
    display:block;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    position: relative;
    transition: $timing color ease-in-out;
    &.selected {
        background-color:$button-bg-color;
        line {
            stroke: #fff!important;
        }
      }
  }

  &.active {
    border: .06em solid $button-border-color;
    background: #fff;
    border-radius: .25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height:15em;
    opacity: 1;
    display: inline-block;
    .dropdown-item {
      border-top: .06em solid #d9d9d9;
      &:hover {
        line {
            stroke: $button-border-color!important;
        }
      }
    }
  }
}
&:hover {
  opacity: 1;
}}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
  @media (max-width: 500px) {
    .github-corner:hover .octo-arm {
      animation: none;
    }
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }