<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Courses &amp; Package Management</strong></div>
    <div class="pg_ttl">Courses &amp; Package Management</div>
    <hr />
    <div class="dsh_brd_crds cpm_pg">
        <div class="cpm_pg_mn">
            <div class="cpm_pg_hd">
                Package details
            </div>
            <div class="cpm_pg_cnt">
                <div>Package Name</div>
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Enter package name" />
                    </mat-form-field>
                </div>
            </div>
            <div class="cpm_pg_cnt">
                <div>Package image</div>
                <div class="brnd_info_upld">
                    <mat-form-field appearance="outline" class="w_80p mr_1">
                        <input matInput matInput placeholder="Parnter Name" />
                    </mat-form-field>
                    <button mat-raised-button class="no_bxsdw w_19p mt_6px" color="accent">Browse</button>
                </div>
            </div>
            <div class="cpm_pg_cnt">
                <div>Package description</div>
                <div>
                    <mat-form-field appearance="outline">
                        <textarea matInput class="crt_prt_txt" placeholder="Enter package description"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="cpm_pg_mn">
            <div class="cpm_pg_hd">
                Price configuration
            </div>
            <div class="cpm_pg_cnt">
                <div>Pricing model</div>
                <div>
                    <mat-radio-group>
                        <mat-radio-button value="1">Per student</mat-radio-button>
                        <mat-radio-button value="2">Fixed</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="cpm_pg_cnt">
                <div class="pkg_chkbx">
                    <div class="w_50p mr_1">
                        <div>
                            <mat-checkbox class="mr_1"></mat-checkbox>Package price in INR
                        </div>
                        <div>
                            <mat-form-field appearance="outline" class="mt_05">
                                <input matInput placeholder="0.00" />
                                <span matPrefix>₹</span>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w_50p">
                        <div>
                            <mat-checkbox class="mr_1"></mat-checkbox>Package price in USD
                        </div>
                        <div>
                            <mat-form-field appearance="outline" class="mt_05">
                                <input matInput placeholder="0.00" />
                                <span matPrefix>$</span>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hgt_20"></div>
            <div class="cpm_pg_hd">
                Courses &amp; Addons
            </div>
            <div class="cpm_pg_cnt">
                <div>Courses</div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option value="Courses">Select Courses</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="cpm_pg_cnt">
                <div>Addons</div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option value="Courses">Select Courses</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="hgt_20"></div>
            <div class="cpm_pg_hd">
                Package access
            </div>
            <div class="cpm_pg_cnt">
                <div>Applicable to</div>
                <div class="d-flex mt_05">
                    <div class="mr_1">
                        <mat-checkbox class="mr_1"></mat-checkbox>University
                    </div>
                    <div class="mr_1">
                        <mat-checkbox class="mr_1"></mat-checkbox>Individual
                    </div>
                    <div class="mr_1">
                        <mat-checkbox class="mr_1"></mat-checkbox>Institution
                    </div>
                </div>
                <div class="hgt_20"></div>
            </div>
            <div class="cpm_pg_cnt">
                <div class="pkg_chkbx">
                    <div class="w_50p mr_1">
                        <div>Package validity till</div>
                        <div>
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker color="accent"></mat-datepicker>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cpm_pg_cnt">
                <div>Billing frequency</div>
                <div>
                    <mat-radio-group>
                        <mat-radio-button value="1">Monthly</mat-radio-button>
                        <mat-radio-button value="2">Quarterly</mat-radio-button>
                        <mat-radio-button value="2">Half yearly</mat-radio-button>
                        <mat-radio-button value="2">Yearly</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div class="w_100p text_right">
            <button mat-raised-button color="accent">Submit</button>
        </div>
    </div>
</div>