<div class="mn_dshbrd">
    <div class="brd_crm">{{"proceum_text"|translate}} &raquo;
        <strong>{{"admin.class.create.page_title"|translate}}</strong>
    </div>
    <div class="d-flex rsp_fw">
        <div class="pg_ttl">{{"admin.class.create.page_title"|translate}}</div>
        <div class="spacer"></div>
    </div>
    <hr />
    <form #create_class_form="ngForm" name="create_class_form" (ngSubmit)="create_class_form.form.valid && createMeeting()" novalidate>
        <div class="dsh_brd_crds">
            <div class="cm_fltr_sc mr_1">
                <span>{{"admin.class.create.schedule_for"|translate}} <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="schedule_for" name="schedule_for_name" required>
                        <mat-option value="meeting">{{"admin.class.create.a_meeting"|translate}}</mat-option>
                        <mat-option value="webinar">{{"admin.class.create.a_webinar"|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1" *ngIf="is_college">
                <span>{{"admin.class.create.college"|translate}} <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="{{'admin.class.create.college' | translate}}" name="teacher_college_edit"
                        #teacher_college_edit="ngModel" [(ngModel)]="teacher_college_id"
                        (ngModelChange)="getTeachers();">
                        <mat-option>
                            <ngx-mat-select-search [noEntriesFoundLabel]="'no_records_found_text'|translate"
                                [placeholderLabel]="'search_text'|translate" name="search_college" ngModel
                                (ngModelChange)="searchCollege($event)">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of all_college | async" [value]="''+item['pk_id']">{{
                            item["organization_name"]?item["organization_name"]:item["partner_name"] }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1" *ngIf="user['role'] != '12'">
                <span>{{"admin.class.create.teacher_host_name"|translate}} <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="teacher_id" name="teacher_id_name" (ngModelChange)="getTeacherSubjects();selected_subject=0;" required>
                        <mat-option value="">{{"select_text"|translate}}</mat-option>
                        <mat-option *ngFor="let teacher of teachers" [value]="teacher['id']">{{teacher['first_name']}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1" *ngIf="curriculum_list.length>0">
                <div class="clear_fix"></div>
                <div>{{"admin.class.create.subject"|translate}}</div>
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="selected_subject" #curriculum_id_name="ngModel" ngModel
                        name="curriculum_id_name" placeholder='{{"admin.class.create.subject"|translate}}'
                         required>
                        <mat-option *ngFor="let value of curriculum_list" [value]="value['pk_id']"
                            [matTooltip]="value['level_name']">{{ value["level_name"] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1" *ngFor="let value of curriculum_labels; let i = index">
                <span>{{ ucFirst(value["display_label"]) }}</span>
                <div class="clear_fix"></div>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Select {{ ucFirst(value['display_label']) }}" name="selected_level_name"
                        [(ngModel)]="selected_level[value['level_number']]"
                        (selectionChange)="getLevels(value['level_number'])">
                        <mat-option>
                            <ngx-mat-select-search
                                [noEntriesFoundLabel]="'No '+ ucFirst(value['display_label'])+' found'"
                                name="search_topic" ngModel
                                (ngModelChange)="searchLevelByName($event,value['level_number'])"
                                [placeholderLabel]="'Search '+ucFirst(value['display_label'])">
                                {{"select_text"|translate}}
                                {{ucFirst(value['display_label'])}}
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let level of level_options[value['level_number']]" [value]="level['pk_id']"
                            [matTooltip]="level['level_name']">{{level["level_name"] }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1">
                <span>{{"admin.class.create.meeting_topic"|translate}} <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="meeting_topic" #meeting_topic_name="ngModel" name="meeting_topic_name"
                        placeholder='{{"admin.class.create.meeting_topic"|translate}}' required>
                </mat-form-field>
            </div>
            
            <div class="cm_fltr_sc mr_1">
                <span>{{"admin.class.create.timezone"|translate}} <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <mat-select value="" [(ngModel)]="timezone" name="timezone_name" required>
                        <mat-option value="">{{"select_text"|translate}}</mat-option>
                        <mat-option value="Asia/Dhaka">{{"admin.class.create.asia_bishkek"|translate}}</mat-option>
                        <mat-option value="Asia/Kolkata">{{"admin.class.create.asia_kolkata"|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1">
                <span>{{"admin.class.create.start_date"|translate}} <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="start_date" name="start_date_name" readonly [matDatepicker]="picker" [min]="minDate"
                        required placeholder='{{"admin.class.create.start_date"|translate}}' autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1">
                <span>{{"admin.class.create.start_time"|translate}}<span class="required">*</span></span>
                <mat-form-field appearance="outline" class="w_47p">
                    <input (blur)="checkTime()" type="time" matInput 
                        [(ngModel)]="start_time" required name="start_time_name">
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1">
                <span>{{"admin.class.create.duration"|translate}} <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="duration" name="duration_name" required>
                        <mat-option value="">{{"select_text"|translate}}</mat-option>
                        <mat-option value="10">10 {{"min_text"|translate}}</mat-option>
                        <mat-option value="20">20 {{"min_text"|translate}}</mat-option>
                        <mat-option value="30">30 {{"min_text"|translate}}</mat-option>
                        <mat-option value="40">40 {{"min_text"|translate}}</mat-option>
                        <mat-option value="60">60 {{"min_text"|translate}}</mat-option>
                        <mat-option value="90">90 {{"min_text"|translate}}</mat-option>
                        <mat-option value="120">120 {{"min_text"|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <hr />
            <div class="cm_fltr_sc mr_1" *ngIf="is_university">
                <span>{{"admin.class.create.organization_type"|translate}} <span class="required">*</span></span>
                <mat-form-field appearance="outline" class="w_100p">
                    <mat-select placeholder='{{"admin.class.create.select_organization_type"|translate}}'
                        name="organization_edit" #organization_edit="ngModel" [(ngModel)]="organization_type_id"
                        (ngModelChange)="onOrganizationTypeChange()">
                        <mat-option *ngFor="let item of organization_types" [value]="item.value">{{ item.viewValue }}
                        </mat-option>
                    </mat-select>
                    <!-- <mat-select placeholder="Select Organization Type" name="organization_edit" #organization_edit="ngModel" [(ngModel)]="organization" (ngModelChange)="onOrganizationTypeChange()" required>
                        <mat-option *ngFor="let item of organization_types" [value]="item.value">{{ item.viewValue }}</mat-option>
                    </mat-select> -->
                </mat-form-field>
            </div>
            <!-- <div class="cm_fltr_sc mr_1">
                <span>Select University <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <mat-select value="0">
                        <mat-option value="0">Select</mat-option>
                        <mat-option value="0">India</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1">
                <span>Select College <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <mat-select value="0">
                        <mat-option value="0">Select</mat-option>
                        <mat-option value="0">India</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1">
                <span>Select Year <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <mat-select value="0">
                        <mat-option value="0">Select</mat-option>
                        <mat-option value="0">1</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1">
                <span>Select Semester <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <mat-select value="0">
                        <mat-option value="0">Select Semester</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="clear_fix"></div>
            <div class="cm_fltr_sc ">
                <span>Select Student Group <span class="required">*</span></span>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="Select Student Group"></textarea>
                </mat-form-field>
            </div> -->
            <div class="cm_fltr_sc mr_1" *ngIf="is_university">
                <span>{{ organization_type_name ? organization_type_name : 'Organization List' }} </span>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Select {{ organization_type_name }}" name="organization_list_edit"
                        #organization_list_edit="ngModel" [(ngModel)]="organization_list_id"
                        (ngModelChange)="selected_name='university_id';selected_value=organization_list_id;getCollege(organization_type_id,0,'year')">
                        <mat-option>
                            <ngx-mat-select-search [noEntriesFoundLabel]="'no_records_found_text'|translate"
                                [placeholderLabel]="'search_text'|translate" name="search_university" ngModel
                                (ngModelChange)="searchOrganizations($event)">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of all_organization_list | async" [value]="item['pk_id']">{{
                            item["organization_name"] }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1" *ngIf="is_college">
                <span>{{"admin.class.create.college"|translate}}</span>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="{{'admin.class.create.select_college' | translate}}" name="college_edit"
                        #college_edit="ngModel" [(ngModel)]="college_id"
                        (ngModelChange)="selected_name='college_id';selected_value=college_id;getYearSemsterGroup(organization_type_id,0,'year')">
                        <mat-option>
                            <ngx-mat-select-search [noEntriesFoundLabel]="'no_records_found_text'|translate"
                                [placeholderLabel]="'search_text'|translate" name="search_college" ngModel
                                (ngModelChange)="searchCollege($event)">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of all_college | async" [value]="''+item['pk_id']">{{
                            item["organization_name"]?item["organization_name"]:item["partner_name"] }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1">
                <span>{{"admin.class.create.year"|translate}}</span>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="{{'admin.class.create.select_year'|translate}}" name="year_edit"
                        #year_edit="ngModel" [(ngModel)]="year_id"
                        (ngModelChange)="selected_name='year_id';selected_value=year_id;getYearSemsterGroup(organization_type_id,year_id,'semester')">
                        <mat-option *ngFor="let item of all_years | async" [value]="item['pk_id']">{{ item["name"] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1" *ngIf="show_semester_dropdown">
                <span>{{"admin.class.create.semester"|translate}}</span>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="{{'admin.class.create.select_semester'|translate}}" name="semester_edit"
                        #semester_edit="ngModel" [(ngModel)]="semester_id"
                        (ngModelChange)="selected_name='semester_id';selected_value=semester_id;getYearSemsterGroup(organization_type_id,semester_id,'group')">
                        <mat-option *ngFor="let item of all_semesters | async" [value]="item['pk_id']">{{ item["name"]
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cm_fltr_sc mr_1" *ngIf="show_group_dropdown">
                <span>{{"admin.class.create.group"|translate}}</span>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="{{'admin.class.create.select_group'|translate}}" name="group_edit"
                        #group_edit="ngModel" [(ngModel)]="group_id"
                        (ngModelChange)="selected_name='group_id';selected_value=group_id;">
                        <mat-option *ngFor="let item of all_groups | async" [value]="item['pk_id']">{{ item["name"] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button [disabled]="selected_name == '' || selected_value == ''" type="button" (click)="getStudents()"
                mat-raised-button color="accent">{{"admin.class.create.get_students"|translate}}</button>
            <hr />

            <div class="hgt_20"></div>
            <div class="d-flex ai_cntr">
                <div>

                </div>
            </div>
            <div class="hgt_20"></div>
            <div class="d-flex">
                <div class="w_49p mr_1p swt_lft">
                    <mat-form-field appearance="outline" class="w_100p">
                        <input matInput [(ngModel)]="search_student" name="search_student_name" autocomplete="off"
                            (keyup)="searchStudents(search_student)" placeholder="{{'admin.class.create.srch_student_lft'|translate}}" />
                        <mat-icon (click)="searchStudents(search_student)" matSuffix color="accent">search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="w_50p">
                    <mat-form-field appearance="outline" class="w_100p" color="accent">
                        <input matInput [(ngModel)]="search_selected_student" name="search_selected_student_name" autocomplete="off"
                            (keyup)="searchSelectedStudents(search_selected_student)" placeholder="{{'admin.class.create.srch_student_rgt'|translate}}" />
                        <mat-icon (click)="searchSelectedStudents(search_selected_student)" matSuffix color="accent">search</mat-icon> 
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex zm_swtchusrs">
                <div class="w_49p mr_1p swt_lft">
                    <div class="zm_mvusrs">
                        <div class="zm_mvusrs_hd">{{"admin.class.create.student_list"|translate}}</div>
                        <div class="spacer"></div>
                        <div>
                            <button [disabled]="selected_name == '' || selected_value == ''" (click)="addStudents()" type="button" matTooltip="{{'admin.class.create.add_all'|translate}}" mat-button color="accent" class="mr_1">
                                {{"admin.class.create.add_all"|translate}} <mat-icon>chevron_right</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="zmsu_cnt">
                        <span class="zmsu_lft" *ngFor="let s of students; let s_index=index;"
                            [hidden]="this.selected_student_ids.includes(s['id'])">
                            <span>{{s['name']}}</span>
                            <button mat-icon-button color="accent" type="button">
                                <mat-icon (click)="addStudent(s)" matTooltip="Add Student">add</mat-icon>
                            </button>
                        </span>
                    </div>
                    <span class="rqrd_txtinfo" *ngIf="students.length<=0">
                        <mat-icon class="mr_05">info</mat-icon> {{"admin.class.create.students_list_text"|translate}}
                    </span>
                </div>
                <div class="w_50p swt_rgt">
                    <div class="zm_mvusrs">
                        <div class="zm_mvusrs_hd">{{"admin.class.create.selected_students"|translate}}</div>
                        <div class="spacer"></div>
                        <div>
                            <button [disabled]="selected_name == '' || selected_value == ''" mat-button type="button" matTooltip="{{'admin.class.create.remove_all'|translate}}"
                                (click)="selected_students=[];selected_student_ids = [];"
                                color="warn"><mat-icon>chevron_left</mat-icon> {{"admin.class.create.remove_all"|translate}}</button>
                        </div>
                    </div>
                    <div class="zmsu_cnt">
                        <span class="zmsu_lft" *ngFor="let s of selected_students; let s_s_index=index;">
                            <span>{{s['name']}}</span>
                            <button mat-icon-button color="accent" type="button">
                                <mat-icon (click)="removeSelectedStudent(s_s_index, s['id'])" matTooltip="Remove Student"
                                color="warn">highlight_off</mat-icon>
                            </button>
                        </span>
                    </div>
                    <span class="rqrd_txtinfo" *ngIf="selected_students.length<=0">
                        <mat-icon class="mr_05">info</mat-icon> {{"admin.class.create.selected_students_list_text"|translate}}
                    </span>
                </div>
            </div>
            <div class="hgt_10"></div>
            <hr class="line-sep"/>
            <div class="d-flex">
                <div class="spacer"></div>
                <button mat-raised-button color="accent">Save</button>
            </div>
        </div>
    </form>
</div>