<div class="wr_rvw_dv" *ngIf="show_coments">
  <div class="wr_hd">
    <div class="d-flex mr_1 mt_3px">
      <mat-icon>rate_review</mat-icon>
    </div>
    <div>Write Review</div>
    <div class="spacer"></div>
    <div class="d-flex">
      <mat-icon (click)="showComments()">close</mat-icon>
    </div>
  </div>
  <div class="wr_bdy_sec">
    <div class="oldr_cmnts">
      <div class="oldr_cmnts_hd">Older comments</div>
      <div class="oldr_cmnts_dv" *ngFor="let comment of older_coments">
        <div class="oldr_cmnts_sbhd">
          <div class="oldr_cmnts_dvhd">{{ comment["name"] }}</div>
          <div class="oldr_cmnts_dvts">{{ comment["date_time"] }}</div>
        </div>
        <div class="oldr_cmnt_dsc">
          <div class="ck_editor_view" *ngIf="comment['comment']">
            <ckeditor [disabled]="true" [editor]="Editor" [config]="{}" [data]="comment['comment']"></ckeditor>
          </div>
        </div>
      </div>
    </div>
    <div class="wr_btm_sec">
      <div style="height: 200px">
        <div class="ck_editor">
          <ckeditor [(ngModel)]="comments_content" name="comments_content" (ready)="onReady($event)" [editor]="Editor"
            #editor [config]="editorReviewConfig" style="height: 500px"></ckeditor>
        </div>
      </div>
      <div class="wr_atchmts" *ngIf="review_docs.length>0">
        <ul>
          <li *ngFor="let file of review_docs;let file_index = index;">
            <div>
              <img src="../../../assets/images/{{
                file.split('.').pop().toLowerCase()
              }}.png" alt="{{ file.substring(file.lastIndexOf('/') + 1) }}" />
            </div>
            <div>{{ file.substring(file.lastIndexOf('/') + 1) }}</div>
            <div>
              <button mat-icon-button color="warn">
                <mat-icon (click)="removeReviewDocument(file_index)">remove_circle_outline</mat-icon>
              </button>
            </div>
          </li>

        </ul>
      </div>
      <div class="wr_btm_ftr">
        <button mat-raised-button onclick="document.getElementById('fileToUpload').click()" color="accent"
          class="float_right mr_1 mt_5px">
          <mat-icon>upload</mat-icon>
          Attach Files<input (change)="uploadReviewFiles($event)" multiple="true" #documents accept="image/x-png,image/gif,image/jpeg,application/msword,application/vnd.ms-excel,application/vnd.ms-powerpoint,
          text/plain,application/pdf" id="fileToUpload" type="file" style="display: none" />
        </button>
        <div class="spacer"></div>
        <button mat-raised-button class="gry_btn mr_1" (click)="showComments()">Cancel</button>
        <button mat-raised-button color="accent" (click)="addComent()">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="mn_dshbrd rvw_tb_mn">
  <div class="rvw_tb_fxd" *ngIf="content_id>0" (click)="showComments()">
    <mat-icon>chat</mat-icon>
  </div>

  <div class="cust_mdl_par cust_mdl_30p {{ showReviewers ? 'cust_mdl_opn' : '' }}">
    <div class="cust_mdl_chl">
      <div class="pg_ttl">
        Select Reviewer
        <span class="spacer"></span>
        <button (click)="CloseSelectReviewer()" mat-icon-button class="float_right">
          &#x2715;
        </button>
      </div>
      <div class="tbbd_bdy">
        <div class="hgt_20"></div>
        <span class="err_tltp_par" *ngIf="reviewers.length>0">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select Reviewer" #reviewer_role_name="ngModel" name="reviewer_role_name"
              [(ngModel)]="reviewer_role" required>
              <mat-option value="">Select Reviewer</mat-option>
              <mat-option *ngFor="let role of reviewers" [value]="role['role_id']">{{
                role['title'] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="prc_tltp" *ngIf="
                (content_create_form.submitted) &&
                reviewer_role_name.invalid
              ">Please Select Reviewer</span>
        </span>
        <hr>
        <button type="button" [disabled]="!reviewer_role" (click)="createContent(false)" mat-raised-button
          color="accent" class="float_right">
          Submit
        </button>
        <div class="hgt_20"></div>
      </div>
    </div>
  </div>

  <div class="cust_mdl_par cust_mdl_50p {{ library_popup ? 'cust_mdl_opn' : '' }}">
    <div class="cust_mdl_chl">
      <div class="pg_ttl">
        Proceum Library
        <span class="spacer"></span>
        <button (click)="CloseModal()" mat-icon-button class="float_right">
          &#x2715;
        </button>
      </div>
      <div class="tbbd_bdy" *ngIf="library_popup">
        <app-assets-library [data]="{ modal_view: true, active_tab: active_tab }"></app-assets-library>

        <hr />
        <button mat-raised-button color="accent" class="float_right mr_1">
          Select
        </button>

        <button mat-raised-button class="float_right mr_1 gry_btn" (click)="CloseModal()">
          Close
        </button>
        <div class="hgt_20"></div>
      </div>
    </div>
  </div>
  <div class="pg_ttl">{{ pgae_title }}</div>
  <!-- <section>
                <mat-radio-button [checked]="is_paid==1?true:false" (click)="is_paid=1">Premium content</mat-radio-button>&nbsp; &nbsp;
                <mat-radio-button [checked]="is_paid==0?true:false" (click)="is_paid=0">Free content</mat-radio-button> 
            </section> -->
  <div>
    <mat-slide-toggle [(ngModel)]="is_paid">
      {{ is_paid == true ? 'Paid Content' : 'Free Content'}}
    </mat-slide-toggle>
  </div>
  <form (keydown.enter)="$event.preventDefault()" id="content_form" #content_create_form="ngForm"
    name="content_create_form" (ngSubmit)="content_create_form.valid && createContent(false)" novalidate>
    <div class="main_content_cc">
      <!-- Left content -->
      <div class="cc_left_content dsh_brd_crds">
        <div class="cc_row err_tltp_par">
          <mat-form-field appearance="outline" class="page_title_input {{
              is_submit && title_name.invalid ? 'mat-form-field-invalid' : ''
            }}">
            <input matInput trim="blur" name="title_name" maxlength="250" [(ngModel)]="title"
              placeholder="Enter Content Title" #title_name="ngModel" required />
          </mat-form-field>
          <span class="prc_tltp" *ngIf="
              ((content_create_form.submitted || title_name.touched) &&
                title_name.invalid) ||
              (is_submit && title_name.invalid)
            ">
            Content Title is required</span>
        </div>
        <!-- #Row1 -->
        <div class="cc_row">
          <!-- Intro video -->
          <!--  <div class="introvide_block">
            <div class="c_block">
              <div class="c_block_title">
                <mat-icon>videocam</mat-icon>
                <label for="Intro video"> Intro video</label>
              </div>
              <div class="c_block_content">
                <div class="upload_placeholder">
                  <div class="place_block">
                    <mat-icon> add </mat-icon><br />
                    <span> Click here to add video </span>
                  </div>
                </div>
                <div class="upload_btn">
                  <button>
                    <mat-icon> upload </mat-icon>
                    Select video
                  </button> 
                </div>
              </div>
            </div>
          </div>-->
          <div class="main_video_block">
            <div class="c_block">
              <div class="c_block_title">
                <mat-icon>videocam</mat-icon>
                <label for="Intro video"> Videos</label>
              </div>
              <!-- <mat-form-field appearance="outline" class="mn_vd_inp">
                <input matInput placeholder="Enter Content Title (max. 250 characters)" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="mn_vd_inp">
                <textarea matInput placeholder="Video description"></textarea>
              </mat-form-field> -->
              <div class="mn_vd_tbd">
                <mat-tab-group animationDuration="0.15s">
                  <mat-tab>
                    <ng-template mat-tab-label>
                      Introduction
                      <!-- <span class="lbl_cnt">(5)</span> -->
                    </ng-template>
                    <div class="hgt_20"></div>
                    <div class="ulvd_inpts" *ngFor="let intro_v of intro_video;let i=index">
                      <div>
                        <mat-form-field appearance="outline">
                          <mat-select [(ngModel)]="intro_video[i]['source']" name="intro_video_source">
                            <mat-option value="">Select Source</mat-option>
                            <mat-option *ngFor="let video_type of video_types" [value]="video_type['value']">
                              {{video_type['name']}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field appearance="outline">
                          <input [(ngModel)]="intro_video[i]['title']" name="intro_video_title" matInput
                            placeholder="Title" />
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field appearance="outline">
                          <input matInput [(ngModel)]="intro_video[i]['value']" name="intro_video_value"
                            placeholder="Video URL/ID" />
                        </mat-form-field>
                      </div>
                      <!-- <div class="spacer"></div>
                       <div>
                        <button [disabled]="true" mat-icon-button class="no_bxsdw" color="accent">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div> -->
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      2D Videos
                      <!-- <span class="lbl_cnt">(5)</span> -->
                    </ng-template>
                    <div class="hgt_20"></div>
                    <div class="text_right">
                      <button type="button" (click)="addVideo(1)" mat-raised-button color="accent">
                        <mat-icon>add</mat-icon> Add Video
                      </button>
                    </div>
                    <div *ngFor="let two_d_video of two_d_videos;let i=index">
                      <div class="ulvd_inpts" *ngIf="two_d_video['status'] != 'delete'">
                        <div>
                          <mat-form-field appearance="outline">
                            <mat-select [(ngModel)]="two_d_videos[i]['source']" name="two_d_video_source_{{i}}">
                              <mat-option value="">Select Source</mat-option>
                              <mat-option *ngFor="let video_type of video_types" [value]="video_type['value']">
                                {{video_type['name']}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <input [(ngModel)]="two_d_videos[i]['title']" name="two_d_video_title_{{i}}" matInput
                              placeholder="Title" />
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="two_d_videos[i]['value']" name="two_d_video_value_{{i}}"
                              placeholder="Video URL/ID" />
                          </mat-form-field>
                        </div>
                        <div class="w_60px">
                          <button type="button" (click)="removeVideo(1,i)" mat-icon-button class="no_bxsdw"
                            color="warn">
                            <mat-icon>remove_circle_outline</mat-icon>
                          </button>

                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      Board Lectures
                      <!-- <span class="lbl_cnt">(5)</span> -->
                    </ng-template>
                    <div class="hgt_20"></div>
                    <div class="text_right">
                      <button type="button" (click)="addVideo(2)" mat-raised-button color="accent">
                        <mat-icon>add</mat-icon> Add Video
                      </button>
                    </div>
                    <div *ngFor="let board_lecture_video of board_lecture_videos;let i=index">
                      <div *ngIf="board_lecture_video['status'] != 'delete'" class="ulvd_inpts">
                        <div>
                          <mat-form-field appearance="outline">
                            <mat-select [(ngModel)]="board_lecture_videos[i]['source']"
                              name="board_lecture_videos_source_{{i}}">
                              <mat-option value="">Select Source</mat-option>
                              <mat-option *ngFor="let video_type of video_types" [value]="video_type['value']">
                                {{video_type['name']}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <input [(ngModel)]="board_lecture_videos[i]['title']"
                              name="board_lecture_videos_title_{{i}}" matInput placeholder="Title" />
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="board_lecture_videos[i]['value']"
                              name="board_lecture_videos_value_{{i}}" placeholder="Video URL/ID" />
                          </mat-form-field>
                        </div>
                        <div class="w_60px">
                          <button type="button" (click)="removeVideo(2,i)" mat-icon-button class="no_bxsdw"
                            color="warn">
                            <mat-icon>remove_circle_outline</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      Clinical Essentials
                      <!-- <span class="lbl_cnt">(5)</span> -->
                    </ng-template>
                    <div class="hgt_20"></div>
                    <div class="text_right">
                      <button type="button" (click)="addVideo(3)" mat-raised-button color="accent">
                        <mat-icon>add</mat-icon> Add Video
                      </button>
                    </div>
                    <div *ngFor="let clinical_video of clinical_videos;let i=index">
                      <div *ngIf="clinical_video['status'] != 'delete'" class="ulvd_inpts">
                        <div>
                          <mat-form-field appearance="outline">
                            <mat-select [(ngModel)]="clinical_videos[i]['source']" name="clinical_videos_source_{{i}}">
                              <mat-option value="">Select Source</mat-option>
                              <mat-option *ngFor="let video_type of video_types" [value]="video_type['value']">
                                {{video_type['name']}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <input [(ngModel)]="clinical_videos[i]['title']" name="clinical_videos_title_{{i}}" matInput
                              placeholder="Title" />
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="clinical_videos[i]['value']" name="clinical_videos_value_{{i}}"
                              placeholder="Video URL/ID" />
                          </mat-form-field>
                        </div>
                        <div class="w_60px">
                          <button type="button" (click)="removeVideo(3,i)" mat-icon-button class="no_bxsdw"
                            color="warn">
                            <mat-icon>remove_circle_outline</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      Procedural Videos
                      <!-- <span class="lbl_cnt">(5)</span> -->
                    </ng-template>
                    <div class="hgt_20"></div>
                    <div class="text_right">
                      <button (click)="addVideo(4)" type="button" mat-raised-button color="accent">
                        <mat-icon>add</mat-icon> Add Video
                      </button>
                    </div>
                    <div *ngFor="let procedural_video of procedural_videos;let i=index">
                      <div *ngIf="procedural_video['status'] != 'delete'" class="ulvd_inpts">
                        <div>
                          <mat-form-field appearance="outline">
                            <mat-select [(ngModel)]="procedural_videos[i]['source']"
                              name="procedural_videos_source_{{i}}">
                              <mat-option value="">Select Source</mat-option>
                              <mat-option *ngFor="let video_type of video_types" [value]="video_type['value']">
                                {{video_type['name']}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <input [(ngModel)]="procedural_videos[i]['title']" name="procedural_videos_title_{{i}}"
                              matInput placeholder="Title" />
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="procedural_videos[i]['value']"
                              name="procedural_videos_value_{{i}}" placeholder="Video URL/ID" />
                          </mat-form-field>
                        </div>
                        <div class="w_60px">
                          <button type="button" (click)="removeVideo(4,i)" mat-icon-button class="no_bxsdw"
                            color="warn">
                            <mat-icon>remove_circle_outline</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      3D Objects
                      <!-- <span class="lbl_cnt">(5)</span> -->
                    </ng-template>
                    <div class="hgt_20"></div>
                    <div class="text_right">
                      <button type="button" (click)="addVideo(5)" mat-raised-button color="accent">
                        <mat-icon>add</mat-icon> Add 3D Object
                      </button>
                    </div>
                    <div *ngFor="let three_d_video of three_d_videos;let i=index">
                      <div *ngIf="three_d_video['status'] != 'delete'" class="ulvd_inpts">
                        <!-- <div>
                          <mat-form-field appearance="outline">
                            <mat-select [(ngModel)]="three_d_videos[i]['source']" name="three_d_videos_source_{{i}}">
                              <mat-option value="">Select Source</mat-option>
                              <mat-option *ngFor="let video_type of video_types" [value]="video_type['value']">
                                {{video_type['name']}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>-->
                        <div>
                          <mat-form-field appearance="outline">
                            <input [(ngModel)]="three_d_videos[i]['title']" name="three_d_videos_title_{{i}}" matInput
                              placeholder="Title" />
                          </mat-form-field>
                        </div>
                        <div>
                          <input type="file" (change)="upload3dObject($event,i)" name="three_d_videos_value_{{i}}"
                            placeholder="Select 3d objet" />
                        </div>
                        <div class="w_60px">
                          <button type="button" (click)="removeVideo(5,i)" mat-icon-button class="no_bxsdw"
                            color="warn">
                            <mat-icon>remove_circle_outline</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <!-- <div class="c_block_content">
                <div class="upload_placeholder" (click)="openAssetsLibrary('videos', 'videos')">
                  <div class="place_block">
                    <mat-icon> add </mat-icon><br />
                    <span> Click Here to add Video </span>
                  </div>
                </div>
                <div class="upload_btn">
                  <button>
                    <mat-icon> upload </mat-icon>
                    Select video
                  </button>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <!-- #Row 2 -->
        <div class="cc_row">
          <div class="description_block">
            <div class="c_block">
              <div class="c_block_title">
                <mat-icon>subject</mat-icon>
                <label for="Intro video"> Content description</label>
              </div>
              <div class="c_block_content">
                <div class="ck_editor">
                  <ckeditor [(ngModel)]="main_content" name="main_content_name" (ready)="onReady($event)"
                    [editor]="Editor" #editor [config]="editorConfig" style="height: 1000px"></ckeditor>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- #Row 3.5 -->
        <div class="cc_row">
          <div class="upld_attchmnts">
            <div class="c_block">
              <div class="c_block_title">
                <mat-icon>attachment</mat-icon>
                <label for="Intro video"> Attachments</label>
                <span class="spacer"></span>
                <mat-icon (click)="openAssetsLibrary('documents', 'attachments')">add</mat-icon>
              </div>
              <div class="c_block_content" *ngIf="attachments.length == 0">
                <div class="upload_placeholder">
                  <div class="place_block">
                    <span>Click + icon to add Attachements</span>
                  </div>
                </div>
              </div>
              <div class="c_block_content">
                <ul>
                  <li *ngFor="let file of attachments; let i = index">
                    <img [src]="file['path']" alt="" />
                    <span class="upldd_hd">
                      {{
                      file["file_path"].substring(
                      file["file_path"].lastIndexOf("/") + 1
                      )
                      }}
                    </span>
                    <span class="spacer"></span>
                    <mat-icon class="vd_dl_icn" (click)="removeFile(i, 'attachments')">remove_circle_outline
                    </mat-icon>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="hgt_20"></div>
          <div class="upld_img_thmb">
            <div class="c_block">
              <div class="c_block_title">
                <mat-icon>wallpaper</mat-icon>
                <label for="Intro video"> Upload images / Thumbnails</label>
                <span class="spacer"></span>
                <mat-icon (click)="openAssetsLibrary('images', 'images')">add</mat-icon>
              </div>
              <div class="c_block_content" *ngIf="images.length == 0">
                <div class="upload_placeholder">
                  <div class="place_block">
                    <span>Click + icon to add Attachements</span>
                  </div>
                </div>
              </div>
              <div class="c_block_content">
                <ul>
                  <li *ngFor="let file of images; let i = index">
                    <img [src]="file['path']" alt="{{
                        file['file_path'].substring(
                          file['file_path'].lastIndexOf('/') + 1
                        )
                      }}" />
                    <span class="upldd_hd">{{
                      file["file_path"].substring(
                      file["file_path"].lastIndexOf("/") + 1
                      )
                      }}</span>
                    <span class="spacer"></span>
                    <mat-icon class="vd_dl_icn" (click)="removeFile(i, 'images')">remove_circle_outline</mat-icon>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- #Row 4 -->
        <div class="cc_row">
          <!-- Attachments -->
          <div class="tabs_block">
            <div class="c_block">
              <div class="c_block_content">
                <mat-tab-group (selectedTabChange)="notesTab($event)" animationDuration="0.15s" *ngIf="show_tabs">
                  <mat-tab label="Learning Objectives">
                    <div class="ck_editor">
                      <ckeditor [(ngModel)]="learning_obj_content" name="learning_obj_content_name"
                        (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                        style="height: 500px"></ckeditor>
                    </div>
                  </mat-tab>
                  <mat-tab label="Lecture Notes">
                    <div class="hyt_mn_dv">
                      <div class="dsh_brd_crds">
                        <mat-form-field appearance="outline" class="w_100p">
                          <input matInput [(ngModel)]="lecture_note_title" (blur)="checkLectureNoteDuplicate()"
                            name="lecture_note_title_name" placeholder="Title" />
                        </mat-form-field>
                      </div>
                      <div class="ck_editor">
                        <ckeditor [(ngModel)]="lecture_note_content" name="lecture_note_content_name"
                          (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                          style="height: 500px"></ckeditor>
                      </div>
                      <div class="mt_1 text_right">
                        <button type="button"
                          [disabled]="lecture_note_title.trim() == '' || lecture_note_content.trim() == '' || lecture_note_title_duplicate"
                          (click)="addLectureNote()" mat-raised-button color="accent">
                          <mat-icon>add</mat-icon> Add Notes
                        </button>
                      </div>
                    </div>

                    <div class="hyt_aded_nts">
                      <div class="hyt_aded_nts_hd">Added Notes</div>
                      <div *ngFor="let lecture_note of lecture_note_obj; let i = index">
                        <div class="hyt_lst_dv" *ngIf="lecture_note['status'] != 'delete'">
                          <div class="mr_1">{{ lecture_note["title"] }}</div>
                          <div class="spacer"></div>
                          <div>
                            <button type="button" (click)="editLectureNote(i)" mat-icon-button class="mr_1 no_bxsdw"
                              color="accent">
                              <mat-icon>mode_edit</mat-icon>
                            </button>
                          </div>
                          <div>
                            <button type="button" (click)="removeLectureNote(i)" mat-icon-button class="no_bxsdw"
                              color="warn">
                              <mat-icon>remove_circle_outline</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="ck_editor">
                      <ckeditor (ready)="onReady($event)" [(ngModel)]="learning_notes_content"
                        name="learning_notes_content_name" [editor]="Editor" #editor [config]="editorConfig"
                        style="height: 500px"></ckeditor>
                    </div> -->
                  </mat-tab>
                  <mat-tab label="High Yield Notes">
                    <div class="hyt_mn_dv">
                      <div class="dsh_brd_crds">
                        <mat-form-field appearance="outline" class="w_100p">
                          <input matInput [(ngModel)]="highyield_title" name="highyield_title" placeholder="Title"
                            (blur)="checkHighyieldDuplicate()" />
                        </mat-form-field>
                      </div>
                      <div class="ck_editor">
                        <ckeditor [(ngModel)]="highyield_content" name="highyield_content_name"
                          (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                          style="height: 500px"></ckeditor>
                      </div>
                      <div class="mt_1 text_right">
                        <button type="button"
                          [disabled]="highyield_title.trim() == '' || highyield_content.trim() == '' || highyield_title_duplicate"
                          (click)="addHighyield()" mat-raised-button color="accent">
                          <mat-icon>add</mat-icon> Add Notes
                        </button>
                      </div>
                    </div>

                    <div class="hyt_aded_nts">
                      <div class="hyt_aded_nts_hd">Added Notes</div>
                      <div *ngFor="let highyield of highyield_obj; let i = index">
                        <div class="hyt_lst_dv" *ngIf="highyield['status'] != 'delete'">
                          <div class="mr_1">{{ highyield["title"] }}</div>
                          <div class="spacer"></div>
                          <div>
                            <button type="button" (click)="editHighyield(i)" mat-icon-button class="mr_1 no_bxsdw"
                              color="accent">
                              <mat-icon>mode_edit</mat-icon>
                            </button>
                          </div>
                          <div>
                            <button type="button" (click)="removeHighyield(i)" mat-icon-button class="no_bxsdw"
                              color="warn">
                              <mat-icon>remove_circle_outline</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="MCQs">
                    <div class="tbbd_bdy px_0">
                      <mat-tab-group (selectedTabChange)="questionsTab($event)" [(selectedIndex)]="question_tab"
                        animationDuration="0.15s">
                        <mat-tab label="All Questions">
                          <div class="dsh_brd_crds">
                            <mat-form-field appearance="outline" class="w_100p">
                              <input [(ngModel)]="search_question" name="search_question" (keyup)="
                                  $event.keyCode == 13 ? searchQuestions() : ''

                                " matInput placeholder="Search" />

                              <mat-icon matSuffix (click)="searchQuestions()">search</mat-icon>
                            </mat-form-field>
                          </div>

                          <table mat-table [dataSource]="all_questions" class="qsp_pp_mn whtspc_nml">
                            <ng-container matColumnDef="s_no">
                              <td mat-cell *matCellDef="let element">
                                <mat-checkbox [value]="element['id']" [checked]="
                                    selected_mcqs.includes(element['id'])
                                  " (change)="
                                    selectQuestion($event, element['id'])
                                  "></mat-checkbox>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="question">
                              <td mat-cell *matCellDef="let element">
                                <div class="qsp_hd">
                                  {{ element["question"] }}
                                </div>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <td mat-cell *matCellDef="let element">
                                {{ element.weight }}
                              </td>
                            </ng-container>

                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                              <td style="text-align: center; margin: 20px" class="mat-cell" colspan="3">
                                No Records Found
                              </td>
                            </tr>
                          </table>
                          <mat-paginator #paginator *ngIf="all_questions.data.length > 0"
                            [pageSizeOptions]="page_size_options" [length]="totalSize" [pageSize]="pageSize"
                            showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
                        </mat-tab>
                        <mat-tab label="Selected Questions">
                          <div class="dsh_brd_crds">
                            <mat-form-field appearance="outline" class="w_100p">
                              <input [(ngModel)]="search_question" name="search_question" (keyup)="
                                  $event.keyCode == 13 ? searchQuestions() : ''
                                " matInput placeholder="Search" />
                              <mat-icon matSuffix (click)="searchQuestions()">search</mat-icon>

                            </mat-form-field>
                          </div>

                          <table mat-table [dataSource]="all_questions" class="qsp_pp_mn whtspc_nml">
                            <ng-container matColumnDef="s_no">
                              <td mat-cell *matCellDef="let element">
                                <mat-checkbox [value]="element['id']" [checked]="
                                    selected_mcqs.includes(element['id'])
                                  " (change)="
                                    selectQuestion($event, element['id'])
                                  "></mat-checkbox>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="question">
                              <td mat-cell *matCellDef="let element">
                                <div class="qsp_hd">
                                  {{ element["question"] }}
                                </div>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <td mat-cell *matCellDef="let element">
                                {{ element.weight }}
                              </td>
                            </ng-container>

                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                              <td style="text-align: center; margin: 20px" class="mat-cell" colspan="3">
                                No Records Found
                              </td>
                            </tr>
                          </table>
                          <mat-paginator #paginator *ngIf="all_questions.data.length > 0"
                            [pageSizeOptions]="page_size_options" [length]="totalSize" [pageSize]="pageSize"
                            showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
                        </mat-tab>
                      </mat-tab-group>
                    </div>
                  </mat-tab>

                  <mat-tab label="Short Questions">
                    <div class="tbbd_bdy px_0">
                      <mat-tab-group (selectedTabChange)="questionsTab($event)" [(selectedIndex)]="short_answer_tab"
                        animationDuration="0.15s">
                        <mat-tab label="All Questions">
                          <div class="dsh_brd_crds">
                            <mat-form-field appearance="outline" class="w_100p">
                              <input [(ngModel)]="search_question" name="search_question" (keyup)="
                                  $event.keyCode == 13 ? searchQuestions() : ''
                                " matInput placeholder="Search" />
                              <mat-icon matSuffix (click)="searchQuestions()">search</mat-icon>
                            </mat-form-field>
                          </div>

                          <table mat-table [dataSource]="all_questions" class="qsp_pp_mn whtspc_nml">
                            <ng-container matColumnDef="s_no">
                              <td mat-cell *matCellDef="let element">
                                <mat-checkbox [value]="element['id']" [checked]="
                                    selected_short_questions.includes(
                                      element['id']
                                    )
                                  " (change)="
                                    selectQuestion($event, element['id'])
                                  "></mat-checkbox>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="question">
                              <td mat-cell *matCellDef="let element">
                                <div class="qsp_hd">
                                  {{ element["question"] }}
                                </div>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <td mat-cell *matCellDef="let element">
                                {{ element.weight }}
                              </td>
                            </ng-container>

                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                              <td style="text-align: center; margin: 20px" class="mat-cell" colspan="3">
                                No Records Found
                              </td>
                            </tr>
                          </table>
                          <mat-paginator *ngIf="all_questions.data.length > 0" [pageSizeOptions]="page_size_options"
                            [length]="totalSize" [pageSize]="pageSize" showFirstLastButtons
                            (page)="getServerData($event)"></mat-paginator>
                        </mat-tab>
                        <mat-tab label="Selected Questions">
                          <div class="dsh_brd_crds">
                            <mat-form-field appearance="outline" class="w_100p">
                              <input [(ngModel)]="search_question" name="search_question" (keyup)="
                                  $event.keyCode == 13 ? searchQuestions() : ''
                              " matInput placeholder="Search" />
                              <mat-icon matSuffix (click)="searchQuestions()">search</mat-icon>

                            </mat-form-field>
                          </div>

                          <table mat-table [dataSource]="all_questions" class="qsp_pp_mn whtspc_nml">
                            <ng-container matColumnDef="s_no">
                              <td mat-cell *matCellDef="let element">
                                <mat-checkbox [value]="element['id']" [checked]="
                                    selected_short_questions.includes(
                                      element['id']
                                    )
                                  " (change)="
                                    selectQuestion($event, element['id'])
                                  "></mat-checkbox>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="question">
                              <td mat-cell *matCellDef="let element">
                                <div class="qsp_hd">
                                  {{ element["question"] }}
                                </div>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <td mat-cell *matCellDef="let element">
                                {{ element.weight }}
                              </td>
                            </ng-container>

                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                              <td style="text-align: center; margin: 20px" class="mat-cell" colspan="3">
                                No Records Found
                              </td>
                            </tr>
                          </table>
                          <mat-paginator *ngIf="all_questions.data.length > 0" [pageSizeOptions]="page_size_options"
                            [length]="totalSize" [pageSize]="pageSize" showFirstLastButtons
                            (page)="getServerData($event)"></mat-paginator>
                        </mat-tab>
                      </mat-tab-group>
                    </div>
                    <!-- <div class="tbbd_bdy px_0">
                      <mat-tab-group>
                        <mat-tab label="Select Questions">
                          <div class="dsh_brd_crds">
                            <mat-form-field appearance="outline" class="w_100p">
                              <input matInput placeholder="Search" />
                              <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                          </div>

                          <table
                            mat-table
                            [dataSource]="all_questions"
                            class="qsp_pp_mn whtspc_nml"
                          >
                            <ng-container matColumnDef="s_no">
                              <td mat-cell *matCellDef="let element">
                                <mat-checkbox color="accent"></mat-checkbox>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="question">
                              <td mat-cell *matCellDef="let element">
                                <div class="qsp_hd">
                                  Lorem ipsum dolor sit amet, consetetur
                                  sadipscing elitr, sed
                                </div>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <td mat-cell *matCellDef="let element">
                                {{ element.weight }}
                              </td>
                            </ng-container>

                            <tr
                              mat-row
                              *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                          </table>
                        </mat-tab>
                        <mat-tab label="Questions selected previously">
                          <div class="dsh_brd_crds">
                            <mat-form-field appearance="outline" class="w_100p">
                              <input matInput placeholder="Search" />
                              <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                          </div>
                          <table
                            mat-table
                            [dataSource]="selected_questions"
                            class="qsp_pp_mn whtspc_nml"
                          >
                            <ng-container matColumnDef="s_no">
                              <td mat-cell *matCellDef="let element">
                                <mat-checkbox color="accent"></mat-checkbox>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="question">
                              <td mat-cell *matCellDef="let element">
                                <div class="qsp_hd">
                                  Lorem ipsum dolor sit amet, consetetur
                                  sadipscing elitr, sed
                                </div>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <td mat-cell *matCellDef="let element">
                                View/Edit
                              </td>
                            </ng-container>
                            <tr
                              mat-row
                              *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                          </table>
                        </mat-tab>
                      </mat-tab-group>
                    </div> -->
                  </mat-tab>
                  <mat-tab label="Cases">
                    <div class="tbbd_bdy px_0">
                      <mat-tab-group (selectedTabChange)="questionsTab($event)" [(selectedIndex)]="case_tab"
                        animationDuration="0.15s">
                        <mat-tab label="All Questions">
                          <div class="dsh_brd_crds">
                            <mat-form-field appearance="outline" class="w_100p">
                              <input [(ngModel)]="search_question" name="search_question" (keyup)="
                                  $event.keyCode == 13 ? searchQuestions() : ''
                                " matInput placeholder="Search" />

                              <mat-icon matSuffix (click)="searchQuestions()">search</mat-icon>

                            </mat-form-field>
                          </div>

                          <table mat-table [dataSource]="all_questions" class="qsp_pp_mn whtspc_nml">
                            <ng-container matColumnDef="s_no">
                              <td mat-cell *matCellDef="let element">
                                <mat-checkbox [value]="element['id']" [checked]="
                                    selected_cases.includes(element['id'])
                                  " (change)="
                                    selectQuestion($event, element['id'])
                                  "></mat-checkbox>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="question">
                              <td mat-cell *matCellDef="let element">
                                <div class="qsp_hd">
                                  {{ element["question"] }}
                                </div>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <td mat-cell *matCellDef="let element">
                                {{ element.weight }}
                              </td>
                            </ng-container>

                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                              <td style="text-align: center; margin: 20px" class="mat-cell" colspan="3">
                                No Records Found
                              </td>
                            </tr>
                          </table>
                          <mat-paginator *ngIf="all_questions.data.length > 0" [pageSizeOptions]="page_size_options"
                            [length]="totalSize" [pageSize]="pageSize" showFirstLastButtons
                            (page)="getServerData($event)"></mat-paginator>
                        </mat-tab>
                        <mat-tab label="Selected Questions">
                          <div class="dsh_brd_crds">
                            <mat-form-field appearance="outline" class="w_100p">
                              <input [(ngModel)]="search_question" name="search_question" (keyup)="
                                  $event.keyCode == 13 ? searchQuestions() : ''
                                " matInput placeholder="Search" />
                              <mat-icon matSuffix (click)="searchQuestions()">search</mat-icon>
                            </mat-form-field>
                          </div>

                          <table mat-table [dataSource]="all_questions" class="qsp_pp_mn whtspc_nml">
                            <ng-container matColumnDef="s_no">
                              <td mat-cell *matCellDef="let element">
                                <mat-checkbox [value]="element['id']" [checked]="
                                    selected_cases.includes(element['id'])
                                  " (change)="
                                    selectQuestion($event, element['id'])
                                  "></mat-checkbox>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="question">
                              <td mat-cell *matCellDef="let element">
                                <div class="qsp_hd">
                                  {{ element["question"] }}
                                </div>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <td mat-cell *matCellDef="let element">
                                {{ element.weight }}
                              </td>
                            </ng-container>

                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                              <td style="text-align: center; margin: 20px" class="mat-cell" colspan="3">
                                No Records Found
                              </td>
                            </tr>
                          </table>
                          <mat-paginator *ngIf="all_questions.data.length > 0" [pageSizeOptions]="page_size_options"
                            [length]="totalSize" [pageSize]="pageSize" showFirstLastButtons
                            (page)="getServerData($event)"></mat-paginator>
                        </mat-tab>
                      </mat-tab-group>
                    </div>
                  </mat-tab>

                  <mat-tab label="Related Topics" *ngIf="false">
                    <div class="cc_row">
                      <mat-form-field appearance="outline" class="page_title_input">
                        <input matInput placeholder="Search topics" />
                        <mat-icon matSuffix>search</mat-icon>
                      </mat-form-field>
                      <hr />
                      <!-- Inserted questions -->
                      <div class="qtns_block insrtd_qtns">
                        <div>
                          <span>It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout.
                          </span>
                        </div>
                        <div class="edit_options">
                          <mat-icon class="d_none">edit</mat-icon>
                          <mat-icon>remove_circle_outline</mat-icon>
                        </div>
                      </div>
                      <hr />
                      <div class="qtns_block insrtd_qtns">
                        <div>
                          <span>It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout.
                          </span>
                        </div>
                        <div class="edit_options">
                          <mat-icon class="d_none">edit</mat-icon>
                          <mat-icon>remove_circle_outline</mat-icon>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="External References">
                    <div class="ck_editor">
                      <ckeditor [(ngModel)]="external_ref_content" name="external_ref_content_name"
                        (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                        style="height: 500px"></ckeditor>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>

        <!-- Bottom buttons  -->
        <div class="page_buttons text_right">
          <div>
            <a target="_blank" href="student/curriculum/details/00/00/00/{{content_id}}" *ngIf="content_id >0"
              class="yellow_btn ml_1" type="button" mat-raised-button>
              Preview
            </a>
          </div>
          <div>
            <button *ngIf="(content_id == 0 || content_reviewer_role == '0') && is_published != '1'"
              class="gry_btn ml_1" type="button" mat-raised-button (click)="createContent(true)">
              Save as draft
            </button>
          </div>
          <div>
            <button type="button" (click)="navigateTo('manage-content')" mat-raised-button color="warn" class="ml_1">
              Cancel
            </button>
          </div>
          <div>
            <button class="gry_btn ml_1"
              *ngIf="is_published != '1' && (content_id == 0 || content_reviewer_role == '0' || user['role'] == content_reviewer_role)"
              type="button" color="accent" mat-raised-button (click)="selectReviewer()">
              Send To Review
            </button>
          </div>
          <div>
            <button class="gry_btn ml_1" *ngIf="is_published == '1' && content_parent_id == 0" mwlConfirmationPopover
              [popoverTitle]="'Are you sure?'" [popoverMessage]="
              'Are you sure to create a new copy of this published content '
            " placement="auto" (confirm)="createContent(false)" confirmButtonType="danger"
              cancelButtonType="outline-secondary" type="button" mat-raised-button>
              Make a Copy
            </button>
          </div>
          <div>
            <button
              *ngIf="((user['role'] == '7' && user['role']+'' == ''+content_reviewer_role) || (user['role'] == '7' && content_id == 0) || user['role'] == '1')"
              type="button" mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                'Are you sure to Publish this content '+ publish_message
              " placement="auto" (confirm)="publishContent()" confirmButtonType="danger"
              cancelButtonType="outline-secondary" mat-raised-button color="accent" class="ml_1">
              Save & Publish
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>