@charset "utf-8";

/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

@import "~@angular/material/theming";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import "https://fonts.googleapis.com/css?family=Material+Icons+Two+Tone";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, "Roboto", -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, "Roboto", -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, "Roboto", 0em),
  display-1: mat-typography-level(34px, 40px, 400, "Roboto", 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, "Roboto", 0em),
  title: mat-typography-level(20px, 32px, 500, "Roboto", 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, "Roboto", 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, "Roboto", 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, "Roboto", 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, "Roboto", 0.0179em),
  button: mat-typography-level(14px, 14px, 500, "Roboto", 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, "Roboto", 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, "Roboto", 1.5px),
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background: #fafafa;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#2c2c2c, 20%);
$dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12: rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  tooltip: $dark-bg-tooltip,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
);

// Dark bg
$dark-background: #2c2c2c;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  tooltip: $dark-bg-lighter-20,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #214123;
  --primary-lighter-color: #bcc6bd;
  --primary-darker-color: #142a15;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #214123,
  lighter: #bcc6bd,
  darker: #142a15,
  200: #41ab3c,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #0594b4;
  --accent-lighter-color: #b4dfe9;
  --accent-darker-color: #03779c;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #0594b4,
  lighter: #b4dfe9,
  darker: #03779c,
  200: #0594b4,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}


// Form fields customization

.mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
.mat-form-field-label-wrapper { top: -1.5em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
.mat-form-field-wrapper {
    padding-bottom: 10px;
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height

.brd_crm {
  width: 100%;
  color: #606672;
  font-size: 14px;
  margin: 15px 1% 0 0%;
}

.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  // font-family: 'Material Icons Two Tone', 'Material Icons';
  .mat-badge-content {
    font-family: "Roboto";
  }
}
/* CSS Document */
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.1;
  border-radius: 6px;
}

/* Handle on hover */
.sd_br:hover::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: #555;
  opacity: 0.8;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "NunitoSans";
  user-select: none;
}
app-dashboard,
app-index {
  // background-color: #ece8e8;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 45px);
}
app-dashboard,
#main_div {
  background-color: #f7f7f7;
}
hr {
  flex: 0 auto;
  width: 100%;
  border: 0;
  border-top: 1px solid;
  border-top-color: rgba(112, 112, 112, 0.082);
}
app-index {
  background-color: #fff;
}

@font-face {
  font-family: latofont;
  src: url(../Lato/Lato-Regular.ttf);
}

/* Nunito sans Extra light*/
@font-face {
  font-family: "NunitoSans";
  src: url(../fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf);
  font-weight: 200;
}

/* Nunito sans light*/
@font-face {
  font-family: "NunitoSans";
  src: url(../fonts/Nunito_Sans/NunitoSans-Light.ttf);
  font-weight: 300;
}

/* Nunito sans regular*/
@font-face {
  font-family: "NunitoSans";
  src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
  font-weight: 400;
}

/* Nunito sans semi bold*/
@font-face {
  font-family: "NunitoSans";
  src: url(../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
  font-weight: 600;
}

/* Nunito sans bold*/
@font-face {
  font-family: "NunitoSans";
  src: url(../fonts/Nunito_Sans/NunitoSans-Bold.ttf);
  font-weight: 700;
}

/* Nunito sans extra bold*/
@font-face {
  font-family: "NunitoSans";
  src: url(../fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf);
  font-weight: 800;
}

/* Nunito sans Black*/
@font-face {
  font-family: "NunitoSans";
  src: url(../fonts/Nunito_Sans/NunitoSans-Black.ttf);
  font-weight: 900;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  outline: none;
  list-style: none;
}
.mat-list-item {
  font-family: "NunitoSans";
}
.mat-toolbar {
  background-color: #fff;
}
.clr_grn {
  color: #385e3b;
}
.clr_wht {
  color: #fff;
}
.fnt_nrml {
  font-weight: normal;
}
.text_center {
  text-align: center !important;
}
.teal_btn {
  padding: 12px 40px;
  border: 0;
  outline: none;
  margin-top: 15px;
  background-color: #0594b4;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
.footer {
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #e6e6e6;
  padding: 15px 0;
  color: #000;
  font-size: 12px;
  flex-shrink: 0;
}
.footer span {
  position: absolute;
  right: 10px;
}
a {
  text-decoration: none;
  color: #0594b4;
  outline: none;
}
*[class] .prc_tltp {
  display: none;
}
.mat-input-element[type=text]{border: 1px solid #ddd; border-radius: 6px; height: 35px; padding: 0 10px; vertical-align: middle; margin-right: 1em; width: 200px;}
textarea.mat-input-element{border: 1px solid #ddd; border-radius: 6px; padding:10px !important; margin-bottom: 10px !important; resize: none; box-sizing: border-box;}
.err_tltp_par .mat-input-element[type="text"]{border: 1px solid #b71c1c;}
.err_tltp_par{position: relative; display: inline-flex;}
.err_tltp_par .prc_tltp,
.err_tltp_par .prc_tltp {
  display: none;
  background-color: #b71c1c;
  color: #fff;
  text-align: center;
  padding: 4px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  bottom: 100%;
  right: 5px;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  animation-name: dsp_ani;
  animation-duration: 0.5s;
}
@keyframes dsp_ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.prc_tltp::after {
  content: " ";
  position: absolute;
  top: 100%;
  right: 10%;
  border-width: 5px;
  border-style: solid;
  border-color: #b71c1c transparent transparent transparent;
}
.prc_hnt {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #fd9c94;
}
.err_tltp_par:hover .prc_tltp {
  display: block;
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
img {
  max-width: 100%;
}
.mr_1 {
  margin-right: 1em !important;
}
.mr_02 {
  margin-right: 0.2em !important;
}
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
.float_right {
  float: right;
}
.faint_txt {
  opacity: 0.6;
}
.mat-progress-bar-fill::after {
  background-color: #41ab3c;
}
.mat-progress-bar-buffer {
  background-color: #f3f3f3;
}
.mn_dshbrd {
  margin: 64px auto 64px auto;
  width: 79%;
  min-height: calc(100vh - 174px);
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  left:0;
  right: 0; 
  position: relative;
}
 
.mn_sdopn div.mn_dshbrd{ 
  position: relative;  
  animation-name: dsh_sld_ani;
  animation-duration: 0.2s;
  margin-right: 0; 
  width: 79%;
  animation-timing-function: linear;
} 

.mn_sdcls div.mn_dshbrd{ 
  position: relative;  
  animation-name: dsh_sldcls_ani;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  width: 79%;
} 


@keyframes dsh_sld_ani{
from{margin-left: 11%;}
to{margin-left: 21%;}
}


@keyframes dsh_sldcls_ani{
  from{margin-left: 21%;  }
  to{margin-left: 11%;}
  }

.mn_sdcls div.mn_dshbrd{ 
  left:0;
  position: relative;
} 

.brd_crm {
  width: 100%;
  color: #606672;
  font-size: 14px;
  margin: 15px 1% 0 0%;
}
.pg_ttl {font-size: 24px; font-weight: 400;
  margin: 0 0%; 
  color: #616774;
  font-weight: 700;
}
.mat-tab-label.mat-tab-label-active {
  background: #0f98a6;
  color: #fff;
  opacity: 1;
}
.mat-tab-group{font-family: "NunitoSans";}
.tbbd_bdy{padding:0 20px;}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #05656f;
}
.mat-tab-label {
  border-radius: 8px 8px 0 0;
}
/*input items */
mat-checkbox,
mat-radio-group,
mat-form-field {
  margin: 1em 0 0 0;
  display: inline-block;
}
mat-radio-button,
mat-checkbox,
mat-form-field {
  margin: 0 1em 0 0;
} 
.ck-editor__editable_inline {
  height: 400px !important;
  overflow: auto;
}

.err_tltp_par, .inp_par_dv{margin: 0 1em 1em 0; display: inline-flex;}
.hgt_20{height: 20px; clear: both;}

button.mat-raised-button.float_right {
  margin: 1em 0 1em 1em;
}
button.mat-raised-button{
  margin: 1em 1em 1em 0;
}
.mat-dialog-container {
  max-height: 80vh !important;
}
.clear_fix {
  clear: both;
}
.inner-container {
  max-width: 1186px;
  margin: 130px auto 0;
}
.inner-content {
  font-weight: 300;
  opacity: 0.9;
}
app-topbar.inner-header mat-toolbar {
  background-color: #f3f3f4 !important;
  height: 90px;
  top: 45px;
  position: fixed;
}
.title-header {
  text-align: center;
  padding: 30px 0;
}
.section-title h3 {
  font-size: 36px;
  font-weight: 400;
  color: #171f32;
  margin: 0;
  padding: 0;
}
.section-title h5 {
  margin: 0;
  padding: 0;
  color: #41ab3c;
  font-size: 26px;
  font-weight: 400;
}
.inner-content{
  .block-1{
    display: flex;
    .left-content{
      width: 70%;
      margin-right: 7%;
    }
  }
}
.top-top-left {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  line-height: 38px;
  opacity: .7;
}
.inner-header span.tp_rt_mn{
  color: #0F98A6;
}
.inner-header .tp_rt_mn.active{
  color: #333;
}
.top-top-left mat-icon:first-child {
  margin-left: 0;
}

.top-top-left mat-icon {
  margin-left: 30px;
  margin-right: 10px;
}
.inner-container-top{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 1%;
  box-sizing: border-box;
}
.top-top-right img {
  margin-left: 20px;
  max-width: 100px;
}
.cdk-overlay-container{z-index: 98;}
.cust_mdl_par{position: fixed;
  left: 0;
  right: 0;
  z-index: 98;
  top: 0;
  bottom: 0;
  background: #00000026;
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: none;
  padding-bottom: 20px;
}
.cust_mdl_opn{display: block; animation-name: mymove; animation-duration: 0.3s; animation-timing-function:linear;}
@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}
  .cust_mdl_chl{
    background: white;
    width: 80%;
    margin: 2em auto;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #adadad;
  }
.pt-0{
  padding-top: 0 !important;
}
.mt-0{
  margin-top: 0 !important;
}
.profile-div mat-card.mat-card{
  border-radius: 20px;
}
.white-bg {
  background-color: #ffffff;
}
.text-center {
  text-align: center;
}
//---------- Responsive css
@media(max-width:769px){
  div.nav {
    display:none !important;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: #FFF;
    flex-wrap: wrap;
    z-index: 90;
    border-top:5px solid #0F98A6;
  }
  .nav > span.tp_rt_mn{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    padding: 5px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    border-bottom: 1px solid #c3c3c450;
    margin-right: 0;
    
    &:hover{
      background-color: #0F98A650;
      color: #000;
    }
    &.active{
      background-color: #0F98A650;
      color: #000;
    }
  }
  mat-toolbar.mat-tollbar{
    position: fixed !important;
    background-color: red;
  }
  .lg_inbtn {
    position: fixed;
    right: 75px;
    top: 10px;
    /* color: #FFF !important; */
}
  div.nav.menu_open{
    display: flex !important;
  }
  .top-top-bar{ display:none;}
  app-topbar.inner-header mat-toolbar{ top:0;height: 60px; z-index: 90;}
    .inner-container {
      margin: 80px auto 0;
  }
  .indx_bnnr mat-toolbar {
      background: #FFF;
      position: fixed;
      z-index: 90;
      top:0;
  }
  .indx_bnnr {
      padding-top: 60px;
  }
}
