@charset "utf-8";

/* CSS Document */
$accent_clr:#41AB3C;
$warn_clr: #e83535b5;
.rsp_tbl{
  max-width: 100%; overflow: auto; width: 100%; margin-top: 20px;
  .primary_color{cursor: pointer;}
  mat-icon{
    color: $accent_clr;
    cursor: pointer;
  }
  .mat-button-disabled{
    mat-icon{
      color: rgba(0, 0, 0, 0.26);
    }
  }
  .mat-warn{
    mat-icon{
      color: $warn_clr;
    }
  }
}
@media(max-width: 1499px){
  .cust_mdl_50p .cust_mdl_chl{width: 70%;} 
  .mn_sdopn div.mn_dshbrd{ 
    position: relative;  
    // animation-name: dsh_sld_ani;
    // animation-duration: 0.2s;
    width: 75%;
    // animation-timing-function: linear;
    margin-left: auto; 
    margin-right: 1%; 
  }
  .mn_sdopn div.mn_dshbrd.rvw_tb_mn{ 
    position: relative;
    width: calc(75% - 50px);
    margin-left: auto; 
    margin-right: calc(1% + 50px); 
  }
  .mn_sdcls div.mn_dshbrd{ 
    position: relative;  
    // animation-name: dsh_sldcls_ani;
    // animation-duration: 0.2s;
    // animation-timing-function: linear;
    // width: 73%;
    // margin-right: auto;
  }
  // @keyframes dsh_sld_ani{
  //   from{margin-left: 14%;}
  //   to{margin-left: 26%;}
  // }
  // @keyframes dsh_sldcls_ani{
  //   from{margin-left: 26%;  }
  //   to{margin-left: 14%;}
  //  }
  // .sd_br:hover{
  //   width:50%;
  //   width:auto;
  // }
  // .sd_br.sd_opn{
  //   width: 50%;
  //   width: 300px;
  // }
  @keyframes sd_opn {
    //from{width:0px}
    from{
      width:58px
    }
    to{
      width: 50.2%;
      width: auto;
    }
  }
  @keyframes sd_cls {
    from{
      width:auto;
    }
    // to{width:0px}
    to{width:58px}
  }
}
@media screen and (max-width: 1366px) {
  .ce_admn .slct_sub_cpt .slct_sub_on{column-gap: 20px;}
  .ce_admn .slct_sub_cpt .slct_sub_on .cm_fltr_sc{max-width: none; flex: 1; width: 270px;}
  .dsh_brd_crds .d_flx_ac{flex-wrap: wrap;}
}
@media screen and (max-width: 1300px) {
  .updpss_mndv{
    flex-wrap: wrap;
    padding: 15px 30px;
    .my_prf_dv:nth-child(1){
      width: 100%;
      margin-bottom: 5px;
    }
  }
}
@media (min-width:1280px){
  .sd_br.frnt_sdbr:hover{
    width: 190px;
  }
}
@media(max-width:1250px) {
  .shpcrt .shpcrt_mn_dv .ba_add{padding: 20px;}
  .ba_add.w_80p{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .ml_at_1250{
    margin-left: auto;
  }
}
@media(max-width:1200px) {
  .wbg_mn .wbg_cnt .wbg_dv{width: 49%;}
  .sp_mn .sp_cnt .sp_cnt_rt .days_mn .dys_dv{width: calc(33% - 10px);}
  .crs_sld_mn .crs_sld_dv{width: 32%;}
}
@media(max-width:1120px) {
  .rsp_ord_ac{order: 2; margin-left: auto;}
  .rsp_ord_ab{order: 3; margin-top: 15px;}
  .crs_par .crs_chld{flex-basis: 48%;}
}
@media(max-width:1100px) {
  .days_mn .dys_dv{
    width: calc(25% - 10px);
  }
  .fw_rsp_1100{
    flex-wrap: wrap;
    .w_100p{
      &:first-child{
        margin-bottom: 5px;
      }
    }
  }
  .footer span{
    position: relative;
    right: auto;
  }
  .smpl_vds .crs_chld{flex-basis: 49%;}
  .crs_innr_chld{flex-wrap: wrap;}
  .crs_innr_lgo, .crs_innr_dsc, .crs_innr_dets{
    flex-basis: 100%;
    margin-bottom: 15px;
    margin-right: 0;
    padding: 15px;
  }
  .rsp_m_auto{margin: auto;}
  .pr_btn_dv, .bn_btn_dv{max-width: 50%;}
}
@media(max-width: 1025px){
  .tsts_mn .tsts_qstns .qst_rmng_tm{width: 100%; margin-top: 10px;}
  .tsts_mn .tsts_qstns_nums{margin-right: 0; margin-bottom: 20px;}
  .tsts_mn .tsts_qstns .tstsqst_navs{width: 100%;}
  .tsts_mn .tsts_qstns .tstsqst_ans mat-radio-button.actvfr_dsc ~ .rdo_desc, .tsts_mn .tsts_qstns .tstsqst_ans mat-checkbox.actvfr_dsc ~ .rdo_desc{width: 100%;}
  .sd_br { 
    width: 58px;
  }
  .pdf_vwr{
    .pg_ttl{
      flex-wrap: wrap;
      > div{
        width: auto;
      }
    }
  }
  .rsp1025_100{width: 100%;}
  .rot_0{display: none !important;}
  .tsts_mn{flex-direction: column;}
  .tsts_mn .tsts_qstns .tstsqst_ans mat-radio-button, .tsts_mn .tsts_qstns .tstsqst_ans mat-checkbox{width: 100%;}
  .sp_mn .sp_cnt .sp_cnt_rt .days_mn .dys_dv{width: calc(50% - 10px);}
  .days_mn .dys_dv{
    width: calc(33% - 8px);
  }
  .ulvd_inpts{flex-wrap: wrap;}
  .crses_rgt .intr_vd_optns span{flex-basis: 100%; padding: 10px 20px;}
  .crses_rgt .intr_vd_optns{flex-wrap: wrap; padding: 0;}
  .cust_mdl_50p .cust_mdl_chl{width: 80%;}
  .mn_dshbrd {width: 90%;
    &.fl_mndsbrd{
      width:calc(100% - 64px*2);
    }
  }
  .mn_sdopn div.mn_dshbrd{ 
    position: relative;  
    // animation-name: dsh_sld_ani;
    // animation-duration: 0.2s;
    width: 90%;
    // animation-timing-function: linear;
    margin-left: auto; 
    margin-right: auto; 
  }
  .mn_sdcls div.mn_dshbrd{ 
    position: relative;  
    // animation-name: dsh_sldcls_ani;
    // animation-duration: 0.2s;
    // animation-timing-function: linear;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  /*@keyframes dsh_sld_ani{
    from{margin-left: 16%;}
    to{margin-left: 30%;}
  }
  @keyframes dsh_sldcls_ani{
    from{margin-left: 30%; }
    to{margin-left:16%;}
    }*/
  .sd_br.sd_opn, .sd_br:hover{
    // width: auto;
    width: 300px;
  }
  @keyframes sd_opn {
    // from{width:0px}
    from{width:58px}
    to{width:30.2%}
    }
  @keyframes sd_cls {
    from{width:30.2%}
    // to{width:0px}
    to{width:58px}
  }
}

@media screen and (max-width: 1024px) {
  .vd_wthshr .swtc_lft{top: 120px;}
  .my_prfl_dp{width: 25%;}
  .my_prfl_mn{width: 72%; margin-left: 2%;}
  .ce_admn .drtn_eq .drtn_eq_rdo .nemh mat-radio-button{
    padding: 10px 25px;
  }
  .popover.ng-star-inserted {
    left: 0 !important;
    top: 40% !important;
    transform: initial !important;
    white-space: normal !important;
    position: fixed !important;
    width: 80%;
    margin: 0 auto;
    z-index: 9;
    right: 0;
  }
  .inner-container {
    padding: 0 30px;
  }
  .cust_mdl_30p .cust_mdl_chl{
    width: 50%;
  }
}
@media (max-width:988px){
  .my_prfl_dp .brws_dpbtn{max-width: 80%;}
  span.profile_pic {
    max-width: 80%;
    height: auto !important;
  }
  .my_prfl_mn .my_prf_dv{
    width: calc(49.333333% - 10px);
  }
  .my_prfl_mn .my_prf_dv{
    &.mypdv_bg{
      width: 97%;
    }
    &.rsp_mypdv_bg{
      width: 97%;
    }
  }
  .cm_fltr_sc{
    max-width: 250px;
  }
}
@media (max-width:800px){
  .updpss_mndv .my_prf_dv{width: calc(49.333333% - 10px);}
  .my_prfl_mn .my_prf_dv{
    &.mypdv_bg{
      width: 100%;
    }
    &.rsp_mypdv_bg{
      width: 100%;
    }
  }
  .my_prfl_dp{
    width: 40%;
  }
  .my_prfl_mn{
    width: 57%;
  }
  .my_prfl_mn .my_prf_dv{
    width: 100%;
    margin: 0;
  }
  .intr_vd_tml{
    .mat-expansion-panel-header {
      min-height: 48px;
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px;
      &.mat-expanded{
        height: auto;
      }
      .mat-content{
        flex-wrap: wrap;
      }
    }
  }
}
@media (max-width: 769px) {
  .lg_inbtn {
    position: fixed;
    right: 0;
    top: 17px;
    /* color: #FFF !important; */
  }
  
  mat-toolbar.mat-tollbar {
    position: fixed !important;
    background-color: red;
  }

 
  app-topbar.inner-header mat-toolbar {
    top: 0;
    height: 60px;
    z-index: 90;
  }
  .inner-container {
    margin: 80px auto 0;
  }
  .indx_bnnr mat-toolbar {
    background: #fff;
    position: fixed;
    z-index: 90;
    top: 0;
  }
  .indx_bnnr {
    padding-top: 60px;
  }
  // Single page responsive
  .indvidual_main .ind_mdl_cont {
    width: 90%;
    max-width: 100%;
    left: 0;
    margin: 0 auto;
    right: 0;
  }
  .feedback_block .form-fields mat-form-field {
    width: 100%;
  }
  .mob_d_block {
    display: block !important;
  }
}

@media (max-width:768px){
  // .dsh_brd_crds.glbl_srch mat-icon{
  //   vertical-align: top;
  // }
  .sclshr_btns > button{width: 200px;}
  .frrsp_768{
    .crt_pr_dv{
      width: 100%;
    }
  }  
  .cust_mdl_30p .cust_mdl_chl{
    width: 80%;
  }
  .crs_pr_bynw > div{
    max-width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width:767px){
  .db_dod{padding: 10px 20px;}
  .tstsqst_ans{
    mat-radio-group{
      margin: 10px 0;
    }
    .mat-radio-label-content{
       white-space: normal;
    }
  }
  div.nav.menu_open {
    display: flex !important;
  }
  div.nav {
    display: none !important;
    position: fixed;
    left: 0;
    top: 61px;
    width: 100%;
    background-color: #fff;
    flex-wrap: wrap;
    z-index: 90;
    border-top: 5px solid #0f98a6;
  }
  .nav > span.tp_rt_mn {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    padding: 5px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    border-bottom: 1px solid #c3c3c450;
    margin-right: 0;

    &:hover {
      background-color: #0f98a650;
      color: #000;
    }
    &.active {
      background-color: #0f98a650;
      color: #000;
    }
  }
  .nav > .tp_rt_mn{
    margin-right: 0;
  }
  .top-right-icon .glbl_srch.glbsrc_act.dsh_brd_crds > mat-form-field.mat-form-field{right: 80px;}
  .ord_mo_767{
    order: -1;
  }
  .top-right-icon .glbl_srch {
    position: static;
    width: 90% !important;
    margin: auto;
    // margin-top: 10px;
    text-align: right;
  }
  .crs_d_r_p .w_100p{justify-content: center;}
  .crs_d_r_p .pc_dsc_mn > span{text-align: center; margin: 15px auto 0 auto;}
  .rsp_100p_767{width: 100% !important;}
  .rsp_80p_767{width: 80% !important;}
  .tsts_mn .tsts_qstns_nums .tstsnms_cnt_dv ul li{
    padding: 6px 0px;flex-basis: 40px; font-size: 12px;
    margin: 0;
  }
  .qbnk_mn .tsts_qstns_nums .tstsnms_cnt_dv ul li{
    flex-basis: auto;
    padding: 10px 15px;
  }
  .sclshr_btns_hd{
    font-size: 18px;
  }
  .rsp767_80p{
    width: 80% !important;
  }
  .rsp767_100p{
    width: 100% !important;
  }
  .w_100p.rsp767_50p{
    width: 50%;
    &.rsp_ma{
      margin: auto;
    }
  }
  .ce_admn{
    .drtn_eq{
      flex-wrap: wrap;
      .drtn_eq_hd{
        width: 100%;
        margin-bottom: 5px;
      }
    }
    .slct_exm_mds{
      flex-wrap: wrap;
      .slct_stdy_md, .slct_exm_md, .slct_lv_md{
        flex-basis: 100%;
        justify-content: flex-start;
        text-align: left;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
    .slct_sub_cpt{
      flex-wrap: wrap;
      .slct_sub_on, .slct_sub_tw{
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0;
        padding: 20px;
        .cm_fltr_sc{
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }
  }
  .ssm_aa{
    width: 50px !important;
    margin-left: 20px;
  }
  .ssm_ab{
    width: auto !important; 
    border-bottom: 0 !important;
    margin: 15px auto 0 0 !important;
    padding-left: 0 !important;
  }
  .ssm_ac{
    margin-left: 20px;
  }
  .crses_rgt .intr_vd_hd{
    margin: 0;
    padding: 10px 20px;
  }
  .zm_swtchusrs{
    .zmsu_lft{
      font-size: 12px;
      padding-right:2px 12px;
      .mat-icon-button{
        height: 30px;
        line-height: 30px;
      }
    }
    flex-wrap: wrap;
    .w_49p, .w_50p{
      width: 100%;
      margin-bottom: 5px;
      &.mr_1p{
        margin-right: 0 !important;
      }
    }
  }
  .fw_rsp_767{
    flex-wrap: wrap;
  }
  .sp_mn .brdcrm_br span, .sp_mn .brdcrm_br strong{font-size: 12px;}
  .pg_ttl{
    font-size: 14px;
  }
  body{
    line-height: normal;
  }
  .crses_lft_mn .crses_lft .crs_desc{
    h2{
      font-size: 18px;
      line-height: normal;
    }
    ul{
      padding: 0;
      li{
        list-style: inside;
      }
    }
  }
  .rdo_exp_txt{
    width: 100%;
    word-break: break-word;
    ul{
      padding: 0;
    }
  }
  .mat-nested-tree-node ul{padding-left: 10px;}
  .sp_mn .sp_cnt{flex-direction: column; padding: 20px;}
  .sp_mn .sp_cnt .sp_cnt_lft, .sp_mn .sp_cnt .sp_cnt_rt{width: 100%; margin-bottom: 10px;}
  .tchr_mat_dets .tchr_mt_mn .tchr_mt_cnt{
    word-break: break-all;
  }
  .days_mn .dys_dv{
    width: calc(50% - 10px);
  }
  .qstn_lng{
    .crs_desc_cnt.mcb_desc{
      width: 100%;
    }
    .qstn_nms{
      width: 100%;
      height: auto;
    }
  }
  .qstn_hds .mcb_img iframe{
    min-height: 50vw;
  }
  .rsp767_100{
    width: 100%;
  }
  .rsp767_fw{
    flex-wrap: wrap;
  }
  .cpm_pg .cpm_pg_mn{
    width: 100%;
  }
  .img_prp, .img_prp_dets{
    width: 100%;
  }
  .page_buttons{
    display: flex;
    flex-wrap: wrap;
    > div{
      width: 48%;
      margin: 0 1% 10px 1%;
      a.ml_1, button.ml_1{
        width: 100%;
        margin-left: 0;
        margin-bottom: 5px;
      }
    }
  }
  .con_view{
    flex-direction: column-reverse;
    .crses_rgt{
      width: 100%;
      margin-bottom: 20px;
    }
    .crses_lft_mn{
      width: 100%;
    }
  }
  .pg_ttl{
    flex-direction: column;
  }
  .img_prp_btns{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    div{
      flex-basis: 48%;
      margin: 1%;
      a, button{width: 100%;}
    }
  }
  .wr_rvw_dv{width: 93%; position: fixed; bottom: 0; overflow: auto; min-width: unset;}
  .desc_otr_tpc{width: 80%; left: 0; right: 0; margin: auto;}
  .crs_tbbd_dv{flex-wrap: wrap;
    .ct_hd{width: 100%;}
    .spacer{display: none;}
    .ct_rtn{width: 100%;}
  }
  .crs_sld_mn .crs_sld_dv{width: 49%;}
  .mn_dshbrd.crs_dshbrd, .mn_sdopn .mn_dshbrd.crs_dshbrd, .mn_sdcls .mn_dshbrd.crs_dshbrd{
    width: calc(99% - 80px);
    margin: 64px 0 64px 70px;
  }
  .crses_rgt{width: calc(99% - 80px); margin: 0 auto auto auto;}
  // .crses_lft_mn .crses_lft .crs_desc_cnt img{width: 20%;}
  .xl_srch{width: 100% !important;}
  .mlti_fls_dv{width: 15%;}
  .glance .mat-card-content .mat-list .mat-list-item-content{ font-size: 14px;}
  .glance .mat-list-base .mat-list-item{ height: 15px;}
  .grd_2c{padding: 10px;}
  .grd_2c .frm_dvs{flex-wrap: wrap;}
  .grd_2c .frm_dvs > span:nth-child(odd), .grd_2c .frm_dvs > span:nth-child(even){flex-basis: 100%;}
  .dsh_brd_crds .mat-form-field-infix, .grd_2c .mat-form-field-infix{width: 200px;}
  .cust_mdl_50p .cust_mdl_chl{width: 90%;}
  .cust_mdl_chl .w_30p{width: 90% !important;}
  .footer{position: relative;}
  .footer span{right: auto; width: 100%; display: inline-block;}
  .mn_dshbrd, .mn_dshbrd.fl_mndsbrd{
    width: 90%;
    margin-left: auto; 
    margin-right:auto;
  }
  .mn_sdopn div.mn_dshbrd{ 
    position: relative;  
    // animation-name: dsh_sld_ani;
    // animation-duration: 0.2s;
    width: 90%;
    // animation-timing-function: linear;
    margin-left: auto; 
    margin-right:auto; 
  }
  .mn_sdcls div.mn_dshbrd{ 
    position: relative;  
    // animation-name: dsh_sldcls_ani;
    // animation-duration: 0.2s;
    // animation-timing-function: linear;
    width: 90%;
  }
  .sd_br{
    width: 0;
    box-shadow: none;
  }
  @keyframes dsh_sld_ani{
    from{margin-left: auto;}
    to{margin-left: auto;}
  }
  @keyframes dsh_sldcls_ani{
    from{margin-left: auto; }
    to{margin-left:auto;}
  }
  .crds_ul{flex-wrap: wrap; display: block !important;}
  .sd_br.sd_opn, .sd_br:hover{width: 100%;}
  @keyframes sd_opn {
    from{width:0px}
    to{width:100%}
  }
  @keyframes sd_cls {
    from{width:100%}
    to{width:0px}
  }
  .grd_2c .mat-form-field{width: 100%;}
  .grd_2c .err_tltp_par {width: 100%;}
} 
@media (max-width: 640px){
  span.usr_lgns{ display:none;}
  .shpcrt .shpcrt_mn_dv .shpcrt_mn_btns{flex-wrap: wrap;}
  .shpcrt .shpcrt_mn_dv .shpcrt_mn_btns > div{flex-basis: 100%; margin-bottom: 15px;}
  .ba_add.w_80p{flex-wrap: wrap;
    > div{order: 2; width: 100%;
      &.ad_nw_addrs{order: 1;}
    }
  }
}
@media (max-width: 599px){
  .top-right-icon .glbl_srch.glbsrc_act.dsh_brd_crds > mat-form-field.mat-form-field{width: 80%;}
  .crs_innr_dets_tbl li{flex-wrap: wrap;
    span{width: 100%; margin-bottom: 5px;}
  }
  .d_flx_ac{ display: block;}
  .crs_pr_bynw{flex-wrap: wrap;}
  .crs_par .crs_chld{flex-basis: 100%; padding: 20px;}
  .pr_btn_dv, .bn_btn_dv {max-width: 100%; width: 100%; margin-bottom: 0;}
  .my_prfl_dp{width: 100%; padding: 20px; margin-bottom: 20px;}
  .my_prfl_mn{width: 90%; margin: 0 auto;}
  .img_prp_dets > ul > li{width: 100%;}
  .qst_rmng_tm{flex-wrap: wrap;}
  .rsp_100p_599{width: 100%;}
  .tsts_mn .tsts_qstns .tstsqst_navs{flex-wrap: wrap;}
  .tsts_mn .tsts_qstns .tstsqst_navs > button{
    margin: 1%;
    margin-bottom: 10px;
    justify-content: center;
    &:nth-child(2){order:1; width: 120px;
      &.chk_ans{width: 160px;}
    }
    &:nth-child(1){order:2;}
    &:nth-child(3){order:3;}
  }
  .mat-form-field.date_picker{
    max-width: none;
  }
  .sp_mn .sp_cnt .sp_cnt_rt .days_mn .dys_dv{width: calc(100% - 10px);}
  .days_mn .dys_dv{
    width: calc(100% - 8px);
  }
  .fw_rsp_599{
    flex-wrap: wrap;
  }
  .rsp_hd_599{
    display: none;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
      height: 64px;
  }
  .cm_fltr_sc {
    width: 100%;
    max-width: none;
  }
  .ce_admn .slct_sub_cpt .slct_sub_on{flex-direction: column;}
}
@media (max-width: 580px){ 
  .sbmtd_ans_dv{
    > div{
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      row-gap: 5px;
    }
  }
  .top-right-icon .glbl_srch.glbsrc_act.dsh_brd_crds > mat-form-field.mat-form-field{
    width: 90%;
    right: 0;
    left: 0;
    margin: auto;
  }
  .ce_admn .drtn_eq .drtn_eq_rdo .nemh mat-radio-button{margin: 10px auto 0px; width: 60%;} 
  .ce_admn .drtn_eq .drtn_eq_rdo mat-radio-button{width: 100%; margin-bottom: 20px;}
  .updpss_mndv{padding: 15px 20px;}
  .updpss_mndv .my_prf_dv{width: 100%; margin-right: 0;}   
  .sclshr_btns{
    row-gap: 10px;
    > button {
      padding: 1px 25px;
      .scl_img{
        width: 20px;
      }
    }
  }
  .upld_shr_dts{
    .upld_shr_aa{
      .mr_1{
        width: 100%;
        .mat-form-field{
          width: 100%;
        }
      }
    }
  }
  .wbg_mn .wbg_cnt .wbg_dv{width: 100%; margin-right: 0; margin-bottom: 15px;}
  .qstnof_cnt{
    .flsh_crd_btns{
      flex-wrap: wrap;
      button{
        width:auto;
      }
    }
  }
  .mr_1.w_100p{
    margin-right: 0 !important;
  }
  .pn_btns button{
    width: 100%;
    margin-bottom: 5px;
  }
  .smpl_vds .crs_chld{flex-basis: 100%;}
  .crt_prtnr .crt_pr_mn .crt_prt_cnt mat-radio-button{
    width: 100%;
    margin-bottom: 15px;
  }
  .crt_prtnr .crt_pr_dv{
    width: 100%;
    margin-bottom: 0;
  }
  .rsp_flx_aa{
    display: inline-block;
    width: 100%;
  }
  .rsp_fw{
    flex-wrap: wrap;
  }
  .w_50p.rsp_100p{
    width: 100%;
    margin: 0 !important;
  }
  .w_50p.rsp_90p{
    width: 90%;
  }
  .w_47p.rsp_100p{
    width: 100%;
    margin: 0 !important;
  }
  .cpm_pg .cpm_pg_mn .cpm_pg_cnt .pkg_chkbx{
    .w_50p{
      width: 100%;
      margin-right: 0 !important;
    }
    flex-wrap: wrap;
  }
  .ulvd_inpts > div .mat-form-field {
    width: 100%;
  }
  .ulvd_inpts > div {
    margin: 0;
    width: 100%;
    text-align: right;
  }
  .ulvd_inpts{flex-direction: column; border-bottom: 1px solid #e6e6e6; margin-bottom: 15px; padding-bottom: 15px;}
  .crs_tbbd_dv{
    .ct_vw{
      width: 100%;
    }
    .ct_br, .ct_cnt{
      width:calc(50% - 10px);
    }
  }
  .crs_sld_mn .crs_sld_dv{width:99%;}
  .grd_2c .frm_dvs .mat-raised-button.ml_1{margin-left: 0em; margin-right: 1em;}
  .dsh_brd_crds .mat-form-field-infix, .grd_2c .mat-form-field-infix{width: 100%;}
  .grd_2c .frm_dvs > span:nth-child(even){flex-wrap: wrap; width: 100%;}
  .grd_2c .mat-form-field{width: 100%;}
  .grd_2c .err_tltp_par{width: 100%;}
  .mn_dshbrd .mat-form-field-appearance-outline .mat-form-field-wrapper{margin-top: 0;}
  .dsh_brd_crds .mat-form-field-infix, .grd_2c .mat-form-field-infix{padding: 8px 0 !important;}
  .crs_chld{flex-basis: 100%;}
  .crs_innr_tbd li{flex-wrap: wrap; margin-bottom: 15px;}
}
// mat table responsive
@media screen and (max-width: 485px) {
  span.logo_spn{ max-width: 140px; margin-right: 15px;}
  .tsts_mn .tsts_qstns .tstsqst_navs > button:nth-child(2){order: 4;}
}
@media screen and (max-width: 480px) {
  .fw_rsp_480{
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 460px) {
  .clpr_vabtn{
    flex-wrap: wrap;
  }
  .mat-form-field {
    width: 100%;
  }
  .grd_2c .frm_dvs > span:nth-child(even) {
    display: block;
  }
  .tc_w50p {
    width: 100%;
  }
  .grd_2c {
    display: block;
  }
  .mat-paginator-range-label {
    margin: 0 5px 0 5px !important;
  }
  .conditions_div > mat-checkbox:first-child {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
  }
}
// ends

