@charset "utf-8";

/* CSS Document */
 

@media(max-width:1100px) {
    .footer span{
        position: relative;
        right: auto;
    }
}
@media (max-width:767px){
    .footer{position: relative;}
    .footer span{right: auto; width: 100%; display: inline-block; }
}