@charset "utf-8";

/* CSS Document */
 

@media(max-width: 1499px){ 
  

    .mn_sdopn div.mn_dshbrd{ 
        position: relative;  
        animation-name: dsh_sld_ani;
        animation-duration: 0.2s;
        width: 74%;
        animation-timing-function: linear;
        margin-left: auto; 
        margin-right: 0; 
      }
    .mn_sdcls div.mn_dshbrd{ 
        position: relative;  
        animation-name: dsh_sldcls_ani;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        width: 74%;
      }
      @keyframes dsh_sld_ani{
        from{margin-left: 13%;}
        to{margin-left: 26%;}
      }
      @keyframes dsh_sldcls_ani{
        from{margin-left: 26%;  }
        to{margin-left: 13%;}
        }
        .sd_br:hover, .sd_br:hover{width:25%;}
        .sd_br.sd_opn{width: 25%;}
        @keyframes sd_opn {
            from{width:58px}
            to{width:25%}
            }
            @keyframes sd_cls {
                from{width:25%}
                to{width:58px}
                }
    
}
@media(max-width:1100px) {
    .footer span{
        position: relative;
        right: auto;
    }
}
@media(max-width: 990px){
   

    .mn_sdopn div.mn_dshbrd{ 
        position: relative;  
        animation-name: dsh_sld_ani;
        animation-duration: 0.2s;
        width: 70%;
        animation-timing-function: linear;
        margin-left: auto; 
        margin-right: 0; 
      }
    .mn_sdcls div.mn_dshbrd{ 
        position: relative;  
        animation-name: dsh_sldcls_ani;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        width: 70%;
      }
      @keyframes dsh_sld_ani{
        from{margin-left: 15%;}
        to{margin-left: 30%;}
      }
      @keyframes dsh_sldcls_ani{
        from{margin-left: 30%; }
        to{margin-left:15%;}
        }
        .sd_br.sd_opn, .sd_br:hover{width: 30%;}
        @keyframes sd_opn {
            from{width:58px}
            to{width:30%}
            }
            @keyframes sd_cls {
                from{width:30%}
                to{width:58px}
                }
}
@media (max-width:767px){
    .footer{position: relative;}
    .footer span{right: auto; width: 100%; display: inline-block;}
    .mn_dshbrd{width: 90%;}
    .mn_sdopn div.mn_dshbrd{ 
        position: relative;  
        animation-name: dsh_sld_ani;
        animation-duration: 0.2s;
        width: 90%;
        animation-timing-function: linear;
        margin-left: auto; 
        margin-right:auto; 
      }
    .mn_sdcls div.mn_dshbrd{ 
        position: relative;  
        animation-name: dsh_sldcls_ani;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        width: 90%;
      }
      .sd_br{
          width: 0;
          box-shadow: none;
      }
      @keyframes dsh_sld_ani{
        from{margin-left: auto;}
        to{margin-left: auto;}
      }
      @keyframes dsh_sldcls_ani{
        from{margin-left: auto; }
        to{margin-left:auto;}
        }
        .crds_ul{flex-wrap: wrap;}
        .sd_br.sd_opn, .sd_br:hover{width: 100%;}
        @keyframes sd_opn {
            from{width:0px}
            to{width:100%}
            }
            @keyframes sd_cls {
                from{width:100%}
                to{width:0px}
            }
}
@media (max-width: 599px){
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
}
}
.rsp_tbl{max-width: 100%; overflow: auto; width: 100%;}