<div class="mn_dshbrd">
    <div class="brd_crm">{{"proceum_text"|translate}} &raquo; <span routerLink="/admin/manage-flash-cards"><strong>{{"admin.side_menu.flash_cards"|translate}}</strong></span> <strong>&raquo; {{"admin.mng_cnt.fsh_crds.add_questions"|translate}}</strong></div>
    <div class="pg_ttl">{{"admin.side_menu.flash_cards"|translate}} :: {{"admin.mng_cnt.fsh_crds.add_questions"|translate}}</div>
    <hr />

    <div class="cust_mdl_par cust_mdl_50p {{ library_popup ? 'cust_mdl_opn' : '' }}">
        <div class="cust_mdl_chl">
          <div class="pg_ttl">
            {{"admin.mng_cnt.fsh_crds.proceum_library"|translate}}
            <span class="spacer"></span>
            <button (click)="CloseModal()" mat-icon-button class="float_right">
              &#x2715;
            </button>
          </div>
          <div class="tbbd_bdy" *ngIf="library_popup">
            <app-assets-library [data]="{ modal_view: true, active_tab: active_tab, 'library_purpose': library_purpose }">
            </app-assets-library>
    
            <hr />
            <button mat-raised-button color="accent" class="float_right mr_1">
              {{"select_text"|translate}}
            </button>
    
            <button mat-raised-button class="float_right mr_1 gry_btn" (click)="CloseModal()">
              {{"close"|translate}}
            </button>
            <div class="hgt_20"></div>
          </div>
        </div>
    </div>
    
    <form id="flash_cards_form" #flash_cards_form="ngForm" name="flash_cards_form" (ngSubmit)="flash_cards_form.valid && saveFlashCards()" novalidate ><!-- flash_cards_form.valid && -->
        <div class="dsh_brd_crds">
            <div *ngIf="curriculum_list == undefined">
              {{"admin.mng_cnt.fsh_crds.no_course_found"|translate}}
            </div>
            <div *ngIf="curriculum_list != undefined" class="cm_fltr_sc mr_1">
                <span>{{"admin.mng_cnt.fsh_crds.course"|translate}} <span class="required">*</span></span>
                <div class="clear_fix"></div>
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="curriculum_id" name="curriculum_id" (ngModelChange)="applyFilters(0)" required>
                        <mat-option *ngFor="let value of curriculum_list" [value]="value['pk_id']" [matTooltip]="value['curriculumn_name']" >{{ value["curriculumn_name"] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="prc_tltp" *ngIf="(flash_cards_form.submitted || curriculum_id.touched) && curriculum_id.invalid">Course is required</span>
            </div>
            
            <div class="cm_fltr_sc mr_1" *ngFor="let value of curriculum_labels; let i = index">
                <div *ngIf="i < curriculum_labels.length">
                <span>{{ ucFirst(value["display_label"]) }} <span *ngIf="level_options[value['level_number']] != undefined && level_options[value['level_number']].length > 0" class="required">*</span></span>
                <div class="clear_fix"></div>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="{{'select_text'|translate}} {{ ucFirst(value['display_label']) }}" name="course_list_{{i+1}}" #course_list_{{i+1}}="ngModel"
                    [(ngModel)]="selected_level[value['level_number']]" (ngModelChange)="
                        applyFilters(value['level_number']);
                        getLevels(value['level_number'])
                    " [required]="level_options[value['level_number']] != undefined && level_options[value['level_number']].length > 0">
                    <mat-option>
                        <ngx-mat-select-search [noEntriesFoundLabel]="'No '+ ucFirst(value['display_label'])+' found'"
                                                        name="search_topic" ngModel
                                                        (ngModelChange)="searchLevelByName($event,value['level_number'])"
                                                        [placeholderLabel]="'Search '+ucFirst(value['display_label'])">{{'select_text'|translate}} {{ucFirst(value['display_label'])}}
                                                    </ngx-mat-select-search>
                                                </mat-option>
                    <mat-option *ngFor="let level of level_options[value['level_number']]" [value]="level['pk_id']"
                        [matTooltip]="level['level_name']">{{level["level_name"] }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="prc_tltp" *ngIf="flash_cards_form.submitted">{{ value["display_label"] }} is required</span>
                </div>
            </div>
            
            <div class="crt_pr_dv w_100p d-flex fw_w">
                <div class="d-flex fw_w mb_1 w_100p"
                                *ngFor="let value of questionArray;let i = index;">
                    <div class="rsp_tbl">
                        <div class="w_100p mb_1">
                            <label for="question-text"> {{"admin.mng_cnt.fsh_crds.question"|translate}} {{i+1}} <span class="required">*</span></label>
                        </div>
                        <div class="w_100p">
                            <div class="ck_editor {{flash_cards_form.submitted && questionArray[i]['question_text'].trim()==''?'angular_editor_div':''}}">
                                <angular-editor [placeholder]="'Enter Question '+(i+1)+' text here...'" [config]="liteEditorConfig"
                                name="question{{i+1}}" #question{{i+1}}="ngModel" [(ngModel)]="questionArray[i]['question_text']" required></angular-editor>
                                
                            </div>
                            <span class="prc_tltp" *ngIf="(flash_cards_form.submitted || questionArray[i]['question_text'].touched) && questionArray[i]['question_text'].trim()==''">Question Text is required</span>
                        </div>
                        <div class="upld_img_thmb">
                            <div class="c_block">
                              <div class="c_block_title">
                                <mat-icon>wallpaper</mat-icon>
                                <label for="Intro video"> {{"admin.mng_cnt.fsh_crds.upload_images"|translate}}</label>
                                <span class="spacer"></span>
                                <mat-icon (click)="openAssetsLibrary('images/flash_cards', 'question_images',i)" *ngIf="value.question_images.length < 1">add</mat-icon>
                              </div>
                              <div class="c_block_content" *ngIf="value.question_images.length == 0">
                                <div class="upload_placeholder">
                                  <div class="place_block">
                                    <span>{{"admin.mng_cnt.fsh_crds.click_to_add"|translate}}</span>
                                  </div>
                                </div>
                              </div>
                              <div class="c_block_content">
                                <ul>
                                  <li *ngFor="let file of value.question_images; let j = index">
                                    <img [src]="file['path']" alt="{{
                                        file['file_path'].substring(
                                          file['file_path'].lastIndexOf('/') + 1
                                        )
                                      }}" />
                                    <span class="upldd_hd">{{
                                      file["file_path"].substring(
                                      file["file_path"].lastIndexOf("/") + 1
                                      )
                                      }}</span>
                                    <span class="spacer"></span>
                                    <mat-icon class="vd_dl_icn" (click)="removeFile(i, j, 'question_images')">remove_circle_outline</mat-icon>
                                  </li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="rsp_tbl">
                        <div class="w_100p mb_1">
                            <label for="question-text"> {{"admin.mng_cnt.fsh_crds.answer"|translate}} {{i+1}} <span class="required">*</span></label>
                        </div>
                        <div class="w_100p">
                            <div class="ck_editor {{flash_cards_form.submitted && questionArray[i]['answer_text'].trim()==''?'angular_editor_div':''}}" >
                                <angular-editor (ready)="onReady($event)" [placeholder]="'Enter Answer '+(i+1)+' text here...'" [config]="liteEditorConfig"
                                name="answer{{i+1}}" #answer{{i+1}}="ngModel" [(ngModel)]="questionArray[i]['answer_text']" required></angular-editor>
                                <span class="prc_tltp" *ngIf="(flash_cards_form.submitted || questionArray[i]['answer_text'].touched) && questionArray[i]['answer_text'].trim()==''">Answer Text is required</span>
                            </div>
                        </div>
                        <div class="upld_img_thmb">
                            <div class="c_block">
                              <div class="c_block_title">
                                <mat-icon>wallpaper</mat-icon>
                                <label for="Intro video"> {{"admin.mng_cnt.fsh_crds.upload_images"|translate}}</label>
                                <span class="spacer"></span>
                                <mat-icon (click)="openAssetsLibrary('images/flash_cards', 'answer_images', i)" *ngIf="value.answer_images.length < 1">add</mat-icon>
                              </div>
                              <div class="c_block_content" *ngIf="value.answer_images.length == 0">
                                <div class="upload_placeholder">
                                  <div class="place_block">
                                    <span>{{"admin.mng_cnt.fsh_crds.click_to_add"|translate}}</span>
                                  </div>
                                </div>
                              </div>
                              <div class="c_block_content">
                                <ul>
                                  <li *ngFor="let file of value.answer_images; let j = index">
                                    <img [src]="file['path']" alt="{{
                                        file['file_path'].substring(
                                          file['file_path'].lastIndexOf('/') + 1
                                        )
                                      }}" />
                                    <span class="upldd_hd">{{
                                      file["file_path"].substring(
                                      file["file_path"].lastIndexOf("/") + 1
                                      )
                                      }}</span>
                                    <span class="spacer"></span>
                                    <mat-icon class="vd_dl_icn" (click)="removeFile(i, j, 'answer_images')">remove_circle_outline</mat-icon>
                                  </li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>  
                    <div class="hgt_20"></div>
                    <div class="w_100p">
                        <button class="float_right mr_1" (click)="removeOption(i)"
                            *ngIf="questionArray.length>1"
                            type="button" mat-raised-button color="warn">{{"admin.mng_cnt.fsh_crds.remove"|translate}} ( - )</button>
                    </div>                  
                </div>
                <div class="hgt_20"></div>
                    <div class="w_100p">
                        <button class="float_right mr_1" (click)="addOption()"
                            *ngIf="questionArray.length<max_options"
                            mat-raised-button type="button" color="accent">{{"admin.mng_cnt.fsh_crds.add"|translate}} ( + )</button>
                    </div>
            </div>

            <div class="clear_fix"></div>
            <div class="text_right float_right w_100p">
                <button type="submit" mat-raised-button  class="no_bxsdw mt_1" color="accent">{{"submit"|translate}}</button>
            </div>
        </div>
    </form>
</div>