.upld_img_thmb {
    flex-basis: 49%; 
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    li {
      list-style: none;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      padding: 15px;
      border-bottom: 1px dashed #dde1e1;
    }
    img {
      width: 24px;
      height: 24px;
    }
    mat-icon {
      color: #65bb61;
    }
    .upldd_hd {
      width: 100%;
      padding: 0 15px;
      box-sizing: border-box;
      word-break: break-word;
    }
    .vd_dl_icn {
      color: #fa6058;
      align-self: center;
    }
    p {
      margin: 0;
      font-size: 12px;
    }
    li:nth-child(odd) {
      background-color: #f8fcfc;
    }
  }
  .upld_img_thmb {
    li {
      align-items: center;
    }
    img {
      width: 100px;
      height: auto;
    }
  }

  .c_block {
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
  
    .c_block_title {
      padding: 20px;
      display: flex;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: calc(100% - 40px);
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        background-color: #e6e6e6;
        padding: 0 20px;
        box-sizing: border-box;
      }
      mat-icon {
        color: #65bb61;
        margin-right: 15px;
      }
    }
    .c_block_content {
      padding: 20px;
    }
    .upload_placeholder {
      text-align: center;
      padding: 20px;
      background: #fafafa;
      justify-content: center;
      color: #7c7c7c;
      display: flex;
      align-items: center;
      mat-icon {
        font-size: 50px;
        width: auto;
        height: auto;
      }
    }
    .ck_editor {
      max-width: 99%;
      width: 100%;
    }
    ckeditor {
      width: 100%;
    }
  }

  .upload_placeholder {
    text-align: center;
    padding: 20px;
    background: #fafafa;
    justify-content: center;
    color: #7c7c7c;
    display: flex;
    align-items: center;
    mat-icon {
      font-size: 50px;
      width: auto;
      height: auto;
    }
  }