<div class="mn_dshbrd">
  <div class="brd_crm">
    Proceum&nbsp;&raquo; <strong>Assets Library</strong>
  </div>
  <div class="pg_ttl">Assets Library</div>
  <hr />
  <div class="hgt_20"></div>
  <!-- <mat-chip-list>
        <mat-chip color="primary">
            <mat-icon class="mr_5px">dns</mat-icon>
            Public
        </mat-chip>
        <mat-chip color="primary">
            <mat-icon class="mr_5px">dns</mat-icon>
            Local
        </mat-chip>
    </mat-chip-list> -->
  <div class="hgt_20"></div>
  <div class="explr_nav">
    <mat-icon class="mr_5px">dns</mat-icon> /
    <span *ngFor="let path of current_path_list">{{ path + " / " }}</span>
  </div>
  <div class="hgt_20"></div>

  <mat-tab-group (selectedTabChange)="getFiles($event)">
    <mat-tab label="Documents">
      <div class="hgt_20"></div>
      <div class="dsh_brd_crds">
        <mat-form-field appearance="outline" class="float_right">
          <input matInput placeholder="Search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button
          mat-raised-button
          color="accent"
          class="float_right mr_1 mt_5px"
        >
          Upload Files
        </button>
      </div>
      <div class="hgt_20"></div>
      <div class="mlti_fls">
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/folder_back.png" alt="" />
          <span class="fl_nme text_center">Back</span>
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/folder.png" alt="" />
          <span class="fl_nme">Folder Name</span>
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/pdf.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/docx.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/xlsx.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/pdf.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/docx.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/xlsx.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/pdf.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/pdf.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Images">
      <div class="hgt_20"></div>
      <div class="dsh_brd_crds">
        <mat-form-field appearance="outline" class="float_right">
          <input
            [(ngModel)]="search_images"
            (keyup)="filterFiles()"
            matInput
            placeholder="Search"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button
          mat-raised-button
          color="accent"
          class="float_right mr_1 mt_5px"
        >
          Upload Files
        </button>
      </div>
      <div class="hgt_20"></div>
      <div class="mlti_fls">
        <div
          *ngIf="current_path_list.length > 1"
          class="mlti_fls_dv"
          (click)="goBack()"
        >
          <img src="../../../assets/images/folder_back.png" alt="" />
          <span class="fl_nme text_center">Back</span>
        </div>
        <div
          class="mlti_fls_dv"
          *ngFor="let folder of directories"
          (click)="openFolder(folder)"
        >
          <img src="../../../assets/images/folder.png" alt="" />
          <span
            matTooltip="{{ folder.substring(folder.lastIndexOf('/') + 1) }}"
            class="fl_nme"
            >{{ folder.substring(folder.lastIndexOf("/") + 1) }}</span
          >
        </div>
        <div class="mlti_fls_dv" *ngFor="let file of all_files | async">
          <img src="{{ bucket_path + file }}" alt="" />
          <span
            matTooltip="{{ file.substring(file.lastIndexOf('/') + 1) }}"
            class="fl_nme"
            >{{ file.substring(file.lastIndexOf("/") + 1) }}</span
          >
        </div>
        <!--
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/pdf_temp.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/pdf_temp.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/pdf_temp.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/pdf_temp.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/pdf_temp.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>
        <div class="mlti_fls_dv">
          <img src="../../../assets/images/pdf_temp.png" alt="" />
          <span class="fl_nme"
            >This is file name is too long so have to ellispsis it.pdf</span
          >
        </div>-->
      </div>
    </mat-tab>
    <mat-tab label="Videos">
      <div class="hgt_20"></div>
      <mat-tab-group>
        <mat-tab label="K-Point Videos">
          <div class="hgt_20"></div>
          <div class="dsh_brd_crds">
            <mat-form-field appearance="outline" class="float_right">
              <input matInput placeholder="Search" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="accent"
              class="float_right mr_1 mt_5px"
            >
              Upload Files
            </button>
          </div>
          <div class="hgt_20"></div>
          <div class="mlti_fls">
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
          </div>
        </mat-tab>
        <mat-tab label="YouTube Videos">
          <div class="hgt_20"></div>
          <div class="dsh_brd_crds">
            <mat-form-field appearance="outline" class="float_right">
              <input matInput placeholder="Search" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="accent"
              class="float_right mr_1 mt_5px"
            >
              Upload Files
            </button>
          </div>
          <div class="hgt_20"></div>
          <div class="mlti_fls">
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Other Videos">
          <div class="hgt_20"></div>
          <div class="dsh_brd_crds">
            <mat-form-field appearance="outline" class="float_right">
              <input matInput placeholder="Search" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="accent"
              class="float_right mr_1 mt_5px"
            >
              Upload Files
            </button>
          </div>
          <div class="hgt_20"></div>
          <div class="mlti_fls">
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme"
                >This is file name is too long so have to ellispsis it.pdf</span
              >
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>
