<div class="{{ !data['modal_view'] ? 'mn_dshbrd' : '' }}">
  <div class="cust_mdl_par cust_mdl_50p {{
      properties_popup ? 'cust_mdl_opn' : ''
    }}">
    <div class="cust_mdl_chl">
      <div class="pg_ttl">
        Properties
        <span class="spacer"></span>
        <button (click)="ClosePropertisModal()" mat-icon-button class="float_right">
          &#x2715;
        </button>
      </div>
      <div class="tbbd_bdy">
        <div class="hgt_20"></div>
        <div class="img_prp">
          <img [src]="preview_path" alt="" />
        </div>
        <div class="img_prp_dets">
          <ul>
            <li>
              <span class="img_info_hd">File Location</span>
              <span class="img_info_dets">{{ file_details["path"] }}</span>
            </li>
            <li>
              <span class="img_info_hd">File Type</span>
              <span class="img_info_dets">{{ file_details["extension"] }}</span>
            </li>
            <li>
              <span class="img_info_hd">File Size</span>
              <span class="img_info_dets">{{ file_details["size"] }} KB</span>
            </li>
            <li>
              <span class="img_info_hd">Uploaded Date</span>
              <span class="img_info_dets">{{ file_details["date_time"] }}</span>
            </li>
          </ul>
        </div>
        <hr />
        <div class="img_prp_btns">
          <div>
            <a [href]="bucket_path + file_details['path']" target="_blank" mat-raised-button color="accent"
              class="float_right mr_1">
              Open
            </a>
          </div>
          <div>
            <button *ngIf="data['modal_view'] == true" mat-raised-button color="accent" class="float_right mr_1"
              (click)="
            selectFile({ file_path: file_details['path'], path: preview_path })">Select
            </button>
          </div>
          <div>
            <button mat-raised-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
            'Are you sure to delete this file? File will be deleted permanently.'
          " placement="auto" (confirm)="deleteFile(file_details['path'])" confirmButtonType="danger"
              cancelButtonType="outline-secondary" color="warn" class="float_right mr_1">
              Delete
            </button>
          </div>
          <div>
            <button mat-raised-button class="float_right mr_1 gry_btn" (click)="ClosePropertisModal()">
              Close
            </button>
          </div>
        </div>



        
        <div class="hgt_20"></div>
      </div>
    </div>
  </div>

  <div class="brd_crm" *ngIf="!data['modal_view']">
    Proceum&nbsp;&raquo; <strong>Assets Library</strong>
  </div>
  <div class="pg_ttl" *ngIf="!data['modal_view']">Assets Library</div>
  <hr *ngIf="!data['modal_view']" />
  <!-- <div *ngIf="!data['modal_view']" class="hgt_20"></div> -->
  <!-- <mat-chip-list>
        <mat-chip color="primary">
            <mat-icon class="mr_5px">dns</mat-icon>
            Public
        </mat-chip>
        <mat-chip color="primary">
            <mat-icon class="mr_5px">dns</mat-icon>
            Local
        </mat-chip>
    </mat-chip-list> -->
  <!--<div class="fls_edt_btn">
    <ul class="float_right">
      <li>
        <mat-icon matTooltip="Refresh" (click)="openFolder(current_path)"
          >autorenew</mat-icon
        >
      </li>
    </ul>
    <ul class="float_right">
      <li>
        <mat-icon>note</mat-icon>
      </li>
      <li>
        <mat-icon>folder</mat-icon>
      </li>
      <li>
        <mat-icon>download</mat-icon>
      </li>
      <li>
        <mat-icon>delete</mat-icon>
      </li>
    </ul>
     <ul class="float_right">
      <li>
        <mat-icon>file_copy</mat-icon>
      </li>
      <li>
        <mat-icon>content_cut</mat-icon>
      </li>
      <li>
        <mat-icon>content_paste</mat-icon>
      </li>
    </ul> 
  </div>-->
  
  <div *ngIf="data['modal_view']" class="hgt_20"></div>
  <div class="explr_nav">
    <mat-icon class="mr_5px">dns</mat-icon> /&nbsp;<span *ngFor="let path of current_path_list">{{ path + " / "
      }}</span>
  </div>
  <div *ngIf="!data['modal_view']" class="hgt_20"></div>
  <mat-tab-group (selectedTabChange)="getFiles($event)" [selectedIndex]="selectedIndex">
    <mat-tab label="Documents" *ngIf="
        (data['modal_view'] && activeTab == 'documents') || !data['modal_view']
      ">
      <div class="hgt_20"></div>
      
      <!-- <div class="hgt_20"></div> -->

      <div class="dsh_brd_crds">
        <mat-form-field appearance="outline" class="mr_1">
          <input matInput [(ngModel)]="search_images" (keyup)="$event.keyCode == 13 ? filterFiles() : ''" matInput placeholder="Search" />
          <mat-icon matSuffix (click)="filterFiles()">search</mat-icon>
        </mat-form-field>
        <button mat-raised-button matTooltip="Refresh" color="accent" class="mr_1 mt_5px"
          (click)="openFolder(current_path)" type="button" color="accent">
          <mat-icon>autorenew</mat-icon>
        </button>
        <button mat-raised-button onclick="document.getElementById('fileToUpload').click()" color="accent"
          class=" mr_1 mt_5px">
          <mat-icon>upload</mat-icon>
          Upload Files<input (change)="uploadFiles($event)" multiple="true" #documents accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
            text/plain, application/pdf" id="fileToUpload" type="file" style="display: none" />
        </button>
        <span class="fl_frmt_info">
          (doc, .docx, .pdf, .odt, .xls, .xlsx, .ppt &amp; open office formats only)
        </span>
      </div>
      <div class="hgt_20"></div>
      <div class="mlti_fls">
        <div *ngIf="current_path_list.length > 1" class="mlti_fls_dv" (click)="goBack()">
          <img src="../../../assets/images/folder_back.png" alt="" />
          <span class="text_center">Back</span>
        </div>
        <div *ngFor="let folder of directories" class="mlti_fls_dv" (click)="openFolder(folder)">
          <img src="../../../assets/images/folder.png" alt="" />
          <span matTooltip="{{ folder.substring(folder.lastIndexOf('/') + 1) }}" class="fl_nme">{{
            folder.substring(folder.lastIndexOf("/") + 1) }}</span>
        </div>
        <div class="mlti_fls_dv" *ngFor="let file of all_files | async" [ngClass]="{
            actv_fls:
              active_class_file == file.substring(file.lastIndexOf('/') + 1)
          }" (click)="
            showPropertisModal(
              file,
              file.split('.').pop().toLowerCase() + '.png'
            )
          ">
          <img src="../../../assets/images/{{
              file.split('.').pop().toLowerCase()
            }}.png" alt="{{ file.substring(file.lastIndexOf('/') + 1) }}" />
          <span matTooltip="{{ file.substring(file.lastIndexOf('/') + 1) }}" class="fl_nme">{{
            file.substring(file.lastIndexOf("/") + 1) }}</span>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Images" *ngIf="
        (data['modal_view'] && activeTab == 'images') || !data['modal_view']
      ">
      <div class="hgt_20"></div>
      
      <!-- <div class="hgt_20"></div> -->
      <div class="dsh_brd_crds">
        <mat-form-field appearance="outline" class="">
          <input [(ngModel)]="search_images" ((keyup)="$event.keyCode == 13 ? filterFiles() : ''" matInput placeholder="Search" />
          <mat-icon matSuffix (click)="filterFiles()">search</mat-icon>
        </mat-form-field>
        <button mat-raised-button matTooltip="Refresh" color="accent" class=" mr_1 mt_5px"
          (click)="openFolder(current_path)" type="button" color="accent">
          <mat-icon>autorenew</mat-icon>
        </button>
        <button mat-raised-button onclick="document.getElementById('imageToUpload').click()" color="accent"
          class=" mr_1 mt_5px">
          <mat-icon>upload</mat-icon>
          Upload Files<input (change)="uploadFiles($event)" multiple="true" accept="image/x-png,image/gif,image/jpeg"
            id="imageToUpload" type="file" style="display: none" />
        </button>
        <span class="fl_frmt_info">
          System will accept only .jpg, .jpeg, .bmp, .gif, .png formats
        </span>
      </div>
      <div class="hgt_20"></div>
      <div class="mlti_fls">
        <div *ngIf="current_path_list.length > 1" class="mlti_fls_dv" (click)="goBack()">
          <img src="../../../assets/images/folder_back.png" alt="" />
          <span class="fl_nme text_center">Back</span>
        </div>
        <div class="mlti_fls_dv" *ngFor="let folder of directories" (click)="openFolder(folder)">
          <img src="../../../assets/images/folder.png" alt="" />
          <span matTooltip="{{ folder.substring(folder.lastIndexOf('/') + 1) }}" class="fl_nme">{{
            folder.substring(folder.lastIndexOf("/") + 1) }}</span>
        </div>
        <div class="mlti_fls_dv" *ngFor="let file of all_files | async" [ngClass]="{
            actv_fls:
              active_class_file == file.substring(file.lastIndexOf('/') + 1)
          }" (click)="showPropertisModal(file, false)">
          <img [src]="bucket_path + file" alt="{{ file }}" />
          <span matTooltip="{{ file.substring(file.lastIndexOf('/') + 1) }}" class="fl_nme">{{
            file.substring(file.lastIndexOf("/") + 1) }}</span>
        </div>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Videos" *ngIf="
        (data['modal_view'] && activeTab == 'videos') || !data['modal_view']
      "> -->
      <mat-tab label="Videos" *ngIf="false">
      <div class="hgt_20"></div>
      <mat-tab-group>
        <mat-tab label="Local Videos">
          <div class="hgt_20"></div>
          <div class="dsh_brd_crds">
            <mat-form-field appearance="outline" class="float_right">
              <input matInput placeholder="Search" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button mat-raised-button matTooltip="Refresh" color="accent" class="float_right mr_1 mt_5px"
              (click)="openFolder(current_path)" type="button" color="accent">
              <mat-icon>autorenew</mat-icon>
            </button>
            <button mat-raised-button onclick="document.getElementById('videoToUpload').click()" color="accent"
              class="float_right mr_1 mt_5px">
              <mat-icon>upload</mat-icon>
              Upload Files<input (change)="uploadFiles($event)" multiple="true" accept="video/*" id="videoToUpload"
                type="file" style="display: none" />
            </button>
          </div>
          <div class="hgt_20"></div>
          <div class="mlti_fls">
            <div *ngIf="current_path_list.length > 1" class="mlti_fls_dv" (click)="goBack()">
              <img src="../../../assets/images/folder_back.png" alt="" />
              <span class="fl_nme text_center">Back</span>
            </div>
            <div class="mlti_fls_dv" *ngFor="let folder of directories" (click)="openFolder(folder)">
              <img src="../../../assets/images/folder.png" alt="" />
              <span matTooltip="{{ folder.substring(folder.lastIndexOf('/') + 1) }}" class="fl_nme">{{
                folder.substring(folder.lastIndexOf("/") + 1) }}</span>
            </div>
            <div class="mlti_fls_dv" *ngFor="let file of all_files | async" [ngClass]="{
                actv_fls:
                  active_class_file == file.substring(file.lastIndexOf('/') + 1)
              }" (click)="
                showPropertisModal(file, '../../../assets/images/video.png')
              ">
              <img src="../../../assets/images/video.png" alt="{{ file }}" />
              <span matTooltip="{{ file.substring(file.lastIndexOf('/') + 1) }}" class="fl_nme">{{
                file.substring(file.lastIndexOf("/") + 1) }}</span>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="YouTube Videos">
          <div class="hgt_20"></div>
          <div class="dsh_brd_crds">
            <mat-form-field appearance="outline" class="float_right">
              <input matInput placeholder="Search" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="hgt_20"></div>
          <div class="mlti_fls">
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="KPoint Videos">
          <div class="hgt_20"></div>
          <div class="dsh_brd_crds">
            <mat-form-field appearance="outline" class="float_right">
              <input matInput placeholder="Search" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="hgt_20"></div>
          <div class="mlti_fls">
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf_temp.png" alt="" />
              <span class="fl_nme">This is file name is too long so have to ellispsis it.pdf</span>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>