<div class="wht_brd_tls">
  <span class="pen_btn" (click)="tglwbrd()">
    <span class="tp_rt_mn">
      <span>Draw it</span>
    </span>
    <mat-icon *ngIf="whtbrdsts == 'block' ? false : true">
      <!-- drive_file_rename_outline -->
      brush
    </mat-icon>

    <!-- <img
            *ngIf="whtbrdsts == 'block' ? false : true"
            src="assets/images/create.svg"
          /> -->
    <!-- <img
            *ngIf="whtbrdsts == 'block' ? true : false"
            src="assets/images/cursor.svg"
          /> -->
    <mat-icon *ngIf="whtbrdsts == 'block' ? true : false"> close </mat-icon>
  </span>
  <span class="tool-icons" *ngIf="whtbrdsts == 'block' ? true : false">
    <span *ngIf="whtbrdsts == 'none' ? false : true">
      <span class="undo_btn" (click)="undo()">
        <img src="assets/images/undo.svg" />
      </span>

      <span class="redo_btn" (click)="redo()">
        <img src="assets/images/redo.svg" />
      </span>

      <span class="clr_btn" (click)="erase()">
        <img src="assets/images/delete.svg" />
      </span>
    </span>
    <span *ngIf="whtbrdsts == 'none' ? false : true">
      <select class="pn_sz" (change)="setSize($event.target.value)">
        <option value="2" selected>1</option>
        <option value="5">2</option>
        <option value="10">3</option>
        <option value="20">4</option>
      </select>

      <input
        [(colorPicker)]="color"
        [cpOutputFormat]="hex"
        [cpOKButton]="true"
        [style.background]="color"
        class="colr_pkr"
      />
    </span>
  </span>
</div>
<div
  class="wht_brd"
  [ngStyle]="{
    'height.px': main_div_height,
    'width.px': main_div_width,
    display: whtbrdsts
  }"
>
  <ng-whiteboard
    [backgroundColor]="backgroundColor"
    [size]="size"
    [color]="color"
  >
  </ng-whiteboard>
</div>
