<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <span routerLink="/admin/prices-package-management"><strong>Pricing &amp; Package Management</strong></span> &raquo; <strong>Create
            Package</strong></div>
    <div class="pg_ttl">Create Package</div>
    <hr />
    <div class="cc_row">
        <div class="main_video_block">
            <div class="c_block">
                <div class="mn_vd_tbd dsh_brd_crds">
                    <mat-tab-group animationDuration="0.15s">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                Basic Details
                            </ng-template>
                            <div class="hgt_20"></div>
                            <div>
                                <form autocomplete="off" #create_package_form="ngForm" name="create_package_form"
                                    (ngSubmit)="create_package_form.valid && createPackageService()" novalidate>
                                    <div class="cpm_pg">
                                        <div class="cpm_pg_mn">
                                            <div class="cpm_pg_hd">
                                                Package details
                                            </div>
                                            <div class="cpm_pg_cnt">
                                                <div>Package Name</div>
                                                <div class="err_tltp_par">
                                                    <mat-form-field appearance="outline">
                                                        <input matInput placeholder="Enter package name"
                                                            [(ngModel)]="package_name" name="package_name"
                                                            (keypress)="allAlphabetsWithSpaces($event)" maxlength="60"
                                                            required />
                                                        <span class="prc_tltp"
                                                            *ngIf="create_package_form.submitted && package_name == ''">Package
                                                            name is required</span>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="cpm_pg_cnt">
                                                <div class="jc_sb d-flex ai_cntr">
                                                    <div class="cpm_pg_hd">Package image</div>
                                                    <div>
                                                        <button type="button" mat-raised-button
                                                            class="no_bxsdw" color="accent"
                                                            onclick="document.getElementById('imageToUpload').click()">
                                                            <mat-icon>upload</mat-icon>
                                                            Upload Image
                                                            <input (change)="uploadImage($event)"
                                                                accept="image/x-png,image/gif,image/jpeg"
                                                                id="imageToUpload" type="file" style="display: none" />
                                                        </button>
                                                        <input type="hidden" name="package_img"
                                                            [(ngModel)]="package_img">
                                                    </div>
                                                </div>
                                                <div class="text_right w_100p">(Supported Formats: .png, .jpg, .jpeg)</div>
                                                <div class="hgt_10"></div>
                                                <div class="brnd_info_upld pkg_img">
                                                    <div class="pkg_img_dv">
                                                        <div *ngIf="package_img != ''">
                                                            <img src="{{ package_img }}" alt="">
                                                        </div>
                                                        <mat-icon *ngIf="package_img == ''">insert_photo</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hgt_20"></div>
                                            <div class="cpm_pg_cnt">
                                                <div class="cpm_pg_hd">Package description</div>
                                                <div class="err_tltp_par">
                                                    <mat-form-field appearance="outline">
                                                        <textarea matInput class="crt_prt_txt"
                                                            placeholder="Enter package description"
                                                            [(ngModel)]="package_desc" name="package_desc"
                                                            required></textarea>
                                                        <span class="prc_tltp"
                                                            *ngIf="create_package_form.submitted && package_desc == ''">Package
                                                            description is required</span>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cpm_pg_mn">
                                            <div class="cpm_pg_hd">
                                                Price configuration
                                            </div>
                                            <div class="cpm_pg_cnt">
                                                <div>Pricing model</div>
                                                <div class="err_tltp_par">
                                                    <mat-radio-group name="pricing_model" [(ngModel)]="pricing_model"
                                                        required>
                                                        <mat-radio-button name="pricing_model" value="per_student">Per
                                                            student</mat-radio-button>
                                                        <mat-radio-button name="pricing_model" value="fixed">Fixed
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <div class="cpm_pg_cnt">
                                                <div>Set Package Price Country Wise</div>
                                                <div *ngFor="let price of package_prices;let i = index">
                                                    <div class="pkg_chkbx" *ngIf="price['status'] != '0'">
                                                        <div class="w_50p mr_1">
                                                            <div class="err_tltp_par">
                                                                <mat-form-field appearance="outline" class="mt_05">
                                                                    <mat-select
                                                                        [(ngModel)]="package_prices[i]['country_id']"
                                                                        name="package_price_country_{{i}}" required>
                                                                        <mat-option value="">Select Country</mat-option>
                                                                        <ng-container
                                                                            *ngFor="let country of all_countries | async">
                                                                            <mat-option
                                                                                [disabled]="selected_countires.indexOf(country['id']) !== -1"
                                                                                [value]="country['id']"
                                                                                (click)=" addCurrencyToField(country['currency_text'],i,country['id']);">
                                                                                {{ country['country_name'] }}
                                                                            </mat-option>
                                                                        </ng-container>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="w_50p">
                                                            <div class="err_tltp_par">
                                                                <mat-form-field appearance="outline" class="mt_05">
                                                                    <input
                                                                        [(ngModel)]="package_prices[i]['price_amount']"
                                                                        name="package_price_price_amount_{{i}}" matInput
                                                                        placeholder="{{ package_prices[i]['placeholder'] }}"
                                                                        maxlength="7" appNumbersonly required
                                                                        [disabled]="package_prices[i]['country_id'] == ''" />
                                                                    <span matPrefix></span>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="w_50p">
                                                            <button type="button" (click)="removePackagePrice(i)"
                                                                mat-icon-button class="no_bxsdw" color="warn"
                                                                *ngIf="i > 0">
                                                                <mat-icon>remove_circle_outline</mat-icon>
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="text_right w_100p">
                                                    <button mat-raised-button color="accent" type="button"
                                                        (click)="addPackagePriceField()">
                                                        <mat-icon>add</mat-icon> Add More
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="hgt_20"></div>
                                            <div class="cpm_pg_hd">
                                                Courses
                                            </div>
                                            <div class="cpm_pg_cnt">
                                                <div>Courses</div>
                                                <div class="text_right w_100p mt_1">
                                                    <button mat-raised-button color="accent" type="button"
                                                        (click)="edit_model_status = true">
                                                        <mat-icon>add</mat-icon> Add More
                                                    </button>
                                                </div>
                                                <div class="mt_grd_dv mt_1" *ngIf="courses_div">
                                                    <div *ngFor="let course of selected_courses;let i = index">
                                                        <span>{{course}}</span>
                                                    </div>
                                                </div>
                                                <div class="hgt_20"></div>
                                                <div class="w_50p mr_1">
                                                    <div>Duration (In days)</div>
                                                    <div class="err_tltp_par">
                                                        <mat-form-field appearance="outline">
                                                            <input matInput placeholder="Enter Duration (In days)"
                                                                [(ngModel)]="duration" name="duration" appNumbersonly maxlength="3"
                                                                required />
                                                            <span class="prc_tltp"
                                                                *ngIf="create_package_form.submitted && duration == ''">Duration is required</span>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hgt_20"></div>
                                            <div class="cpm_pg_hd">
                                                Package access
                                            </div>
                                            <div class="cpm_pg_cnt">
                                                <div>Applicable to</div>
                                                <div class="d-flex mt_05">
                                                    <div class="mr_1">
                                                        <mat-checkbox class="mr_1" name="applicable_to_university"
                                                            [(ngModel)]="applicable_to_university"></mat-checkbox>
                                                        University
                                                    </div>
                                                    <div class="mr_1">
                                                        <mat-checkbox class="mr_1" name="applicable_to_college"
                                                            [(ngModel)]="applicable_to_college">
                                                        </mat-checkbox>Individual
                                                    </div>
                                                    <div class="mr_1">
                                                        <mat-checkbox class="mr_1" name="applicable_to_institute"
                                                            [(ngModel)]="applicable_to_institute"></mat-checkbox>
                                                        Institution
                                                    </div>
                                                </div>
                                                <div class="hgt_20"></div>
                                            </div>
                                            <div class="cpm_pg_cnt">
                                                <div class="pkg_chkbx">
                                                    <div class="w_50p mr_1">
                                                        <div>Package validity till</div>
                                                        <div class="err_tltp_par">
                                                            <mat-form-field appearance="outline">
                                                                <input matInput [matDatepicker]="picker"
                                                                    [(ngModel)]="valid_up_to" name="valid_up_to"
                                                                    [min]="today_date" placeholder="Validity Till"
                                                                    required readonly>
                                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                                </mat-datepicker-toggle>
                                                                <mat-datepicker #picker color="accent" disabled="false">
                                                                </mat-datepicker>
                                                                <span class="prc_tltp"
                                                                    *ngIf="create_package_form.submitted && valid_up_to == ''">Package
                                                                    validity till
                                                                    required</span>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cpm_pg_cnt">
                                                <div>Billing frequency</div>
                                                <div class="err_tltp_par">
                                                    <mat-radio-group name="billing_frequency"
                                                        [(ngModel)]='billing_frequency' required>
                                                        <mat-radio-button name="billing_frequency" value="monthly">
                                                            Monthly</mat-radio-button>
                                                        <mat-radio-button name="billing_frequency" value="quarterly">
                                                            Quarterly</mat-radio-button>
                                                        <mat-radio-button name="billing_frequency" value="half-yearly">
                                                            Half yearly
                                                        </mat-radio-button>
                                                        <mat-radio-button name="billing_frequency" value="yearly">Yearly
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w_100p text_right">
                                            <button mat-raised-button color="accent">Submit</button>
                                        </div>
                                    </div>
                                    <div class="cust_mdl_par cust_mdl_50p"
                                        [ngClass]="{ cust_mdl_opn: edit_model_status }">
                                        <div class="cust_mdl_chl">
                                            <div class="pg_ttl">
                                                Select Courses
                                                <span class="spacer"></span>
                                                <button mat-icon-button
                                                    (click)="edit_model_status = !edit_model_status">
                                                    &#x2715;
                                                </button>
                                            </div>
                                            <div class="tbbd_bdy">
                                                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
                                                    class="example-tree">
                                                    <!-- This is the tree node template for leaf nodes -->
                                                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle
                                                        [style.display]="!search || node.ok?'block':'none'">
                                                        <li class="mat-tree-node">
                                                            <!-- use a disabled button to provide padding for tree leaf -->
                                                            <button type="button" mat-icon-button disabled></button>
                                                            <mat-checkbox class="checklist-leaf-node"
                                                                (change)="todoItemSelectionToggle($event.checked,node)"
                                                                [checked]="node.selected">
                                                                {{node.name}}</mat-checkbox>

                                                        </li>
                                                    </mat-tree-node>
                                                    <!-- This is the tree node template for expandable nodes -->
                                                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild"
                                                        [style.display]="!search || node.ok?'block':'none'">
                                                        <li>
                                                            <div class="mat-tree-node">
                                                                <button type="button" mat-icon-button matTreeNodeToggle
                                                                    [attr.aria-label]="'toggle ' + node.name">
                                                                    <mat-icon class="mat-icon-rtl-mirror">
                                                                        {{treeControl.isExpanded(node) ? 'expand_more' :
                                                                        'chevron_right'}}
                                                                    </mat-icon>
                                                                </button>
                                                                <mat-checkbox [checked]="node.selected"
                                                                    [indeterminate]="node.indeterminate && !node.selected"
                                                                    (change)="todoItemSelectionToggle($event.checked,node)">
                                                                    {{node.name}}
                                                                </mat-checkbox>
                                                            </div>
                                                            <ul
                                                                [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                                                                <ng-container matTreeNodeOutlet></ng-container>
                                                            </ul>
                                                        </li>
                                                    </mat-nested-tree-node>
                                                </mat-tree>
                                                <div class="w_100p text_right">
                                                    <button type="button" mat-raised-button color="accent"
                                                        (click)="submitCourses()">Submit</button><br />
                                                </div>
                                                <div class="hgt_20"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                Sample Videos
                            </ng-template>
                            <div class="hgt_20"></div>
                            <form autocomplete="off" #sample_video_form="ngForm" name="sample_video_form"
                                (ngSubmit)="sample_video_form.valid && addVideo()" autocomplete="off">
                                <div>
                                    <div class="ulvd_inpts">
                                        <div class="err_tltp_par" *ngIf="hide_source_type">
                                            <mat-form-field appearance="outline">
                                                <mat-select [(ngModel)]="source_type" name="video_source_type" required>
                                                    <mat-option value="">Select Source</mat-option>
                                                    <mat-option *ngFor="let video_type of video_types"
                                                        [value]="video_type['value']">
                                                        {{video_type['name']}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <span class="prc_tltp" *ngIf="sample_video_form.submitted && source_type == ''">Please select source</span>
                                        </div>
                                        <div class="err_tltp_par">
                                            <mat-form-field appearance="outline" class="{{ ((sample_video_form.submitted || video_title.touched) && title_error) ? 'mat-form-field-invalid' : ''}}">
                                                <input [(ngModel)]="title" name="video_title" #video_title="ngModel" matInput placeholder="Title" (ngModelChange)="checkTitle()" />
                                            </mat-form-field>
                                            <span class="prc_tltp" *ngIf="(sample_video_form.submitted || video_title.touched) && title_error">{{ title_error }}</span>
                                        </div>
                                        <div class="err_tltp_par">
                                            <mat-form-field appearance="outline" class="{{ ((sample_video_form.submitted || video_source_link.touched) && video_url_error) ? 'mat-form-field-invalid' : ''}}">
                                                <input [(ngModel)]="video_source" name="video_source_link" #video_source_link="ngModel" matInput placeholder="Video URL"  (ngModelChange)="checkURL()" />
                                            </mat-form-field>
                                            <span class="prc_tltp" *ngIf="(sample_video_form.submitted || video_source_link.touched) && video_url_error">{{ video_url_error }}</span>
                                        </div>
                                        <div class="w_50p">
                                            <button type="submit" mat-raised-button color="accent"
                                                class="mt_3px">
                                                <mat-icon>add</mat-icon> Add Video
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngFor="let video of sample_videos;let i=index">
                                    <div class="hyt_lst_dv" *ngIf="video.status != 0 && video.status != 2"> 
                                        <div class="kp_yt_img">
                                            <img src="../../../assets/images/youtube.png">
                                        </div>
                                        <div class="mr_1 fnt_bold">
                                            {{ video.title}}
                                            <div class="vd_pth">
                                                {{ video.video_source}}
                                            </div>
                                        </div>
                                        <div class="spacer"></div>
                                        <div>
                                            <button type="button" mat-icon-button class="mr_1 no_bxsdw" color="accent" (click)="editVideo(i)">
                                                <mat-icon>mode_edit</mat-icon>
                                            </button>
                                        </div>
                                        <div>
                                            <button type="button" mat-icon-button class="no_bxsdw" color="warn" (click)="deleteVideo(i)">
                                                <mat-icon>remove_circle_outline</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="text_right mt_1">
                                    <button mat-raised-button color="accent" type="button" (click)="submitData()">
                                        Submit
                                    </button>
                                </div>
                            </form>

                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                FAQ's
                            </ng-template>
                            <div class="hgt_20"></div>
                            <form autocomplete="off" #faq_form="ngForm" name="faq_form" (ngSubmit)="faq_form.valid && addFaq()">
                                <div>
                                    <div class="ulvd_inpts">
                                        <div class="err_tltp_par w_100p">
                                            <mat-form-field appearance="outline" class="w_100p {{ ((faq_form.submitted || faq_question.touched) && question_error) ? 'mat-form-field-invalid' : '' }}">
                                                <textarea matInput class="crt_prt_txt" placeholder="Question"
                                                    [(ngModel)]="question" name="faq_question" #faq_question="ngModel" (ngModelChange)="checkQuestion()"
                                                    ></textarea>
                                            </mat-form-field>
                                            <span class="prc_tltp" *ngIf="(faq_form.submitted || faq_question.touched) && question_error">{{ question_error }}</span>
                                        </div>
                                        <div class="err_tltp_par w_100p">
                                            <mat-form-field appearance="outline" class="w_100p {{ ((faq_form.submitted || faq_answer.touched) && answer == '') ? 'mat-form-field-invalid' : '' }}">
                                                <textarea matInput class="crt_prt_txt hgt_100px" placeholder="Answer"
                                                    [(ngModel)]="answer" name="faq_answer" #faq_answer="ngModel"
                                                    ></textarea>
                                            </mat-form-field>
                                            <span class="prc_tltp" *ngIf="(faq_form.submitted || faq_answer.touched) && answer == ''">Answer required</span>
                                        </div>
                                        <div class="w_100p text_right">
                                            <button type="submit" mat-raised-button color="accent">
                                                <mat-icon>add</mat-icon> Add FAQ
                                            </button>
                                            <!-- <button type="button" (click)="removeFaq(i)" mat-icon-button class="no_bxsdw"
                                        color="warn" *ngIf="i > 0">
                                        <mat-icon>remove_circle_outline</mat-icon>
                                    </button> -->
                                        </div>
                                    </div>
                                </div>
                                <div  *ngFor="let faq of faqs;let i=index">
                                    <div class="hyt_lst_dv"  *ngIf="faq.status != 0 && faq.status != 2">
                                        <div class="mr_1 fnt_bold">Quetion : {{ faq.question }}
                                            <div class="vd_pth clr_inh"> Answer : 
                                                {{ (faq.answer.length > 200) ? ( faq.answer | slice:0:200 ) + '..' : (faq.answer) }}
                                            </div>
                                        </div>
                                        <div class="spacer"></div>
                                        <div>
                                            <button type="button" mat-icon-button class="mr_1 no_bxsdw" color="accent" (click)="editFaq(i)">
                                                <mat-icon>mode_edit</mat-icon>
                                            </button>
                                        </div>
                                        <div>
                                            <button type="button" mat-icon-button class="no_bxsdw" color="warn" (click)="deleteFaq(i)">
                                                <mat-icon>remove_circle_outline</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="text_right mt_1">

                                    <button mat-raised-button color="accent" type="button" (click)="submitData()">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </mat-tab>
                        <!-- <mat-tab>
                    <ng-template mat-tab-label>
                    Introduction
                    </ng-template>
                    <div class="hgt_20"></div>
                    <div class="ulvd_inpts">
                        <div>
                        <mat-form-field appearance="outline">
                            <mat-select [(ngModel)]="intro_video[i]['source']" name="intro_video_source" (ngModelChange)="validateVideo(0,i)">
                            <mat-option value="">Select Source</mat-option>
                            <mat-option *ngFor="let video_type of video_types" [value]="video_type['value']">
                                {{video_type['name']}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        </div>
                        <div>
                        <mat-form-field appearance="outline">
                            <input (blur)="validateVideo(0,i)" [(ngModel)]="intro_video[i]['title']" name="intro_video_title" matInput
                            placeholder="Title" />
                        </mat-form-field>
                        </div>
                        <div>
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="intro_video[i]['value']" name="intro_video_value"
                            placeholder="Video URL/ID" (blur)="validateVideo(0,i)" />
                        </mat-form-field>
                        </div>
                        <span *ngIf="intro_video[i]['error'] == true">{{intro_video[i]['message']}}</span>
                    </div>
                </mat-tab> -->
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>