<div class="login_main">
    <div class="log_mdl_cont">
      <div class="logo_img">
        <a routerLink="/"> <img src="assets/images/ProceumLogo_w.png" /></a>
      </div>
      <div class="log_div text_center">
        <h2 class="clr_wht fnt_nrml wlcm_hd">Welcome to Proceum</h2>
        <div class="sgn_sec">
          <p class="sgn_hd">Forgot Password</p>
            <br>
          <form #forgot_id="ngForm" name="forgotpassword_form" (ngSubmit)="doForgotPassword()" novalidate>
            <div class="mail {{ forgot_id.submitted && (register_email == '' || user_email.invalid || email_check == false) ? 'err_tltp_par' : ''}}">
              <input type="text" [(ngModel)]="register_email" name="user_email" autocomplete="off" maxlength="90" placeholder="Enter registered email" onkeypress='return (event.charCode != 32)'  email #user_email="ngModel" ngModel required/>
              <span class="prc_tltp" *ngIf="forgot_id.submitted && (register_email == '' || user_email.invalid || email_check == false)">{{message}}</span>
              </div>
              <button type="submit" class="teal_btn lgn_btn">Submit</button>
          </form>
        </div>
        <div class="frgt_sec">
          <a routerLink="/login">Back to Login</a> <a routerLink="/register">Create New Account</a>
        </div>
      </div>
    </div>
  </div>
  