<app-admin-topbar></app-admin-topbar>
<app-sidebar></app-sidebar>
<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Roles List</strong></div>
    <div class="pg_ttl">Roles List</div>
    <div class="hgt_20"></div>
    <div class="grd_2c">
        
        <span>Roles Name</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Enter Code</mat-label>
                <input matInput placeholder="Enter Code">
            </mat-form-field>
        </span>

        <span>Discount Amount (BBD $)</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Discount Amount</mat-label>
                <input matInput placeholder="Discount Amount">
            </mat-form-field>
        </span>
        <span>Discount Amount (INR &#8377;)</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Discount Amount</mat-label>
                <input matInput placeholder="Discount Amount">
            </mat-form-field>
        </span>
        <span class="algn_s_fs">Description</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Textarea</mat-label>
                <textarea matInput rows="8"></textarea>
            </mat-form-field>
        </span>
        <span>Minimum Order Amount</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="Amount">
            </mat-form-field>
        </span>
        <span>Maximum Discount Amount (BBD &#36;)</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="Amount">
            </mat-form-field>

        </span>
        <span>Maximum Discount Amount (INR &#8377;)</span>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="Amount">
            </mat-form-field>
        </span>
        <span>Valid From Date</span>
        <span>
            <mat-form-field appearance="outline" class="cal_wdth" color="accent">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </span>
        <span>Valid To Date</span>
        <span>
            <mat-form-field appearance="outline" class="cal_wdth" color="accent">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </span>
    </div>
</div>
<app-footer></app-footer>