.cust_mdl_35p .cust_mdl_chl{width: 35%;}

@media screen and (max-width:1024px){
    .cust_mdl_35p .cust_mdl_chl{width: 70%;}
}
@media screen and (max-width:768px){
    .cust_mdl_35p .cust_mdl_chl{width: 90%;}
    .grd_2c .frm_dvs{ margin-bottom: 10px; }
}