<div class="mn_dshbrd">
  <div class="brd_crm">Proceum &raquo; <strong>Custom Page</strong></div>
  <div class="pg_ttl">Edit Custom Page</div>
  <div class="hgt_20"></div>
  <form #custom_page_form="ngForm" id="custom_page_form" name="custom_page_form"
    (ngSubmit)="custom_page_form.valid && updateCustomPage()" novalidate>
    <div class="grd_2c">
      <div class="frm_dvs">
        <span class="hgt_20"></span>
        <span class="hgt_20"></span>
      </div>

      <span class="text-right w_100p rqrd_txtinfo">All <span class="required">( * ) </span> marked fields are
        mandatory</span>
      <div class="hgt_20"></div>
      <div class="frm_dvs">
        <span>Menu Name <span class="required">*</span></span>
        <span class="w_100p">
          <span>
            <mat-form-field appearance="outline" color="accent">
              <mat-select disabled required (selectionChange)="getPages()" placeholder="Select Menu" name="menu_name"
                [(ngModel)]="customPage.menu_name" #old_menu_name="ngModel" ngModel>
                <mat-option value="">select menu</mat-option>
                <mat-option *ngFor="let menu of menuList" [value]="menu.pk_id">{{ menu.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>
          <!-- <span class="mx_1"  *ngIf="isMenuDisplay">(OR)</span>
                    <span *ngIf="isMenuDisplay" class="err_tltp_par">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Provide New Menu Name"  maxlength="90" autocomplete="off" [required]="isMenuRequired"
                                name="new_menu_name" [(ngModel)]="customPage.new_menu_name" #new_menu_name="ngModel" pattern="[^ ](.*|\n|\r|\r\n)*"
                                ngModel  >
                            <button mat-ngIf="customPage.new_menu_name" matSuffix mat-icon-button aria-label="Clear" (click)="customPage.new_menu_name=''">
                                    <mat-icon>close</mat-icon>
                                  </button>
                        </mat-form-field>
                        <span class="prc_tltp" *ngIf="custom_page_form.submitted  && new_menu_name.errors?.pattern">Menu name is required</span>
                        <span class="prc_tltp" *ngIf="custom_page_form.submitted  && new_menu_name.invalid">Menu name is required</span>
                    </span>-->
        </span>
      </div>
      <div class="frm_dvs">
        <span>Page Name <span class="required">*</span></span>
        <span>
          <span>
            <mat-form-field appearance="outline" color="accent">
              <mat-select required disabled name="page_name" placeholder="Select Page"
                [(ngModel)]="customPage.page_name" #page_name="ngModel" ngModel>
                <mat-option value="">select page</mat-option>
                <mat-option *ngFor="let page of pagesList" [value]="page.name">{{ page.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>
          <!-- <span class="mx_1" *ngIf="isPageDisplay">(OR)</span>

                    <span *ngIf="isPageDisplay" class="err_tltp_par">

                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Provide New Page Name" [required]="isPageRequired" autocomplete="off" maxlength="90"
                                name="new_page_name" [(ngModel)]="customPage.new_page_name" #new_page_name="ngModel" pattern="[^ ](.*|\n|\r|\r\n)*"
                                ngModel >
                            <button mat-button *ngIf="customPage.new_page_name" matSuffix mat-icon-button aria-label="Clear" (click)="customPage.new_page_name=''">
                                    <mat-icon>close</mat-icon>
                                  </button> 
                        </mat-form-field>
                        <span class="prc_tltp" *ngIf="custom_page_form.submitted  && new_page_name.invalid">Page name is required</span>
                        <span class="prc_tltp" *ngIf="custom_page_form.submitted  && new_page_name.errors?.pattern">Page name is required</span>
                    </span> -->
        </span>
      </div>
      <div class="frm_dvs">
        <span>Page Content <span class="required">*</span></span>
        <span class="edtr_frm">
          <span [ngClass]="{
            err_tltp_par:
              custom_page_form.submitted && page_content.errors?.required
          }" class="oc_w100p">
            <ckeditor (ready)="onReady($event)" id="editor" #editor [config]="htmlEditorConfig" required
              [(ngModel)]="customPage.page_content" ngModel #page_content="ngModel" name="page_content">
            </ckeditor>
            <span class="prc_tltp">Page content is required</span>
          </span>
        </span>
      </div>
      <div class="frm_dvs">
        <span class="hgt_20"></span>
        <span class="hgt_20"></span>
      </div>
      <div class="frm_dvs">
        <span>&nbsp;</span>
        <span>
          <mat-checkbox name="isShowChecked" [(ngModel)]="customPage.isShowChecked" #isShowChecked="ngModel" ngModel>
            Show in Frontend Menu</mat-checkbox>
        </span>
      </div>
      <div class="frm_dvs">
        <span>&nbsp;</span>
        <span><button type="submit" mat-raised-button color="accent">
            Save
          </button></span>
      </div>
    </div>
  </form>
</div>