<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <span routerLink="/admin/universities-colleges"><strong>Manage
                Universities/Colleges</strong></span></div>
    <div class="pg_ttl">{{ (pk_id > 0) ? "Edit" : "Create" }} {{ (org_type == '1') ? "University" : "College" }}</div>
    <hr />

    <div class="intr_vd_tml crt_prtnr dsh_brd_crds">
        <form autocomplete="off" #create_college="ngForm" name="create_college"
            (ngSubmit)="create_college.valid && submitFrom()">
            <div class="crt_pr_mn">
                <div class="clear_fix w_100p"></div>
                <div class="crt_pr_dv" *ngIf="!pk_id">
                    <div class="crt_prt_hd">Organization Type</div>
                    <div class="crt_prt_cnt">
                        <mat-radio-group aria-label="Select an option" name="org_type" [(ngModel)]="org_type" required>
                            <mat-radio-button name="org_type" value="1">University</mat-radio-button>
                            <mat-radio-button name="org_type" value="2">College</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="clear_fix"></div>
                <div class="crt_pr_dv">
                    <div class="hgt_10"></div>
                    <div class="brnd_info_mn">
                        <div class="crt_prt_hd">Organization Name*</div>
                        <div class="brnd_info_upld">
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput placeholder="Organization Name" maxlength="100"
                                    [(ngModel)]="college_name" name="college_name_edit" #college_name_edit="ngModel"
                                    (keypress)="allAlphabetsWithSpaces($event)" required />
                            </mat-form-field>
                            <span class="prc_tltp"
                                *ngIf="(create_college.submitted || college_name_edit.touched) && college_name_edit.invalid">college
                                name is required</span>
                        </div>
                    </div>

                    <div class="brnd_info_mn">
                        <div class="crt_prt_hd">Primary Contact Number*</div>
                        <div class="brnd_info_upld">
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput placeholder="Primary Contact Number" [(ngModel)]="phone"
                                    name="phone_edit" #phone_edit="ngModel" appNumbersonly minlength="9" maxlength="13"
                                    required />
                            </mat-form-field>
                            <span class="prc_tltp"
                                *ngIf="(create_college.submitted || phone_edit.touched) && phone_edit.invalid">Contact
                                number is required</span>
                            <span class="prc_tltp"
                                *ngIf="(create_college.submitted || phone_edit.touched) && (phone != '') && (phone.length < 10 || phone.length > 13)">Invalid
                                Contact number.Minimun of 9, Maximum of 13 digits required!</span>
                        </div>
                    </div>
                    <div class="brnd_info_mn">
                        <div class="crt_prt_hd">Contact Person*</div>
                        <div class="brnd_info_upld">
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput placeholder="Person Name" maxlength="50"
                                    (keypress)="allAlphabetsWithSpaces($event)" [(ngModel)]="contact_name"
                                    name="contact_name_edit" #contact_name_edit="ngModel" required />
                            </mat-form-field>
                            <span class="prc_tltp"
                                *ngIf="(create_college.submitted || contact_name_edit.touched) && contact_name_edit.invalid">Contact
                                Person name is required</span>
                        </div>
                    </div>
                    <div class="brnd_info_mn">
                        <div class="crt_prt_hd">Address line 1*</div>
                        <div class="brnd_info_upld">
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput matInput placeholder="Address line 1" [(ngModel)]="address_line_1"
                                    name="address_line_1_edit" #address_line_1_edit="ngModel" required />
                            </mat-form-field>
                            <span class="prc_tltp"
                                *ngIf="(address_line_1_edit.touched) && address_line_1_edit.invalid">Address
                                Line 1 is required</span>
                        </div>
                    </div>
                    <div class="brnd_info_mn d-flex jc_sb rsp_fw">
                        <div class="w_47p rsp_100p">
                            <div class="crt_prt_hd">Country*</div>
                            <div class="err_tltp_par">
                                <mat-form-field appearance="outline" class="w_100p">
                                    <mat-select placeholder="Select Country" name="country_edit" #country_edit="ngModel"
                                        [(ngModel)]="country_id" (ngModelChange)="getStates(country_id)" required>
                                        <mat-option>
                                            <ngx-mat-select-search [noEntriesFoundLabel]="'No Countries found'"
                                                [placeholderLabel]="'Search Country'" name="search_country" ngModel
                                                (ngModelChange)="filterCountries($event)">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let country of all_countrys | async"
                                            [value]="country['id']">{{ country["country_name"] }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span *ngIf="(country_edit.touched) && country_edit.invalid" class="prc_tltp">Country is
                                    required</span>
                            </div>
                        </div>
                        <div class="w_47p rsp_100p">
                            <div class="crt_prt_hd">State*</div>
                            <div class="err_tltp_par">
                                <mat-form-field appearance="outline" class="w_100p">
                                    <mat-select placeholder="Select State" name="state_edit" #state_edit="ngModel"
                                        [(ngModel)]="state_id" (ngModelChange)="getCities(state_id)" required>
                                        <mat-option>
                                            <ngx-mat-select-search [noEntriesFoundLabel]="'No States found'"
                                                [placeholderLabel]="'Search State'" name="search_state" ngModel
                                                (ngModelChange)="filterStates($event)"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let state of all_states | async" [value]="state['id']">{{
                                            state["state_name"] }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span *ngIf="(state_edit.touched) && state_edit.invalid" class="prc_tltp">State is
                                    required</span>
                            </div>
                        </div>
                    </div>
                    <div class="brnd_info_mn" *ngIf="org_type == '2'">
                        <div class="crt_prt_hd">Selelct University*</div>
                        <div class="brnd_info_upld">
                            <mat-form-field appearance="outline" class="w_100p">
                                <mat-select placeholder="Select Universities" name="parent_edit" #parent_edit="ngModel"
                                    [(ngModel)]="parent_id" required>
                                    <mat-option>
                                        <ngx-mat-select-search [noEntriesFoundLabel]="'No Universities found'"
                                            [placeholderLabel]="'Search University'" name="search_country" ngModel
                                            (ngModelChange)="filterUniversity($event)">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let university of all_universities | async"
                                        [value]="university['pk_id']">{{
                                        university["organization_name"] }}</mat-option>
                                </mat-select>
                                <span *ngIf="(parent_edit.touched) && parent_edit.invalid" class="prc_tltp">University is
                                    required</span>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="crt_pr_dv">
                    <div class="hgt_10"></div>
                    <div class="brnd_info_mn">
                        <div class="crt_prt_hd">Email*</div>
                        <div class="brnd_info_upld">
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email_edit"
                                    #email_edit="ngModel" autocomplete="off" required
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                            </mat-form-field>
                            <span class="prc_tltp"
                                *ngIf="(create_college.submitted || email_edit.touched) && email_edit.invalid">Email
                                is required</span>
                            <span class="prc_tltp" *ngIf="create_college.submitted && email_edit.errors?.pattern">This
                                is not a
                                valid Email!</span>
                        </div>
                    </div>
                    <div class="brnd_info_mn">
                        <div class="crt_prt_hd">Secondary Contact Number</div>
                        <div class="brnd_info_upld">
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput placeholder="Secondary Contact Number" [(ngModel)]="second_phone"
                                    name="second_phone_edit" #second_phone_edit="ngModel" appNumbersonly minlength="9"
                                    maxlength="13" />
                            </mat-form-field>
                            <span class="prc_tltp"
                                *ngIf="(create_college.submitted || second_phone_edit.touched) && second_phone_edit.invalid">Contact
                                number is required</span>
                            <span class="prc_tltp"
                                *ngIf="(create_college.submitted || second_phone_edit.touched) && (second_phone != '') && (second_phone.length < 10 || second_phone.length > 13)">Invalid
                                Contact number.Minimun of 9, Maximum of 13 digits required!</span>
                        </div>
                    </div>
                    <div class="brnd_info_mn">
                        <div class="crt_prt_hd">Organization Code</div>
                        <div class="brnd_info_upld">
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput placeholder="Organization Code" maxlength="10" [(ngModel)]="code"
                                    name="code_edit" #code_edit="ngModel" />
                            </mat-form-field>
                            <span class="prc_tltp"
                                *ngIf="(create_college.submitted || code_edit.touched) && code_edit.invalid">
                                College Code is required</span>
                        </div>
                    </div>
                    <div class="brnd_info_mn">
                        <div class="crt_prt_hd">Address line 2</div>
                        <div class="brnd_info_upld">
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput matInput placeholder="Address line 2" [(ngModel)]="address_line_2"
                                    name="address_line_2_edit" #address_line_2_edit="ngModel" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="brnd_info_mn d-flex jc_sb rsp_fw">
                        <div class="w_47p rsp_100p">
                            <div class="crt_prt_hd">City*</div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <mat-select placeholder="Select City" name="city_edit" #city_edit="ngModel"
                                    [(ngModel)]="city" required>
                                    <mat-option>
                                        <ngx-mat-select-search [noEntriesFoundLabel]="'No City found'"
                                            [placeholderLabel]="'Search City'" name="search_city" ngModel
                                            (ngModelChange)="filterCities($event)"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let city of all_cities | async" [value]="city['id']">{{
                                        city["city_name"] }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="prc_tltp" *ngIf="(city_edit.touched) && city_edit.invalid">City*
                                is required</span>
                        </div>
                        <div class="w_47p rsp_100p">
                            <div class="crt_prt_hd">Postcode*</div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput placeholder="ZIP/Pin code" [(ngModel)]="postal_code" name="pincode_edit"
                                    #pincode_edit="ngModel" appNumbersonly minlength="4" maxlength="13" required />
                            </mat-form-field> <span class="prc_tltp"
                                *ngIf="(pincode_edit.touched) && pincode_edit.invalid">ZIP/Pincode*
                                is required</span>
                        </div>
                    </div>
                </div>
                <div class="text_right float_right w_100p">
                    <button mat-raised-button type="submit" class="no_bxsdw" color="accent">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>