.wht_brd{position: absolute; left: 0; top: 0;}
.wht_brd_tls{position: fixed; width:auto; height: 50px; background-color: white; top: 0; text-align: center; z-index: 9999;}
.wht_brd_par{margin-top: 50px; position: relative;}

path{
    stroke-opacity: 0.3;
}