.wht_brd{position: absolute; left: 0; top: 0;}
.wht_brd_tls{position: fixed; height: 110px; top: 30px; right: 30px; text-align: center; z-index: 9999; user-select: none;}
.wht_brd_par{position: relative;}
.main_div{min-height: 100%;}
.pen_btn, .pen_edt, .undo_btn, .redo_btn, .clr_btn, .colr_pkr{
    width: 36px;
    height: 36px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 2px -1px #b6b6b6;
    margin:0 5px 5px 0;    
} 
.colr_pkr{width: 20px; height: 20px;}
.pn_sz{border: 0; outline: none;}