
<div class="wht_brd_tls">
  <button mat-raised-button color="primary" type="button" (click)='tglwbrd()'>Pen</button>
<select (change)="setSize($event.target.value)">
  <option value="3">Size</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
</select>
<button mat-raised-button color="primary" (click)="undo()" type="button">Undo</button>
<button mat-raised-button color="primary" (click)="redo()" type="button">Redo</button>
<button mat-raised-button color="primary" (click)="erase()" type="button">Clear</button>
<input [(colorPicker)]="color" [cpOKButton]="true" [style.background]="color"/>
</div>
<div class="wht_brd_par">
<div id="main_div"><app-spinner></app-spinner>
<router-outlet></router-outlet>
</div>
<div class="wht_brd" [ngStyle]="{'height.px':main_div_height, 'width.px': main_div_width, 'display': whtbrdsts}" >
  <ng-whiteboard [backgroundColor]="backgroundColor" [size]="size" [color]="color">
  </ng-whiteboard>
</div>
</div>
 