<app-admin-topbar></app-admin-topbar>
<app-sidebar *ngIf="user!= undefined && user['role'] == '1'"></app-sidebar>
<app-sidebar-partner *ngIf="user!= undefined && (user['role'] == '8' || user['role'] == '9' || user['role'] == '10')"></app-sidebar-partner>
<app-sidebar-reviewer *ngIf="user!= undefined && (user['role'] == '3' || user['role'] == '4' || user['role'] == '5' || user['role'] == '6' || user['role'] == '7')"></app-sidebar-reviewer>
<router-outlet> </router-outlet>
<app-admin-footer></app-admin-footer>
