<app-admin-topbar (finishedLoading)="hasTapBarLoaded = $event"></app-admin-topbar>
<app-sidebar *ngIf="hasTapBarLoaded && user!= undefined && user['role'] == '1'"></app-sidebar>
<app-sidebar-partner *ngIf="hasTapBarLoaded && user!= undefined && (user['role'] == '8' || user['role'] == '9' || user['role'] == '10' || user['role'] == '14')"></app-sidebar-partner>
<app-sidebar-reviewer *ngIf="hasTapBarLoaded && user!= undefined && (user['role'] == '3' || user['role'] == '4' || user['role'] == '5' || user['role'] == '6' || user['role'] == '7')"></app-sidebar-reviewer>
<app-finance-user-sidebar *ngIf="hasTapBarLoaded && user!= undefined && user['role'] == '13'"></app-finance-user-sidebar>
<app-sidebar-teacher *ngIf="hasTapBarLoaded && user!= undefined && user['role'] == '12'"></app-sidebar-teacher>
<router-outlet *ngIf="hasTapBarLoaded"> </router-outlet>
<app-footer *ngIf="hasTapBarLoaded" ></app-footer>
