<!-- <div style="text-align:center;" > -->
    <h2 mat-dialog-title>{{ title }}</h2>
<!-- </div> -->
<hr style="border: 1px solid black;" />

<mat-dialog-content>
<div>
    <b>Subscribed Date</b>:<p>{{created_at}}</p>
</div>
<div *ngIf="status">
    <b> Unsubscribed Date:</b><p >{{updated_at}}</p>
</div>
<div *ngIf="status">
   <b> Reason:</b><p style="text-align:justify">{{reason}}</p>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-raised-button color="accent"  (click)="close()" type="button">Close</button>
</mat-dialog-actions>