<!-- <app-topbar class="inner-header"></app-topbar> -->
<!-- <app-sidemenu></app-sidemenu> -->
<div class="innr_sd_mnu ism_opn">
  <!-- ism_opn -->
  <div class="ism_scrl">
    <ul>
      <li (click)="showDiv(0)">
        <mat-icon class="ism_icn ism_actv_btn" matTooltip="Description">description</mat-icon>
      </li>
      <li (click)="showDiv(1)">
        <mat-icon class="ism_icn ism_actv_btn" matTooltip="Quiz">quiz</mat-icon>
      </li>
      <li (click)="showDiv(2)">
        <mat-icon class="ism_icn" matTooltip="Lecture Notes">history_edu</mat-icon>
      </li>
      <li (click)="showDiv(3)">
        <mat-icon class="ism_icn" matTooltip="Learning Objectives">lightbulb</mat-icon>
      </li>
      <li (click)="showDiv(4)">
        <mat-icon class="ism_icn" matTooltip="Wallpaper/Thumbnails">wallpaper</mat-icon>
      </li>
      <li (click)="showDiv(5)">
        <mat-icon class="ism_icn" matTooltip="Attachments">attachment</mat-icon>
      </li>
      <li (click)="showDiv(6)">
        <mat-icon class="ism_icn" matTooltip="High Yield Text">highlight</mat-icon>
      </li>
      <li (click)="showDiv(7)">
        <mat-icon class="ism_icn" matTooltip="Cases">description</mat-icon>
      </li>
      <li (click)="showDiv(8)">
        <mat-icon class="ism_icn" matTooltip="External References">insert_link</mat-icon>
      </li>
      <li (click)="showDiv(9)">
        <mat-icon class="ism_icn" matTooltip="Related Topics">bolt</mat-icon>
      </li>
    </ul>
  </div>
</div>
<div class="mn_dshbrd crs_dshbrd">
  <div class="brd_crm">
    <span routerLink="/student/curriculums">Curriculums / </span>
    <span routerLink="/student/curriculums/{{ curriculum['pk_id'] }}">{{
      curriculum["curriculumn_name"]
      }}</span>
    <span *ngFor="let bread of breadcome; let i = index">
      /
      <span *ngIf="i < breadcome.length - 1" routerLink="/student/curriculums/{{
          curriculum_id + '/' + bread['level_id'] + '/' + bread['id']
        }}">{{ bread["name"] }}</span>
      <strong *ngIf="i == breadcome.length - 1">
        {{ setTitle(bread["name"]) }}</strong></span>
  </div>
  <!-- <div class="brd_crm detsbrd">
    <span *ngFor="let value of content_list" [ngClass]="{
        dets_actv: value['content_id'] == content_id ? true : false
      }">{{ value["content_title"] }}</span>
  </div> -->
  <div class="pg_ttl">{{ title }}
    <button mat-icon-button color="accent" class="mr_vrt_btn">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <!-- <div class="crs_lft_hd">
    <span class="crs_bk_btn"
      ><mat-icon>arrow_back</mat-icon>General features of Muscle</span
    >
    <span class="hgt_20"></span>
    <span class="bold">
      AN 3.2 Enumerate parts of skeletal muscle and differentiate between
      tendons and aponeuroses with examples
    </span>
  </div> -->
  <div class="crses_lft_mn" *ngIf="active_div == 0">
    <div class="crses_lft">
      <div class="crs_desc">
        <div class="crs_desc_hd">
          <span class="desc_in_hd"><mat-icon>description</mat-icon>Description</span>
          <span class="spacer"></span>
          <span class="fnt_sze">
            <span class="a_pls">A<sup>+</sup></span>
            <span class="a_mns">A<sup>-</sup></span>
          </span>
          <button mat-icon-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="crs_desc_cnt">
          Donec nisl neque, tincidunt sit amet dolor at, tempor ultrices leo.
          Quisque vehicula ultrices justo ut auctor. Integer mollis justo lacus,
          vel ultrices odio tempor vel. Morbi ullamcorper porta augue, a posuere
          lacus ultricies sed. In maximus augue et nibh dignissim molestie.
          Praesent lacinia dui et lorem eleifend rhoncus. Praesent vel nibh
          <div class="hgt_20"></div>
          <div class="desc_cnt_imgs">
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
          </div>
          <div class="hgt_20"></div>
          rhoncus, ullamcorper est eleifend, ultrices dui. Vivamus ultricies
          malesuada libero, vel ultricies erat vehicula vel. Quisque accumsan
          orci eu sem laoreet ornare. Phasellus pulvinar vulputate mi, at luctus
          magna scelerisque suscipit. Maecenas a odio nisl. Integer ac felis
          tincidunt, consectetur est in, vestibulum mauris. Nullam justo leo,
          facilisis vitae pretium sit amet, lacinia et aug
        </div>
      </div>
    </div>
  </div>
  <div class="crses_lft_mn" *ngIf="active_div == 1">
    <div class="crses_lft">
      <div class="crs_desc">
        <div class="crs_desc_hd">
          <span class="desc_in_hd">
            <mat-icon>quiz</mat-icon> MCQ’s
          </span>
          <span class="spacer"></span>
          <span class="fnt_sze">
            <span class="a_pls">A<sup>+</sup></span>
            <span class="a_mns">A<sup>-</sup></span>
          </span>
          <button mat-icon-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="crs_desc_cnt mcb_desc">
          <div class="hgt_20"></div>
          Donec tincidunt urna at eros ultricies, id pellentesque mi fermentum?
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
              Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam
              aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
            </mat-radio-button>
            <mat-radio-button value="2">Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
              Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam
              aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam</mat-radio-button>
            <mat-radio-button value="3">Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
              Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam
              aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam</mat-radio-button>
            <mat-radio-button value="4">Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
              Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam
              aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam</mat-radio-button>
            <mat-radio-button value="5">Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
              Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam
              aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam</mat-radio-button>
          </mat-radio-group>
          <div class="hgt_20"></div>
          <img src="../../../assets/images/vid_smpl.jpg" />
          <div class="hgt_20"></div>
          <div class="pn_btns">
            <button mat-raised-button color="accent" class="mr_1">Back</button>
            <button mat-raised-button color="accent">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="crses_lft_mn" *ngIf="active_div == 2">
    <div class="crses_lft">
      <div class="crs_desc">
        <div class="crs_desc_hd">
          <span class="desc_in_hd"><mat-icon>history_edu</mat-icon> Lecture Notes</span>
          <span class="spacer"></span>
          <span class="fnt_sze">
            <span class="a_pls">A<sup>+</sup></span>
            <span class="a_mns">A<sup>-</sup></span>
          </span>
          <button mat-icon-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="crs_desc_cnt">
          Donec nisl neque, tincidunt sit amet dolor at, tempor ultrices leo.
          Quisque vehicula ultrices justo ut auctor. Integer mollis justo lacus,
          vel ultrices odio tempor vel. Morbi ullamcorper porta augue, a posuere
          lacus ultricies sed. In maximus augue et nibh dignissim molestie.
          Praesent lacinia dui et lorem eleifend rhoncus. Praesent vel nibh
          <div class="hgt_20"></div>
          <div class="desc_cnt_imgs">
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
          </div>
          <div class="hgt_20"></div>
          rhoncus, ullamcorper est eleifend, ultrices dui. Vivamus ultricies
          malesuada libero, vel ultricies erat vehicula vel. Quisque accumsan
          orci eu sem laoreet ornare. Phasellus pulvinar vulputate mi, at luctus
          magna scelerisque suscipit. Maecenas a odio nisl. Integer ac felis
          tincidunt, consectetur est in, vestibulum mauris. Nullam justo leo,
          facilisis vitae pretium sit amet, lacinia et aug
        </div>
      </div>
    </div>
  </div>
  <div class="crses_lft_mn" *ngIf="active_div == 3">
    <div class="crses_lft">
      <div class="crs_desc">
        <div class="crs_desc_hd">
          <span class="desc_in_hd"><mat-icon>lightbulb</mat-icon> Learning Objectives</span>
          <span class="spacer"></span>
          <span class="fnt_sze">
            <span class="a_pls">A<sup>+</sup></span>
            <span class="a_mns">A<sup>-</sup></span>
          </span>
          <button mat-icon-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="crs_desc_cnt">
          Donec nisl neque, tincidunt sit amet dolor at, tempor ultrices leo.
          Quisque vehicula ultrices justo ut auctor. Integer mollis justo lacus,
          vel ultrices odio tempor vel. Morbi ullamcorper porta augue, a posuere
          lacus ultricies sed. In maximus augue et nibh dignissim molestie.
          Praesent lacinia dui et lorem eleifend rhoncus. Praesent vel nibh
          <div class="hgt_20"></div>
          <img src="../../../assets/images/vid_smpl.jpg" />
          <div class="hgt_20"></div>
          rhoncus, ullamcorper est eleifend, ultrices dui. Vivamus ultricies
          malesuada libero, vel ultricies erat vehicula vel. Quisque accumsan
          orci eu sem laoreet ornare. Phasellus pulvinar vulputate mi, at luctus
          magna scelerisque suscipit. Maecenas a odio nisl. Integer ac felis
          tincidunt, consectetur est in, vestibulum mauris. Nullam justo leo,
          facilisis vitae pretium sit amet, lacinia et aug
        </div>
      </div>
    </div>
  </div>
  <div class="crses_lft_mn" *ngIf="active_div == 4">
    <div class="crses_lft">
      <div class="crs_desc">
        <div class="crs_desc_hd">
          <span class="desc_in_hd">
            <mat-icon>wallpaper</mat-icon> Images/Thumbnails
          </span>
          <span class="spacer"></span>
          <button mat-icon-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="crs_desc_cnt">
          <div class="desc_tmb_img">
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
            <img src="../../../assets/images/vid_smpl.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="crses_lft_mn" *ngIf="active_div == 5">
    <div class="crses_lft">
      <div class="crs_desc">
        <div class="crs_desc_hd">
          <span class="desc_in_hd">
            <mat-icon>attachment</mat-icon> Attachments
          </span>
          <span class="spacer"></span>
          <button mat-icon-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="crs_desc_cnt">
          <div class="mlti_fls desc_mlti_fls">
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/ppt.png" alt="" />
              <span class="fl_nme" matTooltip="asfsdf sd">asfsdf sd</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/doc.png" alt="" />
              <span class="fl_nme" matTooltip="asdf sd fsd">asdf sd fsd</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf.png" alt="" />
              <span class="fl_nme" matTooltip="hsadjkfhasjl kjlsdakfl">hsadjkfhasjl kjlsdakfl</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf.png" alt="" />
              <span class="fl_nme" matTooltip="hsadjkfhasjl kjlsdakfl">hsadjkfhasjl kjlsdakfl</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf.png" alt="" />
              <span class="fl_nme" matTooltip="hsadjkfhasjl kjlsdakfl">hsadjkfhasjl kjlsdakfl</span>
            </div>
            <div class="mlti_fls_dv">
              <img src="../../../assets/images/pdf.png" alt="" />
              <span class="fl_nme" matTooltip="hsadjkfhasjl kjlsdakfl">hsadjkfhasjl kjlsdakfl</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="crses_lft_mn" *ngIf="active_div == 6">
    <div class="crses_lft">
      <div class="crs_desc">
        <div class="crs_desc_hd">
          <span class="desc_in_hd"><mat-icon>highlight</mat-icon> High Yield Text</span>
          <span class="spacer"></span>
          <span class="fnt_sze">
            <span class="a_pls">A<sup>+</sup></span>
            <span class="a_mns">A<sup>-</sup></span>
          </span>
          <button mat-icon-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="crs_desc_cnt">
          Donec nisl neque, tincidunt sit amet dolor at, tempor ultrices leo.
          Quisque vehicula ultrices justo ut auctor. Integer mollis justo lacus,
          vel ultrices odio tempor vel. Morbi ullamcorper porta augue, a posuere
          lacus ultricies sed. In maximus augue et nibh dignissim molestie.
          Praesent lacinia dui et lorem eleifend rhoncus. Praesent vel nibh
          <div class="hgt_20"></div>
          <img src="../../../assets/images/vid_smpl.jpg" />
          <div class="hgt_20"></div>
          rhoncus, ullamcorper est eleifend, ultrices dui. Vivamus ultricies
          malesuada libero, vel ultricies erat vehicula vel. Quisque accumsan
          orci eu sem laoreet ornare. Phasellus pulvinar vulputate mi, at luctus
          magna scelerisque suscipit. Maecenas a odio nisl. Integer ac felis
          tincidunt, consectetur est in, vestibulum mauris. Nullam justo leo,
          facilisis vitae pretium sit amet, lacinia et aug
        </div>
      </div>
    </div>
  </div>
  <div class="crses_lft_mn" *ngIf="active_div == 7">
    <div class="crses_lft">
      <div class="crs_desc">
        <div class="crs_desc_hd">
          <span class="desc_in_hd"><mat-icon>description</mat-icon> Cases</span>
          <span class="spacer"></span>
          <span class="fnt_sze">
            <span class="a_pls">A<sup>+</sup></span>
            <span class="a_mns">A<sup>-</sup></span>
          </span>
          <button mat-icon-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="crs_desc_cnt mcb_desc">
          <div class="hgt_20"></div>
          Donec tincidunt urna at eros ultricies, id pellentesque mi fermentum?
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
              Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam
              aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
            </mat-radio-button>
            <mat-radio-button value="2">Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
              Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam
              aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam</mat-radio-button>
            <mat-radio-button value="3">Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
              Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam
              aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam</mat-radio-button>
            <mat-radio-button value="4">Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
              Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam
              aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam</mat-radio-button>
            <mat-radio-button value="5">Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam
              Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam
              aliquam aliquam Sed non tortor ut diam aliquam aliquam Sed non tortor ut diam aliquam aliquam</mat-radio-button>
          </mat-radio-group>
          <div class="hgt_20"></div>
          <img src="../../../assets/images/vid_smpl.jpg" />
          <div class="hgt_20"></div>
          <div class="pn_btns">
            <button mat-raised-button color="accent" class="mr_1">Back</button>
            <button mat-raised-button color="accent">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="crses_lft_mn" *ngIf="active_div == 8">
    <div class="crses_lft">
      <div class="crs_desc">
        <div class="crs_desc_hd">
          <span class="desc_in_hd"><mat-icon>insert_link</mat-icon> External References</span>
          <span class="spacer"></span>
          <span class="fnt_sze">
            <span class="a_pls">A<sup>+</sup></span>
            <span class="a_mns">A<sup>-</sup></span>
          </span>
          <button mat-icon-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="crs_desc_cnt">
          Donec nisl neque, tincidunt sit amet dolor at, tempor ultrices leo.
          Quisque vehicula ultrices justo ut auctor. Integer mollis justo lacus,
          vel ultrices odio tempor vel. Morbi ullamcorper porta augue, a posuere
          lacus ultricies sed. In maximus augue et nibh dignissim molestie.
          Praesent lacinia dui et lorem eleifend rhoncus. Praesent vel nibh
          <div class="hgt_20"></div>
          <img src="../../../assets/images/vid_smpl.jpg" />
          <div class="hgt_20"></div>
          rhoncus, ullamcorper est eleifend, ultrices dui. Vivamus ultricies
          malesuada libero, vel ultricies erat vehicula vel. Quisque accumsan
          orci eu sem laoreet ornare. Phasellus pulvinar vulputate mi, at luctus
          magna scelerisque suscipit. Maecenas a odio nisl. Integer ac felis
          tincidunt, consectetur est in, vestibulum mauris. Nullam justo leo,
          facilisis vitae pretium sit amet, lacinia et aug
        </div>
      </div>
    </div>
  </div>
  <div class="crses_lft_mn" *ngIf="active_div == 9">
    <div class="crses_lft">
      <div class="crs_desc">
        <div class="crs_desc_hd">
          <span class="desc_in_hd"><mat-icon>bolt</mat-icon> Related Topics</span>
          <span class="spacer"></span>
          <span class="fnt_sze">
            <span class="a_pls">A<sup>+</sup></span>
            <span class="a_mns">A<sup>-</sup></span>
          </span>
          <button mat-icon-button color="primary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="crs_desc_cnt">
          Donec nisl neque, tincidunt sit amet dolor at, tempor ultrices leo.
          Quisque vehicula ultrices justo ut auctor. Integer mollis justo lacus,
          vel ultrices odio tempor vel. Morbi ullamcorper porta augue, a posuere
          lacus ultricies sed. In maximus augue et nibh dignissim molestie.
          Praesent lacinia dui et lorem eleifend rhoncus. Praesent vel nibh
          <div class="hgt_20"></div>
          <img src="../../../assets/images/vid_smpl.jpg" />
          <div class="hgt_20"></div>
          rhoncus, ullamcorper est eleifend, ultrices dui. Vivamus ultricies
          malesuada libero, vel ultricies erat vehicula vel. Quisque accumsan
          orci eu sem laoreet ornare. Phasellus pulvinar vulputate mi, at luctus
          magna scelerisque suscipit. Maecenas a odio nisl. Integer ac felis
          tincidunt, consectetur est in, vestibulum mauris. Nullam justo leo,
          facilisis vitae pretium sit amet, lacinia et aug
        </div>
      </div>
    </div>
  </div>
</div>
<div class="crses_rgt">
  <div class="intr_vd_hd">
    <div>
      <mat-icon>videocam</mat-icon>
      Introduction video
    </div>
    <span class="spacer"></span>
    <div>
      <mat-icon>playlist_add</mat-icon>
      Add to wishlist
    </div>
  </div>
  <div class="intr_vd_sc">
    <img src="../../../assets/images/vid_smpl.jpg" />
  </div>
  <div class="intr_vd_optns">
    <span>
      <mat-icon>thumb_up_off_alt</mat-icon> Like
    </span>
    <span>
      <mat-icon>share</mat-icon> Share
    </span>
    <span>
      <mat-icon>favorite_border</mat-icon> Favorite
    </span>
    <span>
      <mat-icon>bookmark_border</mat-icon> Add to Bookmark
    </span>
  </div>
  <div class="intr_vd_tml">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>timeline</mat-icon> Timeline
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="tm_ln_dv">
          <span class="tm_stmp">01:30</span>
          <span class="tm_stmp_txt">Sed non tortor ut diam aliquam aliquam</span>
        </div>
        <div class="tm_ln_dv">
          <span class="tm_stmp">01:30</span>
          <span class="tm_stmp_txt">Sed non tortor ut diam aliquam aliquam</span>
        </div>
        <div class="tm_ln_dv">
          <span class="tm_stmp">01:30</span>
          <span class="tm_stmp_txt">Sed non tortor ut diam aliquam aliquam</span>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>videocam</mat-icon> Videos
          </mat-panel-title>
          <mat-panel-description>
            <span class="spacer"></span>
            15 / 30 videos watched
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="wtcd_vds wv_actv">
          <div class="wv_img">
            <img src="../../../assets/images/vid_smpl.jpg" />
          </div>
          <div class="wv_ttl_dsc">
            <span class="wv_tt_hd">Introduction video</span>
            <span class="wv_ts">05:50 min</span>
          </div>
          <span class="spacer"></span>
          <div class="wv_ply_icn">
            <mat-icon>graphic_eq</mat-icon>
          </div>
          <div class="wv_bkmrk">
            <mat-icon class="wv_bkmrkd">bookmark</mat-icon>
          </div>
        </div>
        <div class="wtcd_vds">
          <div class="wv_img">
            <img src="../../../assets/images/vid_smpl.jpg" />
          </div>
          <div class="wv_ttl_dsc">
            <span class="wv_tt_hd">Introduction video</span>
            <span class="wv_ts">05:50 min</span>
          </div>
          <span class="spacer"></span>
          <div class="wv_ply_icn">
            <mat-icon>graphic_eq</mat-icon>
          </div>
          <div class="wv_bkmrk">
            <mat-icon>bookmark_border</mat-icon>
          </div>
        </div>
        <div class="wtcd_vds">
          <div class="wv_img">
            <img src="../../../assets/images/vid_smpl.jpg" />
          </div>
          <div class="wv_ttl_dsc">
            <span class="wv_tt_hd">Introduction video</span>
            <span class="wv_ts">05:50 min</span>
          </div>
          <span class="spacer"></span>
          <div class="wv_ply_icn">
            <mat-icon>graphic_eq</mat-icon>
          </div>
          <div class="wv_bkmrk">
            <mat-icon>bookmark_border</mat-icon>
          </div>
        </div>
        <div class="wtcd_vds">
          <div class="wv_img">
            <img src="../../../assets/images/vid_smpl.jpg" />
          </div>
          <div class="wv_ttl_dsc">
            <span class="wv_tt_hd">Introduction video</span>
            <span class="wv_ts">05:50 min</span>
          </div>
          <span class="spacer"></span>
          <div class="wv_ply_icn">
            <mat-icon>graphic_eq</mat-icon>
          </div>
          <div class="wv_bkmrk">
            <mat-icon>bookmark_border</mat-icon>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>