stl-model-viewer {
    display: block;
    height: 500px;
    width: 500px;
  }
  .crs_desc mat-panel-description{
    font-size: 14px;
    justify-content: end;
  }
.crs_desc mat-panel-description mat-icon{
  color : #41ab3c;
  font-size: 21px;
}
.intr_vd_tml{
  .mat-expansion-panel{
    margin-bottom: 10px;
  }
  .mat-expansion-panel-header{
    background-color: #e6e6e6 !important;
    &:hover{
            background-color: #e6e6e6 !important;
    }
    &.mat-expanded{
            background-color: #e6e6e6 !important;
        &:hover{
            background-color: #e6e6e6 !important;
        }
    }
  }
}

