.rtng_par{
    border-bottom: 0;
    transform: scale(0.8) translate(-35px, 0px);
    padding: 2px 0;
}
.tmr_dv{
    font-size: 10px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    width: 100%;
}
.pc_dsc_mn{
    span{
        font-size: 14px;
        font-weight: bold;
    }
}
.rtng_nums{
    font-size: 16px;
    position: relative;
    top: 5px;
    left: 5px;
}

