<app-topbar></app-topbar>
<app-sidemenu></app-sidemenu>
<div class="mn_dshbrd">
  <div class="brd_crm">Proceum &raquo; <strong>My Account</strong></div>
  <div class="pg_ttl">My Account</div>
  <div class="dsh_brd_crds">
    <ul class="crds_ul anl_crd">
      <li>
        <div class="crd_dv">
          <button mat-icon-button>
            <mat-icon>badge</mat-icon>
          </button>
          <a href="/student/my-account">Profile</a>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          <button mat-icon-button>
            <mat-icon>insert_chart</mat-icon>
          </button>
          <a>Analytics</a>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          <button mat-icon-button>
            <mat-icon>assignment</mat-icon>
          </button>
          <a>Assessments</a>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          <button mat-icon-button>
            <mat-icon>favorite_border</mat-icon>
          </button>
          <a>Favorites</a>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          <button mat-icon-button>
            <mat-icon>book</mat-icon>
          </button>
          <a>Bookmarks</a>
        </div>
      </li>
      <li>
        <div class="crd_dv">
          <button mat-icon-button>
            <mat-icon>sticky_note_2</mat-icon>
          </button>
          <a>Notes</a>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <!-- Profile fields -->
  
  <h2 class="section-title">My Profile</h2>

  <div class="two-blocks">
    <form #profile_form="ngForm" name="profile_form" (ngSubmit)="profile_form.valid && profileUpdate()" novalidate>
      <div class="grd_2c">
        <div class="tc_w50p">
          <span>All <span class="required">(*) </span>marked fields are mandatory</span>
          <div class="frm_dvs">
            <span>Profile Picture</span>
            <span>
              <span class="profile_pic">
                <img src="{{src}}" alt="">
              </span>
            </span>
          </div>
          <div class="frm_dvs">
            <div class="hgt_20"></div>
          </div>
          <div class="frm_dvs">
            <span></span>
            <span>
              <button mat-raised-button color="accent" type="button" (click)="fileInput.click()">Browse
              <input type="file" #fileInput mat-raised-button color="accent" accept="image/*" (change)="fileEvent($event)" style="display:none;" />
              <!-- <input type="file" #fileInput mat-raised-button color="accent" accept="image/*"
                (change)="fileEvent($event)" /> -->
              </button>
            </span>
          </div>
          <div class="frm_dvs">
            <span>&nbsp;</span>
            <span><span class="required">{{imgMessage}}</span></span>
          </div>
          <div class="frm_dvs">
            <span>First name <span class="required">*</span></span>
            <span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="First name" autocomplete="off" name="first_name" [(ngModel)]="profile.first_name" required
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>Last name <span class="required">*</span></span>
            <span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Last name" autocomplete="off" required name="last_name" [(ngModel)]="profile.last_name"
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>Mobile</span>
            <span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Mobile" disabled="disabled">
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>Email</span>
            <span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Email Address" name="email" [disabled]="'disabled'"
                  [(ngModel)]="profile.email">
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>Country</span>
            <span>
              <mat-form-field appearance="outline" color="accent" disableOptionCentering readonly>
                <mat-select disabled="disabled">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>State</span>
            <span>
              <mat-form-field appearance="outline">
                <mat-select disabled="disabled">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>City</span>
            <span>
              <mat-form-field appearance="outline">
                <mat-select disabled="disabled">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>Address line 1</span>
            <span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Address line 1" readonly>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">

            <span>Address line 2</span>
            <span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Address line 2" readonly>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>University</span>
            <span>
              <mat-form-field appearance="outline" color="accent" disableOptionCentering>
                <mat-select disabled="disabled">

                  <mat-option>None</mat-option>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>College/Institue</span>
            <span>
              <mat-form-field appearance="outline" color="accent" disableOptionCentering>
                <mat-select disabled="disabled">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>Campus</span>
            <span>
              <mat-form-field appearance="outline" color="accent" disableOptionCentering>
                <mat-select disabled="disabled">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>Student Group</span>
            <span>
              <mat-form-field appearance="outline" color="accent" disableOptionCentering>
                <mat-select disabled="disabled">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs">
            <span>Registration Number/UUID</span>
            <span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Registration Number" readonly>
              </mat-form-field>
            </span>
          </div>
        </div>
        <div class="tc_w50p">

          <div class="frm_dvs">
            <span class="accent">
              <mat-checkbox (change)="checked($event)" name="ischecked" #ischecked="ngModel" ngModel>Update login
                password</mat-checkbox>
            </span>
          </div>
          <div class="frm_dvs">
            <span class="hgt_20"></span>
            <span class="hgt_20"></span>
          </div>
          <div class="frm_dvs" *ngIf='isdisplay'>
            <span>Current password <span class="required">*</span></span>
            <span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Current password" type="password"  autocomplete="off"[required]="isrequired"
                  [(ngModel)]="profile.current_password" minlength="8" maxlength="16" name="current_password"
                  onkeypress='return (event.charCode != 32)' #current_password="ngModel" ngModel
                  >
              </mat-form-field>
            </span>
          </div>
          <div class="frm_dvs" *ngIf='isdisplay'>
            <span>New password <span class="required">*</span></span>
            <span>
              <span class="inp_par_dv" [ngClass]="{
                err_tltp_par:
                (profile_form.submitted && new_password.errors?.pattern) 
              }">
              <mat-form-field appearance="outline">
                <input matInput placeholder="New password" [type]="new_password_hide ? 'password' : 'text'" autocomplete="off" [required]="isrequired"
                  [(ngModel)]="profile.new_password" minlength="8" maxlength="16" name="new_password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,16}$"
                  onkeypress='return (event.charCode != 32)' #new_password="ngModel" ngModel>
                  <!-- <mat-icon  matSuffix (click)="passwordFun('new')" >{{new_password_hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
              </mat-form-field>
              <span class="prc_tltp">
                Password pattern mismatched
              </span>
              </span>
            </span>
          </div>
          <div class="frm_dvs" *ngIf='isdisplay'>
            <span>Confirm password <span class="required">*</span></span>
            <span>
              <span class="inp_par_dv" [ngClass]="{
                err_tltp_par:
                (profile_form.submitted && confirm_pwd.errors?.pattern) 
              }">
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Confirm password" autocomplete="off" [type]="confirm_password_hide ? 'password' : 'text'" [required]="isrequired"
                    [(ngModel)]="profile.confirm_pwd" minlength="8" maxlength="16" name="confirm_pwd" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,16}$"
                    onkeypress='return (event.charCode != 32)' #confirm_pwd="ngModel" ngModel>
                    <!-- <mat-icon  matSuffix (click)="passwordFun('confirm')" >{{confirm_password_hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                </mat-form-field>
                <span class="prc_tltp" > New Password and Confirm password are not matched </span>
              </span>
            </span>
          </div>
        </div>
        <div class="hgt_20"></div>
        <div class="text-center oc_w100p">
          <button mat-raised-button color="accent">Save</button>
        </div>
      </div>
    </form>
  </div>
