
.dsh_brd_crds{width: 100%;}
.crds_ul{margin: 0; padding: 0; display: flex;}
.crds_ul.anl_crd li{text-align: center;}
.crds_ul.anl_crd div{flex-wrap: wrap; display: flex; height: 100%; justify-content: center; font-weight: 300; color: #171f3296;}
.crds_ul li{flex: auto; flex-basis: 20%; list-style: none; margin: 15px 1%;  color: #606672;background-color: #fff; border-radius: 8px; box-shadow: 0 2px 3px -2px #808080; font-size: 18px; padding: 20px; box-sizing: border-box;}
.crds_ul .crd_dv span{font-size: 24px; font-weight: bold; width: 100%; display: inline-block; text-align: center;}
.crds_ul.anl_crd .crd_dv span{display: flex; text-align: center; justify-content: center; align-self: flex-end;}
.crd_dv{flex-direction: column; align-items: center;}
::ng-deep .top-top-bar{ display: none !important;}
.profile_pic {
    display: flex;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
    margin: 40px auto 15px;
    border: 5px solid #0F98A6;
}
.profile_pic img {
    object-fit: cover;
}