.dsh_brd_crds{width: 100%;}
.crds_ul{margin: 0; padding: 0; display: flex; flex-wrap: wrap;}
.crds_ul.anl_crd li{text-align: center;}
.crds_ul.anl_crd div{flex-wrap: wrap; display: flex; height: 100%; justify-content: center; font-weight: 300; color: #171f3296;}
.crds_ul li{flex: auto; flex-basis: 20%; list-style: none; margin: 15px 1%;  color: #606672;background-color: #fff; border-radius: 8px; box-shadow: 0 2px 3px -2px #808080; font-size: 18px; padding: 20px; box-sizing: border-box;}
.crds_ul .crd_dv span{font-size: 24px; font-weight: bold; width: 100%; display: inline-block; text-align: center;}
.crds_ul.anl_crd .crd_dv span{display: flex; text-align: center; justify-content: center; align-self: flex-end;}
.crd_dv{flex-direction: column; align-items: center;}
::ng-deep .top-top-bar{ display: none !important;}
.profile_pic { 
    width: 150px; 
    overflow: hidden;
    height: 150px; 
    border: 5px solid #0F98A6;
    display: flex;
    margin: auto;
}
.profile_pic img {
    object-fit: cover;
    height: 100%;
}
.frm_dvs .mat-input-element[type=text], .my_prf_dv .mat-input-element[type=text]{
    border: none;
    border-radius: inherit;
    height: auto;
    padding: initial;
    vertical-align: middle;
    margin-right: inherit;
    width: inherit;
}
.showCoupon {
    padding: 10px;
    background-color:rgb(0 0 0 / 16%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border:1px dashed #8f8f8f;
    width: 100%;
    flex-basis: unset !important;
}
.showCoupon span {
    position: relative;
    top: 2px;
    letter-spacing: 2px;
}

@media screen and (max-width:768px){
    .tc_w50p {
        width: 100%;
    }
}