<div class="mn_dshbrd">
    Dummy Page
    <div class="cm_fltr_sc mr_1">
        <mat-select placeholder="Select Course"  apperance="outline">
            <mat-option value="">Select Reviewer</mat-option>
            <mat-option value="">Select Reviewer</mat-option>
            <mat-option value="">Select Reviewer</mat-option>
        </mat-select>
    </div>
    <div class="cm_fltr_sc mr_1">
        <mat-select placeholder="Select Course"  apperance="outline">
            <mat-option value="">Select Reviewer</mat-option>
            <mat-option value="">Select Reviewer</mat-option>
            <mat-option value="">Select Reviewer</mat-option>
        </mat-select>
    </div>
</div>