<div class="sd_br" [ngClass]="sidemenuStatus" (scroll)="scrollHandler($event)">
  <!-- sd_opn || sd_cls -->
  <ul class="sdmn_cntul">
    <li (click)="menu_active = 0" routerLinkActive="active" routerLink="/reviewer/dashboard">
      <div class="sd_mnuhd">
        <mat-icon>dashboard</mat-icon>Dashboard
      </div>
    </li>
    <li routerLinkActive="active" routerLink="/reviewer/my-account">
      <div class="sd_mnuhd">
        <mat-icon>manage_accounts</mat-icon> My Account
      </div>
    </li>

    <!-- <li *ngIf="false"
      class="hs_sbmnu {{
        menu_active == 7 ||
        active_route == '/reviewer/roles-list' ||
        active_route == '/reviewer/access-matrix'
          ? 'active'
          : ''
      }}"
      routerLinkActive="active"
      (click)="activeMenu(7, menu_active)"
    >
      <div class="sd_mnuhd">
        <mat-icon>manage_accounts</mat-icon> Roles Management
      </div>
      <ul class="sdmn_sub">
        <li routerLinkActive="active" routerLink="/reviewer/roles-list">
          <mat-icon>manage_accounts</mat-icon> Roles List
        </li>
        <li routerLinkActive="active" routerLink="/reviewer/access-matrix">
          <mat-icon>manage_accounts</mat-icon> Privilege/Access Matrix
        </li>
      </ul>
    </li> -->

    <!-- <li
      class="hs_sbmnu {{
        menu_active == 1 ||
        active_route == '/reviewer/students' ||
        active_route == '/reviewer/login-history'
          ? 'active'
          : ''
      }}"
      routerLinkActive="active"
      (click)="activeMenu(1, menu_active)"
    >
      <div class="sd_mnuhd">
        <mat-icon>manage_accounts</mat-icon> User Management
      </div>
      <ul class="sdmn_sub">
        <li routerLinkActive="active" routerLink="/reviewer/login-history">
          <mat-icon>assignment</mat-icon> Login History
        </li>
      </ul>
    </li> -->
    <!-- <li
      (click)="menu_active = 0"
      routerLinkActive="active"
      routerLink="/reviewer/curriculum"
      [ngClass]="{
        active:
          active_route == '/reviewer/curriculum' ||
          active_route.includes('/reviewer/curriculum')
      }"
    >
      <div class="sd_mnuhd">
        <mat-icon>auto_awesome_mosaic</mat-icon> Curriculum Management
      </div>
    </li> -->
    <li class="hs_sbmnu {{
        menu_active == 2 ||
        active_route == '/reviewer/create-content' ||
        active_route == '/reviewer/link-content' ||
        active_route.includes('/reviewer/create-content') ||
        active_route == '/reviewer/manage-content'
          ? 'active'
          : ''
      }}" routerLinkActive="active" (click)="activeMenu(2, menu_active)">
      <div class="sd_mnuhd">
        <mat-icon>source</mat-icon>Content Management
      </div>
      <ul class="sdmn_sub">
        <li routerLinkActive="active" routerLink="/reviewer/create-content">
          <mat-icon>add</mat-icon>Create Content
        </li>
        <li routerLinkActive="active" routerLink="/reviewer/manage-content">
          <mat-icon>notes</mat-icon>Manage Content
        </li>
        <li routerLinkActive="active" routerLink="/reviewer/link-content">
          <mat-icon>notes</mat-icon>Link Content
        </li>
        <!-- <li>
          <mat-icon>speaker_notes</mat-icon>Learning Notes
        </li>
        <li routerLinkActive="active" routerLink="/teacher/materials">
          <mat-icon>description</mat-icon>Teacher Materials
        </li> -->
        <!-- <li routerLinkActive="active" routerLink="/admin/manage-flash-cards">
          <mat-icon>style</mat-icon>Flash Cards
        </li> -->
        <!-- <li>
          <mat-icon>style</mat-icon>Flash Cards
        </li> -->
      </ul>
    </li>
    <!-- <li routerLink="/reviewer/users" (click)="menu_active = 0">
      <div class="sd_mnuhd">
        <mat-icon>library_books</mat-icon> Proceum User
      </div>
    </li>-->
    <li class="hs_sbmnu {{
        menu_active == 3 || active_route.includes('/reviewer/assets-library')
          ? 'active'
          : ''
      }}" (click)="activeMenu(3, menu_active)">
      <div class="sd_mnuhd">
        <mat-icon>corporate_fare</mat-icon>Assets Library
      </div>
      <ul class="sdmn_sub">
        <!-- <li routerLinkActive="active" routerLink="/reviewer/assets-library/videos">
          <mat-icon>play_circle_outline</mat-icon>Videos
        </li> -->
        <li routerLinkActive="active" routerLink="/reviewer/assets-library/images">
          <mat-icon>wallpaper</mat-icon>Images
        </li>
        <li routerLinkActive="active" routerLink="/reviewer/assets-library/documents">
          <mat-icon>text_snippet</mat-icon>Documents
        </li>
      </ul>
    </li>
    <!-- <li routerLinkActive="active" (click)="menu_active = 0">
      <div class="sd_mnuhd"><mat-icon>today</mat-icon> Study Planner</div>
    </li>
    <li routerLinkActive="active" (click)="menu_active = 0">
      <div class="sd_mnuhd"><mat-icon>quiz</mat-icon> Question Bank</div>
    </li>
    <li routerLinkActive="active" (click)="menu_active = 0">
      <div class="sd_mnuhd"><mat-icon>description</mat-icon> Exam Modes</div>
    </li>
    <li routerLinkActive="active" (click)="menu_active = 0">
      <div class="sd_mnuhd"><mat-icon>assignment</mat-icon> Assessments</div>
    </li> -->
    <!-- <li
      routerLinkActive="active"
      class="hs_sbmnu {{
        menu_active == 4 || active_route == '/reviewer/individuals' ? 'active' : ''
      }}"
      (click)="activeMenu(4, menu_active)"
    >
      <div class="sd_mnuhd">
        <mat-icon>account_balance</mat-icon> Clients / Partners
      </div>
      <ul class="sdmn_sub">
        <li><mat-icon>account_balance</mat-icon> Universities</li>
        <li><mat-icon>school</mat-icon> Colleges</li>
        <li><mat-icon>account_balance</mat-icon> Institutes</li>
        <li routerLinkActive="active" routerLink="/reviewer/individuals">
          <mat-icon>manage_accounts</mat-icon> Individuals
        </li>
      </ul>
    </li> -->

    <!-- <li>
      <div class="sd_mnuhd">
        <mat-icon>subscriptions</mat-icon> Subscription Plans
      </div>
    </li>
    <li>
      <div class="sd_mnuhd"><mat-icon>summarize</mat-icon> Courses</div>
    </li>
    <li>
      <div class="sd_mnuhd">
        <mat-icon>store</mat-icon> Marketplace & Add-ons
      </div>
    </li> -->

    <!-- <li
      class="hs_sbmnu {{
        menu_active == 5 ||
        active_route == '/reviewer/promotional-settings' ||
        active_route == '/reviewer/discount-settings'
          ? 'active'
          : ''
      }}"
      (click)="activeMenu(5, menu_active)"
    >
      <div class="sd_mnuhd">
        <mat-icon>assessment</mat-icon>Coupons/Promotions
      </div>
      <ul class="sdmn_sub">
        <li
          routerLink="/reviewer/promotional-settings"
          [ngClass]="{ active: active_route == '/reviewer/promotional-settings' }"
        >
          <mat-icon>qr_code</mat-icon>Coupon Management
        </li>
        <li
          routerLink="/reviewer/discount-settings"
          [ngClass]="{ active: active_route == '/reviewer/discount-settings' }"
        >
          <mat-icon>sell</mat-icon>Discounts
        </li>
      </ul>
    </li> -->

    <!-- <li
      class="hs_sbmnu {{
        menu_active == 6 ||
        active_route == '/reviewer/settings/email-templates' ||
        active_route == '/reviewer/countries' ||
        active_route == '/reviewer/settings' ||
        active_route == '/reviewer/custom-page' ||
        active_route == '/reviewer/create-custom-page' ||
        active_route == '/reviewer/edit-custom-page/:id'
          ? 'active'
          : ''
      }}"
      (click)="activeMenu(6, menu_active)"
    >
      <div class="sd_mnuhd"><mat-icon>settings</mat-icon> Settings</div>
      <ul class="sdmn_sub">
        <li
          routerLink="/reviewer/countries"
          [ngClass]="{
            active: active_route == '/reviewer/countries'
          }"
        >
          <mat-icon>assistant_photo</mat-icon>Countries-States-Cities
        </li>
        <li
          routerLink="/reviewer/settings/email-templates"
          [ngClass]="{
            active: active_route == '/reviewer/settings/email-templates'
          }"
        >
          <mat-icon>email</mat-icon>Email Templates
        </li>
        <li
          routerLink="/reviewer/settings"
          [ngClass]="{
            active: active_route == '/reviewer/settings'
          }"
        >
          <mat-icon>phonelink_setup</mat-icon>System Settings
        </li>
        <li
          routerLink="/reviewer/custom-page"
          [ngClass]="{
            active:
              active_route == '/reviewer/custom-page' ||
              active_route == '/reviewer/create-custom-page' ||
              active_route == '/reviewer/edit-custom-page/:id'
          }"
        >
          <mat-icon>note_add</mat-icon>Custom Pages
        </li>
        <li><mat-icon>cloud_off</mat-icon>Offline</li>
        <li><mat-icon>attach_money</mat-icon>Currencies</li>
      </ul>
    </li> -->
    <!-- <li
      class="hs_sbmnu {{
        menu_active == 8 || active_route == '/reviewer/newsletter-list'
          ? 'active'
          : ''
      }}"
      (click)="activeMenu(8, menu_active)"
    >
      <div class="sd_mnuhd"><mat-icon>feed</mat-icon> Newsletter</div>
      <ul class="sdmn_sub">
        <li
          routerLink="/reviewer/newsletter-list"
          [ngClass]="{
            active: active_route == '/reviewer/newsletter-list'
          }"
        >
          <mat-icon>list</mat-icon>List
        </li>
      </ul>
    </li> -->
    <!-- <li>
      <a
        (click)="menu_active = 0"
        routerLink="/white-board"
        [ngClass]="{
          active: active_route == '/white-board'
        }"
        target="_blank"
      >
        <div class="sd_mnuhd">
          <mat-icon>auto_awesome_mosaic</mat-icon> White Board
        </div>
      </a>
    </li> -->
  </ul>
</div>
<div class="sdmnu_cvr" (click)="closeSidebar()"></div>