<app-admin-topbar></app-admin-topbar>
<app-sidebar></app-sidebar>
<div class="mn_dshbrd">
  <div class="brd_crm">Proceum &raquo; <strong>Access Matrix</strong></div>
  <div class="pg_ttl">Access Matrix</div>
  <div class="hgt_20"></div>
  <div class="mt_grd_dv">
    <mat-grid-list cols="31" rowHeight="">
      <mat-grid-tile-header>
        <mat-grid-tile [colspan]="3">Access Matrix</mat-grid-tile>
        <mat-grid-tile [colspan]="4">Content</mat-grid-tile>
        <mat-grid-tile [colspan]="4">Students</mat-grid-tile>
        <mat-grid-tile [colspan]="4">Finance</mat-grid-tile>
        <mat-grid-tile [colspan]="4">Client</mat-grid-tile>
        <mat-grid-tile [colspan]="4">Subscriptions</mat-grid-tile>
        <mat-grid-tile [colspan]="4">Packages</mat-grid-tile>
        <mat-grid-tile [colspan]="4"
          >Promotions</mat-grid-tile
        ></mat-grid-tile-header
      >

      <mat-grid-tile [colspan]="3">Role Name</mat-grid-tile>
      <mat-grid-tile>C</mat-grid-tile>
      <mat-grid-tile>R</mat-grid-tile>
      <mat-grid-tile>U</mat-grid-tile>
      <mat-grid-tile>D</mat-grid-tile>
      <mat-grid-tile>C</mat-grid-tile>
      <mat-grid-tile>R</mat-grid-tile>
      <mat-grid-tile>U</mat-grid-tile>
      <mat-grid-tile>D</mat-grid-tile>
      <mat-grid-tile>C</mat-grid-tile>
      <mat-grid-tile>R</mat-grid-tile>
      <mat-grid-tile>U</mat-grid-tile>
      <mat-grid-tile>D</mat-grid-tile>
      <mat-grid-tile>C</mat-grid-tile>
      <mat-grid-tile>R</mat-grid-tile>
      <mat-grid-tile>U</mat-grid-tile>
      <mat-grid-tile>D</mat-grid-tile>
      <mat-grid-tile>C</mat-grid-tile>
      <mat-grid-tile>R</mat-grid-tile>
      <mat-grid-tile>U</mat-grid-tile>
      <mat-grid-tile>D</mat-grid-tile>
      <mat-grid-tile>C</mat-grid-tile>
      <mat-grid-tile>R</mat-grid-tile>
      <mat-grid-tile>U</mat-grid-tile>
      <mat-grid-tile>D</mat-grid-tile>
      <mat-grid-tile>C</mat-grid-tile>
      <mat-grid-tile>R</mat-grid-tile>
      <mat-grid-tile>U</mat-grid-tile>
      <mat-grid-tile>D</mat-grid-tile>
      <div *ngFor="let role of roles">
        <mat-grid-tile [colspan]="3">{{ role["role_name"] }}</mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="1"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="2"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="3"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="4"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="5"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="6"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="7"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="8"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="9"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="10"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="11"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="12"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="13"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="14"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="15"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="16"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="17"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="18"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="19"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="20"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="21"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="22"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="23"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="24"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="25"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="26"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="27"
          ></mat-checkbox
        ></mat-grid-tile>
        <mat-grid-tile
          ><mat-checkbox
            name="role_{{ role['id'] }}"
            (change)="setAccess($event, role['id'])"
            value="28"
          ></mat-checkbox
        ></mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>
<app-footer></app-footer>
