<div class="mn_dshbrd">
    <div class="brd_crm">
        Proceum &raquo; <strong>Study Planner</strong>
    </div>
    <div class="pg_ttl">Study Planner</div>
    <hr />

    <div class="dsh_brd_crds">
        <span>Study plan name <span class="required">*</span></span>
        <div class="xl_srch err_tltp_par w_100p">
            <mat-form-field appearance="outline" class="w_100p">
                <input matInput placeholder="Study plan name" />
            </mat-form-field>
            <span class="prc_tltp">Required</span>
        </div>
        <div class="clear_fix"></div>
        <div class="d-flex">
            <div class="w_50p mr_1">
                <span>Select course <span class="required">*</span></span>
                <div class="xl_srch err_tltp_par w_100p">
                    <mat-form-field appearance="outline" class="w_100p">
                        <mat-select placeholder="Users">
                            <mat-option value="0">Select</mat-option>
                            <mat-option value="1">Select</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="prc_tltp">Required</span>
                </div>
            </div>
            <div class="w_50p">
                <span>Duration <span class="required">*</span></span>
                <div class="xl_srch err_tltp_par w_100p">
                    <mat-form-field appearance="outline" class="w_100p">
                        <mat-select placeholder="Users">
                            <mat-option value="0">30 Days</mat-option>
                            <mat-option value="1">60 Days</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="prc_tltp">Required</span>
                </div>
            </div>
        </div>

        <div class="days_mn">
            <div class="dys_dv">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">365</div>
                </div>
                <div>
                    <div class="slct_crs d-none">Select Course</div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Anatomy</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Biology</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dys_dv">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">365</div>
                </div>
                <div>
                    <div class="slct_crs d-none">Select Course</div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Anatomy</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Biology</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dys_dv">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">365</div>
                </div>
                <div>
                    <div class="slct_crs d-none">Select Course</div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Anatomy</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Biology</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dys_dv">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">365</div>
                </div>
                <div>
                    <div class="slct_crs d-none">Select Course</div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Anatomy</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Biology</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dys_dv">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">365</div>
                </div>
                <div>
                    <div class="slct_crs d-none">Select Course</div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Anatomy</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Biology</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dys_dv">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">365</div>
                </div>
                <div>
                    <div class="slct_crs d-none">Select Course</div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Anatomy</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Biology</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dys_dv">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">365</div>
                </div>
                <div>
                    <div class="slct_crs d-none">Select Course</div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Anatomy</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                    <div class="dys_tsks_dv">
                        <div class="tsk_hd">Biology</div>
                        <div class="tsk_dv">
                            <div>Tasks</div>
                            <div class="spacer"></div>
                            <div class="tsk_cnt">10</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>