<div class="mn_dshbrd">
    <div class="cust_mdl_par {{task_test_modal?'cust_mdl_opn':'cust_mdl_cls'}}">
        <div class="cust_mdl_chl w_50p">
            <div class="pg_ttl">
                Assign Tasks / Tests
                <span class="spacer"></span>
                <button type="button" (click)="hideTaskTestModal()" mat-icon-button class="float_right">
                    &#x2715;
                </button>
            </div>
            <div class="tbbd_bdy dsh_brd_crds at_mn_dv">
                <div class="hgt_50"></div>
                <div class="d-flex fd_clmn text_center">
                    <div class="at_d_cnt">Day 365</div>
                    <div class="mb_1"><button mat-raised-button type="button" (click)="showTaskAssignModal()" color="accent">Assign Tasks</button></div>
                    <div><button mat-raised-button color="accent" class="hstst_btn">This day has a Test</button></div>
                </div>
                <div class="hgt_50"></div>
            </div>
        </div>
    </div>
    <div class="cust_mdl_par {{task_asign_modal==true?'cust_mdl_opn':'cust_mdl_cls'}}">
        <div class="cust_mdl_chl">
            <div class="pg_ttl">
                Day 1
                <span class="spacer"></span>
                <button type="button" (click)="hideTaskAssignModal()" mat-icon-button class="float_right">
                    &#x2715;
                </button>
            </div>
            <div class="tbbd_bdy dsh_brd_crds">
                <div class="hgt_10"></div>
                <mat-tab-group>
                    <mat-tab label="Anatomy">
                        <div class="hgt_20"></div>
                        <div class="xl_srch w_100p">
                            <mat-form-field appearance="outline" class="w_100p">
                                <mat-select placeholder="Select Course" multiple name="course" required>
                                  <mat-option>
                                    <ngx-mat-select-search 
                                    name="search_course" ngModel [placeholderLabel]="'Search Course'"></ngx-mat-select-search>
                                  </mat-option>
                                  <mat-option>course Name</mat-option>
                                  <mat-option>course Name</mat-option>
                                  <mat-option>course Name</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="rsp_tbl">
                            <table mat-table [dataSource]="dataSource">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->
    
                                <!-- Position Column -->
                                <ng-container matColumnDef="SNo">
                                    <th mat-header-cell *matHeaderCellDef>S.No</th>
                                    <td mat-cell *matCellDef="let element"> S.No </td>
                                </ng-container>
    
                                <!-- Name Column -->
                                <ng-container matColumnDef="Topic">
                                    <th mat-header-cell *matHeaderCellDef> Topic </th>
                                    <td mat-cell *matCellDef="let element"> Topic </td>
                                </ng-container>
    
                                <!-- Weight Column -->
                                <ng-container matColumnDef="MCQ">
                                    <th mat-header-cell *matHeaderCellDef> MCQ’s </th>
                                    <td mat-cell *matCellDef="let element"> MCQ’s </td>
                                </ng-container>
    
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Cases">
                                    <th mat-header-cell *matHeaderCellDef> Cases </th>
                                    <td mat-cell *matCellDef="let element"> Cases </td>
                                </ng-container>
                                <ng-container matColumnDef="Shortans">
                                    <th mat-header-cell *matHeaderCellDef> Short Answers </th>
                                    <td mat-cell *matCellDef="let element"> Short Answers </td>
                                </ng-container>
                                <ng-container matColumnDef="Videos">
                                    <th mat-header-cell *matHeaderCellDef> Videos </th>
                                    <td mat-cell *matCellDef="let element"> Videos </td>
                                </ng-container>
                                <ng-container matColumnDef="Actions">
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element"> <mat-icon color="warn">remove_circle_outline</mat-icon> </td>
                                </ng-container>
    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                     

                    </mat-tab>
                    <mat-tab label="Biology">

                    </mat-tab>
                </mat-tab-group>
                <div class="hgt_20"></div>
                <div class="d-flex ai_cntr">
                    <div class="spacer"></div>
                    <button mat-raised-button class="gry_btn mr_1">
                        Cancel
                    </button>
                    <button mat-raised-button color="accent">
                        Submit
                    </button>
                </div>
                <div class="hgt_20"></div>
            </div>
        </div>
    </div>
    <div class="brd_crm">
        Proceum &raquo; <strong>Study Planner</strong>
    </div>
    <div class="pg_ttl">Study Planner</div>
    <hr />

    <form #study_plan_form="ngForm" id="study_plan_form" name="study_plan_form" (ngSubmit)="study_plan_form.valid && store()" novalidate>
    <div class="dsh_brd_crds">
        <span>Study plan name <span class="required">*</span></span>
        <div class="xl_srch err_tltp_par w_100p">
            <mat-form-field appearance="outline" class="w_100p">
                <input matInput placeholder="Study plan name" name="name" #name="ngModel" [(ngModel)]="study_plan.name" required />
            </mat-form-field>
            <span class="prc_tltp">Required</span>
        </div>
        <div class="clear_fix"></div>
        <div class="d-flex">
            <div class="w_50p mr_1">
                <span>Select course <span class="required">*</span></span>
                <div class="xl_srch err_tltp_par w_100p">
                    <mat-form-field appearance="outline" class="w_100p">
                        <mat-select placeholder="Select Course" multiple name="course" #course="ngModel" [(ngModel)]="study_plan.course" required>
                          <mat-option>
                            <ngx-mat-select-search (ngModelChange)="searchCourses($event)" [noEntriesFoundLabel]="'No Courses found'"
                            name="search_course" ngModel [placeholderLabel]="'Search Course'"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let course of courses" [value]="course['pk_id']">{{course['curriculumn_name']}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    <span class="prc_tltp">Required</span>
                </div>
            </div>
            <div class="w_50p">
                <span>Duration <span class="required">*</span></span>
                <div class="xl_srch err_tltp_par w_100p">
                    <mat-form-field appearance="outline" class="w_100p">
                        <mat-select placeholder="Duration" name="duration" #duration="ngModel" [(ngModel)]="study_plan.duration" (ngModelChange)="setDuration()" required>
                            <mat-option value="15">15 Days</mat-option>
                            <mat-option value="30">30 Days</mat-option>
                            <mat-option value="60">60 Days</mat-option>
                            <mat-option value="90">90 Days</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="prc_tltp">Required</span>
                </div>
            </div>
        </div>
        
        <div class="days_mn" *ngIf="study_plan.schdule.length>0">
            <div class="dys_dv" *ngFor="let day of study_plan.schdule;let index=index;" (click)="showTaskTestModal(index)">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">{{day['day']}}</div>
                </div>
                <div>
                    <div class="slct_crs d-none">Select Course</div>
                    <div>
                        <div class="dys_tsks_dv" *ngFor="let course of day['courses']">
                            <div class="tsk_hd">{{course['curriculumn_name']}}</div>
                            <div class="tsk_dv">
                                <div>Tasks</div>
                                <div class="spacer"></div>
                                <div class="tsk_cnt">10</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dys_dv tst_dy">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">365</div>
                </div>
                <div>
                    <div class="slct_crs">Test</div>

                </div>
            </div>

        </div>
    </div>
    <button type="submit" mat-raised-button color="accent">Save</button>
    </form>
</div>