<div class="mn_dshbrd">
    <div class="cust_mdl_par {{task_test_modal?'cust_mdl_opn':'cust_mdl_cls'}}">
        <div class="cust_mdl_chl w_50p rsp_90p">
            <div class="pg_ttl">
                Assign Tasks / Tests
                <span class="spacer"></span>
                <button type="button" (click)="hideTaskTestModal()" mat-icon-button class="float_right">
                    &#x2715;
                </button>
            </div>
            <div class="tbbd_bdy dsh_brd_crds at_mn_dv">
                <div class="hgt_50"></div>
                <div class="d-flex fd_clmn text_center" *ngIf="study_plan.schdule[selected_day_index]!=undefined">
                    <div class="at_d_cnt">Day {{study_plan.schdule[selected_day_index]['day']}}</div>
                    <div class="mb_1"><button mat-raised-button type="button" (click)="showTaskAssignModal()" color="accent">Assign Tasks</button></div>
                    <div><button [disabled]="study_plan.schdule[selected_day_index]['day'] == 1" (click)="assignTest()" mat-raised-button color="accent" class="hstst_btn">This day has a Test</button></div>
                </div>
                <div class="hgt_50"></div>
            </div>
        </div>
    </div>
    <div *ngIf="study_plan.schdule[selected_day_index]!=undefined && task_asign_modal == true" class="cust_mdl_par {{task_asign_modal==true?'cust_mdl_opn':'cust_mdl_cls'}}">
        <div class="cust_mdl_chl">
            <div class="pg_ttl">
                Day {{study_plan.schdule[selected_day_index]['day']}}
                <span class="spacer"></span>
                <button type="button" (click)="hideTaskAssignModal()" mat-icon-button class="float_right">
                    &#x2715;
                </button>
            </div>
            <div class="tbbd_bdy dsh_brd_crds">
                <div class="hgt_10"></div>
                <mat-tab-group (selectedTabChange)="getActiveTabContent($event)">
                    <mat-tab *ngFor="let course of study_plan.schdule[selected_day_index]['selected_courses']; let index = index" [label]="course['curriculumn_name']">
                        <div class="hgt_20"></div>
                        <div class="xl_srch w_100p">
                            <mat-form-field appearance="outline" class="w_80p">
                                <mat-select placeholder="Select Topics" #selected_topics_input multiple name="topic" [(ngModel)]='selected_topics'>
                                  <mat-option>
                                    <ngx-mat-select-search name="search_topics" ngModel [(ngModel)]="search_topics" (ngModelChange)="searchTpoics($event)" [noEntriesFoundLabel]="'No Topics found'" [placeholderLabel]="'Search Topic'"></ngx-mat-select-search>
                                  </mat-option>
                                  <mat-option *ngFor="let topic of topics" [value]="topic['pk_id']">{{topic['level_name']}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <button type="button" class="w_20p" mat-raised-button color="accent" (click)="getSelectedTopics()">Save</button>
                        </div>
                        
                        <table mat-table [dataSource]="selected_topics_list[active_tab_index]" >
                            <ng-container matColumnDef="SNo">
                                <th mat-header-cell *matHeaderCellDef>S.No</th>
                                <td mat-cell *matCellDef="let element">{{element['s_no']}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="Topic">
                                <th mat-header-cell *matHeaderCellDef> Topic </th>
                                <td mat-cell *matCellDef="let element"> {{element['topic']}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="MCQ">
                                <th mat-header-cell *matHeaderCellDef> MCQ’s </th>
                                <td mat-cell *matCellDef="let element"> {{element['mcqs_count']}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="Cases">
                                <th mat-header-cell *matHeaderCellDef> Cases </th>
                                <td mat-cell *matCellDef="let element"> {{element['cases_count']}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Shortans">
                                <th mat-header-cell *matHeaderCellDef> Short Answers </th>
                                <td mat-cell *matCellDef="let element"> {{element['short_answer_count']}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Videos">
                                <th mat-header-cell *matHeaderCellDef> Videos </th>
                                <td mat-cell *matCellDef="let element"> {{element['videos_count']}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let element"> <mat-icon (click)="removeTopic(element.pk_id,selected_topics_input)" color="warn">remove_circle_outline</mat-icon> </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                                <td class="mat-cell" [attr.colspan]="displayedColumns.length">No Records Found</td>
                              </tr>
                        </table>

                    </mat-tab>
                </mat-tab-group>
                <div class="hgt_20"></div>
                <div class="d-flex ai_cntr">
                    <div class="spacer"></div>
                    <button (click)="hideTaskAssignModal()" mat-raised-button class="gry_btn mr_1">
                        Close
                    </button>
                </div>
                <div class="hgt_20"></div>
            </div>
        </div>
    </div>
    <div class="brd_crm">
        Proceum &raquo; Study Planner &raquo; <strong>{{pgae_title}}</strong>
    </div>
    <div class="pg_ttl">{{pgae_title}}</div>
    <hr />

    <form #study_plan_form="ngForm" id="study_plan_form" name="study_plan_form" (ngSubmit)="study_plan_form.valid && store()" novalidate>
    <div class="dsh_brd_crds">
        <span>Study plan name <span class="required">*</span></span>
        <div class="xl_srch err_tltp_par w_100p">
            <mat-form-field appearance="outline" class="w_100p">
                <input matInput placeholder="Study plan name" name="name" #name="ngModel" [(ngModel)]="study_plan.name" required />
            </mat-form-field>
            <span class="prc_tltp">Required</span>
        </div>
        <div class="clear_fix"></div>
        <div class="d-flex">
            <div class="w_50p mr_1">
                <span>Select course <span class="required">*</span></span>
                <div class="xl_srch err_tltp_par w_100p">
                    <mat-form-field appearance="outline" class="w_100p">
                        <mat-select [disabled]="study_plan_id>0" placeholder="Select Course" multiple name="course" #course="ngModel" [(ngModel)]="study_plan.course" (ngModelChange)="setDuration()" required>
                          <mat-option>
                            <ngx-mat-select-search (ngModelChange)="searchCourses($event)" [noEntriesFoundLabel]="'No Courses found'"
                            name="search_course" ngModel [placeholderLabel]="'Search Course'"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let course of courses" [value]="course['pk_id']">{{course['curriculumn_name']}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    <span class="prc_tltp">Required</span>
                </div>
            </div>
            <div class="w_50p" *ngIf="study_plan.course.length>0">
                <span>Duration  <span class="required">*</span></span>
                <div class="xl_srch err_tltp_par w_100p">
                    <mat-form-field appearance="outline" class="w_100p">
                        <mat-select [disabled]="study_plan_id>0" placeholder="Duration" name="duration" #duration="ngModel" [(ngModel)]="study_plan.duration" (ngModelChange)="setDuration()" required>
                            <mat-option [value]="15">15 Days</mat-option>
                            <mat-option [value]="30">30 Days</mat-option>
                            <mat-option [value]="60">60 Days</mat-option>
                            <mat-option [value]="90">90 Days</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="prc_tltp">Required</span>
                </div>
            </div>
        </div>
        
        <div class="days_mn" *ngIf="study_plan.schdule.length>0">
            <div class="dys_dv" *ngFor="let day of study_plan.schdule;let index=index;" (click)="showTaskTestModal(index)">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">{{day['day']}}</div>
                </div>
                <div>
                    <div class="slct_crs d-none">Select Course</div>
                    <div  *ngFor="let course of day['selected_courses'];let course_index = index;">
                        <div class="dys_tsks_dv" *ngIf="day['is_test_day'] == false">
                            <div class="tsk_hd">{{course['curriculumn_name']}}</div>
                            <div class="tsk_dv">
                                <div>Tasks</div>
                                <div class="spacer"></div>
                                <div class="tsk_cnt" *ngIf="study_plan.schdule[index] != undefined && study_plan.schdule[index]['selected_topics_list'] != undefined && study_plan.schdule[index]['selected_topics_list'][course_index] != undefined && study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'].length>0">
                                    <span >{{getTasksCount(study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'])}}</span></div>
                                <div class="tsk_cnt" *ngIf="study_plan.schdule[index] == undefined || study_plan.schdule[index]['selected_topics_list'].length==0 || study_plan.schdule[index]['selected_topics_list'][course_index]==undefined || study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'].length == 0">0</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dys_dv tst_dy" *ngIf="day['is_test_day'] == true">
                    <!--<div class="dys_hd">let tasks_count=count['mcqs_count']+count['cases_count']+count['short_answer_count']+count['videos_count']+tasks_count
                         <div class="dys_hd_txt">Day</div> 
                        <div class="dys_cnt">365</div>
                    </div>-->
                    <div>
                        <div class="slct_crs">Test</div>
    
                    </div>
                </div>
            </div>
            <!-- <div class="dys_dv tst_dy">
                <div class="dys_hd">
                    <div class="dys_hd_txt">Day</div>
                    <div class="dys_cnt">365</div>
                </div>
                <div>
                    <div class="slct_crs">Test</div>

                </div>
            </div> -->

        </div>
    </div>
    <button type="submit" mat-raised-button color="accent">Save</button>
    </form>
</div>