<div class="mn_dshbrd">
    <div class="brd_crm">
        Proceum &raquo; <strong>Package Management </strong>
    </div>

    <div class="dsh_brd_crds">
        <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="search_box" (keyup)="$event.keyCode == 13 ? doFilter() : ''" placeholder="Search" />
        <mat-icon (click)="doFilter()" matSuffix>search</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="accent" class="float_right margin-bottom_20"  (click)="navigateTo('create-package')" type="button">
        New Package
        </button>
        <div class="rsp_tbl">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>S.No</th>
            <td mat-cell *matCellDef="let element">
                {{ element.s_no }}
            </td>
            </ng-container>

            <ng-container matColumnDef="package_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                Package Name
            </th>
            <td mat-cell *matCellDef="let element">
                <span>{{ element.package_name }}</span>
            </td>
            </ng-container>

            <ng-container matColumnDef="pricing_model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                Pricing Model
            </th>
            <td mat-cell *matCellDef="let element">
                <span>{{ element.pricing_model }}</span>
            </td>
            </ng-container>

            <ng-container matColumnDef="billing_frequency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                Billing Frequency
            </th>
            <td mat-cell *matCellDef="let element">
                <span>{{ element.billing_frequency }}</span>
            </td>
            </ng-container>

            <ng-container matColumnDef="valid_up_to">
            <th mat-header-cell *matHeaderCellDef cdkDrag>Valid Till</th>
            <td mat-cell *matCellDef="let element">{{ element.valid_up_to }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef cdkDrag>Status</th>
            <td mat-cell *matCellDef="let element">
                <span matTooltip="Current Status is {{
                    element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
                }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" :
                "Inactive" }}</span>
            </td>
            </ng-container>
            
            <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text_center">Action</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Click to edit" (click)="navigateTo('edit-package/'+element.pk_id)">
                <mat-icon>edit</mat-icon>
                </button>
                <button matTooltip="click here to {{
                    element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'
                }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                    'are you sure to change status of <b>' +
                    element.package_name +
                    '</b> Package'
                " placement="auto" (confirm)="deletePackage(element.pk_id, element.status)"
                confirmButtonType="danger" cancelButtonType="outline-secondary">
                <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
                <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
                </button>
            </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
            <td class="mat-cell" colspan="9">No Records Found</td>
            </tr>
        </table>
        </div>
        <mat-paginator [pageSizeOptions]="page_size_options" showFirstLastButtons (page)="getServerData($event)">
        </mat-paginator>
    </div>
</div>
