<div *ngIf="!(this.active_route.includes('student/content-preview'))"
  class="sd_br {{active_route.includes('student/curriculum/details') || (active_route.includes('student/content-preview')) ?'d-none':''}}"
  [ngClass]="sidemenuStatus" (scroll)="scrollHandler($event)">
  <!-- sd_opn || sd_cls -->
  <ul class="sdmn_cntul">
    <li routerLink="/student/dashboard" (click)="menu_active = 0" routerLinkActive="active">
      <div class="sd_mnuhd">
        <mat-icon>dashboard</mat-icon> Dashboard
      </div>
    </li>
    <li routerLinkActive="active" routerLink="/student/my-account">
      <div class="sd_mnuhd">
        <mat-icon>manage_accounts</mat-icon> My Account
      </div>
    </li>
    <li routerLinkActive="active" class="{{
        active_route.includes('/student/level') ||
        active_route == '/student/curriculums'
          ? 'active'
          : ''
      }}" routerLink="/student/curriculums">
      <div class="sd_mnuhd">
        <mat-icon>auto_stories</mat-icon> My Courses
      </div>
      <!-- <ul class="sdmn_sub">
        <li
          *ngFor="let val of curriculums"
          routerLinkActive="active"
          routerLink="/student/level/{{ val['id'] }}"
        >
          <mat-icon>play_circle_outline</mat-icon> {{ val["name"] }}
        </li>
      </ul> -->
    </li>
    <li routerLinkActive="active" routerLink="/student/study-planner">
      <div class="sd_mnuhd">
        <mat-icon>today</mat-icon> Study Planner
      </div>
    </li>
    <li routerLinkActive="active" routerLink="/student/class/list">
      <div class="sd_mnuhd">
        <mat-icon>school</mat-icon> Classes
      </div>
    </li>
    <!-- <li routerLinkActive="active" routerLink="/student/exam-prepmode">
      <div class="sd_mnuhd">
        <mat-icon>assignment</mat-icon> Exam Mode/ Prep. Mode
      </div>
    </li> -->
    <li routerLinkActive="active" routerLink="student/class/list">
      <!-- class="hs_sbmnu {{ menu_active == 3 ? 'active' : '' }}"
      (click)="activeMenu(3, menu_active)" -->
      <div class="sd_mnuhd">
        <mat-icon>cast_for_education</mat-icon> Webinars
      </div>
      <!-- <ul class="sdmn_sub">
        <li routerLink="/student/events-list">
          <mat-icon>live_tv</mat-icon> Live Events
        </li>
        <li routerLink="/student/upcoming-events">
          <mat-icon>event</mat-icon> Upcoming Events
        </li>
        <li routerLink="/student/past-events">
          <mat-icon>auto_awesome_motion</mat-icon> Past Events
        </li>
      </ul> -->
    </li>
    <li>
      <div class="sd_mnuhd">
        <mat-icon>summarize</mat-icon> Reports
      </div>
    </li>
    <!-- <li routerLinkActive="active" class="hs_sbmnu {{ menu_active == 1 ? 'active' : '' }}"
      (click)="activeMenu(1, menu_active)">
      <div class="sd_mnuhd">
        <mat-icon>auto_stories</mat-icon> Learning Notes
      </div>
      <ul class="sdmn_sub">
        <li>
          <mat-icon>play_circle_outline</mat-icon> Videos
        </li>
        <li routerLink="/student/teacher-material">
          <mat-icon>sticky_note_2</mat-icon> Teacher Materials
        </li>
      </ul>
    </li> -->
    <!-- <li routerLinkActive="active" routerLink="/student/teacher-material">
      <div class="sd_mnuhd">
        <mat-icon>auto_stories</mat-icon> Teacher Materials
      </div>
    </li> -->
    <!-- <li> 
      <div class="sd_mnuhd">
        <mat-icon>quiz</mat-icon> Question Bank
      </div>
    </li> 
    <li>
      <div class="sd_mnuhd">
        <mat-icon>style</mat-icon> Flash Cards
      </div>
    </li>
    <li>
      <div class="sd_mnuhd"  routerLink="/student/sharing">
        <mat-icon>share</mat-icon> Social Sharing
      </div>
    </li>-->
    <li routerLinkActive="active" routerLink="/student/purchased-orders">
      <div class="sd_mnuhd">
        <mat-icon>today</mat-icon> My Orders
      </div>
    </li>
  </ul>
</div>
<div class="sdmnu_cvr" (click)="closeSidebar()"></div>