<div *ngIf="!(this.active_route.includes('student/content-preview'))"
  class="sd_br frnt_sdbr {{active_route.includes('student/curriculum/details') || (active_route.includes('student/content-preview')) ?'d-none dts_sdbr':''}}"
  [ngClass]="sidemenuStatus" (scroll)="scrollHandler($event)">
  <!-- sd_opn || sd_cls -->
  <ul class="sdmn_cntul">
    <li routerLink="/student/dashboard" (click)="menu_active = 0" routerLinkActive="active">
      <div class="sd_mnuhd">
        <mat-icon>dashboard</mat-icon> {{"student.side_menu.dashboard"|translate}}
      </div>
    </li>
    <li routerLinkActive="active" routerLink="/student/my-account">
      <div class="sd_mnuhd">
        <mat-icon>manage_accounts</mat-icon> {{"student.side_menu.my_account"|translate}}
      </div>
    </li>
    <li *ngIf="user['role'] != '11'" routerLinkActive="active" class="{{
        active_route.includes('/student/level') ||
        active_route == '/student/curriculums'
          ? 'active'
          : ''
      }}" routerLink="/student/curriculums">
      <div class="sd_mnuhd">
        <mat-icon>auto_stories</mat-icon> {{"student.side_menu.my_courses"|translate}}
      </div>
      <!-- <ul class="sdmn_sub">
        <li
          *ngFor="let val of curriculums"
          routerLinkActive="active"
          routerLink="/student/level/{{ val['id'] }}"
        >
          <mat-icon>play_circle_outline</mat-icon> {{ val["name"] }}
        </li>
      </ul> -->
    </li>
    <li routerLinkActive="active" routerLink="/student/study-planner">
      <div class="sd_mnuhd">
        <mat-icon>today</mat-icon> {{"student.side_menu.study_planner"|translate}}
      </div>
    </li>
    <li *ngIf="user['role'] == '2'" routerLinkActive="active" routerLink="/student/class/list">
      <div class="sd_mnuhd">
        <mat-icon>cast_for_education</mat-icon> {{"student.side_menu.my_classes"|translate}}
      </div>
    </li>
    <li *ngIf="user['role'] == '2'" routerLinkActive="active" routerLink="/student/assessments/list">
      <div class="sd_mnuhd">
        <mat-icon>assignment</mat-icon> {{"student.side_menu.assessments"|translate}}
      </div>
    </li>
    <li routerLinkActive="active" routerLink="/student/purchased-courses">
        <div class="sd_mnuhd">
          <mat-icon>local_atm</mat-icon> {{"student.side_menu.my_purchases"|translate}}
        </div>
      </li>
    <li routerLinkActive="active" routerLink="/student/my-earnings">
      <div class="sd_mnuhd">
        <mat-icon>local_atm</mat-icon> {{"student.side_menu.my_earnings"|translate}}
      </div>
    </li>
    <li *ngIf!="user['role'] == '11'">
      <div class="sd_mnuhd">
        <mat-icon>summarize</mat-icon> {{"student.side_menu.reports"|translate}}
      </div>
    </li>
    <li routerLinkActive="active" routerLink="/student/purchased-orders">
      <div class="sd_mnuhd">
        <mat-icon>today</mat-icon> {{"student.side_menu.my_orders"|translate}}
      </div>
    </li>
  </ul>
</div>
<div class="sdmnu_cvr" (click)="closeSidebar()"></div>