<div class="sd_br" [ngClass]="sidemenuStatus">
  <!-- sd_opn || sd_cls -->
  <ul class="sdmn_cntul">

    <li routerLink="/admin/dashboard">
      <div class="sd_mnuhd">
        <mat-icon>dashboard</mat-icon> Dashboard
      </div>
    </li>
    <li>
      <div class="sd_mnuhd">
        <mat-icon>manage_accounts</mat-icon> Study Plans
      </div>
    </li>

    <li class="hs_sbmnu {{ menu_active == 1 ? 'active' : '' }}" (click)="activeMenu(1)">
      <div class="sd_mnuhd">
        <mat-icon>account_circle</mat-icon> Library
      </div>
      <ul class="sdmn_sub">
        <li>
          <mat-icon>manage_accounts</mat-icon> Articles
        </li>
        <li>
          <mat-icon>manage_accounts</mat-icon> Chalk Talk
        </li>
      </ul>
    </li>
    <li class="hs_sbmnu {{ menu_active == 2 ? 'active' : '' }}" (click)="activeMenu(2)">
      <div class="sd_mnuhd">
        <mat-icon>supervised_user_circle</mat-icon> Question Bank
      </div>
      <ul class="sdmn_sub">
        <li>
          <mat-icon>manage_accounts</mat-icon> Custom Session
        </li>
        <li>
          <mat-icon>manage_accounts</mat-icon> My University
        </li>
        <li>
          <mat-icon>manage_accounts</mat-icon> Previous Sessions
        </li>
      </ul>
    </li>




    <li><div class="sd_mnuhd"><mat-icon>dashboard</mat-icon> Dashboard</div></li>
    <li><div class="sd_mnuhd"><mat-icon>person</mat-icon> Profile</div></li>
    <li><div class="sd_mnuhd"><mat-icon>account_balance</mat-icon> University / College / Campus Management</div></li>
    <li><div class="sd_mnuhd"><mat-icon>group_add</mat-icon> Faculty management</div></li>
    <li><div class="sd_mnuhd"><mat-icon>school</mat-icon> Student Management</div></li>
    <li><div class="sd_mnuhd"><mat-icon>group_add</mat-icon> User Management</div></li>
    <li class="hs_sbmnu {{ menu_active == 1 ? 'active' : '' }}" (click)="activeMenu(1)">
      <div class="sd_mnuhd"><mat-icon>source</mat-icon> Custom Content Management</div>
      <ul class="sdmn_sub">
        <li><mat-icon>manage_accounts</mat-icon> Curriculum Management</li>
        <li><mat-icon>import_contacts</mat-icon> Asset Library</li>
        <li><mat-icon>description</mat-icon> Learning Notes Management</li>
        <li><mat-icon>quiz</mat-icon> Question Bank Management</li>
        <li><mat-icon>description</mat-icon> Study material management</li>
      </ul> 
    </li>
    <li class="hs_sbmnu {{ menu_active == 2 ? 'active' : '' }}" (click)="activeMenu(2)">
      <div class="sd_mnuhd"><mat-icon>supervisor_account</mat-icon> Access to Master Content </div>
      <ul class="sdmn_sub">
        <li><mat-icon>account_tree</mat-icon>Proceum Database</li>
        <li><mat-icon>create</mat-icon>Suggest a Content Edit</li>
      </ul>
    </li>
    <li class="hs_sbmnu {{ menu_active == 3 ? 'active' : '' }}" (click)="activeMenu(3)">
      <div class="sd_mnuhd"><mat-icon>supervisor_account</mat-icon> Access to Custom Content</div>
      <ul class="sdmn_sub">
        <li><mat-icon>account_tree</mat-icon>Proceum Database</li>
      </ul>
    </li>
    <li><div class="sd_mnuhd"><mat-icon>live_help</mat-icon> Assetssments</div></li>
    <li><div class="sd_mnuhd"><mat-icon>live_help</mat-icon> Study Plans</div>
      <ul class="sdmn_sub">
        <li><mat-icon>manage_accounts</mat-icon>Standard Study Plans</li>
        <li><mat-icon>manage_accounts</mat-icon>Custom Study Plans</li>
      </ul>
    </li>
    <li><div class="sd_mnuhd"><mat-icon>live_help</mat-icon> Finance Management</div>
      <ul class="sdmn_sub">
        <li><mat-icon>manage_accounts</mat-icon>Invoicing</li>
        <li><mat-icon>manage_accounts</mat-icon>Subscription Renewals</li>
        <li><mat-icon>manage_accounts</mat-icon>Payment Management</li>
      </ul>
    </li>
   
  </ul>
</div>
