<div class="mn_dshbrd">
    <div class="brd_crm"><strong>Purchases &amp; Orders </strong>
    </div>
    <div class="d-flex rsp_fw">
        <div class="pg_ttl">Orders</div>
        <div class="spacer"></div>
    </div>
    <hr />
    <div class="dsh_brd_crds">
        <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="search_box" (keyup)="$event.keyCode == 13 ? doFilter() : ''"
                placeholder="Search" />
            <mat-icon (click)="doFilter()" matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="rsp_tbl">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>S.No</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.s_no }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="order_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                        Oder ID
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.order_id }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="package_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                      Package Name
                  </th>
                  <td mat-cell *matCellDef="let element">
                      <span>{{ element.package_name }}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="paid_amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                        Amount
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.currency_symbol}} {{ element.paid_amount }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef cdkDrag>Created On</th>
                    <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button matTooltip="Click for details" color="accent" [routerLink]="['/student/order-details', element.order_id]">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef cdkDrag>Status</th>
                  <td mat-cell *matCellDef="let element">{{ element.status }}</td>
              </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">No Records Found</td>
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="page_size_options" showFirstLastButtons (page)="getServerData($event)">
        </mat-paginator>
    </div>
</div>
