<div class="login_main" *ngIf="!is_show">
    <div class="log_mdl_cont">
      <div class="logo_img">
        <a routerLink="/"> <img src="assets/images/ProceumLogo_w.png" /></a>
      </div>
      <div class="log_div text_center">
        <h2 class="clr_wht fnt_nrml wlcm_hd">Welcome to Proceum</h2>
        <div class="sgn_sec">
          <p class="sgn_hd">Reset Password</p>
          <form
            #login_id="ngForm" name="reset_form" (ngSubmit)="doResetPassword()" novalidate>
            <div class="psswrd">
              <input [type]="password_hide ? 'password' : 'text'" required [(ngModel)]="reset.new_password" name="user_new_password" #user_new_password="ngModel" placeholder="Enter New Password" ngModel/>
              <span class="material-icons mail_icon" (click)="passwordFun()">{{password_hide ? 'visibility_off' : 'visibility'}}</span>
            </div>
            <div class="psswrd">
                <input [type]="password_confirm_hide ? 'password' : 'text'" required [(ngModel)]="reset.confirm_password" name="user_confirm_password" #user_confirm_password="ngModel" placeholder="Enter Confirm Password" ngModel/>
                <span class="material-icons mail_icon" (click)="passwordConfirmFun()">{{password_confirm_hide ? 'visibility_off' : 'visibility'}}</span>
              </div>
            <button type="submit" class="teal_btn lgn_btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="indvidual_main" *ngIf="is_show">
    <div class="ind_mdl_cont">
      <div class="ind_logo_img">
        <a routerLink="/"> <img src="assets/images/ProceumLogo_w.png" /></a>
      </div>
      <div class="message-box-div">
            <div class="message-area">
                Congratulations, <br> Your new password has been updated successfully!
            </div>
            <div>
                <a routerLink="/login">Click here to login</a>
            </div>
      </div>
    </div>
  </div>
  