<style>
    ::ng-deep .mat-option:first-child .mat-pseudo-checkbox {
        display: none;
    }
</style>
<div class="mn_dshbrd">
    <div class="brd_crm"> <span>Update Question</span> </div>
    <div class="pg_ttl mb_0">Update Question</div>
    <div class="crt_prtnr dsh_brd_crds">
        <form ngNativeValidate #question_list_form="ngForm" id="question_list_form" name="question_list_form"
            (ngSubmit)="question_list_form.valid && updateQList(question_list_form)" novalidate>
            <div class="crt_pr_mn px-0 bg-0">

                <div class="w_100p">

                    <div>
                        <div class="crt_prt_hd">This Question is for:</div>
                        <div class="crt_prt_cnt">
                            <mat-radio-group name="questionUsageType" [(ngModel)]="question.questionUsageType"
                                #questionUsageType="ngModel" ngModel required>
                                <mat-radio-button [value]="1" class="emh qif" (click)="changeQUsageType(1)">Assessment
                                    Only (This question will not visible for frontend in notes/content)
                                </mat-radio-button>
                                <mat-radio-button [value]="2" class="emh qif" (click)="changeQUsageType(2)">Preparation
                                    Only (Available for Study mode to view questions and also in notes / content page)
                                </mat-radio-button>
                                <mat-radio-button [value]="3" class="emh qif" (click)="changeQUsageType(3)">QBanks Only
                                    (Questions will be listed inside the Question banks as a separate list and will not
                                    be accessible as a free content) </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div *ngIf="question_Qbank && false" class="mt_1">
                        <div class="crt_prt_hd">Add question to QBank <span class="required">*</span></div>
                        <div class="crt_prt_cnt"> <span class="err_tltp_par">
                                <mat-form-field appearance="outline"
                                    class="{{question.q_bank_ids.length==0?'mat-form-field-invalid2':''}}">
                                    <mat-select placeholder="Select QBank" name="qbank"
                                        [(ngModel)]="question.q_bank_ids" #qbank="ngModel" ngModel multiple required>
                                        <mat-option value="">Select question bank(s)</mat-option>
                                        <mat-option *ngFor="let qbank of QBanks" [value]="qbank.id">{{ qbank.q_bank_type
                                            }}
                                        </mat-option>
                                    </mat-select>
                                    <span class="prc_tltp" *ngIf=" (qbank.submitted || qbank.touched) &&
                                        question.q_bank_ids.length==0">Please select question bank(s)</span>
                                </mat-form-field>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mb_0 w_100p">
                    <div class="hgt_20"></div>
                    <div class="d-flex">
                        <div class="w_100p">
                            <div class="crt_prt_hd">Difficulty level</div>
                            <div class="hgt_5"></div>
                            <div class="crt_prt_cnt">
                                <mat-radio-group name="difficulty_level_id" [(ngModel)]="question.difficulty_level_id"
                                    #difficulty_level_id="ngModel" ngModel required class="d-flex">
                                    <mat-radio-button [value]="1" class="emh esy">Easy</mat-radio-button>
                                    <mat-radio-button [value]="2" class="emh mdm">Medium</mat-radio-button>
                                    <mat-radio-button [value]="3" class="emh hrd">Hard</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="w_100p">
                            <div class="crt_prt_hd">Select question type <span class="required">*</span></div>
                            <div class="crt_prt_cnt"> <span class="err_tltp_par">
                                    <mat-form-field appearance="outline">
                                        <mat-select disabled="true" name="question_type_id"
                                            [(ngModel)]="question.question_type_id" #question_type_id="ngModel" ngModel
                                            (selectionChange)="changeQType($event)" required readonly>
                                            <mat-option value="" disabled>Select question type</mat-option>
                                            <mat-option [matTooltip]="qtype.question_type" *ngFor="let qtype of QTypes"
                                                [value]="qtype.id" disabled>{{
                                                qtype.question_type }}
                                            </mat-option>
                                        </mat-select>
                                        <span class="prc_tltp" *ngIf=" (question_type_id.submitted || question_type_id.touched) &&
                                        question_type_id.invalid">Question type is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                        <div class="w_100p">
                            <div class="crt_prt_hd">Question Category/Type <span class="required">*</span></div>
                            <div class="crt_prt_cnt"> <span class="err_tltp_par">
                                    <mat-form-field appearance="outline">
                                        <mat-select disabled="true" placeholder="Select Question Category"
                                            name="question_flag" [(ngModel)]="question.question_flag"
                                            #question_flag="ngModel" ngModel required>
                                            <mat-option value="mcq">MCQ</mat-option>
                                            <mat-option value="case">Case based Question</mat-option>
                                            <mat-option value="short_answer">Short Question</mat-option>
                                        </mat-select>
                                        <span class="prc_tltp" *ngIf=" (question_flag.submitted || question_flag.touched) &&
                                        question_flag.invalid">Question Category/Type is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                        <!-- <div *ngIf="question_Qbank">
                            <div class="crt_prt_hd">Add question to <span class="required">*</span></div>
                            <div class="crt_prt_cnt">
                                <span class="err_tltp_par">
                                    <mat-form-field appearance="outline">
                                        <mat-select name="q_bank_ids" [(ngModel)]="question.q_bank_ids"
                                            #q_bank_ids="ngModel" ngModel multiple required>
                                            <mat-option value="0">Select question bank(s)</mat-option>
                                            <mat-option *ngFor="let qbank of QBanks" [value]="qbank.id">{{ qbank.q_bank_type
                                                }}
                                            </mat-option>
                                        </mat-select>
                                        <span class="prc_tltp" *ngIf=" (q_bank_ids.submitted || q_bank_ids.touched) &&
                                        q_bank_ids.invalid">Question to is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div> -->
                    </div>
                    <div class="d-flex">
                        <div class="w_100p">
                            <div class="crt_prt_hd">{{question_Qbank?'QBank':'Course'}}<span class="required">*</span>
                            </div>
                            <div class="crt_prt_cnt"> <span class="err_tltp_par">
                                    <mat-form-field appearance="outline">
                                        <mat-select placeholder="Select Course" name="curriculum_id_name"
                                            [(ngModel)]="question.curriculum_id"
                                            (ngModelChange)="getTopics(question.curriculum_id, '');question.topic='';"
                                            #curriculum_id_name="ngModel" ngModel required>
                                            <mat-option [matTooltip]="value['curriculumn_name']"
                                                *ngFor="let value of curriculums" [value]="value['pk_id']">
                                                {{value['curriculumn_name']}}</mat-option>
                                        </mat-select>
                                        <span class="prc_tltp" *ngIf=" (question_list_form.submitted || curriculum_id_name.touched) &&
                                        curriculum_id_name.invalid">Course is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                        <div class="w_100p">
                            <div class="crt_prt_hd">Topic / Subtopic <span class="required">*</span></div>
                            <div class="crt_prt_cnt"> <span class="err_tltp_par">
                                    <mat-form-field appearance="outline">
                                        <mat-select placeholder="Select Topic / Subtopic" [(ngModel)]="question.topic"
                                            name="topic" ngModel="topic" #topic="ngModel" required>
                                            <mat-option>
                                                <ngx-mat-select-search
                                                    [noEntriesFoundLabel]="'No Topic / Subtopic found'"
                                                    name="search_topic" ngModel
                                                    (ngModelChange)="getTopics(question.curriculum_id, $event)"
                                                    [placeholderLabel]="'Search Topic / Subtopic'">Select Topic /
                                                    Subtopic
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option [matTooltip]="value['level_name']"
                                                *ngFor="let value of topics | async" [value]="value['pk_id']">
                                                {{value['level_name']}}</mat-option>
                                        </mat-select>
                                        <span class="prc_tltp" *ngIf=" (question_list_form.submitted || curriculum_id_name.touched) &&
                                        curriculum_id_name.invalid">Topic is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                        <div class="w_100px">
                            <div class="crt_prt_hd">&nbsp;</div>
                            <button mat-raised-button color="accent" type="button" class="mt_3px">
                                Add (+)
                            </button>
                        </div>
                    </div>
                </div>

                <div class="rsp_tbl">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="Sno">
                            <th mat-header-cell *matHeaderCellDef> S.No</th>
                            <td mat-cell *matCellDef="let element"> S.No </td>
                        </ng-container>
                        <ng-container matColumnDef="Course">
                            <th mat-header-cell *matHeaderCellDef>Course </th>
                            <td mat-cell *matCellDef="let element">Course</td>
                        </ng-container>
                        <ng-container matColumnDef="Topic">
                            <th mat-header-cell *matHeaderCellDef>Topic </th>
                            <td mat-cell *matCellDef="let element">Topic </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element">Action</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>


                <div class="hgt_20"></div>
                <div class="cc_row w_100p">
                    <div class="description_block">
                        <div class="c_block">
                            <div class="c_block_title">
                                <label for="question-text"> Question Text <span class="required">*</span></label>
                            </div>
                            <div class="hgt_10"></div>
                            <div class="c_block_content">
                                <div
                                    class="ck_editor err_tltp_par cnq_ck {{question_list_form.submitted && question.question_text.trim()==''?'angular_editor_div':''}}">
                                    <angular-editor id="question" required="true"
                                        [placeholder]="'Enter Question text here...'" [config]="liteEditorConfig"
                                        name="question_text" #question_text="ngModel"
                                        [(ngModel)]="question.question_text"></angular-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w_100p" *ngIf="vidio_single_option || video_multiple_option || video_clicp_free_text">
                    <div class="hgt_10"></div>
                    <div class="d-flex">
                        <div class="w_50p">
                            <div class="w_100p">
                                <div class="crt_prt_hd">Video Type <span class="required">*</span></div> <span
                                    class="err_tltp_par">
                                    <mat-form-field appearance="outline" class="w_100p">
                                        <mat-select name="q_source" [(ngModel)]="question.q_source" #q_source="ngModel"
                                            ngModel required="true"
                                            (ngModelChange)="question.q_source_value='';validateVideo()">
                                            <mat-option value="">Select Source</mat-option>
                                            <mat-option *ngFor="let video_type of video_types"
                                                [value]="video_type['value']">
                                                {{video_type['name']}}</mat-option>
                                        </mat-select>
                                        <span class="prc_tltp" *ngIf=" (q_source.submitted || q_source.touched) &&
                                            q_source.invalid">Video Type is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                            <div class="w_100p">
                                <div class="crt_prt_hd">Video Source <span class="required">*</span></div> <span
                                    class="err_tltp_par">
                                    <mat-form-field appearance="outline" class="w_100p">
                                        <input (blur)="validateVideo()" [(ngModel)]="question.q_source_value"
                                            #q_source_value="ngModel" name="q_source_value" matInput
                                            placeholder="Video ID/Link" required />
                                        <span class="prc_tltp" *ngIf=" (q_source_value.submitted || q_source_value.touched) &&
                                            q_source_value.invalid">Video Source is Required</span>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                        <div class="w_50p">
                            <div class="cnq_vd">
                                <iframe width="1350" height="480" src="https://www.youtube.com/embed/kA3quxNrnAI"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="crt_pr_dv w_100p"
                    *ngIf="audio_single_option || audio_multiple_option || image_single_option || image_multiple_option || audio_clip_free_text || image_free_text">
                    <div class="hgt_10"></div>
                    <div class="brnd_info_mn">
                        <div class="brnd_info_upld jc_fs">
                            <div class="ql_img_thmb mr_1"
                                *ngIf="image_single_option||image_multiple_option || image_free_text"> <img
                                    *ngIf="fileName && !imageSrc['file']" [src]="bucket_url+this['fileName']"> <img
                                    *ngIf="fileName && imageSrc['file']" [src]="imageSrc['file']">
                                <mat-icon *ngIf="!fileName">photo</mat-icon>
                            </div>
                            <div *ngIf="audio_single_option||audio_multiple_option || audio_clip_free_text"> <span
                                    (click)="playAudio(imageSrc['file']?imageSrc['file']:bucket_url+this['fileName'])">play</span>
                                <span (click)="pauseAudio()">Pause</span>
                            </div>
                            <mat-form-field appearance="outline" class="w_50p ">
                                <input matInput placeholder="Upload File" [(ngModel)]="fileName" id="fileName"
                                    name="fileName" readonly />
                                <mat-hint *ngIf="image_single_option || image_multiple_option|| image_free_text"
                                    class="fl_frmt_info" style="margin-top: 5px;margin-right: 25px;"> System will accept
                                    only jpg, jpeg, bmp, gif, png </mat-hint>
                                <mat-hint *ngIf="audio_single_option || audio_multiple_option || audio_clip_free_text"
                                    class="fl_frmt_info" style="margin-top: 5px;margin-right: 25px;"> System will accept
                                    only mp3 </mat-hint>
                            </mat-form-field>
                            <button type="button" mat-raised-button onclick="document.getElementById('file').click()"
                                color="accent" class="float_right mr_1 mt_3px">
                                <mat-icon>upload</mat-icon> Browse
                                <input class="w_80p" (change)="onFileChange($event)"
                                    accept="{{image_single_option || image_multiple_option|| image_free_text?'image/x-png,image/gif,image/jpeg, image/bmp':'.mp3'}}"
                                    id="file" type="file" style="display: none" />
                            </button>
                        </div>
                    </div>
                </div>


                <div class="crt_pr_dv w_100p d-flex fw_w"
                    *ngIf="multiple_option || audio_multiple_option || video_multiple_option || image_multiple_option">
                    <div class="hgt_10"></div>
                    {{option==0?'Is Correct Answer?':''}}
                    <div class="hgt_10"></div>

                    <div class="d-flex fw_w mb_1 w_100p" *ngFor="let option_value of question.option_array;index as option;">
                        <div class="mt_1 w_40px">
                            <mat-checkbox color="accent" [value]='question["option"+(option+1)+"_value"]' class="mt_14p"
                                name="option{{option+1}}_crt_ans" #option{{option+1}}_crt_ans="ngModel"
                                [(ngModel)]="question['option'+(option+1)+'_crt_ans']"
                                (change)="onCorrectAnsChange($event)"></mat-checkbox>
                        </div>
                        <div class="d-flex optns_rdo">
                            <div class="mr_1 w_100p">
                                <div>
                                    <mat-form-field appearance="outline" class="w_100p">
                                        <textarea [(ngModel)]="question['option'+(option+1)]"
                                            #option{{option}}="ngModel" name="option_{{option+1}}" maxlength="255"
                                            matInput placeholder="Enter Option {{option+1}} Text" class="crt_prt_txt"
                                            required rows="10"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="hgt_10"></div>
                                <div class="d-flex">
                                    <div class="spacer"></div>
                                    <a class="d-flex ai_cntr">
                                        <mat-icon>add</mat-icon> <span> Add Explanation</span> / <mat-icon>
                                            remove_circle_outline</mat-icon> <span>Remove Explanation</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="crt_pr_dv w_100p isca_mat"
                    *ngIf="multiple_option || audio_multiple_option || video_multiple_option || image_multiple_option">
                    <div class="hgt_10"></div>

                </div>


                <div class="crt_pr_dv w_100p d-flex fw_w"
                    *ngIf="single_option || vidio_single_option || audio_single_option || image_single_option">
                    <div class="hgt_10"></div>
                    <div>Is Correct Answer?</div>
                    <div class="hgt_10"></div>
                    <mat-radio-group [(ngModel)]="question.single_crt_ans" name="single_crt_ans" class="w_100p">
                        <div class="d-flex fw_w mb_1"
                            *ngFor="let option_value of question.option_array;index as option;">
                            <div class="mt_1 w_40px">
                                <mat-radio-button value="{{question['option'+(option+1)+'_value']}}"
                                    (change)="onCorrectAnsChange($event)"> </mat-radio-button>
                            </div>
                            <div class="d-flex optns_rdo">
                                <div class="mr_1 w_100p">
                                    <div>
                                        <mat-form-field appearance="outline" class="w_100p">
                                            <textarea [(ngModel)]="question['option'+(option+1)]"
                                                name="option{{option+1}}" #option{{option+1}}="ngModel" maxlength="255"
                                                matInput placeholder="Enter Option {{option+1}} Text"
                                                class="crt_prt_txt" required rows="10"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="hgt_20"></div>
                                    <div>
                                        <angular-editor id="option_{{option+1}}"
                                            [placeholder]="'Enter Option '+(option+1) +' Explanation'"
                                            [config]="liteEditorConfig" name="option_{{option+1}}"
                                            #option_{{option+1}}="ngModel"
                                            [(ngModel)]="question['option_explanation_'+(option+1)]">
                                        </angular-editor>
                                    </div>
                                    <div class="hgt_10"></div>
                                    <div class="d-flex">
                                        <div class="spacer"></div>
                                        <a class="d-flex ai_cntr">
                                            <mat-icon>add</mat-icon> <span color="accent"> Add Explanation</span> / <mat-icon>
                                                remove_circle_outline</mat-icon> <span color="warn">Remove Explanation</span>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="cnq_img_thmb text_center"
                                        *ngIf="image_single_option || image_multiple_option">
                                        <div>
                                            <!-- <div class="cnq_delimg">
                                                <mat-icon>remove_circle_outline</mat-icon>
                                            </div> -->
                                            <img *ngIf="this['opt'+(option+1)+'FileName'] && !imageSrc['opt'+(option+1)+'Img']"
                                                [src]="bucket_url+this['opt'+(option+1)+'FileName']">
                                            <img *ngIf="this['opt'+(option+1)+'FileName'] && imageSrc['opt'+(option+1)+'Img']"
                                                [src]="imageSrc['opt'+(option+1)+'Img']">
                                            <!-- <mat-icon *ngIf="!this['opt'+(option+1)+'FileName']">photo</mat-icon> -->
                                            <button mat-fab class="cnq_upld_btn cnq_delimg"
                                                (click)="openFileExplor((option+1))" type="button" color="accent">
                                                <mat-icon>file_upload</mat-icon>
                                            </button>

                                            <div class="brnd_info_upld d_none">
                                                <mat-form-field appearance="outline" class="w_80p">
                                                    <input matInput placeholder="Upload Option {{option+1}} Image"
                                                        [(ngModel)]="this['opt'+(option+1)+'FileName']"
                                                        id="opt{{option+1}}FileName" name="opt{{option+1}}FileName"
                                                        readonly />
                                                    <mat-hint *ngIf="image_option" class="fl_frmt_info"> System will
                                                        accept only
                                                        jpg, jpeg, bmp, gif, png </mat-hint>
                                                </mat-form-field>
                                                <button type="button" mat-raised-button
                                                    (click)="openFileExplor((option+1))" color="accent"
                                                    class="float_right mr_1 mt_5px">
                                                    <mat-icon>upload</mat-icon> Browse
                                                    <input class="w_80p" (change)="onFileChange($event)"
                                                        accept="image/x-png,image/gif,image/jpeg,image/bmp"
                                                        id="opt{{option+1}}Img" type="file" style="display: none" />
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- <div class="hgt_20"></div>
                                <div class="w_100p">

                                </div> -->
                            </div>
                        </div>
                    </mat-radio-group>
                </div>


                <div class="crt_pr_dv w_100p isca_mat"
                    *ngIf="single_option || vidio_single_option || audio_single_option || image_single_option && false">
                    <div class="hgt_10"></div>
                    <div>Is Correct Answer?</div>
                    <div class="d-flex ql_ca">
                        <div class="ql_ca_mn">
                            <mat-radio-group [(ngModel)]="question.single_crt_ans" name="single_crt_ans">
                                <div class="brnd_info_mn"
                                    *ngFor="let option_value of question.option_array;index as option;">
                                    <div class="brnd_info_upld">
                                        <mat-radio-button value="{{question['option'+(option+1)+'_value']}}"
                                            (change)="onCorrectAnsChange($event)"> </mat-radio-button>
                                        <mat-form-field appearance="outline" class="w_100p">
                                            <textarea [(ngModel)]="question['option'+(option+1)]"
                                                name="option{{option+1}}" #option{{option+1}}="ngModel" maxlength="255"
                                                matInput placeholder="Enter Option {{option+1}} Text"
                                                class="crt_prt_txt" required rows="10"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                        <div class="ql_ca_mn" *ngIf="image_single_option || image_multiple_option">
                            <div class="brnd_info_mn"
                                *ngFor="let option_value of question.option_array;index as option;">
                                <div class="ql_img_thmb">
                                    <img *ngIf="this['opt'+(option+1)+'FileName'] && !imageSrc['opt'+(option+1)+'Img']"
                                        [src]="bucket_url+this['opt'+(option+1)+'FileName']">
                                    <img *ngIf="this['opt'+(option+1)+'FileName'] && imageSrc['opt'+(option+1)+'Img']"
                                        [src]="imageSrc['opt'+(option+1)+'Img']">
                                    <mat-icon *ngIf="!this['opt'+(option+1)+'FileName']">photo</mat-icon>
                                </div>
                                <div class="brnd_info_upld">
                                    <mat-form-field appearance="outline" class="w_80p">
                                        <input matInput placeholder="Upload Option {{option+1}} Image"
                                            [(ngModel)]="this['opt'+(option+1)+'FileName']" id="opt{{option+1}}FileName"
                                            name="opt{{option+1}}FileName" readonly />
                                        <mat-hint *ngIf="image_option" class="fl_frmt_info"> System will accept only
                                            jpg, jpeg, bmp, gif, png </mat-hint>
                                    </mat-form-field>
                                    <button type="button" mat-raised-button (click)="openFileExplor((option+1))"
                                        color="accent" class="float_right mr_1 mt_5px">
                                        <mat-icon>upload</mat-icon> Browse
                                        <input class="w_80p" (change)="onFileChange($event)"
                                            accept="image/x-png,image/gif,image/jpeg,image/bmp" id="opt{{option+1}}Img"
                                            type="file" style="display: none" />
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="ql_ca_mn">
                            <div class="brnd_info_mn"
                                *ngFor="let option_value of question.option_array;index as option;">
                                <angular-editor id="option_{{option+1}}"
                                    [placeholder]="'Enter Option '+(option+1) +' Explanation'"
                                    [config]="liteEditorConfig" name="option_{{option+1}}"
                                    #option_{{option+1}}="ngModel"
                                    [(ngModel)]="question['option_explanation_'+(option+1)]"></angular-editor>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="hgt_20"></div>
                <div class="cc_row w_100p">
                    <div class="description_block">
                        <div class="c_block">
                            <div class="c_block_title">
                                <label for="question-text"> Explanation</label>
                            </div>
                            <div class="hgt_10"></div>
                            <div class="c_block_content">
                                <div class="ck_editor cnq_ck">
                                    <angular-editor id="explanation" [placeholder]="'Enter Explanation text here...'"
                                        [config]="liteEditorConfig" name="explanation" #explanation="ngModel"
                                        [(ngModel)]="question.explanation"></angular-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hgt_10"></div>
                <div class="text_right w_100p">
                    <button class="gry_btn mr_1" (click)="navigateTo('questions-mgt/questions-list')"
                        mat-raised-button>Cancel</button>
                    <button color="accent" mat-raised-button>Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>