<div class="mn_dshbrd">
  <div class="cust_mdl_par cust_mdl_50p {{ library_popup ? 'cust_mdl_opn' : '' }}">
    <div class="cust_mdl_chl">
      <div class="pg_ttl">
        Proceum Library
        <span class="spacer"></span>
        <button (click)="CloseModal()" mat-icon-button class="float_right">
          &#x2715;
        </button>
      </div>
      <div class="tbbd_bdy">
        <app-assets-library [data]="{ modal_view: true, active_tab: active_tab }"></app-assets-library>

        <hr />
        <button mat-raised-button color="accent" class="float_right mr_1">
          Select
        </button>

        <button mat-raised-button class="float_right mr_1 gry_btn" (click)="CloseModal()">
          Close
        </button>
        <div class="hgt_20"></div>
      </div>
    </div>
  </div>
  <div class="pg_ttl">Create content</div>
  <div class="main_content_cc">
    <!-- Left content -->
    <div class="cc_left_content dsh_brd_crds">
      <div class="cc_row">
        <mat-form-field appearance="outline" class="page_title_input">
          <input matInput placeholder="Enter Content Title (max. 250 characters)" />
        </mat-form-field>
      </div>
      <!-- #Row1 -->
      <div class="cc_row">
        <!-- Intro video -->
        <div class="introvide_block">
          <div class="c_block">
            <div class="c_block_title">
              <mat-icon>videocam</mat-icon>
              <label for="Intro video"> Intro video</label>
            </div>
            <div class="c_block_content">
              <div class="upload_placeholder">
                <div class="place_block">
                  <mat-icon> add </mat-icon><br />
                  <span> Click here or Drop here to upload Video </span>
                </div>
              </div>
              <div class="upload_btn">
                <button>
                  <mat-icon> upload </mat-icon>
                  Upload video
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- content description -->
        <!-- <div class="description_block">
          <div class="c_block">
            <div class="c_block_title">
              <mat-icon>subject</mat-icon>
              <label for="Intro video"> Content description</label>
            </div>
            <div class="c_block_content">
              <div class="ck_editor">
                <ckeditor (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                  style="height: 200px"></ckeditor>
              </div>
            </div>
          </div>
        </div> -->
        <div class="main_video_block">
          <div class="c_block">
            <div class="c_block_title">
              <mat-icon>videocam</mat-icon>
              <label for="Intro video"> Main video</label>
            </div>
            <div class="c_block_content">
              <div class="upload_placeholder">
                <div class="place_block">
                  <mat-icon> add </mat-icon><br />
                  <span> Click here or Drop here to upload Video </span>
                </div>
              </div>
              <div class="upload_btn">
                <button>
                  <mat-icon> upload </mat-icon>
                  Upload video
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- #Row 2 -->
      <div class="cc_row">
        <div class="description_block">
        <div class="c_block">
          <div class="c_block_title">
            <mat-icon>subject</mat-icon>
            <label for="Intro video"> Content description</label>
          </div>
          <div class="c_block_content">
            <div class="ck_editor">
              <ckeditor (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                style="height: 200px"></ckeditor>
            </div>
          </div>
        </div>
        </div>
      </div>

      <!-- #Row 3 -->
      <div class="cc_row">
        <!-- Attachments -->
        <div class="attachments_block">
          <div class="c_block">
            <div class="c_block_title">
              <mat-icon>attachment</mat-icon>
              <label for="Intro video"> Attachments</label>
            </div>
            <div class="c_block_content">
              <div class="upload_placeholder">
                <div class="place_block">
                  <mat-icon> add </mat-icon><br />
                  <span> Click here or Drop here to upload Video </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="image_thumnail_block">
          <div class="c_block">
            <div class="c_block_title">
              <mat-icon>wallpaper</mat-icon>
              <label for="Intro video"> Upload images / Thumbnails</label>
            </div>
            <div class="c_block_content">
              <div class="upload_placeholder">
                <div class="place_block">
                  <mat-icon> add </mat-icon><br />
                  <span> Click here or Drop here to upload Video </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- #Row 4 -->
      <div class="cc_row">
        <!-- Attachments -->
        <div class="tabs_block">
          <div class="c_block">
            <div class="c_block_content">
              <mat-tab-group>
                <mat-tab label="Learning Objectives">
                  <div class="ck_editor">
                    <ckeditor (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                      style="height: 200px"></ckeditor>
                  </div>
                </mat-tab>
                <mat-tab label="Learning Notes">
                  <div class="ck_editor">
                    <ckeditor (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                      style="height: 200px"></ckeditor>
                  </div>
                </mat-tab>
                <mat-tab label="High Yield Text">
                  <div class="ck_editor">
                    <ckeditor (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                      style="height: 200px"></ckeditor>
                  </div>
                </mat-tab>
                <mat-tab label="MCQ's">
                  <div class="cc_top_button">
                    <label for="">Question Bank</label>
                    <div class="spacer"></div>
                    <button>Create New Question</button>
                    <button>Select from Question Bank</button>
                  </div>
                  <div class="ck_editor">
                    <ckeditor (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                      style="height: 200px"></ckeditor>
                  </div>

                  <div class="qtns_block">
                    <div>
                      <label for="">Question type</label>
                      <div class="ans_div">
                        <mat-form-field appearance="outline">
                          <mat-select>
                            <mat-option value="option1">Single selection</mat-option>
                            <mat-option value="option2">Multiple selection</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div>
                      <label for="">Answers</label>
                      <div class="ans_div">
                        <mat-radio-group>
                          <mat-radio-button value="Option1">Option 1</mat-radio-button>
                          <mat-radio-button value="Option2">Option 2</mat-radio-button>
                          <mat-radio-button value="Option3">Option 3</mat-radio-button>
                          <mat-radio-button value="Option4">Option 4</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </div>
                  <div class="upload_btn">
                    <button>Insert another Question</button>
                  </div>
                  <hr />
                  <!-- Inserted questions -->
                  <div class="qtns_block insrtd_qtns">
                    <div>
                      <label for="">Question</label>
                      <span>Lorem ipsum dummy text question ?</span>
                    </div>
                    <div>
                      <label for="">Options</label>
                      <div class="ans_div">
                        <mat-radio-group>
                          <mat-radio-button value="Option1">Option 1</mat-radio-button>
                          <mat-radio-button value="Option2">Option 2</mat-radio-button>
                          <mat-radio-button value="Option3">Option 3</mat-radio-button>
                          <mat-radio-button value="Option4">Option 4</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="edit_options">
                      <mat-icon>edit</mat-icon>
                      <mat-icon>remove_circle_outline</mat-icon>
                    </div>
                  </div>
                  <hr />
                  <div class="qtns_block insrtd_qtns">
                    <div>
                      <label for="">Question</label>
                      <span>Lorem ipsum dummy text question ?</span>
                    </div>
                    <div>
                      <label for="">Options</label>
                      <div class="ans_div">
                        <mat-radio-group>
                          <mat-radio-button value="Option1">Option 1</mat-radio-button>
                          <mat-radio-button value="Option2">Option 2</mat-radio-button>
                          <mat-radio-button value="Option3">Option 3</mat-radio-button>
                          <mat-radio-button value="Option4">Option 4</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="edit_options">
                      <mat-icon>edit</mat-icon>
                      <mat-icon>remove_circle_outline</mat-icon>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Cases">
                  <div class="cc_row">
                    <mat-form-field appearance="outline" class="page_title_input">
                      <input matInput placeholder="Search topics" />
                      <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <hr />
                    <!-- Inserted questions -->
                    <div class="qtns_block insrtd_qtns">
                      <div>
                        <span>It is a long established fact that a reader will be
                          distracted by the readable content of a page when
                          looking at its layout.
                        </span>
                      </div>
                      <div class="edit_options">
                        <mat-icon class="d_none">edit</mat-icon>
                        <mat-icon>remove_circle_outline</mat-icon>
                      </div>
                    </div>
                    <hr />
                    <div class="qtns_block insrtd_qtns">
                      <div>
                        <span>It is a long established fact that a reader will be
                          distracted by the readable content of a page when
                          looking at its layout.
                        </span>
                      </div>
                      <div class="edit_options">
                        <mat-icon class="d_none">edit</mat-icon>
                        <mat-icon>remove_circle_outline</mat-icon>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Related Topics">
                  <div class="ck_editor">
                    <ckeditor (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                      style="height: 200px"></ckeditor>
                  </div>
                </mat-tab>
                <mat-tab label="External References">
                  <div class="ck_editor">
                    <ckeditor (ready)="onReady($event)" [editor]="Editor" #editor [config]="editorConfig"
                      style="height: 200px"></ckeditor>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>

      <!-- Bottom buttons  -->
      <div class="page_buttons cc_top_button">
        <div class="spacer"></div>
        <button class="plain">Save as draft</button>
        <button class="orange_btn">Discard changes</button>
        <button class="green_btn">Submit</button>
      </div>
    </div>

    <!-- Right content -->
    <!-- <div class="cc_right_content">
      <div class="tools_block">
        <div class="c_block">
          <div class="c_block_title">
            <mat-icon>home_repair_service</mat-icon>
            <label for="Intro video"> Tools</label>
          </div>
          <div class="c_block_content tools_list">
            <div class="tool_div">
              <img src="../../../assets/images/equation_icon.svg" alt="" />
              Insert new equation
            </div>
            <div class="tool_div">
              <mat-icon>calculate</mat-icon>
              Medical calculator
            </div>
            <div class="tool_div">
              <mat-icon>drive_file_rename_outline</mat-icon>
              Highlight selected text
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>