.main_content_cc{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-basis: 100%;
}
.ck-editor__editable_inline{ max-height: 200px !important; height: 200px !important;}
.cc_left_content{
    flex-basis: 74%;
}
.cc_right_content{
    flex-basis: 24%;
    align-self: flex-start;
    min-height: 100px;
    .tools_block{
        background-color: #FFF;
        position: fixed;
        width: 24%;
    }
}
.tools_list .tool_div {
    display: flex;
    height: 60px;
    align-items: center;
    cursor: pointer;
}
.tools_list .tool_div img, .tools_list .tool_div mat-icon {
    margin-right: 30px;
    width: 25px;
    font-size: 30px;
    color: #65BB61;
}
.flex-rows-break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 1px solid #ddd;
    margin-bottom: 2%;
}
.cc_row{
    
        display: flex;
        flex-flow: row;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 20px;
    .introvide_block{ width: 30%; flex-basis: 30%;}
}
.c_block{
    background-color: #FFF;
    border-radius: 5px;
    height: 100%;
    .c_block_title{
        padding:20px;
        display: flex;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            bottom: 0;
            width: 90%;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 1px;
            background-color: #E6E6E6;
        }
        mat-icon{
            color: #65BB61;
            margin-right: 15px;
        }
    }
    .c_block_content{
        padding:20px;
    }
    .upload_placeholder {
        text-align: center;
        padding: 20px;
        background: #FAFAFA;
        justify-content: center;
        color: #7C7C7C;
        display: flex;
        align-items: center;
        mat-icon{
            font-size: 50px;
            width: auto;
            height: auto;
        }
    }
    .ck_editor{ max-width: 99%; width: 100%;}
    ckeditor{ width: 100%;}
}
.cc_top_button.page_buttons button.orange_btn {
    background-color: #DB561F;
    border: 1px solid  #DB561F !important;
    color: #FFF;
    border: 0 none;
  }
  .cc_top_button.page_buttons button.green_btn {
    background-color: #65BB61;
    border: 1px solid #65BB61 !important;
    color: #FFF;
    border: 0 none;
  }
.tabs_block .ck_editor{ max-width: 100%; width: 100%;}
.description_block{
    flex-basis: 68%;
}
.main_video_block{ 
    flex-basis: 100%;
    .upload_placeholder{
        min-height: 400px;
    }
}
.qtns_block.insrtd_qtns{
    label{
        color: #65BB61;
    }
    .edit_options {
        position: absolute;
        right: 0;
        top: 20px;
    }
    .edit_options mat-icon {
        margin-left: 10px;
        cursor: pointer;
        &:nth-child(1){ color: #65BB61;}
        &:nth-child(2){ color: #FA6058;}
    }
}
.dsh_brd_crds mat-form-field.page_title_input{ width: 100%;}
.upload_btn button {
    background-color: #65BB61;
    color: #FFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 0 !important;
    border: 0 none;
    padding: 10px 50px;
    height: auto;
    margin: 10px auto;
    font-weight: 500;
}
.introvide_block .upload_btn button{
    width: 100%;
}
.attachments_block{ flex-basis: 49%;}
.image_thumnail_block{ flex-basis: 49%;}
.tabs_block{ flex-basis: 100%;}
.qtns_block { margin-top: 20px; position: relative; margin-bottom: 10px;}
.qtns_block > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.cc_top_button {
    display: flex;
    align-items: center;
}
.qtns_block.insrtd_qtns > div span {
    width: 80%;
}
.cc_top_button button {
    
    background:transparent;
    border:1px solid #ccc !important;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 0 !important;
    border: 0 none;
    padding: 10px 20px;
    height: auto;
    margin: 10px auto;
    font-weight: 500;
}
.cc_top_button button + button {
    margin-left:15px;
}
.qtns_block > div > label {
    flex-basis: 15%;
}
@media (max-width: 1499px){
    ::ng-deep .mn_sdcls div.mn_dshbrd {
        position: relative;
        width: 90%;
        margin-right: auto;
    }
}
@media screen and (max-width:1025px){
    .cc_row, .cc_row .introvide_block, .main_content_cc{
        display: block;
        width: 100%;
    }
}