

@media (max-width:1100px){
    .rsp_dn_1100{display: none;}
    footer .container .footer-main-menu{
        flex-wrap: wrap;
    }
    // footer .container .footer-main-menu .block{
    //    width: 50%;
    // }
}

@media (max-width:620px){
    footer .social-icons{
        margin-top: 10px;
    }
    footer .container .footer-main-menu{
        padding: 20px 30px;
    }
    // footer .container .footer-main-menu .block{
    //    width: 100%;
    // }
}
@media screen and (max-width:768px){
    footer .container{
        margin:0 10px;
        .footer-main-menu{ padding-left:0; padding-right:0;}
        .social-icons img{
            max-width: 30px;
        }
    }
}