<footer>
    <div class="second-part-footer">
        <div class="container">
            <div class="footer-main-menu">
                <div class="block mr_1">
                    <div *ngIf="app.localStorageItem('footer_logo')">
                        <span class="title">Partnered With:</span>
                        <span>
                            <img src="{{ app.localStorageItem('footer_logo') }}" />
                        </span>
                    </div>
                </div>
                <div class="block">
                    <span class="title">Powered By:</span>
                    <div class="clear_fix"></div>
                    <span>
                        <img src="./assets/images/ProceumLogo.png" />
                    </span>
                </div>
                <div class="spacer"></div>
                <!-- <div class="block">
                    <div class="title">Quick links</div>
                    <ul>
                        <li>Home</li>
                        <li>Couesrd</li>
                        <li>Blog</li>
                        <li>Contact us</li>
                    </ul>
                </div> -->
                <!-- <div class="block">
                    <div class="title">Lorem</div>
                    <ul>
                        <li>Lorem ipsum dolor</li>
                        <li>sit amet, consectetur</li>
                        <li>adipiscing elit</li>
                        <li>Sed imperdiet</li>
                    </ul>
                </div> -->
                <div class="block">
                    <div class="title">Social media</div>
                    <div class="social-icons">
                        <img src="../../../assets/images/fb-icon.svg" alt="" />
                        <img src="../../../assets/images/twitter-icon.svg" alt="" />
                        <img src="../../../assets/images/instagram-icon.svg" alt="" />
                        <img src="../../../assets/images/whatsapp-icon.svg" alt="" />
                    </div>
                </div>
            </div>
            <!-- <div class="footer-main-menu" >
                <div class="block">
                    <span>
                        <img
                            src="{{ getFooterLogo() }}" />
                    </span>
                    <div class="title">Powered By Proceum</div>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
    <div class="bottom-line">&copy; {{currentYear}} Proceum. All rights reserved.</div>
</footer>