<div class="mn_dshbrd">
    <div *ngIf="study_plan.schdule.length>0" class="cust_mdl_par {{show_details_modal?'cust_mdl_opn':'cust_mdl_cls'}}">
        <div class="cust_mdl_chl w_50p">
            <div class="tbbd_bdy dsh_brd_crds p_0">
                <div class="days_mn pp_dysmn">
                    <div class="dys_dv w_100p hvr_bg_wht">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Tasks for Day</div>
                            <div class="dys_cnt">{{study_plan.schdule[selected_day_index]['day']}}</div>
                            <div class="spacer"></div>
                            <div>
                                <button (click)="hideDetails()" mat-icon-button class="float_right">
                                    &#x2715;
                                </button>
                            </div>
                        </div>
                        <div class="pp_dys_bdy">
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">{{selected_course['curriculumn_name']}}</div>
                                <div class="tsk_dv fw_w">
                                    <!-- <div class="w_100p">Videos:</div> -->
                                    <div class="hgt_10"></div>
                                    <div class="pp_tasks">
                                        <div *ngFor="let topic of topics"><a target="_blank"
                                                [href]="'/student/curriculum/details/'+selected_course['pk_id']+'/'+topic['level_id']+'/'+topic['pk_id']">{{topic['topic']}}</a>
                                        </div>
                                    </div>
                                    <div class="hgt_10"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br p_1 d-flex ai_cntr">
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon>Study Planner
        </div>
        <div class="hgt_20"></div>
        <div class="sp_cnt d-flex dsh_brd_crds">
            <div class="sp_cnt_lft">
                <div class="sp_sbhd">
                    Course List
                </div>
                <div class="sp_bdy">
                    <ul class="">
                        <li *ngFor="let plan of plans_list" (click)="getStudyPlan(plan['id'])">
                            <mat-icon *ngIf="study_plan_id==plan['id']">check</mat-icon>{{plan['plan_name']}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sp_cnt_rt">
                <div class="sp_sbhd">
                    Study Plan Name - {{study_plan['name']}}
                </div>
                <!-- <div class="sp_bdy">
                    <div class="sp_sd d-flex ai_cntr fw_w">
                        Select Duration:
                        <mat-radio-group aria-label="Select an option" class="ml_1">
                            <div>
                                <mat-radio-button value="1">90 Days</mat-radio-button>
                            </div>
                            <div>
                                <mat-radio-button value="2">180 Days</mat-radio-button>
                            </div>
                            <div>
                                <mat-radio-button value="2">280 Days</mat-radio-button>
                            </div>
                            <div>
                                <mat-radio-button value="2"></mat-radio-button>
                                <mat-form-field appearance="outline" class="mr_1 w_60px sd_cust_inp">
                                    <input matInput />
                                </mat-form-field>
                                Days
                            </div>
                        </mat-radio-group>
                    </div>
                </div> -->
                <!-- <div class="hgt_10"></div> -->
                <!-- <div class="days_mn">
                    <div class="dys_dv" (click)="showDetails()">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dys_dv cmpltd_dy_active">
                        <div class="done_tick">
                            <mat-icon color="accent">done</mat-icon>
                        </div>
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dys_dv">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dys_dv">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dys_dv">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="days_mn" *ngIf="study_plan.schdule.length>0">
                    <div class="dys_dv" *ngFor="let day of study_plan.schdule;let index=index;">
                        <!-- "cmpltd_dy_active" day completed class  -->
                        <div class="done_tick">
                            <mat-icon color="accent">done</mat-icon>
                        </div>
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">{{day['day']}}</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div *ngFor="let course of day['selected_courses'];let course_index = index;"
                                (click)="(study_plan.schdule[index] != undefined && study_plan.schdule[index]['selected_topics_list'] != undefined && study_plan.schdule[index]['selected_topics_list'][course_index] != undefined && study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'].length>0) && showDetails(study_plan.schdule[index]['selected_topics'], course, course_index, index)">
                                <div class="dys_tsks_dv" *ngIf="day['is_test_day'] == false">
                                    <div class="tsk_hd">{{course['curriculumn_name']}}</div>
                                    <div class="tsk_dv">
                                        <div>Tasks</div>
                                        <div class="spacer"></div>
                                        <div class="tsk_cnt"
                                            *ngIf="study_plan.schdule[index] != undefined && study_plan.schdule[index]['selected_topics_list'] != undefined && study_plan.schdule[index]['selected_topics_list'][course_index] != undefined && study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'].length>0">
                                            <span>{{getTasksCount(study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'])}}</span>
                                        </div>
                                        <div class="tsk_cnt"
                                            *ngIf="study_plan.schdule[index] == undefined || study_plan.schdule[index]['selected_topics_list'].length==0 || study_plan.schdule[index]['selected_topics_list'][course_index]==undefined || study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'].length == 0">
                                            0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tst_dy" *ngIf="day['is_test_day'] == true" (click)="startTest(day['day'])">

                            <div>
                                <div class="slct_crs">Test</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>