<div class="mn_dshbrd">
    <div *ngIf="study_plan.schdule.length>0" class="cust_mdl_par {{show_details_modal?'cust_mdl_opn':'cust_mdl_cls'}}">
        <div class="cust_mdl_chl w_50p">
            <div class="tbbd_bdy dsh_brd_crds p_0">
                <div class="days_mn pp_dysmn">
                    <div class="dys_dv w_100p hvr_bg_wht">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Tasks for Day</div>
                            <div class="dys_cnt">{{study_plan.schdule[selected_day_index]['day']}}</div>
                            <div class="spacer"></div>
                            <div>
                                <button (click)="hideDetails()" mat-icon-button class="float_right">
                                    &#x2715;
                                </button>
                            </div>
                        </div>
                        <div class="pp_dys_bdy">
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">{{selected_course['curriculumn_name']}}</div>
                                <div class="tsk_dv fw_w">
                                    <!-- <div class="w_100p">Videos:</div> -->
                                    <div class="hgt_10"></div>
                                    <div class="pp_tasks">
                                        <div *ngFor="let topic of topics"><a target="_blank"
                                                [href]="'/student/curriculum/details/'+selected_course['pk_id']+'/'+topic['level_id']+'/'+topic['pk_id']">{{topic['topic']}}</a>
                                        </div>
                                    </div>
                                    <div class="hgt_10"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br p_1 d-flex ai_cntr">
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon>Study Planner
        </div>
        <div class="hgt_20"></div>
        <div class="sp_cnt d-flex dsh_brd_crds">
            <div class="sp_cnt_lft">
                <div class="sp_sbhd">
                    Course List
                </div>
                <div class="sp_bdy">
                    <ul class="">
                        <li *ngFor="let plan of plans_list" (click)="getStudyPlan(plan['id'])">
                            <mat-icon *ngIf="study_plan_id==plan['id']">check</mat-icon>{{plan['plan_name']}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sp_cnt_rt">
                <div class="sp_sbhd">
                    Study Plan Name - {{study_plan['name']}}
                </div>
                <div class="days_mn" *ngIf="study_plan.schdule.length>0">
                    <div *ngFor="let day of study_plan.schdule;let index=index;"
                        class="dys_dv {{day['is_done']==true?'cmpltd_dy_active':''}} {{day['is_test_day'] == 1 ? 'tst_dy':''}}">
                        <!-- "cmpltd_dy_active" day completed class  -->
                        <div class="done_tick" matTooltip="Mark as Done" mwlConfirmationPopover
                            [popoverTitle]="'Is tasks complete ?'"
                            [popoverMessage]="'Are you sure, do you want to mark as complete this day?<br>Please confirm.'"
                            placement="bottom" (confirm)="markAsDayComplete(day['day'])" confirmButtonType="danger"
                            cancelButtonType="outline-secondary" *ngIf="day['is_test_day'] == 0 && !day['is_done']">
                            <mat-icon color="accent">done</mat-icon>
                        </div>
                        <div class="done_tick" matTooltip="Tasks completed"
                            *ngIf="day['is_test_day'] == 0 && day['is_done']">
                            <mat-icon color="accent">check</mat-icon>
                        </div>
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">{{day['day']}}</div>
                        </div>
                        <div class="opn_bkicn"><mat-icon color="accent">auto_stories</mat-icon></div>
                        <div class="exm_icn"><mat-icon>content_paste</mat-icon></div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div *ngFor="let course of day['selected_courses'];let course_index = index;"
                                (click)="(study_plan.schdule[index] != undefined && study_plan.schdule[index]['selected_topics_list'] != undefined && study_plan.schdule[index]['selected_topics_list'][course_index] != undefined && study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'].length>0) && showDetails(study_plan.schdule[index]['selected_topics'], course, course_index, index)">
                                <div class="dys_tsks_dv" *ngIf="day['is_test_day'] == 0">
                                    <div class="tsk_hd">{{course['curriculumn_name']}}</div>
                                    <div class="tsk_dv">
                                        <div>Tasks</div>
                                        <div class="spacer"></div>
                                        <div class="tsk_cnt"
                                            *ngIf="study_plan.schdule[index] != undefined && study_plan.schdule[index]['selected_topics_list'] != undefined && study_plan.schdule[index]['selected_topics_list'][course_index] != undefined && study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'].length>0">
                                            <span>{{getTasksCount(study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'])}}</span>
                                        </div>
                                        <div class="tsk_cnt"
                                            *ngIf="study_plan.schdule[index] == undefined || study_plan.schdule[index]['selected_topics_list'].length==0 || study_plan.schdule[index]['selected_topics_list'][course_index]==undefined || study_plan.schdule[index]['selected_topics_list'][course_index]['selected_topics_list'].length == 0">
                                            0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tst_dy_cnt" *ngIf="day['is_test_day'] == 1" (click)="startTest(day['day'])">
                            <div>
                                <div class="slct_crs">Test</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>