<div class="mn_dshbrd">
    <div class="cust_mdl_par cust_mdl_opn">
        <div class="cust_mdl_chl w_50p"> 
            <div class="tbbd_bdy dsh_brd_crds p_0">
                <div class="days_mn pp_dysmn">
                    <div class="dys_dv w_100p hvr_bg_wht">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                            <div class="spacer"></div>
                            <div>
                                <button mat-icon-button class="float_right">
                                    &#x2715;
                                </button>
                            </div>
                        </div>
                        <div class="pp_dys_bdy">
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv fw_w">
                                    <div class="w_100p">Videos:</div>
                                    <div class="hgt_10"></div>
                                    <div class="pp_tasks">
                                        <div>Demonstrate Positions & movements in human body</div>
                                        <div>Demonstrate Positions & movements in human body Demonstrate Positions & movements in human body</div>
                                        <div>Demonstrate Positions & movements in human bodyDemonstrate Positions & movements in human body Demonstrate Positions & movements in human body</div>
                                    </div>
                                    <div class="hgt_10"></div>
                                </div>
                                <div class="tsk_dv fw_w">
                                    <div class="w_100p">Videos:</div>
                                    <div class="hgt_10"></div>
                                    <div class="pp_tasks">
                                        <div>Demonstrate Positions & movements in human body</div>
                                        <div>Demonstrate Positions & movements in human body Demonstrate Positions & movements in human body</div>
                                        <div>Demonstrate Positions & movements in human bodyDemonstrate Positions & movements in human body Demonstrate Positions & movements in human body</div>
                                    </div>
                                    <div class="hgt_10"></div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv fw_w">
                                    <div class="w_100p">Videos:</div>
                                    <div class="hgt_10"></div>
                                    <div class="pp_tasks">
                                        <div>Demonstrate Positions & movements in human body</div>
                                        <div>Demonstrate Positions & movements in human body Demonstrate Positions & movements in human body</div>
                                        <div>Demonstrate Positions & movements in human bodyDemonstrate Positions & movements in human body Demonstrate Positions & movements in human body</div>
                                    </div>
                                    <div class="hgt_10"></div>
                                </div>
                                <div class="tsk_dv fw_w">
                                    <div class="w_100p">Videos:</div>
                                    <div class="hgt_10"></div>
                                    <div class="pp_tasks">
                                        <div>Demonstrate Positions & movements in human body</div>
                                        <div>Demonstrate Positions & movements in human body Demonstrate Positions & movements in human body</div>
                                        <div>Demonstrate Positions & movements in human bodyDemonstrate Positions & movements in human body Demonstrate Positions & movements in human body</div>
                                    </div>
                                    <div class="hgt_10"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br p_1 d-flex ai_cntr">
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon>Study Planner
        </div>
        <div class="hgt_20"></div>
        <div class="sp_cnt d-flex dsh_brd_crds">
            <div class="sp_cnt_lft">
                <div class="sp_sbhd">
                    Course List
                </div>
                <div class="sp_bdy">
                    <ul class="">
                        <li>
                            <mat-icon>check</mat-icon>Anatomy
                        </li>
                        <li>
                            <mat-icon>check</mat-icon>Pathology
                        </li>
                        <li>
                            <mat-icon>check</mat-icon>Physiology
                        </li>
                        <li>
                            <mat-icon>check</mat-icon>Bio Chemistry
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sp_cnt_rt">
                <div class="sp_sbhd">
                    Course Name - USMLE
                </div>
                <!-- <div class="sp_bdy">
                    <div class="sp_sd d-flex ai_cntr fw_w">
                        Select Duration:
                        <mat-radio-group aria-label="Select an option" class="ml_1">
                            <div>
                                <mat-radio-button value="1">90 Days</mat-radio-button>
                            </div>
                            <div>
                                <mat-radio-button value="2">180 Days</mat-radio-button>
                            </div>
                            <div>
                                <mat-radio-button value="2">280 Days</mat-radio-button>
                            </div>
                            <div>
                                <mat-radio-button value="2"></mat-radio-button>
                                <mat-form-field appearance="outline" class="mr_1 w_60px sd_cust_inp">
                                    <input matInput />
                                </mat-form-field>
                                Days
                            </div>
                        </mat-radio-group>
                    </div>
                </div> -->
                <div class="hgt_10"></div>
                <div class="days_mn">
                    <div class="dys_dv">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dys_dv">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dys_dv">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dys_dv">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dys_dv">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Day</div>
                            <div class="dys_cnt">365</div>
                        </div>
                        <div>
                            <div class="slct_crs d-none">Select Course</div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                            <div class="dys_tsks_dv">
                                <div class="tsk_hd">Anatomy</div>
                                <div class="tsk_dv">
                                    <div>Tasks</div>
                                    <div class="spacer"></div>
                                    <div class="tsk_cnt">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>