<app-topbar class="inner-header"></app-topbar>
<app-sidemenu></app-sidemenu>
<div class="mn_dshbrd">
    <div class="cust_mdl_par cust_mdl_cls">
        <div class="cust_mdl_chl w_50p rsp_90p">
            <div class="pg_ttl">
                Add Billing Address
                <span class="spacer"></span>
                <button type="button" mat-icon-button class="float_right">
                    &#x2715;
                </button>
            </div>
            <div class="tbbd_bdy dsh_brd_crds">
                <div class="hgt_10"></div>
                <div class="d-flex fw_w">
                    <div class="w_47p">
                        <div>Name</div>
                        <div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Name" autocomplete="off"/>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="w_47p">
                        <div>Contact Number</div>
                        <div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Contact Number" autocomplete="off"/>
                            </mat-form-field> 
                        </div>
                    </div> 
                    <div class="w_47p">
                        <div>Country</div>
                        <div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Country" autocomplete="off"/>
                            </mat-form-field> 
                        </div>
                    </div> 
                    <div class="w_47p">
                        <div>State</div>
                        <div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="State" autocomplete="off"/>
                            </mat-form-field> 
                        </div>
                    </div> 
                    <div class="w_47p">
                        <div>City/Town</div>
                        <div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="City/Town" autocomplete="off"/>
                            </mat-form-field> 
                        </div>
                    </div> 
                    <div class="w_47p">
                        <div>Pin Code</div>
                        <div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Pin Code" autocomplete="off"/>
                            </mat-form-field> 
                        </div>
                    </div> 
                    <div class="w_100p">
                        <div>Address</div>
                        <div>
                            <mat-form-field appearance="outline" class="w_91p">
                                <textarea matInput placeholder="Address"></textarea>
                            </mat-form-field> 
                        </div>
                    </div> 
                </div>
               <div class="text_center">
                   <button class="mr_1" mat-raised-button>Cancel</button>
                   <button color="accent" mat-raised-button>Submit</button>
               </div>
                <div class="hgt_50"></div>
            </div>
        </div>
    </div>
    <div class="hgt_20"></div>
    <div class="sp_mn shpcrt dsh_brd_crds">
        <div class="brdcrm_br p_1 d-flex ai_cntr">
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon>Shopping Cart
        </div>
        <div class="hgt_20"></div>
        <div class="d-flex ai_cntr">
            <div class="shpcrt_hd">Course/Package</div>
            <div class="spacer"></div>
            <div class="shpcrt_amnt">Amount</div>
        </div>
        <div class="hgt_10"></div>
        <div class="shpcrt_lst">
            <div class="shpcrt_mn_dv">
                <div class="mr_1 crs_img">
                    <img src="../../../assets/images/out-story-img.jpeg">
                </div>
                <div class="spacer">
                    <div class="shpcrt_mn_hd">
                        Echocardiography Workshop
                    </div>
                    <div class="shpcrt_mn_cnt mb_1">
                        Overcoming the limitation of conventional echo books, keeping in mind that the main
                        distinguishing factor…
                    </div>

                    <div class="shpcrt_mn_btns">
                        <div>
                            <mat-icon>subject</mat-icon>
                            View Details
                        </div>
                        <div>
                            <mat-icon>playlist_add_check</mat-icon>
                            Move to Wishlist
                        </div>
                        <div class="rmv_frm_crt">
                            <mat-icon>remove_circle_outline</mat-icon>
                            Remove From Cart
                        </div>
                    </div>
                </div>
                <div class="shp_crt_amnt amnt_pybl">
                    <mat-icon>currency_rupee</mat-icon> 14,500
                </div>
            </div>
            <div class="shpcrt_mn_dv">
                <div class="mr_1 crs_img">
                    <img src="../../../assets/images/out-story-img.jpeg">
                </div>
                <div class="spacer">
                    <div class="shpcrt_mn_hd">
                        Echocardiography Workshop
                    </div>
                    <div class="shpcrt_mn_cnt mb_1">
                        Overcoming the limitation of conventional echo books, keeping in mind that the main
                        distinguishing factor…
                    </div>

                    <div class="shpcrt_mn_btns">
                        <div>
                            <mat-icon>subject</mat-icon>
                            View Details
                        </div>
                        <div>
                            <mat-icon>playlist_add_check</mat-icon>
                            Move to Wishlist
                        </div>
                        <div class="rmv_frm_crt">
                            <mat-icon>remove_circle_outline</mat-icon>
                            Remove From Cart
                        </div>
                    </div>
                </div>
                <div class="shp_crt_amnt amnt_pybl">
                    <mat-icon>currency_rupee</mat-icon> 14,500
                </div>
            </div>
            
            <div class="shpcrt_mn_dv ba_ap">
                <div class="spacer">
                    <div class="ba_hd">
                        Billing Address
                    </div>
                    <div class="hgt_10"></div>
                    <div class="ba_add w_50p">
                        <div class="ad_nw_addrs">
                            <div class="spacer"></div>
                            <mat-icon matTooltip="Edit Address">edit_notes</mat-icon>
                            <mat-icon matTooltip="Add New Address">add</mat-icon>
                        </div>
                        Dno: 999,<br>
                        My Building Name,<br>
                        My Area, My City, 100001,<br>
                        My State,<br>
                        +91-987654321,<br>
                        myemailid.com
                    </div>
                 
                </div>
                <div class="jc_fe d-flex fd_clmn">
                    <div class="hgt_10"></div>
                    <div class="d-flex ai_cntr jc_fe bold amnt_pybl">Total Amount: <div class="amnt_pybl"><mat-icon>currency_rupee</mat-icon> 14,500</div></div>
                    <div class="hgt_10"></div>
                    <div class="d-flex ai_cntr jc_fe amnt_pybl grn_fnt">Coupon Discount: <div class="amnt_pybl"><mat-icon>currency_rupee</mat-icon> 500</div></div>
                    <div class="hgt_10"></div>
                    <div class="cpncd_appld d-flex ai_cntr jc_fe ">Coupon Code: <span class="act_cpncd">ACC-BDD-CQQ</span> <mat-icon color="warn" matTooltip="Remove Coupon">close</mat-icon></div>
                    <div class="hgt_10"></div>
                    <div class="d-flex ai_cntr jc_fe bold amnt_pybl">Amount Payable: <div class="amnt_pybl"><mat-icon>currency_rupee</mat-icon> 14,000</div></div>
                    
                    <div class="hgt_10"></div>
                    <div>
                        <div class="hv_cpncd jc_fe text_right">Have a Coupon code ?</div>
                        <div class="jc_fe cupncd_inpt">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Enter Coupon Code" autocomplete="off"/>
                                <mat-icon class="dn_chkr" matSuffix>done</mat-icon>
                            </mat-form-field> 
                        </div>
                    </div>
                    <button color="accent" mat-raised-button >Proceed to Payment</button>
                </div>
                <div class="hgt_20"></div>
            </div>
        </div>
    </div>
</div>