<div class="mn_dshbrd">

  <div class="hgt_20"></div>
  <div class="sp_mn">
    <div class="brdcrm_br">
      <mat-icon color="accent" routerLink="/">home</mat-icon>
      <mat-icon>navigate_next</mat-icon>
      <strong>Courses &amp; Qbanks</strong>
    </div>
  </div>
  <div class="hgt_10"></div>
  <div class="dsh_brd_crds">
    <mat-form-field appearance="outline" class="xl_srch">
      <input matInput [(ngModel)]="search" matInput (keyup)="$event.keyCode == 13 ? doFilter() : ''"
        placeholder="Search" />
      <mat-icon matSuffix color="accent" (click)="doFilter()">search</mat-icon>
    </mat-form-field>
  </div>
  <mat-tab-group *ngIf="is_loaded">
    <mat-tab label="My Courses">
      <div class="crs_sld_mn rtng_par ai_nrml">
        <div class="crs_tbbd_mn no_desc_fnd" *ngIf="levels.length == 0">No Records Found</div>
        <div class="crs_sld_dv" *ngFor="let level of levels;let i=index">
          <span class="cs_hd"
            routerLink="/student/curriculums/{{ level['id'] }}/{{level['labels'][0]['level_number']}}">{{ level["name"]
            }}</span>
          <span class="ct_rtn">
            <mat-icon class="{{level['rating'] > 0 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,0.5)">star</mat-icon>
            <mat-icon class="hlf_str1 {{level['rating'] > 0.5 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,1)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 1 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,1.5)">star</mat-icon>
            <mat-icon class="hlf_str2 {{level['rating'] > 1.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,2)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 2?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,2.5)">star</mat-icon>
            <mat-icon class="hlf_str3 {{level['rating'] > 2.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,3)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 3 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,3.5)">star</mat-icon>
            <mat-icon class="hlf_str4 {{level['rating'] > 3.5 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,4)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 4 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,4.5)">star</mat-icon>
            <mat-icon class="hlf_str5 {{level['rating'] > 4.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,5)">star</mat-icon>
          </span>
          <span class="cs_rew" *ngIf="false">(3,150 reviews)</span>
          <span class="cs_stc" *ngFor="let label of level['labels']">
            <span class="cs_stc_hd">{{ label["display_label"] }}</span>
            <span class="cs_stc_nm">{{
              level["level_counts"]["level_" + label["level_number"]]
              ? level["level_counts"]["level_" + label["level_number"]]
              : 0
              }}</span>
          </span>
          <span class="cs_av">
            <span class="cs_af">
              <mat-icon color="accent" (click)="manageStatistics('fav', level['id'], i)"
                *ngIf="level['is_fav'] != 1 ? true : false" matTooltip="Make Favorite">
                favorite_border</mat-icon>
              <mat-icon color="accent" (click)="manageStatistics('fav', level['id'], i)"
                *ngIf="level['is_fav'] == 1 ? true : false" matTooltip="Unfavourite">
                favorite</mat-icon> Favorite
            </span>
            <span class="cs_bb"></span>
            <span class="cs_vw"
              routerLink="/student/curriculums/{{ level['id'] }}/{{level['labels'][0]['level_number']}}">View<mat-icon>
                east</mat-icon></span>
          </span>
        </div>
      </div>
    </mat-tab>
    <!--<mat-tab label="Most Popular" *ngIf="false">
      <div class="crs_sld_mn">
        <div class="crs_tbbd_mn no_desc_fnd" *ngIf="levels.length == 0">No Records Found</div>
        <div class="crs_sld_dv" *ngFor="let level of levels">
          <span class="cs_hd">{{ level["name"] }}</span>
          <span class="cs_rtn">
            <mat-icon class="ct_slctd">star</mat-icon>
            <mat-icon class="ct_slctd">star</mat-icon>
            <mat-icon class="ct_slctd">star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <span>3/5</span>
          </span>
          <span class="cs_rew">(3,150 reviews)</span>
          <span class="cs_stc" *ngFor="let label of level['labels']">
            <span class="cs_stc_hd">{{ label["display_label"] }}</span>
            <span class="cs_stc_nm">{{
              level["level_counts"]["level_" + label["level_number"]]
              ? level["level_counts"]["level_" + label["level_number"]]
              : 0
              }}</span>
          </span>
          <span class="cs_av">
            <span class="cs_af" *ngIf="false">
              <mat-icon>favorite_border</mat-icon>Add to fav
            </span>
            <span class="cs_bb"></span>
            <span class="cs_vw" routerLink="/student/curriculums/{{ level['id'] }}/{{
                level['labels'][0]['level_number']
              }}">View<mat-icon>east</mat-icon></span>
          </span>
        </div>
      </div>
    </mat-tab>
     <mat-tab label="Most Rated" *ngIf="false">
      <div class="crs_sld_mn">
        <div class="crs_tbbd_mn no_desc_fnd" *ngIf="levels.length == 0">No Records Found</div>
        <div class="crs_sld_dv" *ngFor="let level of levels">
          <span class="cs_hd">{{ level["name"] }}</span>
          <span class="cs_rtn">
            <mat-icon class="ct_slctd">star</mat-icon>
            <mat-icon class="ct_slctd">star</mat-icon>
            <mat-icon class="ct_slctd">star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <span>3/5</span>
          </span>
          <span class="cs_rew">(3,150 reviews)</span>
          <span class="cs_stc" *ngFor="let label of level['labels']">
            <span class="cs_stc_hd">{{ label["display_label"] }}</span>
            <span class="cs_stc_nm">{{
              level["level_counts"]["level_" + label["level_number"]]
              ? level["level_counts"]["level_" + label["level_number"]]
              : 0
              }}</span>
          </span>
          <span class="cs_av" *ngIf="false">
            <span class="cs_af">
              <mat-icon>favorite_border</mat-icon>Add to fav
            </span>
            <span class="cs_bb"></span>
            <span class="cs_vw" routerLink="/student/curriculums/{{ level['id'] }}/{{
                level['labels'][0]['level_number']
              }}">View<mat-icon>east</mat-icon></span>
          </span>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Favorite" *ngIf="false">
      <div class="crs_sld_mn">
        <div class="crs_tbbd_mn no_desc_fnd" *ngIf="levels.length == 0">No Records Found</div>
        <div class="crs_sld_dv" *ngFor="let level of levels">
          <span class="cs_hd">{{ level["name"] }}</span>
          <span class="cs_rtn">
            <mat-icon class="ct_slctd">star</mat-icon>
            <mat-icon class="ct_slctd">star</mat-icon>
            <mat-icon class="ct_slctd">star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <span>3/5</span>
          </span>
          <span class="cs_rew">(3,150 reviews)</span>
          <span class="cs_stc" *ngFor="let label of level['labels']">
            <span class="cs_stc_hd">{{ label["display_label"] }}</span>
            <span class="cs_stc_nm">{{
              level["level_counts"]["level_" + label["level_number"]]
              ? level["level_counts"]["level_" + label["level_number"]]
              : 0
              }}</span>
          </span>
          <span class="cs_av" *ngIf="false">
            <span class="cs_af">
              <mat-icon>favorite_border</mat-icon>Add to fav
            </span>
            <span class="cs_bb"></span>
            <span class="cs_vw" routerLink="/student/curriculums/{{ level['id'] }}/{{
                level['labels'][0]['level_number']
              }}">View<mat-icon>east</mat-icon></span>
          </span>
        </div>
      </div>
    </mat-tab> -->
  </mat-tab-group>
  <mat-tab-group animationDuration="0.15s" *ngIf="q_is_loaded">
    <mat-tab label="Question Banks">
      <div class="crs_sld_mn rtng_par ai_nrml">
        <div class="crs_tbbd_mn no_desc_fnd" *ngIf="q_levels.length == 0">No Records Found</div>
        <div class="crs_sld_dv" *ngFor="let level of q_levels;let i=index" routerLink="/student/qbank/create-exam/{{ level['id'] }}">
          <span class="cs_hd"
            >{{ level["name"]
            }}</span>
          <span class="ct_rtn">
            <mat-icon class="{{level['rating'] > 0 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,0.5)">star</mat-icon>
            <mat-icon class="hlf_str1 {{level['rating'] > 0.5 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,1)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 1 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,1.5)">star</mat-icon>
            <mat-icon class="hlf_str2 {{level['rating'] > 1.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,2)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 2?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,2.5)">star</mat-icon>
            <mat-icon class="hlf_str3 {{level['rating'] > 2.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,3)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 3 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,3.5)">star</mat-icon>
            <mat-icon class="hlf_str4 {{level['rating'] > 3.5 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,4)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 4 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,4.5)">star</mat-icon>
            <mat-icon class="hlf_str5 {{level['rating'] > 4.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,5)">star</mat-icon>
            <!-- ct_slctd || add this class to the selected single star -->
          </span>

          <span class="cs_rew" *ngIf="false">(3,150 reviews)</span>
          <span class="cs_stc" *ngFor="let label of level['labels']">
            <span class="cs_stc_hd">{{ label["display_label"] }}</span>
            <span class="cs_stc_nm">{{
              level["level_counts"]["level_" + label["level_number"]]
              ? level["level_counts"]["level_" + label["level_number"]]
              : 0
              }}</span>
          </span>
          <span class="cs_av">
            <span class="cs_af">
              <mat-icon color="accent" (click)="manageStatistics('fav', level['id'], i)"
                *ngIf="level['is_fav'] != 1 ? true : false" matTooltip="Make Favorite">
                favorite_border</mat-icon>
              <mat-icon color="accent" (click)="manageStatistics('fav', level['id'], i)"
                *ngIf="level['is_fav'] == 1 ? true : false" matTooltip="Unfavourite">
                favorite</mat-icon> Favorite
            </span>
            <span class="cs_bb"></span>
            <span class="cs_vw" routerLink="/student/qbank/create-exam/{{ level['id'] }}">View<mat-icon>
                east</mat-icon></span>
          </span>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group *ngIf="is_loaded">
    <mat-tab label="Recommended Courses">
      <div class="crs_sld_mn rtng_par ai_nrml">
        <div class="crs_tbbd_mn no_desc_fnd" *ngIf="levels.length == 0">No Records Found</div>
        <div class="crs_sld_dv" *ngFor="let level of levels;let i=index">
          <span class="cs_hd"
            routerLink="/student/curriculums/{{ level['id'] }}/{{level['labels'][0]['level_number']}}">{{ level["name"]
            }}</span>
          <span class="ct_rtn">
            <mat-icon class="{{level['rating'] > 0 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,0.5)">star</mat-icon>
            <mat-icon class="hlf_str1 {{level['rating'] > 0.5 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,1)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 1 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,1.5)">star</mat-icon>
            <mat-icon class="hlf_str2 {{level['rating'] > 1.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,2)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 2?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,2.5)">star</mat-icon>
            <mat-icon class="hlf_str3 {{level['rating'] > 2.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,3)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 3 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,3.5)">star</mat-icon>
            <mat-icon class="hlf_str4 {{level['rating'] > 3.5 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,4)">star</mat-icon>
            <mat-icon class="{{level['rating'] > 4 ?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,4.5)">star</mat-icon>
            <mat-icon class="hlf_str5 {{level['rating'] > 4.5?'ct_slctd':''}}"
              (click)="manageStatistics('rating', level['id'], i,5)">star</mat-icon>
            <!-- ct_slctd || add this class to the selected single star -->
          </span>

          <span class="cs_rew" *ngIf="false">(3,150 reviews)</span>
          <span class="cs_stc" *ngFor="let label of level['labels']">
            <span class="cs_stc_hd">{{ label["display_label"] }}</span>
            <span class="cs_stc_nm">{{
              level["level_counts"]["level_" + label["level_number"]]
              ? level["level_counts"]["level_" + label["level_number"]]
              : 0
              }}</span>
          </span>
          <span class="cs_av">
            <span class="cs_af">
              <mat-icon color="accent" (click)="manageStatistics('fav', level['id'], i)"
                *ngIf="level['is_fav'] != 1 ? true : false" matTooltip="Make Favorite">
                favorite_border</mat-icon>
              <mat-icon color="accent" (click)="manageStatistics('fav', level['id'], i)"
                *ngIf="level['is_fav'] == 1 ? true : false" matTooltip="Unfavourite">
                favorite</mat-icon> Favorite
            </span>
            <span class="cs_bb"></span>
            <span class="cs_vw"
              routerLink="/student/curriculums/{{ level['id'] }}/{{level['labels'][0]['level_number']}}">View<mat-icon>
                east</mat-icon></span>
          </span>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>