<h2>{{ title }}</h2>
<form
  #template_form="ngForm"
  name="template_form"
  novalidate
  (ngSubmit)="template_form.valid && submitTemplate()"
>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input
      matInput
      #template_title="ngModel"
      name="template_title"
      [(ngModel)]="template.template_title"
      placeholder="Template Title"
      pattern="[a-zA-Z][a-zA-Z ][a-zA-Z0-9 ]+"
      required
    />
    <mat-error *ngIf="template_form.submitted && template.template_title == ''">
      Template Title is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="template_form.submitted && template_title.invalid">
      Please enter only alphabets
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Template Name</mat-label>
    <input
      matInput
      pattern="[a-zA-Z][a-zA-Z_]+"
      name="template_name"
      [(ngModel)]="template.template_name"
      placeholder="Template Name"
      disabled="{{ template.id != '0' ? true : false }}"
      required
    /><mat-error
      *ngIf="template_form.submitted && template.template_name == ''"
    >
      Template Name is <strong>required</strong>
    </mat-error></mat-form-field
  >

  <ckeditor
    [config]="{ extraPlugins: 'InsertDropDown' }"
    [(ngModel)]="template.template"
    name="template"
    [editor]="Editor"
  ></ckeditor>
  <button
    mat-raised-button
    color="red"
    class="float_right"
    (click)="close()"
    type="button"
  >
    Close
  </button>
  <button mat-raised-button color="accent" class="float_right" type="submit">
    Submit
  </button>
  <div class="clear_fix"></div>
</form>
