<div class="mn_dshbrd d-none-imp">
    <div class="cust_mdl_par cust_mdl_cls">
        <div class="cust_mdl_chl w_80p rsp_90p">
            <div class="pg_ttl">
                Question Paper
                <span class="spacer"></span>
                <button type="button" mat-icon-button class="float_right">
                    &#x2715;
                </button>
            </div>
            <div class="p_15px">
                Question Paper Mode (50 Questions)
            </div>
            <div class="qp_lvmd_cnt">
                <div>
                    <ul>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                    </ul>
                    <div class="hgt_10"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="lv_md_mn  {{rvrsClr == false ? 'rvrs_clr':''}}">
        <div class="lv_md_nms">
            <ul>
                <li class="lvmd_actvqst">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
            </ul>
        </div>
        <div class="lv_md_qstn">
            <div class="lvmd_hd">
                <div class="lvmd_hd_aa mr_1">
                    Question 1 of 40 <br>
                    ID: 128
                </div>
                <div class="lvmd_hd_ab">
                    <img src="../../../assets/images/mark.png" alt="" /><br>
                    Mark
                </div>
                <div class="spacer"></div>
                <div class="lvmd_hd_ac">
                    <div class="mr_1">
                        <img src="../../../assets/images/previous_lv.png" alt="" /><br>
                        Previous
                    </div>
                    <div>
                        <img src="../../../assets/images/next_lv.png" alt="" /><br>
                        Next
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="lvmd_hd_ad">
                    <div>
                        <img src="../../../assets/images/auto_translate.png" alt="" /><br>
                        Question Paper
                    </div>
                    <div>
                        <img src="../../../assets/images/auto_translate.png" alt="" /><br>
                        Auto Translate
                    </div>
                    <div>
                        <img src="../../../assets/images/lav_values.png" alt="" /><br>
                        Lab Values
                    </div>
                    <div>
                        <img src="../../../assets/images/notes.png" alt="" /><br>
                        Notes
                    </div>
                    <div>
                        <img src="../../../assets/images/calculator.png" alt="" /><br>
                        Calculator
                    </div>
                    <div (click)="rvrsClr = !rvrsClr">
                        <img src="../../../assets/images/reverse_color.png" alt="" /><br>
                        Reverse Color
                    </div>
                </div>
            </div>
            <div class="lvmd_cnt">
                <div class="w_47p">
                    <div class="lvmd_cnt_aa">
                        <div>You are using the free Qbank. Go Premium to get all content and features!</div>
                        <div>
                            <button mat-raised-button color="accent">Get Premium</button>
                        </div>
                    </div>
                    <div class="lvmd_cnt_ab">
                        <div class="actv_txt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </div>
                    </div>
                    <div class="lvmd_cnt_ac">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">Option 1</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="lvmd_cnt_ad">
                        <button mat-raised-button>Submit answer and show explanation</button>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="w_40p">
                    <div class="lb_vles">
                        <div>Lab Values</div>
                        <div class="hgt_10"></div>
                        <div class="lb_vles_cnt">
                            <ul>
                                <li class="lb_vles_hd">
                                    <span>Serum</span>
                                    <span>Reference Range</span>
                                    <span>SI Reference</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                                <li class="hs_sbhd">
                                    <span>Sub Head</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                                <li>
                                    <span>Alanine aminotransferase (ALT)</span>
                                    <span>10-40 U/L</span>
                                    <span>10-40 U/L</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mn_dshbrd">
    <div class="cust_mdl_par cust_mdl_cls">
        <div class="cust_mdl_chl w_50p rsp_90p">
            <div class="pg_ttl">
                Question Paper
                <span class="spacer"></span>
                <button type="button" mat-icon-button class="float_right">
                    &#x2715;
                </button>
            </div>
            <div class="p_15px">
                Values vary according to individual labs. All values below are for adults.
            </div>

            <div class="lv_md_mn">
                <div class="lv_md_qstn">
                    <div class="lvmd_cnt fw_w">
                        <div class="dsh_brd_crds w_100p">
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput placeholder="Search">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="clear_fx"></div>
                        <div class="w_100p">Lab Values</div>
                        <div class="lb_vles w_100p">
                            <div class="hgt_10"></div>
                            <div class="lb_vles_cnt">
                                <ul>
                                    <li class="lb_vles_hd">
                                        <span>Serum</span>
                                        <span>Reference Range</span>
                                        <span>SI Reference</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li class="hs_sbhd">
                                        <span>Sub Head</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="lb_vles w_100p">
                            <div class="hgt_10"></div>
                            <div class="lb_vles_cnt">
                                <ul>
                                    <li class="lb_vles_hd">
                                        <span>Serum</span>
                                        <span>Reference Range</span>
                                        <span>SI Reference</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li class="hs_sbhd">
                                        <span>Sub Head</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                    <li>
                                        <span>Alanine aminotransferase (ALT)</span>
                                        <span>10-40 U/L</span>
                                        <span>10-40 U/L</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="tsts_mn plbble_mn">
        <div class="tsts_qstns">
            <div class="tstsqst_hd d-flex">
                <div>Question (5/40)</div>
                <div class="qt_lbl">
                    MCQ Question
                </div>
            </div>
            <div class="hgt_10"></div>
            <div class="tstsqst_qst">
                An 86-year-old woman is brought to the emergency department by her niece because the patient felt like
                she was spinning and about to topple over. This occurred around 4 hours ago, and although symptoms have
                improved, she still feels like she is being pulled to the right side. Her vital signs include: blood
                pressure 116/75 mm Hg, pulse 90/min, and SpO2 99% on room air. Physical examination reveals right-sided
                limb ataxia along with hypoalgesia and decreased temperature sensation on the right side of the face and
                left side of the body. An urgent noncontrast CT scan of the head shows no evidence of hemorrhage. What
                other finding is most likely to be present in this patient?
                <div class="tstsqst_img">
                    <img src="../../../assets/images/testimonial-img-1.png">
                </div>
            </div>
            <div class="tstsqst_ans">
                <mat-radio-group>
                    <mat-radio-button value="1" class="wrng_rdo_ani">This is the logn test This is the logn test This is
                        the logn test This is the logn test This is the logn test
                        <span class="spacer"></span>
                        <span class="fnl_pecnt">65%</span>
                        <span class="prcnt_clr" style="width:48%"></span>
                    </mat-radio-button>
                    <mat-radio-button value="2" class="crct_rdo_ani">Option 2
                        <span class="spacer"></span>
                        <span class="tst_infoicn" matTooltipPosition="right" matTooltipClass="tst_infotxt"
                            matTooltip=" A 62-year-old woman with a past medical history of breast cancer presents to her physician with concerns of swelling in her left arm that developed suddenly over the past few days. She underwent modified radical mastectomy 6 months ago and has since been receiving chemotherapy via a totally implantable venous access port that was placed in the left brachiocephalic vein. Port thrombosis is suspected as the cause of her arm swelling. Thrombosis of...">
                            <mat-icon>info</mat-icon>
                        </span>
                        <span class="fnl_pecnt">65%</span>
                        <span class="prcnt_clr" style="width:23%"></span>
                    </mat-radio-button>
                    <mat-radio-button value="3" class="">Option 2</mat-radio-button>
                    <mat-radio-button value="4" class="">Option 2</mat-radio-button>
                </mat-radio-group>
                <mat-checkbox class="wrng_rdo_ani">
                    Checkbox 1
                    <span class="spacer"></span>
                    <span class="fnl_pecnt">65%</span>
                    <span class="prcnt_clr" style="width:75%"></span>
                </mat-checkbox>
                <mat-checkbox class="crct_rdo_ani">Checkbox 1
                    <span class="spacer"></span>
                    <span class="fnl_pecnt">65%</span>
                    <span class="prcnt_clr" style="width:13%"></span>
                </mat-checkbox>
                <mat-checkbox>Checkbox 1</mat-checkbox>
            </div>
            <div class="tstsqst_navs">
                <button mat-mini-fab color="accent" class="no_bxsdw">
                    <mat-icon>arrow_left</mat-icon>
                </button>
                <div class="pbl_sbmtans">
                    <div class="sbmtans_dv">
                        Submit Answer
                    </div>
                </div>
                <button mat-mini-fab color="accent" class="no_bxsdw">
                    <mat-icon>arrow_right</mat-icon>
                </button>
            </div>
            <div class="hgt_20"></div>
            <hr>
            <div>
                An 86-year-old woman is brought to the emergency department by her niece because the patient felt like
                she was spinning and about to topple over. This occurred around 4 hours ago, and although symptoms have
                improved, she still feels like she is being pulled to the right side. Her vital signs include: blood
                pressure 116/75 mm Hg, pulse 90/min, and SpO2 99% on room air. Physical examination reveals right-sided
                limb ataxia along with hypoalgesia and decreased temperature sensation on the right side of the face and
                left side of the body. An urgent noncontrast CT scan of the head shows no evidence of hemorrhage. What
                other finding is most likely to be present in this patient?
                <div class="hgt_20"></div>
                <div>
                    <button mat-raised-button color="accent">Lorem Ipsum</button>
                </div>
            </div>
        </div>
        <div class="tsts_qstns_nums">
            <div class="tstsnms_cnt_dv">
                <ul>
                    <li class="grn">1</li>
                    <li class="rd">2</li>
                    <li>3</li>
                    <li>4</li>
                    <li class="actv_qtn">4</li>
                    <li>4</li>
                    <li>4</li>
                    <li>4</li>
                    <li>4</li>
                    <li>4</li>
                    <li>4</li>
                    <li>4</li>
                    <li>4</li>
                    <li>4</li>
                    <li>4</li>
                    <li>4</li>
                </ul>
            </div>
            <div class="plble_lbvl">Lab Values</div>
        </div>
    </div>
</div>