<div class="mn_dshbrd">
    <div class="cust_mdl_par cust_mdl_opn">
        <div class="cust_mdl_chl w_80p rsp_90p">
            <div class="pg_ttl">
                Question Paper
                <span class="spacer"></span>
                <button type="button" mat-icon-button class="float_right">
                    &#x2715;
                </button>
            </div>
            <div class="p_15px">
                Question Paper Mode (50 Questions)
            </div>
            <div class="qp_lvmd_cnt">
                <div>
                    <ul>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                        <li>
                            <span>1</span>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s</span>
                        </li>
                    </ul>
                    <div class="hgt_10"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="lv_md_mn {{rvrsClr == false ? 'rvrs_clr':''}}">
        <div class="lv_md_nms">
            <ul>
                <li class="lvmd_actvqst">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
            </ul>
        </div>
        <div class="lv_md_qstn">
            <div class="lvmd_hd">
                <div class="lvmd_hd_aa mr_1">
                    Question 1 of 40 <br>
                    ID: 128
                </div>
                <div class="lvmd_hd_ab">
                    <img src="../../../assets/images/mark.png" alt="" /><br>
                    Mark
                </div>
                <div class="spacer"></div>
                <div class="lvmd_hd_ac">
                    <div class="mr_1">
                        <img src="../../../assets/images/previous_lv.png" alt="" /><br>
                        Previous
                    </div>
                    <div>
                        <img src="../../../assets/images/next_lv.png" alt="" /><br>
                        Next
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="lvmd_hd_ad">
                    <div>
                        <img src="../../../assets/images/auto_translate.png" alt="" /><br>
                        Question Paper
                    </div>
                    <div>
                        <img src="../../../assets/images/auto_translate.png" alt="" /><br>
                        Auto Translate
                    </div>
                    <div>
                        <img src="../../../assets/images/lav_values.png" alt="" /><br>
                        Lab Values
                    </div>
                    <div>
                        <img src="../../../assets/images/notes.png" alt="" /><br>
                        Notes
                    </div>
                    <div>
                        <img src="../../../assets/images/calculator.png" alt="" /><br>
                        Calculator
                    </div>
                    <div (click)="rvrsClr = !rvrsClr">
                        <img src="../../../assets/images/reverse_color.png" alt="" /><br>
                        Reverse Color
                    </div>
                </div>
            </div>
            <div class="lvmd_cnt">
                <div class="w_47p">
                    <div class="lvmd_cnt_aa">
                        <div>You are using the free Qbank. Go Premium to get all content and features!</div>
                        <div>
                            <button mat-raised-button color="accent">Get Premium</button>
                        </div>
                    </div>
                    <div class="lvmd_cnt_ab">
                        <div class="actv_txt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </div>
                    </div>
                    <div class="lvmd_cnt_ac">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">Option 1</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="lvmd_cnt_ad">
                        <button mat-raised-button>Submit answer and show explanation</button>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="w_40p">
                    <div class="lb_vles">
                       <div>Lab Values</div>
                       <div class="hgt_10"></div>
                       <div class="lb_vles_cnt">
                           <ul>
                               <li class="lb_vles_hd">
                                   <span>Serum</span>
                                   <span>Reference Range</span>
                                   <span>SI Reference</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                               <li>
                                   <span>Alanine aminotransferase (ALT)</span>
                                   <span>10-40 U/L</span>
                                   <span>10-40 U/L</span>
                               </li>
                           </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>