<div class="mn_dshbrd fl_mndsbrd">
  <div class="hgt_20"></div>
  <div class="sp_mn">
    <div class="brdcrm_br p_1 d-flex ai_cntr">
      <mat-icon color="accent">home</mat-icon>
      <mat-icon>navigate_next</mat-icon><strong>Global Search</strong>
      <mat-icon>navigate_next</mat-icon><strong>Search Results</strong>
    </div>
  </div>
  <div class="hgt_10"></div>
  <div class="d-flex">
    <div>Search Key: <span class="grn_clr">{{key}}</span></div>
    <div class="spacer"></div>
    <div class="d-flex ai_cntr">
      <div class="grn_clr" *ngIf="result_cond == false">{{result_count}} Results Found</div>
    </div>
  </div>
  <div class="hgt_5"></div>
  <div class="dsh_brd_crds intr_vd_tml">
    <div *ngIf="result_cond">
      <div class="rqrd_txtinfo"> No records found with your search key, <span class="fnt_bold">{{key}}</span>! Please
        find the below nearest matching records.</div>
      <div class="gs_rslts" *ngIf="search_result.length>0">
        <div class="gs_rslts_aa">
          <div class="gs_rs_hd">Competencies</div>
          <div class="spacer"></div>
          <div class="grn_clr">{{result_count}} Results Found</div>
        </div>
        <div *ngFor="let curriculum of search_result | keyvalue">
          <div class="gs_rslts" *ngFor="let data_n of curriculum.value | keyvalue">
            <!-- <div class="gs_rs_hd">{{data_n.key.toString().split("-")[1]}}</div> -->
            <div class="gs_rs_cnt" *ngFor="let data_content of data_n.value | keyvalue | paginate: { itemsPerPage: limit_cnt, currentPage: p, totalItems: result_count }">
              <span [innerHTML]="data_content.value.level_code || data_content.value.level_description | highlight:key"
                (click)="navigateTo(data_content.value.curriculumn_id+'/'+data_content.value.level_id+'/'+data_content.value.pk_id)"></span>
              <span class="lk_bdg">{{data_content.value.curriculumn_name}}</span>
            </div>
          </div>
        </div>
        <div class="hgt_5"></div>
        <div class="ml_at">
          <pagination-controls (pageChange)="pageChanged(cp = $event)"></pagination-controls>
        </div>
      </div>
      <div class="hgt_5"></div>
    </div>
    <div *ngIf="!result_cond">
      <div *ngFor="let curriculum of search_result | keyvalue">
        <div *ngIf="curriculum.key!='competencies'">
          <div class="gs_rslts">
            <div class="gs_rs_hd">{{curriculum.key.toString().split("-")[1]}}</div>
            <div class="gs_rs_cnt" *ngFor="let data of curriculum.value | keyvalue | paginate: { itemsPerPage: limit_cnt, currentPage: p, totalItems: result_count }">
              <!-- span
                (click)="navigateTo(data.value.curriculumn_id+'/'+data.value.level_id+'/'+data.value.pk_id)">{{data.value.level_name}}</span> -->
               <span [innerHTML]="data.value.level_name | highlight:key"
                (click)="navigateTo(data.value.curriculumn_id+'/'+data.value.level_id+'/'+data.value.pk_id)">{{data.value.level_name}}</span>
                <span class="lk_bdg">{{data.value.curriculumn_name}}</span>
            </div>
          </div>
          <div class="hgt_5"></div>
        </div>
        <div *ngIf="curriculum.key=='competencies'">
          <div class="gs_rslts" *ngIf="curriculum.value.length>0">
            <div class="gs_rs_hd">Competencies</div>
          </div>
          <div *ngFor="let competencies of curriculum.value | keyvalue">
            <div *ngFor="let data_comp of competencies.value | keyvalue">
              <div class="gs_rslts" *ngFor="let competencies_n of data_comp.value | keyvalue | paginate: { itemsPerPage: limit_cnt, currentPage: p, totalItems: result_count }">
                <div class="gs_rs_cnt">
                  <span [innerHTML]="competencies_n.value.level_code || competencies_n.value.level_description | highlight:key"
                    (click)="navigateTo(competencies_n.value.curriculumn_id+'/'+competencies_n.value.level_id+'/'+competencies_n.value.pk_id)"></span>
                  <span class="lk_bdg">{{competencies_n.value.curriculumn_name}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="hgt_5"></div>
          <div class="ml_at">
            <pagination-controls (pageChange)="pageChanged(cp = $event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>