<div class="mn_dshbrd fl_mndsbrd">
  <div class="hgt_20"></div>
  <div class="sp_mn">
    <div class="brdcrm_br p_1 d-flex ai_cntr">
      <mat-icon color="accent">home</mat-icon>
      <mat-icon>navigate_next</mat-icon><strong>Global Search</strong>
      <mat-icon>navigate_next</mat-icon><strong>Search Results</strong>
    </div>
  </div>
  <div class="hgt_10"></div>
  <div class="d-flex">
    <div>Search Key: <span class="grn_clr">{{key}}</span></div>
    <div class="spacer"></div>
    <div class="d-flex ai_cntr">
      <div class="grn_clr" *ngIf="result_cond == false">{{result_count}} Results Found</div>
    </div>
  </div>
  <div class="hgt_5"></div>
  <div class="dsh_brd_crds intr_vd_tml">
    <div *ngIf="result_cond">
      <div class="rqrd_txtinfo"> No records found with your search key, <span class="fnt_bold">{{key}}</span>! Please
        find the below nearest matching records.</div>
      <div class="gs_rslts" *ngIf="search_result.length>0">
        <div class="gs_rslts_aa">
          <div class="gs_rs_hd">Competencies</div>
          <div class="spacer"></div>
          <div class="grn_clr">{{result_count}} Results Found</div>
        </div>
        <div class="gs_rs_cnt" *ngFor="let curriculum of search_result">
          <span (click)="navigateTo(curriculum[0].cur_id+'/'+curriculum[0].level_id+'/'+curriculum[0].cur_pk_id)">{{
            curriculum[0].content_title}}</span>
          <span class="lk_bdg">{{curriculum[0].curriculumn_name}}</span>
        </div>
      </div>
      <div class="hgt_5"></div>
    </div>
    <div *ngIf="!result_cond">
      <div *ngFor="let curriculum of search_result | keyvalue">
        <div *ngIf="curriculum.key!='competencies'">
          <div class="gs_rslts">
            <div class="gs_rs_hd">{{curriculum.key.toString().split("-")[1]}}</div>
            <div class="gs_rs_cnt" *ngFor="let data of curriculum.value | keyvalue">
              <span
                (click)="navigateTo(data.value.curriculumn_id+'/'+data.value.level_id+'/'+data.value.pk_id)">{{data.value.level_name}}</span><span
                class="lk_bdg">{{data.value.curriculumn_name}}</span>
            </div>
          </div>
          <div class="hgt_5"></div>
        </div>
        <div *ngIf="curriculum.key=='competencies'">
          <div class="gs_rslts" *ngIf="curriculum.value.length>0">
            <div class="gs_rs_hd">Competencies</div>
            <div class="gs_rs_cnt" *ngFor="let competencies of curriculum.value">
              <span matBadge="{{competencies[0].curriculumn_name}}"
                (click)="navigateTo(competencies[0].cur_id+'/'+competencies[0].level_id+'/'+competencies[0].cur_pk_id)">{{competencies[0].content_title}}</span>
            </div>
          </div>
          <div class="hgt_5"></div>
        </div>
      </div>
    </div>
  </div>
</div>