.mat-expansion-panel{
    margin-bottom: 10px;
}
.mat-expansion-panel-header{
    background-color: #e6e6e6 !important;
    &:hover{
            background-color: #e6e6e6 !important;
    }
    &.mat-expanded{
            background-color: #e6e6e6 !important;
        &:hover{
            background-color: #e6e6e6 !important;
        }
    }
}