<app-topbar></app-topbar>
<app-sidemenu></app-sidemenu>

<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Student Dashboard</strong></div>
    <div class="pg_ttl">Student Dashboard</div>

    <!-- Profile fields -->
    <div class="grd_2c">
        <div>
            <span>First name</span>
            <span>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="First name">
                </mat-form-field>
            </span>
            <span>Last name</span>
            <span>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Last name">
                </mat-form-field>
            </span>
            <span>Mobile</span>
            <span>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Mobile">
                </mat-form-field>
            </span>
            <span>Email</span>
            <span>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Email Address">
                </mat-form-field>
            </span>
            <span>Country</span>
            <span>
                <mat-form-field appearance="outline" color="accent" disableOptionCentering>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </span>
            <span>State</span>
            <span>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
              </mat-form-field>
            </span>
            <span>City</span>
            <span>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </span>
            <span>Address line 1</span>
            <span>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="First name">
                </mat-form-field>
            </span>
            <span><Address> line 2</Address></span>
            <span>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="First name">
                </mat-form-field>
            </span>
        </div>
        <div></div>
    </div>
</div>