/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@media print {
    html, body {
       display: none;  /* hide whole page */
    }
}
body{padding: 0; margin: 0;}
html, body { height: 100%; }
body { margin: 0; font-family:latofont;}

@font-face {
	font-family: latofont;
	src: url(assets/Lato/Lato-Regular.ttf);
}
.login_main {
	background-image: url(assets/images/login_bg.png);
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
}
.log_mdl_cont {
	position: absolute;
	margin: auto;
	top: 10%;
	min-height: 350px;
	width: 800px;
	left: 20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.logo_img {
	border-right: 1px solid #0594b4;
	float: left;
	align-items: center;
	display: flex;
	width: 40%;
	justify-content: center;
	height: 350px;
}
.logo_img img {
	width: 200px;
}
.clr_grn {
	color: #385e3b;
}
.fnt_nrml {
	font-weight: normal;
}
.log_div {
	width: 50%;
	position: relative;
	z-index: 98;
}
.text_center {
	text-align: center;
}
.sgn_sec {
	width: 100%;
	background-color: #000000a1;
	border-radius: 16px;
	color: #fff;
	padding: 40px 25px;
	box-sizing: border-box;
}
.sgn_sec:hover {
	box-shadow: 0 5px 2px -1px #bfbfbf;
}
.sgn_sec input:hover, .teal_btn:hover {
	box-shadow: 0 5px 2px -1px #383838;
}
.sgn_sec p {
	text-align: left;
	margin: 0;
}
.sgn_hd {
	font-size: 28px;
}
.sgn_hint {
	font-size: 12px;
}
.sgn_sec input {
	width: 100%;
	height: 50px;
	background-color: #fff;
	margin: 12px 0 0px 0;
	padding: 5px 40px 5px 15px;
	outline: none;
	border: 0;
	box-sizing: border-box;
	font-size: 16px;
}
.teal_btn {
	padding: 12px 40px;
	border: 0;
	outline: none;
	margin-top: 15px;
	background-color: #0594b4;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
}
.mail {
	background-image: url(assets/images/mail.svg);
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 24px;
}
.psswrd {
	background-repeat: no-repeat;
	background-image: url(assets/images/key.svg);
	background-position: right 10px center;
	background-size: 24px;
}
.frgt_sec {
	color: #0594b4;
	width: 100%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}
.footer {
	text-align: center;
	position: absolute;
	bottom: 30px;
	width: 100%;
}
.footer span {
	position: absolute;
	right: 10px;
}
a {
	text-decoration: none;
	color: #0594b4;
	outline: none;
}
.scl_lgns {
	position: absolute;
	right: -195px;
}
.scl_lgns div {
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 15px;
	line-height: 40px;
}
.scl_lgns div:hover {
	box-shadow: 0 5px 2px -1px #bfbfbf;
	cursor: pointer;
}
.sgn_fb {
	background-color: #385591;
	color: #fff;
}
.sgn_fb img {
	width: 20px;
	float: left;
	height: 40px;
	margin-right: 8px;
}
.scl_lgns .sgn_gg {
	background-color: #4285f4;
	color: #fff;
	padding-left: 14px;
}
.sgn_gg img {
	width: 24px;
	float: left;
	height: 24px;
	background-color: #fff;
	margin-top: 8px;
	padding: 5px;
	box-sizing: border-box;
	margin-right: 5px;
	border-radius: 4px;
}
.sgn_ap img {
	width: 20px;
	float: left;
	height: 40px;
	margin-right: 8px;
}
.sgn_ap {
	background-color: #000;
	color: #fff;
}