<div class="mn_dshbrd">
    <div class="pg_ttl">Create Partner</div>
    <hr />
    <div class="intr_vd_tml crt_prtnr">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Basic details
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <div class="crt_pr_mn">
                <div class="crt_pr_dv">
                     <div class="crt_prt_hd">Parnter Type</div>
                    <div class="crt_prt_cnt">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">University</mat-radio-button>
                            <mat-radio-button value="2">College</mat-radio-button>
                            <mat-radio-button value="3">Institute</mat-radio-button>
                          </mat-radio-group>
                    </div>
                </div>
                <div class="crt_pr_dv">
                    &nbsp;
                </div>
                <div class="crt_pr_dv">
                    &nbsp;
                </div>
                <div class="crt_pr_dv">
                    &nbsp;
                </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Branding info
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                Branding info
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Licence info
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                Licence info
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Billing address & Correspondence address
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                Billing address & Correspondence address
            </div>
          </mat-expansion-panel>
          
        </mat-accordion>
      </div>
</div>