<div class="mn_dshbrd">
    <div class="pg_ttl">Create Partner</div>
    <hr />
    <div class="intr_vd_tml crt_prtnr dsh_brd_crds">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Basic details
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                <div class="crt_pr_mn">
                    <div class="crt_pr_dv">
                        <div class="crt_prt_hd">Parnter Type</div>
                        <div class="crt_prt_cnt">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">University</mat-radio-button>
                                <mat-radio-button value="2">College</mat-radio-button>
                                <mat-radio-button value="3">Institute</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="crt_pr_dv">
                        &nbsp;
                    </div>
                    <div class="crt_pr_dv">
                        <div class="crt_prt_hd">Parnter Name</div>
                        <div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput matInput placeholder="Parnter Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="crt_pr_dv">
                        <div class="crt_prt_hd">Email address</div>
                        <div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput matInput placeholder="Parnter Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="crt_pr_dv">
                        <div class="crt_prt_hd">Contact name</div>
                        <div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput matInput placeholder="Parnter Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="crt_pr_dv">
                        <div class="crt_prt_hd">Password</div>
                        <div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput matInput placeholder="Parnter Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="crt_pr_dv">
                        <div class="crt_prt_hd">Contact phone</div>
                        <div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput matInput placeholder="Parnter Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="crt_pr_dv">
                        <div class="crt_prt_hd">Confirm password</div>
                        <div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput matInput placeholder="Parnter Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="crt_pr_dv">
                        <div class="crt_prt_hd">GSTIN number</div>
                        <div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput matInput placeholder="Parnter Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="clear_fix"></div>
                    <div class="text_right float_right w_100p">
                        <button mat-raised-button class="no_bxsdw gry_btn mr_1">Back</button>
                        <button mat-raised-button class="no_bxsdw" color="accent">Next</button>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Branding info
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                <div class="crt_pr_mn">
                    <div class="crt_pr_dv">
                        <div class="brnd_info_mn">
                            <div class="crt_prt_hd">Parnter Header Logo</div>
                            <div class="brnd_info_upld">
                                <mat-form-field appearance="outline" class="w_80p">
                                    <input matInput matInput placeholder="Parnter Name" />
                                </mat-form-field>
                                <button mat-raised-button class="no_bxsdw w_19p mt_3px" color="accent">Browse</button>
                            </div>
                        </div>
                        <div class="brnd_info_mn">
                            <div class="crt_prt_hd">Footer Logo</div>
                            <div class="brnd_info_upld">
                                <mat-form-field appearance="outline" class="w_80p">
                                    <input matInput matInput placeholder="Parnter Name" />
                                </mat-form-field>
                                <button mat-raised-button class="no_bxsdw w_19p mt_3px" color="accent">Browse</button>
                            </div>
                        </div>
                    </div>
                    <div class="crt_pr_dv">
                        <div class="crt_prt_hd">Description</div>
                        <mat-form-field appearance="outline" class="w_100p">
                            <textarea matInput class="crt_prt_txt"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="clear_fix"></div>
                    <div class="text_right float_right w_100p">
                        <button mat-raised-button class="no_bxsdw gry_btn mr_1">Back</button>
                        <button mat-raised-button class="no_bxsdw" color="accent">Next</button>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Licence info
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                <div class="crt_pr_mn">
                    <div class="crt_pr_dv">
                        <div class="crt_prt_hd">Choose subscription package</div>
                        <mat-form-field appearance="outline" class="w_100p">
                            <mat-select>
                                <mat-option value="1">one</mat-option>
                                <mat-option>one</mat-option>
                                <mat-option>one</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="clear_fix w_100p"></div>
                    <div class="crt_pr_dv d-flex jc_sb">
                        <div class="w_47p">
                            <div class="crt_prt_hd">Licence start date</div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="w_47p">
                            <div class="crt_prt_hd">Licence end date</div>
                            <mat-form-field appearance="outline" class="w_100p">
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="clear_fix"></div>
                    <div class="text_right float_right w_100p">
                        <button mat-raised-button class="no_bxsdw gry_btn mr_1">Back</button>
                        <button mat-raised-button class="no_bxsdw" color="accent">Next</button>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Billing address &amp; Correspondence address
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                <div class="crt_pr_mn">
                    <div class="text_right w_100p"><mat-checkbox>Same as Billing Address</mat-checkbox></div>
                    <div class="clear_fix w_100p"></div>
                    <div class="crt_pr_dv">
                        <div class="crt_pr_sbhd" >Billing address</div>
                        <div class="hgt_10"></div>
                        <div class="brnd_info_mn">
                            <div class="crt_prt_hd">Address line 1</div>
                            <div class="brnd_info_upld">
                                <mat-form-field appearance="outline" class="w_100p">
                                    <input matInput matInput placeholder="Address line 1" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="brnd_info_mn">
                            <div class="crt_prt_hd">Address line 2</div>
                            <div class="brnd_info_upld">
                                <mat-form-field appearance="outline" class="w_100p">
                                    <input matInput matInput placeholder="Address line 2" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="brnd_info_mn d-flex jc_sb">
                            <div class="w_47p">
                                <div class="crt_prt_hd">Country</div>
                                <mat-form-field appearance="outline" class="w_100p">
                                    <mat-select>
                                        <mat-option value="1">one</mat-option>
                                        <mat-option>one</mat-option>
                                        <mat-option>one</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w_47p">
                                <div class="crt_prt_hd">State</div>
                                <mat-form-field appearance="outline" class="w_100p">
                                    <mat-select>
                                        <mat-option value="1">one</mat-option>
                                        <mat-option>one</mat-option>
                                        <mat-option>one</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="brnd_info_mn d-flex jc_sb">
                            <div class="w_47p">
                                <div class="crt_prt_hd">City</div>
                                <mat-form-field appearance="outline" class="w_100p">
                                    <mat-select>
                                        <mat-option value="1">one</mat-option>
                                        <mat-option>one</mat-option>
                                        <mat-option>one</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w_47p">
                                <div class="crt_prt_hd">Postcode</div>
                                <mat-form-field appearance="outline" class="w_100p">
                                    <input matInput matInput placeholder="Postcode" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="crt_pr_dv">
                        <div class="crt_pr_sbhd" >Correspondence address</div>
                        <div class="hgt_10"></div>
                        <div class="brnd_info_mn">
                            <div class="crt_prt_hd">Address line 1</div>
                            <div class="brnd_info_upld">
                                <mat-form-field appearance="outline" class="w_100p">
                                    <input matInput matInput placeholder="Address line 1" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="brnd_info_mn">
                            <div class="crt_prt_hd">Address line 2</div>
                            <div class="brnd_info_upld">
                                <mat-form-field appearance="outline" class="w_100p">
                                    <input matInput matInput placeholder="Address line 2" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="brnd_info_mn d-flex jc_sb">
                            <div class="w_47p">
                                <div class="crt_prt_hd">Country</div>
                                <mat-form-field appearance="outline" class="w_100p">
                                    <mat-select>
                                        <mat-option value="1">one</mat-option>
                                        <mat-option>one</mat-option>
                                        <mat-option>one</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w_47p">
                                <div class="crt_prt_hd">State</div>
                                <mat-form-field appearance="outline" class="w_100p">
                                    <mat-select>
                                        <mat-option value="1">one</mat-option>
                                        <mat-option>one</mat-option>
                                        <mat-option>one</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="brnd_info_mn d-flex jc_sb">
                            <div class="w_47p">
                                <div class="crt_prt_hd">City</div>
                                <mat-form-field appearance="outline" class="w_100p">
                                    <mat-select>
                                        <mat-option value="1">one</mat-option>
                                        <mat-option>one</mat-option>
                                        <mat-option>one</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w_47p">
                                <div class="crt_prt_hd">Postcode</div>
                                <mat-form-field appearance="outline" class="w_100p">
                                    <input matInput matInput placeholder="Postcode" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="clear_fix"></div>
                    <div class="text_right float_right w_100p">
                        <button mat-raised-button class="no_bxsdw gry_btn mr_1">Back</button>
                        <button mat-raised-button class="no_bxsdw" color="accent">Finish</button>
                    </div>
                </div>
              
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>