<div class="sd_br" [ngClass]="sidemenuStatus" style="animation-duration:0.2s; transition-property: width;"> 
  <!-- sd_opn || sd_cls -->
  <ul class="sdmn_cntul">
    <li routerLink="/admin/dashboard">
      <div class="sd_mnuhd">
        <mat-icon>dashboard</mat-icon> Dashboard
      </div>
    </li>
    <li
      class="hs_sbmnu {{ menu_active == 1 ? 'active' : '' }}"
      (click)="activeMenu(1)"
    >
      <!-- hs_sbmnu -->
      <div class="sd_mnuhd">
        <mat-icon>manage_accounts</mat-icon> Master Content
      </div>
      <ul class="sdmn_sub">
        <li>
          <mat-icon>manage_accounts</mat-icon> Topic / Subtopic
        </li>
        <li><mat-icon>manage_accounts</mat-icon> Curriculum</li>
        <li><mat-icon>manage_accounts</mat-icon> Asset Library</li>
        <li><mat-icon>manage_accounts</mat-icon> Learning Notes</li>
        <li><mat-icon>manage_accounts</mat-icon> Question Bank</li>
        <li><mat-icon>manage_accounts</mat-icon> Study plan</li>
        <li><mat-icon>manage_accounts</mat-icon> Study material</li>
        <li><mat-icon>manage_accounts</mat-icon> Exam Modes</li>
        <li><mat-icon>manage_accounts</mat-icon> Assessments</li>
        <li>
          <mat-icon>manage_accounts</mat-icon> Content edit Request Received
        </li>
        <li><mat-icon>manage_accounts</mat-icon> Currencies</li>
        <li><mat-icon>manage_accounts</mat-icon> Languages</li>
        <li><mat-icon>manage_accounts</mat-icon> Countries</li>
      </ul>
    </li>
    <li
      class="hs_sbmnu {{ menu_active == 2 ? 'active' : '' }}"
      (click)="activeMenu(2)"
    >
      <div class="sd_mnuhd">
        <mat-icon>account_circle</mat-icon> Client
      </div>
      <ul class="sdmn_sub">
        <li>
          <mat-icon>manage_accounts</mat-icon>Univeristy / College
        </li>
        <li><mat-icon>manage_accounts</mat-icon>Client Role</li>
        <li><mat-icon>manage_accounts</mat-icon>Parnter</li>
        <li>
          <mat-icon>manage_accounts</mat-icon>Student Ambassador
        </li>
      </ul>
    </li>
    <li routerLink="/admin/users" (click)="menu_active = 0">
      <div class="sd_mnuhd">
        <mat-icon>library_books</mat-icon> Proceum User
      </div>
    </li>
    <li
      class="hs_sbmnu {{ menu_active == 3 ? 'active' : '' }}"
      (click)="activeMenu(3)"
    >
      <div class="sd_mnuhd">
        <mat-icon>supervised_user_circle</mat-icon> Subscripiton plans managment
      </div>
      <ul class="sdmn_sub">
        <li>
          <mat-icon>manage_accounts</mat-icon>Create New Subscription plan
        </li>
        <li>
          <mat-icon>manage_accounts</mat-icon>Activate / De-activate
          Subscripiton Plan
        </li>
        <li><mat-icon>manage_accounts</mat-icon>Coupon</li>
        <li><mat-icon>manage_accounts</mat-icon>Discount</li>
      </ul>
    </li>
    <li
      class="hs_sbmnu {{ menu_active == 4 ? 'active' : '' }}"
      (click)="activeMenu(4)"
    >
      <div class="sd_mnuhd">
        <mat-icon>live_help</mat-icon> Finance
      </div>
      <ul class="sdmn_sub">
        <li><mat-icon>manage_accounts</mat-icon>Invoicing</li>
        <li><mat-icon>manage_accounts</mat-icon>Subscription Renewals</li>
        <li><mat-icon>manage_accounts</mat-icon>Payment</li>
      </ul>
    </li>
    <li
      class="hs_sbmnu {{ menu_active == 5 ? 'active' : '' }}"
      (click)="activeMenu(5)"
    >
      <div class="sd_mnuhd"><mat-icon>assessment</mat-icon> Reporting</div>
      <ul class="sdmn_sub">
        <li><mat-icon>manage_accounts</mat-icon>Tabular Reports</li>
        <li>
          <mat-icon>manage_accounts</mat-icon>Graphical Reports / Analytics
        </li>
      </ul>
    </li>
  </ul>
</div>
