<div class="sd_br" [ngClass]="sidemenuStatus">
  <!-- sd_opn || sd_cls -->
  <ul class="sdmn_cntul">
    <li><mat-icon>dashboard</mat-icon> Dashboard</li>
    <li><mat-icon>manage_accounts</mat-icon> Create Roles</li>
    <li><mat-icon>account_circle</mat-icon> User Management</li>
    <li><mat-icon>library_books</mat-icon> Content Management</li>
    <li><mat-icon>supervised_user_circle</mat-icon> Client Management</li>
    <li><mat-icon>live_help</mat-icon> Q-Bank Management</li>
    <li><mat-icon>assessment</mat-icon> Exam Management</li>
    <li><mat-icon>monetization_on</mat-icon> Finance Management</li>
    <li><mat-icon>live_help</mat-icon> Enquiries</li>
    <li><mat-icon>library_books</mat-icon> Upcoming Guest Lectures</li>
  </ul>
</div>
