<div class="sd_br" [ngClass]="sidemenuStatus" (scroll)="scrollHandler($event)">
  <!-- sd_opn || sd_cls -->
  <ul class="sdmn_cntul">
    <li
      (click)="menu_active = 0"
      routerLinkActive="active"
      routerLink="/admin/dashboard"
    >
      <div class="sd_mnuhd"><mat-icon>dashboard</mat-icon> Dashboard</div>
    </li>

    <li
      class="hs_sbmnu {{
        menu_active == 7 ||
        active_route == '/admin/roles-list' ||
        active_route == '/admin/access-matrix'
          ? 'active'
          : ''
      }}"
      routerLinkActive="active"
      (click)="activeMenu(7, menu_active)"
    >
      <div class="sd_mnuhd">
        <mat-icon>manage_accounts</mat-icon> Roles Management
      </div>
      <ul class="sdmn_sub">
        <li routerLinkActive="active" routerLink="/admin/roles-list">
          <mat-icon>manage_accounts</mat-icon> Roles List
        </li>
        <li routerLinkActive="active" routerLink="/admin/access-matrix">
          <mat-icon>manage_accounts</mat-icon> Privilege/Access Matrix
        </li>
      </ul>
    </li>

    <li
      class="hs_sbmnu {{
        menu_active == 1 ||
        active_route == '/admin/students' ||
        active_route == '/admin/login-history'
          ? 'active'
          : ''
      }}"
      routerLinkActive="active"
      (click)="activeMenu(1, menu_active)"
    >
      <div class="sd_mnuhd">
        <mat-icon>manage_accounts</mat-icon> User Management
      </div>
      <ul class="sdmn_sub">
        <li routerLinkActive="active" routerLink="/admin/login-history">
          <mat-icon>assignment</mat-icon> Login History
        </li>
      </ul>
    </li>
    <li
      (click)="menu_active = 0"
      routerLinkActive="active"
      routerLink="/admin/curriculum"
      [ngClass]="{
        active:
          active_route == '/admin/curriculum' ||
          active_route.includes('/admin/curriculum')
      }"
    >
      <div class="sd_mnuhd">
        <mat-icon>auto_awesome_mosaic</mat-icon> Curriculum Management
      </div>
    </li>
    <li
      class="hs_sbmnu {{
        menu_active == 2 || active_route == '/admin/create-content'
          ? 'active'
          : ''
      }}"
      routerLinkActive="active"
      (click)="activeMenu(2, menu_active)"
    >
      <div class="sd_mnuhd"><mat-icon>source</mat-icon> Content Management</div>
      <ul class="sdmn_sub">
        <li routerLinkActive="active" routerLink="/admin/manage-content">
          <mat-icon>notes</mat-icon>Manage Content
        </li>
        <li routerLinkActive="active" routerLink="/admin/create-content">
          <mat-icon>notes</mat-icon>Create Content
        </li>
        <li><mat-icon>speaker_notes</mat-icon>Learning Notes</li>
        <li><mat-icon>description</mat-icon>Teacher Materials</li>
        <li><mat-icon>style</mat-icon>Flash Cards</li>
      </ul>
    </li>
    <!-- <li routerLink="/admin/users" (click)="menu_active = 0">
      <div class="sd_mnuhd">
        <mat-icon>library_books</mat-icon> Proceum User
      </div>
    </li>-->
    <li
      class="hs_sbmnu {{
        menu_active == 3 || active_route.includes('/admin/assets-library')
          ? 'active'
          : ''
      }}"
      (click)="activeMenu(3, menu_active)"
    >
      <div class="sd_mnuhd">
        <mat-icon>corporate_fare</mat-icon> Assets Library
      </div>
      <ul class="sdmn_sub">
        <li routerLinkActive="active" routerLink="/admin/assets-library/videos">
          <mat-icon>play_circle_outline</mat-icon>Videos
        </li>
        <li routerLinkActive="active" routerLink="/admin/assets-library/images">
          <mat-icon>wallpaper</mat-icon>Images
        </li>
        <li
          routerLinkActive="active"
          routerLink="/admin/assets-library/documents"
        >
          <mat-icon>text_snippet</mat-icon>Documents
        </li>
      </ul>
    </li>
    <li routerLinkActive="active" (click)="menu_active = 0">
      <div class="sd_mnuhd"><mat-icon>today</mat-icon> Study Planner</div>
    </li>
    <li routerLinkActive="active" (click)="menu_active = 0">
      <div class="sd_mnuhd"><mat-icon>quiz</mat-icon> Question Bank</div>
    </li>
    <li routerLinkActive="active" (click)="menu_active = 0">
      <div class="sd_mnuhd"><mat-icon>description</mat-icon> Exam Modes</div>
    </li>
    <li routerLinkActive="active" (click)="menu_active = 0">
      <div class="sd_mnuhd"><mat-icon>assignment</mat-icon> Assessments</div>
    </li>
    <li
      routerLinkActive="active"
      class="hs_sbmnu {{
        menu_active == 4 || active_route == '/admin/individuals' ? 'active' : ''
      }}"
      (click)="activeMenu(4, menu_active)"
    >
      <div class="sd_mnuhd">
        <mat-icon>account_balance</mat-icon> Clients / Partners
      </div>
      <ul class="sdmn_sub">
        <li><mat-icon>account_balance</mat-icon> Universities</li>
        <li><mat-icon>school</mat-icon> Colleges</li>
        <li><mat-icon>account_balance</mat-icon> Institutes</li>
        <li routerLinkActive="active" routerLink="/admin/individuals">
          <mat-icon>manage_accounts</mat-icon> Individuals
        </li>
      </ul>
    </li>

    <li>
      <div class="sd_mnuhd">
        <mat-icon>subscriptions</mat-icon> Subscription Plans
      </div>
    </li>
    <li>
      <div class="sd_mnuhd"><mat-icon>summarize</mat-icon> Courses</div>
    </li>
    <li>
      <div class="sd_mnuhd">
        <mat-icon>store</mat-icon> Marketplace & Add-ons
      </div>
    </li>

    <li
      class="hs_sbmnu {{
        menu_active == 5 ||
        active_route == '/admin/promotional-settings' ||
        active_route == '/admin/discount-settings'
          ? 'active'
          : ''
      }}"
      (click)="activeMenu(5, menu_active)"
    >
      <div class="sd_mnuhd">
        <mat-icon>assessment</mat-icon>Coupons/Promotions
      </div>
      <ul class="sdmn_sub">
        <li
          routerLink="/admin/promotional-settings"
          [ngClass]="{ active: active_route == '/admin/promotional-settings' }"
        >
          <mat-icon>qr_code</mat-icon>Coupon Management
        </li>
        <li
          routerLink="/admin/discount-settings"
          [ngClass]="{ active: active_route == '/admin/discount-settings' }"
        >
          <mat-icon>sell</mat-icon>Discounts
        </li>
      </ul>
    </li>

    <li
      class="hs_sbmnu {{
        menu_active == 6 ||
        active_route == '/admin/settings/email-templates' ||
        active_route == '/admin/countries' ||
        active_route == '/admin/settings' ||
        active_route == '/admin/custom-page' ||
        active_route == '/admin/create-custom-page' ||
        active_route == '/admin/edit-custom-page/:id'
          ? 'active'
          : ''
      }}"
      (click)="activeMenu(6, menu_active)"
    >
      <div class="sd_mnuhd"><mat-icon>settings</mat-icon> Settings</div>
      <ul class="sdmn_sub">
        <li
          routerLink="/admin/countries"
          [ngClass]="{
            active: active_route == '/admin/countries'
          }"
        >
          <mat-icon>assistant_photo</mat-icon>Countries-States-Cities
        </li>
        <li
          routerLink="/admin/settings/email-templates"
          [ngClass]="{
            active: active_route == '/admin/settings/email-templates'
          }"
        >
          <mat-icon>email</mat-icon>Email Templates
        </li>
        <li
          routerLink="/admin/settings"
          [ngClass]="{
            active: active_route == '/admin/settings'
          }"
        >
          <mat-icon>phonelink_setup</mat-icon>System Settings
        </li>
        <li
          routerLink="/admin/custom-page"
          [ngClass]="{
            active:
              active_route == '/admin/custom-page' ||
              active_route == '/admin/create-custom-page' ||
              active_route == '/admin/edit-custom-page/:id'
          }"
        >
          <mat-icon>note_add</mat-icon>Custom Pages
        </li>
        <li><mat-icon>cloud_off</mat-icon>Offline</li>
        <li><mat-icon>attach_money</mat-icon>Currencies</li>
      </ul>
    </li>
    <li
      class="hs_sbmnu {{
        menu_active == 8 || active_route == '/admin/newsletter-list'
          ? 'active'
          : ''
      }}"
      (click)="activeMenu(8, menu_active)"
    >
      <div class="sd_mnuhd"><mat-icon>feed</mat-icon> Newsletter</div>
      <ul class="sdmn_sub">
        <li
          routerLink="/admin/newsletter-list"
          [ngClass]="{
            active: active_route == '/admin/newsletter-list'
          }"
        >
          <mat-icon>list</mat-icon>List
        </li>
      </ul>
    </li>
    <li>
      <a
        (click)="menu_active = 0"
        routerLink="/white-board"
        [ngClass]="{
          active: active_route == '/white-board'
        }"
        target="_blank"
      >
        <div class="sd_mnuhd">
          <mat-icon>auto_awesome_mosaic</mat-icon> White Board
        </div>
      </a>
    </li>
  </ul>
</div>
