<div class="indvidual_main">
    <div class="ind_mdl_cont">
      <div class="ind_logo_img">
        <a routerLink="/"> <img src="assets/images/ProceumLogo_w.png" /></a>
      </div>
      <div class="message-box-div">
            <mat-icon>mark_email_read</mat-icon>
            <div class="message-area">
                Congratulations, <br> Your e-mail has been verified successfully!
            </div>
            <div>
                <a routerLink="/login">Click here to login</a>
            </div>
      </div>
    </div>
  </div>
  