<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Create Meeting/Webinar</strong></div>
    <div class="d-flex rsp_fw">
        <div class="pg_ttl">Create Meeting/Webinar</div>
        <div class="spacer"></div>
    </div>
    <hr />
    <div class="dsh_brd_crds">
        <div class="cm_fltr_sc mr_1">
            <span>Schedule For <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                    <mat-option value="0">A Meeting</mat-option>
                    <mat-option value="0">A Webinar</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Subject <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Meeting Topic <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Teacher / Host Name <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Timezone <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Start Time <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker" placeholder="Select Time" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Duration <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                    <mat-option value="0">10 Min</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <hr />
        <div class="cm_fltr_sc mr_1">
            <span>Select Country <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                    <mat-option value="0">India</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Select State <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                    <mat-option value="0">India</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Select City <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                    <mat-option value="0">India</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Select University <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                    <mat-option value="0">India</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Select College <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                    <mat-option value="0">India</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Select Year <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select</mat-option>
                    <mat-option value="0">1</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cm_fltr_sc mr_1">
            <span>Select Semester <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <mat-select value="0">
                    <mat-option value="0">Select Semester</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="clear_fix"></div>
        <div class="cm_fltr_sc ">
            <span>Select Student Group <span class="required">*</span></span>
            <mat-form-field appearance="outline">
                <textarea matInput placeholder="Select Student Group"></textarea>
            </mat-form-field>
        </div>
        <hr />
        <div class="hgt_20"></div>
        <div class="d-flex ai_cntr">
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" class="mr_1">Select All</mat-radio-button>
                    <mat-radio-button value="2">Deselect All</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="spacer"></div>
            <div>
                <span class="mr_1">Selected Students</span>
                <button mat-raised-button color="accent" class="mr_1">
                    <mat-icon>add</mat-icon> Add
                </button>
                <button mat-raised-button color="accent">Deselect All</button>
            </div>
        </div>
        <div class="hgt_20"></div>
        <div class="d-flex zm_swtchusrs">
            <div class="w_49p mr_1p">Left Block</div>
            <div class="w_50p" >Right Block</div>
        </div>
        <div class="hgt_10"></div>
        <div class="d-flex">
            <div class="spacer"></div>
            <button mat-raised-button color="accent">Save</button>
        </div>
    </div>
</div>