<app-topbar></app-topbar>
<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Contact Us</strong></div>
    <div class="pg_ttl">Contact Us</div>
    <div class="">
        <hr>
        <div>Proceum is an umbrella portal encompassing everything related to health under its wings. Proceum has a very
            strong vision to connect an individual to every direct and indirect entity related to health thus making him
            central to the entire healthcare system. Whether that entity is an organization or it is medical education;
            whether it is the research & development or it is a specific service provider; whether it is the direct
            user/customer/patient or it is a product. Proceum is geared to provide the most comprehensive, qualitatively
            superior and useful service at the click of a button to the individual, well-being of whose health, has
            resulted in the birth or establishment of all these services, institutions, organizations, groups, methods
            and processes.<br><br>

            Proceum is a world within a world. A virtual world, where everything and every one of the real world
            entities, related to health, are interconnected through an information gateway. This gateway is not only
            linking, directly and indirectly, all the players in the health sector but is one of the strongest catalyst
            to improve the quality of life substantially. Over a period of time it will not only make everyone benefit
            economically but will steadily fine tune the entire health system and make it quintessentially appealing.
            <br><br>
            Already operational, Proceum will soon revolutionize the way health is perceived, referred, dealt, acted
            upon, used and guided. Proceum is working on to tackle future health related issues today. Its mission is to
            empower each and every individual in this globe in one of the most important aspects of its existence and
            that is having access to good health at affordable price.
            <br><br>
            Proceum is the catalyst that has made an individual the principal character in the healthcare system. Over a
            period of time it will change the way anything related to health will be discussed and acted upon.
            <br><br>
            Health, as defined by World Health Organization (WHO), is a “State of complete physical, mental, and social
            well-being, and not merely the absence of disease or infirmity.” Health is a dynamic condition resulting
            from a body’s constant adjustment and adaptation in response to stresses and changes in the environment for
            maintaining an inner equilibrium called homeostasis.
        </div>
    </div>
</div>
<app-footer></app-footer>