.mn_dshbrd {
    margin: 135px auto 0;
    width: 60%;
    min-height: calc(100vh - 174px);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.contactus-maindiv .right-block{
    padding-left: 30px;
}
.contactus-maindiv .left-block img {
    max-width: 250px;
    margin-bottom: 30px;
}
.contactus-maindiv .left-block {
    width: 50%;
    padding-right: 15px;
    border-right: 1px solid #0F98A6;
}
.contactus-maindiv .right-block{
    width: 50%;
}
.contactus-maindiv {
    display: flex;
    .address {
        color: #737374;
    }
}
.contactus-maindiv .left-block .address span {
    display: flex;
    text-align: left;
    align-items: center;
    line-height: 37px;
}
.contactus-maindiv .left-block .address span mat-icon {
    color: #0F98A6;
    margin-right: 15px;
    line-height: 21px;
}
.form-fields mat-form-field {
    width: 100%;
}
.form-fields .inp_par_dv{width: 100%;}
.left-block .social-icons{
    margin-bottom: 20px;
}
.left-block .social-icons span{
    margin-right: 15px;
}
.left-block .social-icons span img{
    max-width: 40px;
}
textarea.mat-input-element{
    border: 0 none;
}
.address-map iframe{
    width: 100%;
}
.contactus-maindiv .left-block .social-icons span {
    display: inline-block;
}


.name.err_tltp_par,
  .mobile_number.err_tltp_par,
  .mail.err_tltp_par,
  .query.err_tltp_par {
    border: 1px solid maroon;
  }