<div class="cust_mdl_par cust_mdl_50p" [ngClass]="{ cust_mdl_opn: model_status }">
    <div class="cust_mdl_chl">
        <div class="pg_ttl">
            {{"student.my_earnings.social_approval"|translate}}
            <span class="spacer"></span>
            <button mat-icon-button (click)="closeViewModel()">
                &#x2715;
            </button>
        </div>
        <div class="tbbd_bdy">
            <div class="hgt_20"></div>
            <div class="img_prp_dets" style="width: 100%;">
                <ul>
                    <li>
                        <span class="img_info_hd">{{"student.my_earnings.uploaded_from"|translate}}</span>
                        <span class="img_info_dets">{{view_platform}}</span>
                    </li>
                    <li>
                        <span class="img_info_hd">{{"student.my_earnings.uploaded_date"|translate}}</span>
                        <span class="img_info_dets">{{view_uploaded_date}}</span>
                    </li>
                    <li *ngIf="view_uploaded_url != null">
                        <span class="img_info_hd">{{"student.my_earnings.uploaded_url"|translate}}</span>
                        <span class="img_info_dets shr_url">
                            <a href="{{view_uploaded_url}}" target="_blank">{{view_uploaded_url}}</a>
                        </span>
                    </li>
                </ul>
            </div>
            <hr />
            <div class="img_prp" style="width: 100%;">
                <img *ngFor="let image of view_attachments; let i = index" src="{{image}}" class="tmb_img" />
            </div>

            <div class="img_prp_btns">
                <div>
                    <button mat-raised-button class="float_right mr_1 gry_btn" (click)="closeViewModel()">
                        {{"close"|translate}}
                    </button>
                </div>
            </div>
            <div class="hgt_20"></div>
        </div>
    </div>
</div>
<div class="dsh_brd_crds">
    <div class="w_100p d-flex">
        <div class="spacer"></div>
        <div>
            <button mat-raised-button color="accent" routerLink="/student/upload-details">{{"student.my_earnings.create_new"|translate}}</button>
        </div>
    </div>
    <div class="rsp_tbl">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> {{"s_no_text"|translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.s_no}} </td>
            </ng-container>
            <ng-container matColumnDef="platform">
                <th mat-header-cell *matHeaderCellDef class="text_center"> {{"student.my_earnings.platform"|translate}} </th>
                <td mat-cell *matCellDef="let element" class="text_center">
                    <img *ngIf="element.platform == 'Facebook'" src="../../../../assets/images/facebook.svg"
                        matTooltip="{{element.platform}}" class="scl_img" />
                    <img *ngIf="element.platform == 'Twitter'" src="../../../../assets/images/twitter.svg"
                        matTooltip="{{element.platform}}" class="scl_img" />
                    <img *ngIf="element.platform == 'Instagram'" src="../../../../assets/images/instagram.svg"
                        matTooltip="{{element.platform}}" class="scl_img" />
                    <img *ngIf="element.platform == 'Whatsapp'" src="../../../../assets/images/whatsapp.svg"
                        matTooltip="{{element.platform}}" class="scl_img" />
                    <img *ngIf="element.platform == 'Linkedin'" src="../../../../assets/images/linkedin.svg"
                        matTooltip="{{element.platform}}" class="scl_img" />
                </td>
            </ng-container>
            <ng-container matColumnDef="datetime">
                <th mat-header-cell *matHeaderCellDef> {{"student.my_earnings.date_time"|translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.published_date}} </td>
            </ng-container>
            <ng-container matColumnDef="earned">
                <th mat-header-cell *matHeaderCellDef> {{"student.my_earnings.credits_earned"|translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="element.approval_status == 1" mat-icon-button color="accent">
                        <mat-icon>done</mat-icon>
                    </button>
                    <button *ngIf="element.approval_status != 1" mat-icon-button class="mat-warn">
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="consumed">
                <th mat-header-cell *matHeaderCellDef> {{"student.my_earnings.credits_consumed"|translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="element.credits_consumed == 1" mat-icon-button color="accent">
                        <mat-icon>done</mat-icon>
                    </button>
                    <button *ngIf="element.credits_consumed != 1" mat-icon-button class="mat-warn">
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> {{"actions_text"|translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf='element.approval_status == 0' mat-icon-button color="accent" matTooltip='{{"edit_text"|translate}}'
                        routerLink="/student/upload-details/{{element.id}}">
                        <mat-icon>edit_notes</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="openViewModel(element)" matTooltip='{{"view_text"|translate}}'>
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button *ngIf='element.approval_status == 0' mwlConfirmationPopover [popoverTitle]="'are_you_sure_text'|translate"
                        [popoverMessage]="'are_you_sure_to_delete_text'|translate" placement="auto"
                        (confirm)="deleteRecord(element.id)" confirmButtonType="danger"
                        cancelButtonType="outline-secondary" mat-icon-button color="warn" matTooltip='{{"delete_text"|translate}}'>
                        <mat-icon>delete</mat-icon>
                    </button>

                </td>
            </ng-container>
            <ng-container matColumnDef="aproval_status">
                <th mat-header-cell *matHeaderCellDef class="text_center"> {{"student.my_earnings.approval_status"|translate}} </th>
                <td mat-cell *matCellDef="let element" class="cm_sts_info text_center">
                    <span *ngIf='element.approval_status == 0' matTooltip="{{'student.my_earnings.current_status_is'|translate}} {{'student.my_earnings.pending'|translate}}"
                        class="rw_pndg">{{'student.my_earnings.pending'|translate}}</span>
                    <span *ngIf='element.approval_status == 1' matTooltip="{{'student.my_earnings.current_status_is'|translate}} {{'student.my_earnings.approved'|translate}}"
                        class="apprvd">{{'student.my_earnings.approved'|translate}}</span>
                    <span *ngIf='element.approval_status == 2' matTooltip="{{'student.my_earnings.current_status_is'|translate}} {{'student.my_earnings.declined'|translate}}"
                        class="dclnd">{{'student.my_earnings.declined'|translate}}</span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row no_rcrds_fd" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    {{"no_records_found_text"|translate}}
                </td>
            </tr>
        </table>
    </div>
</div>