.example-tree-invisible {
    display: none;
  }
  
  .sc_tre ul,
  .sc_tre li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .sc_tre ul{
    padding-left: 10px;
  }
  .pg_ttl {
    justify-content: space-between;
}
.totalEarnings{
  font-size: 16px;
}
.totalEarnings span{
  background: #41ab3c;
  padding: 2px 6px;
  border-radius: 50px;
  letter-spacing: 0;
  color: #FFF;
  font-size: 14px;
  display: inline-block;
  width: 15px;
  text-align: center;
}
.totalEarnings {
  background: #FFF;
  padding: 5px 0px 5px 15px;
  border-radius: 18px;
  font-size: 14px !important;
}