.profile_pic {
    width: 80%;
    overflow: hidden;
    border: 5px solid #0F98A6;
    display: flex;
    margin: auto;
    border-radius: 6px;
}
.sdmu_ppdv{
    display: flex;
}
.na_lbl{
    position: relative;
    &:after{
        content: "...";
        position: absolute;
        top: 14px;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 10px;
        letter-spacing: 8px;
        font-size: 16px;
    }
}