<div class="mn_dshbrd">
  <div class="brd_crm">
    Proceum &raquo; Settings &raquo; <strong>Email Templates</strong>
  </div>
  <div class="d-flex">
    <div class="pg_ttl">Email Templates</div>
    <div class="spacer"></div>
    <div>
      <button mat-raised-button color="accent" (click)="manageTemplate(0)" type="button">
        <mat-icon>add</mat-icon> New Template
      </button>
    </div>
  </div>
  <hr />
  <div class="dsh_brd_crds">
    <mat-form-field appearance="outline" class="xl_srch">
      <input trim="blur" matInput [(ngModel)]="search_text" (keyup)="$event.keyCode == 13 ? doFilter() : ''"
        placeholder="Search" />
      <mat-icon matSuffix (click)="doFilter()">search</mat-icon>
    </mat-form-field>


    <div class="rsp_tbl">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let element">
            {{ element.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
          <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status == 1 ? "Active" : "Inactive" }}
        </td>
      </ng-container> -->

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Created Date</th>
          <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef>Updated Date</th>
          <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="manageTemplate(element.id)" matTooltip="Click to edit">
              <mat-icon>edit_notes</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row no_rcrds_fd" *matNoDataRow>
          <td style="text-align: center; margin: 20px" class="mat-cell" [attr.colspan]="displayedColumns.length">
            No Records Found
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="getServerData($event)">
    </mat-paginator>
  </div>
</div>