<app-admin-topbar></app-admin-topbar>
<app-sidebar></app-sidebar>
<div class="mn_dshbrd">
  <div class="brd_crm">Proceum &raquo; <strong>Discount Settings</strong></div>
  <div class="pg_ttl">Discount Settings</div>
  <div class="hgt_20"></div>
  <div class="cust_mdl_par cust_mdl_50p" [ngClass]="{ cust_mdl_opn: model_status }">
    <div class="cust_mdl_chl">
      <div class="pg_ttl">
        Discount Create
        <span class="spacer"></span>
        <button type="button" mat-icon-button (click)="toggleModel()">
          &#x2715;
        </button>
      </div>
      <form id="discount_form" #discount_form="ngForm" name="discount_form"
        (ngSubmit)="discount_form.valid && createDiscount()" novalidate>
        <div class="tbbd_bdy">
          <div class="grd_2c no_bxsdw">
            <div class="hgt_20"></div>
            <div class="frm_dvs">
              <span>Title</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <input required name="title_name" [(ngModel)]="title" matInput placeholder="Title"
                      #title_name="ngModel" />
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (discount_form.submitted || title_name.touched) &&
                      title_name.invalid
                    ">Title is required</span>
                </span>
              </span>
            </div>
            <div class="frm_dvs">
              <span>Country</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Country" name="country" #country="ngModel" [(ngModel)]="country_id"
                      required>
                      <mat-option *ngFor="let country of countrys" [value]="country['pk_id']">{{ country["country_name"]
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span *ngIf="
                      (discount_form.submitted || country.touched) &&
                      country.invalid
                    " class="prc_tltp">Country is required</span>
                </span></span>
            </div>
            <div class="frm_dvs">
              <span>State</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select State" #state_name="ngModel" name="state_name" [(ngModel)]="state"
                      required>
                      <mat-option value="1">India</mat-option>
                      <mat-option value="2">Khjakistan</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (discount_form.submitted || state_name.touched) &&
                      state_name.invalid
                    ">State is required</span>
                </span></span>
            </div>
            <div class="frm_dvs">
              <span>University</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select University" name="university_name" #university_name="ngModel"
                      [(ngModel)]="university" required>
                      <mat-option value="1">India</mat-option>
                      <mat-option value="2">Khjakistan</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (discount_form.submitted || university_name.touched) &&
                      university_name.invalid
                    ">University is required</span>
                </span></span>
            </div>
            <div class="frm_dvs">
              <span>College</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select College" name="college_name" #college_name="ngModel"
                      [(ngModel)]="college" required>
                      <mat-option value="1">India</mat-option>
                      <mat-option value="2">Khjakistan</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (discount_form.submitted || college_name.touched) &&
                      college_name.invalid
                    ">College is required</span>
                </span></span>
            </div>
            <div class="frm_dvs">
              <span>Discount Percent</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <input required name="discount_percente_name" #discount_percente_name="ngModel"
                      [(ngModel)]="discount_percente" matInput placeholder="Discount Percente" />
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (discount_form.submitted ||
                        discount_percente_name.touched) &&
                      discount_percente_name.invalid
                    ">Discount Percent is required</span>
                </span>
              </span>
            </div>
            <div class="frm_dvs">
              <span>Course</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Course" name="course_name" #course_name="ngModel"
                      [(ngModel)]="course" required>
                      <mat-option value="1">India</mat-option>
                      <mat-option value="2">Khjakistan</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (discount_form.submitted || course_name.touched) &&
                      course_name.invalid
                    ">Course is required</span>
                </span></span>
            </div>
            <div class="frm_dvs">
              <span>Valid From Date</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline" class="cal_wdth" color="accent">
                    <input placeholder="Select From Date" required name="valid_from_name" #valid_from_name="ngModel"
                      [(ngModel)]="valid_from" matInput [matDatepicker]="picker" autocomplete="off" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (discount_form.submitted || valid_from_name.touched) &&
                      valid_from_name.invalid
                    ">From Date is required</span>
                </span>
              </span>
            </div>
            <div class="frm_dvs">
              <span>Valid To Date</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline" class="cal_wdth" color="accent">
                    <input placeholder="Select To Date" required name="valid_to_name" #valid_to_name="ngModel"
                      [(ngModel)]="valid_to" matInput [matDatepicker]="picker2" autocomplete="off" />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (discount_form.submitted || valid_to_name.touched) &&
                      valid_to_name.invalid
                    ">To Date is required</span>
                </span>
              </span>
            </div>
          </div>
        </div>
        <hr />
        <button mat-raised-button color="accent" class="float_right mr_1">
          Submit
        </button>
      </form>
      <div class="clear_fix"></div>
    </div>
  </div>

  <div class="dsh_brd_crds">
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="search_box" (keyup)="doFilter($event.target.value)" placeholder="Search" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="accent" class="float_right" (click)="toggleModel()" type="button">
      New Discount
    </button>
    <div class="rsp_tbl">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>No.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.s_no }}
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
            Title
          </th>
          <td mat-cell *matCellDef="let element">
            <span>{{ element.title }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="university">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
            University
          </th>
          <td mat-cell *matCellDef="let element">
            <span>{{ element.university_name }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="college">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
            Collage
          </th>
          <td mat-cell *matCellDef="let element">
            <span>{{ element.college_name }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
            Course
          </th>
          <td mat-cell *matCellDef="let element">
            <span>{{ element.course }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef cdkDrag>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.status == 1 ? "Active" : "In Activated" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef cdkDrag>Created Date</th>
          <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef cdkDrag>Updated Date</th>
          <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editDiscount(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button title="{{
                element.status == 1
                  ? 'Click to deactivate'
                  : 'Click to activate'
              }}" mat-icon-button mwlConfirmationPopover [popoverTitle]="'Are you sure?'" [popoverMessage]="
                'are you sure to change status of <b>' +
                element.title +
                '</b> Discount'
              " placement="top" (confirm)="deleteDiscount(element.pk_id, element.status)" confirmButtonType="danger"
              cancelButtonType="outline-secondary">
              <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
              <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td style="text-align: center; margin: 20px" class="mat-cell" colspan="9">
            No Records Found
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="getServerData($event)"></mat-paginator>
  </div>
</div>
<div class="cust_mdl_par cust_mdl_50p" [ngClass]="{ cust_mdl_opn: edit_model_status }">
  <div class="cust_mdl_chl">
    <div class="pg_ttl">
      Discount Edit
      <span class="spacer"></span>
      <button type="button" mat-icon-button (click)="edit_model_status = !edit_model_status">
        &#x2715;
      </button>
    </div>
    <div class="tbbd_bdy">
      <form id="edit_discount_form" #edit_discount_form="ngForm" name="edit_discount_form"
        (ngSubmit)="edit_discount_form.valid && updateDiscount()" novalidate>
        <div class="tbbd_bdy">
          <div class="grd_2c no_bxsdw">
            <div class="hgt_20"></div>
            <div class="frm_dvs">
              <span>Title</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <input required name="title_name_edit" [(ngModel)]="title" matInput placeholder="Title"
                      #title_name_edit="ngModel" />
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (edit_discount_form.submitted ||
                        title_name_edit.touched) &&
                      title_name_edit.invalid
                    ">Title is required</span>
                </span>
              </span>
            </div>
            <div class="frm_dvs">
              <span>Country</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Country" name="country_edit" #country_edit="ngModel"
                      [(ngModel)]="country_id" required>
                      <mat-option *ngFor="let country of countrys" [value]="country['pk_id']">{{ country["country_name"]
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span *ngIf="
                      (edit_discount_form.submitted || country_edit.touched) &&
                      country_edit.invalid
                    " class="prc_tltp">Country is required</span>
                </span></span>
            </div>
            <div class="frm_dvs">
              <span>State</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select State" #state_name_edit="ngModel" name="state_name_edit"
                      [(ngModel)]="state" required>
                      <mat-option value="1">India</mat-option>
                      <mat-option value="2">Khjakistan</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (edit_discount_form.submitted ||
                        state_name_edit.touched) &&
                      state_name_edit.invalid
                    ">State is required</span>
                </span></span>
            </div>
            <div class="frm_dvs">
              <span>University</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select University" name="university_name_edit"
                      #university_name_edit="ngModel" [(ngModel)]="university" required>
                      <mat-option value="1">India</mat-option>
                      <mat-option value="2">Khjakistan</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (edit_discount_form.submitted ||
                        university_name_edit.touched) &&
                      university_name_edit.invalid
                    ">University is required</span>
                </span></span>
            </div>
            <div class="frm_dvs">
              <span>College</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select College" name="college_name_edit" #college_name_edit="ngModel"
                      [(ngModel)]="college" required>
                      <mat-option value="1">India</mat-option>
                      <mat-option value="2">Khjakistan</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (edit_discount_form.submitted ||
                        college_name_edit.touched) &&
                      college_name_edit.invalid
                    ">College is required</span>
                </span></span>
            </div>
            <div class="frm_dvs">
              <span>Discount Percent</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <input required name="discount_percente_name_edit" #discount_percente_name_edit="ngModel"
                      [(ngModel)]="discount_percente" matInput placeholder="Discount Percente" />
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (edit_discount_form.submitted ||
                        discount_percente_name_edit.touched) &&
                      discount_percente_name_edit.invalid
                    ">Discount Percent is required</span>
                </span>
              </span>
            </div>
            <div class="frm_dvs">
              <span>Course</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Course" name="course_name_edit" #course_name_edit="ngModel"
                      [(ngModel)]="course" required>
                      <mat-option value="1">India</mat-option>
                      <mat-option value="2">Khjakistan</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (edit_discount_form.submitted ||
                        course_name_edit.touched) &&
                      course_name_edit.invalid
                    ">Course is required</span>
                </span></span>
            </div>
            <div class="frm_dvs">
              <span>Valid From Date</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline" class="cal_wdth" color="accent">
                    <input placeholder="Select From Date" required name="valid_from_name_edit"
                      #valid_from_name_edit="ngModel" [(ngModel)]="valid_from" matInput [matDatepicker]="picker3"
                      autocomplete="off" />
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (edit_discount_form.submitted ||
                        valid_from_name_edit.touched) &&
                      valid_from_name_edit.invalid
                    ">From Date is required</span>
                </span>
              </span>
            </div>
            <div class="frm_dvs">
              <span>Valid To Date</span>
              <span>
                <span class="err_tltp_par">
                  <mat-form-field appearance="outline" class="cal_wdth" color="accent">
                    <input placeholder="Select To Date" required name="valid_to_name_edit" #valid_to_name_edit="ngModel"
                      [(ngModel)]="valid_to" matInput [matDatepicker]="picker4" autocomplete="off" />
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                  <span class="prc_tltp" *ngIf="
                      (edit_discount_form.submitted ||
                        valid_to_name_edit.touched) &&
                      valid_to_name_edit.invalid
                    ">To Date is required</span>
                </span>
              </span>
            </div>
          </div>
        </div>
        <hr />
        <button mat-raised-button color="accent" class="float_right mr_1">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>