<div class="mn_dshbrd">
    <div class="cust_mdl_par {{show_details_modal?'cust_mdl_opn':'cust_mdl_cls'}}">
        <div class="cust_mdl_chl w_50p">
            <div class="tbbd_bdy dsh_brd_crds p_0">
                <div class="days_mn pp_dysmn">
                    <div class="dys_dv w_100p hvr_bg_wht">
                        <div class="dys_hd">
                            <div class="dys_hd_txt">Test Report for Day </div>
                            <div class="dys_cnt">{{day}}</div>
                            <div class="spacer"></div>
                            <div>
                                <button (click)="hideDetails()" mat-icon-button class="float_right">
                                    &#x2715;
                                </button>
                            </div>
                        </div>
                        <div class="pp_dys_bdy">
                            <div class="dys_tsks_dv">
                                <!-- <div class="tsk_hd">{{selected_course['curriculumn_name']}}</div> -->
                                <div class="hgt_20"></div>
                                <div class="sbmtd_ans_dv">
                                    <div><span>Total Questions:</span><span class="spacer"></span> <span class="dys_cnt">{{questions_list.length}}</span></div>
                                    <div><span>Correct Answers:</span> <span class="spacer"></span><span class="dys_cnt">{{correct_answers}}</span></div>
                                    <div><span>Wrong Answers:</span><span class="spacer"></span> <span class="dys_cnt wrng_ans">{{wrong_answers}}</span></div>
                                    <div *ngIf="not_answered>0"><span>Not Answered:</span> <span class="spacer"></span><span class="dys_cnt nt_ans">{{not_answered}}</span></div>
                                    <div *ngIf="free_text_qs>0"><span>Free Type Text Questions:</span> <span class="spacer"></span><span class="dys_cnt"> {{free_text_qs}}</span></div>
                                </div>
                                <div class="hgt_20"></div>
                                <div class="d-flex jc_cnt">
                                    <button mat-raised-button class="gry_btn mr_1" (click)="hideDetails()">Close</button>
                                    <button mat-raised-button color="accent" (click)="reviewQuestions()" class="mr_1 skp_btn">Show Answers</button>
                                    <button mat-raised-button routerLink="/student/study-planner" color="accent">Go to Study Plan</button>
                                </div>
                                <div class="hgt_20"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hgt_20"></div>
    <div class="sp_mn">
        <div class="brdcrm_br" *ngIf="study_plan.length>0">
            <mat-icon color="accent">home</mat-icon>
            <mat-icon>navigate_next</mat-icon><span routerLink="/student/study-planner">Study Plans</span> <mat-icon>navigate_next</mat-icon> <span routerLink="/student/study-planner/{{study_plan[0]['pk_id']}}">{{study_plan[0]['plan_name']}}</span> <mat-icon>navigate_next</mat-icon> Test Page (Day - {{day}})
        </div>
    </div>
    <div class="hgt_20"></div>
    <div class="tsts_mn {{show_q_numbers == false ?  'tsts_collps' : '' }}" >
        <div class="tsts_qstns_nums">
            <div class="tstsnms_hd_dv">
                <div class="tstsnms_hd">Questions ({{questions_list.length}})</div>
                <div class="spacer"></div>
                <div class="tsts_qst_swch" (click)="show_q_numbers = !show_q_numbers">
                    <mat-icon color="accent">menu_open</mat-icon>
                </div>
            </div>
            <div class="hgt_20"></div>
            <div class="tstsnms_cnt_dv">
                <ul>
                    <!-- <li class="grn">1</li>
                    <li class="rd">2</li>
                    <li class="orng">3</li>
                    <li class="gry">4</li> -->
                    <li *ngFor="let q of questions_list; let question_index=index;"
                        class="{{question_index == active_q_index?'grn':''}} {{(q['answer'].length>0) && (question_index != active_q_index)?'gry':''}}"
                        (click)="getQuestionOptions(question_index)">{{question_index+1}}</li>
                </ul>
            </div>
        </div>
        <div class="tsts_qstns" *ngIf="questions_list.length>0">
            <div class="d-flex w_90p">
                <div class="tstsqst_hd">Question ({{active_q_index+1}}/{{questions_list.length}})</div>
                <div class="spacer"></div>
                <div>
                    <button
                    (click)="checkAnswer();showResult();" *ngIf="is_test_end == false" [disabled]="!allow_end_test && active_question['answer'].length == 0" mat-raised-button 
                    class="skp_btn {{allow_end_test == false && active_question['answer'].length == 0 ? 'gry_btn':''}}">End Test
                </button>
                <button *ngIf="is_test_end == true"
                    (click)="showDetails()" [disabled]="!allow_end_test" mat-raised-button 
                    class="skp_btn {{allow_end_test == false ? 'gry_btn':''}}">View Report
                </button>
                </div>
            </div>
            <div class="hgt_20"></div>
            <div class="tstsqst_qst">
                <span [innerHTML]="active_question['question']"></span>
                <div class="tstsqst_img"
                    *ngIf='[10,11,12].includes(active_question["q_type"]) && active_question["q_source_value"]'>
                    <img [src]="bucket_url+active_question['q_source_value']" alt="">
                </div>
                <div class="tstsqst_img"
                    *ngIf='[4,5,6].includes(active_question["q_type"]) && active_question["q_source_value"]'>
                    <audio controls controlsList="nodownload">
                        <source [src]="bucket_url+active_question['q_source_value']" type="audio/mpeg">
                    </audio>
                </div>
                <div class="tstsqst_img"
                    *ngIf='[7,8,9].includes(active_question["q_type"]) && active_question["q_source_value"]'>

                    <div *ngIf="active_question['q_source'] == 'YOUTUBE'">
                        <iframe
                            [src]='active_question["q_source_value"].replace("/watch?v=","/embed/") | safe: "resourceUrl"'
                            frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div *ngIf="active_question['q_source'] == 'KPOINT'">
                        <iframe [src]='kpoint_iframe_url | safe: "resourceUrl"' allowFullScreen webkitallowFullScreen
                            mozallowFullScreen frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="tstsqst_ans">
                <mat-radio-group class="" *ngIf='[1,3,4,6,7,9,10,12,13].includes(active_question["q_type"])'
                    [(ngModel)]="active_question['answer'][0]">
                    <div *ngFor="let option of active_question['options']">
                        <mat-radio-button [value]="''+option['pk_id']"
                            class="{{active_question['show_answer'] && active_question['s_no'].includes(''+option['pk_id'])?'actvfr_dsc':''}} {{active_question['show_answer'] && !active_question['s_no'].includes(''+option['pk_id'])?'tstwrng_ans':''}}">
                            {{ option["option_text"] }}
                        </mat-radio-button>
                        <div class="tstsopt_img"
                            *ngIf="active_question['q_source'] == 'IMAGE' && option['option_image'] || option['option_image'] != null">
                            <img [src]="bucket_url+option['option_image']" />
                        </div>
                        <div class="rdo_desc"
                            *ngIf="active_question['show_answer'] && option['option_explanation'] != null && option['option_explanation'].trim() != ''">
                            <span [innerHtml]="option['option_explanation']"></span>
                        </div>
                    </div>
                </mat-radio-group>
                <div *ngIf='[2,5,8,11].includes(active_question["q_type"])'>
                    <div *ngFor="let option of active_question['options']; let i_option = index">
                        <mat-checkbox
                            class="{{active_question['show_answer'] && active_question['s_no'].includes(''+option['pk_id'])?'actvfr_dsc':''}} {{active_question['show_answer'] && !active_question['s_no'].includes(''+option['pk_id'])?'tstwrng_ans':''}}"
                            [checked]="active_question['answer'].includes(''+option['pk_id'])"
                            (change)="setAnswer($event,option['pk_id'])">{{ option["option_text"] }}</mat-checkbox>
                        <div class="tstsqst_img">
                            <img *ngIf="active_question['q_source'] == 'IMAGE' && option['option_image'] || option['option_image'] != null"
                                [src]="bucket_url+option['option_image']" />
                        </div>
                        <div class="rdo_desc"
                            *ngIf="active_question['show_answer'] && option['option_explanation'] != null && option['option_explanation'].trim() != ''">
                            <div class="qstn_hds">Explanation</div>
                            <div [innerHtml]="option['option_explanation']"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tstsqst_navs" *ngIf="questions_list.length>0">
                <button mat-raised-button color="accent" [disabled]="active_q_index == 0"
                    (click)="getQuestionOptions(active_q_index-1)">
                    <mat-icon>arrow_left</mat-icon> Prev.
                </button>
                <button mat-raised-button color="accent" [disabled]="active_q_index == (questions_list.length-1)"
                    (click)="getQuestionOptions(active_q_index+1)">Next <mat-icon>arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>