
.div1{
    border: 1px solid black;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: lightblue;
  }
  
  table {
      width: 100%;
    }
    
    th {
      text-align: left;
    }
    th.mat-sort-header-sorted {
      color: black;
    }
   
  .search_buttton {
      border: 0;
      background-color: #0f98a6;
      color: #FFF;     
      cursor: pointer;     
  }

  .cust_mdl_35p .cust_mdl_chl{width: 35%;}