
.div1{
    border: 1px solid black;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: lightblue;
  }
  
  table {
      width: 100%;
    }
    
    th {
      text-align: left;
    }
    th.mat-sort-header-sorted {
      color: black;
    }
  