<app-admin-topbar></app-admin-topbar>
<app-sidebar></app-sidebar>
<div class="mn_dshbrd">
  <div class="brd_crm">
    Proceum &raquo; Settings &raquo; <strong>Newsletters</strong>
  </div>
  <div class="pg_ttl">Newsletters List</div>
  <hr />
  <div class="dsh_brd_crds">
    <div>
      <span class="search"></span>
      <mat-form-field appearance="outline">
        <input matInput  autocomplete="off" (keyup)="$event.keyCode == 13 ?doSearchFilter() : ''" placeholder="Search" [(ngModel)]="search"/>
        <mat-icon matSuffix (click)="doSearchFilter()" class="cursor-pointer">search</mat-icon>
        <!-- <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchData()">
          <mat-icon>close</mat-icon>
        </button> -->
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
      <input matInput  (keyup)="doFilter($event.target.value)" placeholder="Search" />
      <mat-icon matSuffix>search</mat-icon>
  </mat-form-field> -->
    <a [href]="hrefPDF" mat-icon-button color="accent" class="float_right" >
      <mat-icon matTooltip="Download PDF">picture_as_pdf</mat-icon>
    </a>
    <a [href]="hrefEXL" mat-icon-button color="accent" class="float_right" matTooltip="Download EXCEL">
      <mat-icon>description</mat-icon>
    </a>
  </div>
  <div class="rsp_tbl">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>S.No</th>
        <td mat-cell *matCellDef="let index = index">
          {{ page + index + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email_address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>  
        <td mat-cell *matCellDef="let element">{{ element.email_address }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">
          <span matTooltip="Current Status is {{
              element.status == 1 ? 'ACTIVE' : 'IN-ACTIVE'
            }}" class="{{ element.status == 1 ? 'sts_grn' : 'sts_rd' }}">{{ element.status == 1 ? "Active" : "Inactive"
            }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Subscription Date</th>  
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="manageTemplate(element.id)">
            <mat-icon matTooltip="View Details" class="accent">assignment</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="noRecord">
        <td mat-footer-cell *matFooterCellDef>No records found.</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row no_rcrds_fd" *matNoDataRow>
        <td class="mat-cell" colspan="6">
          No Records Found
        </td>
      </tr>
    </table>
  </div>
    <mat-paginator #paginator [pageSize]="pageSize" [length]="num_newsletters" [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true" (page)="getServerData($event)"></mat-paginator>
  </div>
</div>
<app-admin-footer></app-admin-footer>