<div class="mn_dshbrd">
    <div class="brd_crm">
        Proceum &raquo; <strong>White Board Gallery</strong>
    </div>
    <div class="pg_ttl">White Board Gallery</div>
    <hr />
    <div class="dsh_brd_crds wbg_mn">
        <div class="wbg_srch">
            <mat-form-field appearance="outline" class="xl_srch">
                <input matInput placeholder="Search" />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <div class="spacer"></div>
            <button mat-mini-fab class="no_bxsdw mr_1 wbg_actv_btn" matTooltip="List View">
                <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <button mat-mini-fab class="no_bxsdw" matTooltip="Grid View">
                <mat-icon>grid_view</mat-icon>
            </button>
        </div>
        <div class="wbg_cnt wbg_grd_vw">
            <div class="wbg_dv">
                <div class="wbg_hd" matTooltip="Human anatomy classHuman anatomy class">Human anatomy class</div>
                <div class="wbg_img">
                    <img src="../../../assets/images/wbg_img1.png" alt="">
                </div>
                <div class="wbg_ftr">
                    <div>14/06/2021 6:00 PM</div>
                    <div class="spacer"></div>
                    <div>
                        <button mat-mini-fab color="warn" class="no_bxsdw" matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="wbg_dv">
                <div class="wbg_hd" matTooltip="Human anatomy classHuman anatomy class">Human anatomy class</div>
                <div class="wbg_img">
                    <img src="../../../assets/images/wbg_img1.png" alt="">
                </div>
                <div class="wbg_ftr">
                    <div>14/06/2021 6:00 PM</div>
                    <div class="spacer"></div>
                    <div>
                        <button mat-mini-fab color="warn" class="no_bxsdw" matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="wbg_dv">
                <div class="wbg_hd" matTooltip="Human anatomy classHuman anatomy class">Human anatomy class</div>
                <div class="wbg_img">
                    <img src="../../../assets/images/wbg_img1.png" alt="">
                </div>
                <div class="wbg_ftr">
                    <div>14/06/2021 6:00 PM</div>
                    <div class="spacer"></div>
                    <div>
                        <button mat-mini-fab color="warn" class="no_bxsdw" matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="wbg_dv">
                <div class="wbg_hd" matTooltip="Human anatomy classHuman anatomy class">Human anatomy class</div>
                <div class="wbg_img">
                    <img src="../../../assets/images/wbg_img1.png" alt="">
                </div>
                <div class="wbg_ftr">
                    <div>14/06/2021 6:00 PM</div>
                    <div class="spacer"></div>
                    <div>
                        <button mat-mini-fab color="warn" class="no_bxsdw" matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="wbg_dv">
                <div class="wbg_hd" matTooltip="Human anatomy classHuman anatomy class">Human anatomy class</div>
                <div class="wbg_img">
                    <img src="../../../assets/images/wbg_img1.png" alt="">
                </div>
                <div class="wbg_ftr">
                    <div>14/06/2021 6:00 PM</div>
                    <div class="spacer"></div>
                    <div>
                        <button mat-mini-fab color="warn" class="no_bxsdw" matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="wbg_cnt wbg_lst_vw">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> S. No</th>
                  <td mat-cell *matCellDef="let element"> 1 </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Image title </th>
                  <td mat-cell *matCellDef="let element"> Sed non tortor ut diam aliquam aliquam </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Created date </th>
                  <td mat-cell *matCellDef="let element"> 11/05/2021 </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element"> <button mat-icon-button class="mr_1"><mat-icon color="accent">visibility</mat-icon></button><button mat-icon-button class="mr_1"><mat-icon color="warn">remove_circle_outline</mat-icon></button></td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
        
    </div>
</div>