<app-admin-topbar></app-admin-topbar>
<app-sidebar></app-sidebar>

<div class="mn_dshbrd">
  <div class="brd_crm">
    Proceum &raquo; User Management &raquo; <strong>Students</strong>
  </div>
  <div class="pg_ttl">Students</div>
  <hr />
  <div class="dsh_brd_crds">

    <mat-form-field appearance="outline">
      <input matInput (keyup)="$event.keyCode == 13 ?applyFilters() : ''" [(ngModel)]="search_txt" placeholder="Search" />
      <mat-icon matSuffix (click)="applyFilters()">search</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>From Date</mat-label>
      <input matInput [max]="maxDate" [matDatepicker]="from_picker" [(ngModel)]="from_date" (dateChange)="fromdateChabge()" readonly>
      <mat-datepicker-toggle matSuffix [for]="from_picker"></mat-datepicker-toggle>
      <mat-datepicker #from_picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>To Date</mat-label>
      <input matInput [min]="tomindate" [max]="maxDate" [matDatepicker]="to_picker" [(ngModel)]="to_date" (dateChange)="todateChabge()" [disabled]="is_todate" readonly>
      <mat-datepicker-toggle matSuffix [for]="to_picker"></mat-datepicker-toggle>
      <mat-datepicker #to_picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="danger" class="float_right mr_1" (click)="resetFilters()">Reset</button>
    <button mat-raised-button color="accent" class="float_right mr_1" (click)="applyFilters()" [disabled]="is_submit">Submit</button>
    

    <!-- <button mat-raised-button color="accent" class="float_right" (click)="createStucent()" type="button">Create Student</button> -->

    <a href="{{api_url}}export-students/PDF/{{search_txt?search_txt:0}}/{{fromDate?fromDate:0}}/{{toDate?toDate:0}}" mat-icon-button color="accent" class="float_right" matTooltip="Download as PDF" matTooltipPosition="above"><mat-icon>picture_as_pdf</mat-icon></a>
    <a href="{{api_url}}export-students/EXL/{{search_txt?search_txt:0}}/{{fromDate?fromDate:0}}/{{toDate?toDate:0}}" mat-icon-button color="accent" class="float_right" matTooltip="Download as Excel" matTooltipPosition="above"><mat-icon >description</mat-icon></a>
    
      <div class="rsp_tbl">
    <table mat-table (matSortChange)="sortData($event)" class="mat-elevation-z8"  [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>S.No</th>
        <td mat-cell *matCellDef="let element">
          {{ element.s_no }}
        </td>
      </ng-container>
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email ? element.email : '-'  }}</td>
      </ng-container>
      <!-- <ng-container matColumnDef="student_phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container> -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">
          <span matTooltip='Current Status is {{ element.status == 1 ? "ACTIVE" : "IN-ACTIVE"}}' class='{{ element.status == 1 ? "sts_grn" : "sts_rd" }}' >{{ element.status == 1 ? "Active" : "Inactive" }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <!-- <button mat-icon-button (click)="manageTemplate(element.id)">
              <mat-icon>edit</mat-icon>
            </button> -->
            <!-- <button mat-icon-button (click)="changeStatus(element.id)">
              <mat-icon matTooltip='click here to {{ element.status == 1 ? "IN-ACTIVE" : "ACTIVE"}}'>{{ element.status == 1 ? "visibility" : "visibility_off"}}</mat-icon>
            </button> -->

            <button matTooltip="click here to {{element.status == 1 ? 'IN-ACTIVE' : 'ACTIVE'}}" mat-icon-button mwlConfirmationPopover
            [popoverTitle]="'Are you sure?'" [popoverMessage]="'are you sure to change status of <b>' +element.name +'</b> Student'"
            placement="top"(confirm)="changeStatus(element.id)"confirmButtonType="danger"cancelButtonType="outline-secondary">
            <mat-icon *ngIf="element.status == 1">visibility_off</mat-icon>
            <mat-icon *ngIf="element.status == 0">visibility</mat-icon>
          </button>

          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row no_rcrds_fd" *matNoDataRow>
          <td class="mat-cell" colspan="6">No Records Found</td>
        </tr>
      </table>
    </div>
      <mat-paginator #paginator [pageSize]="pageSize" [length]="num_students"
         [pageSizeOptions]="page_size_options" [showFirstLastButtons]="true" (page)="getServerData($event)"></mat-paginator>
    
  </div>
</div>

<app-admin-footer></app-admin-footer>