<div class="mn_dshbrd">
    <div class="brd_crm">Proceum &raquo; <strong>Assessment List</strong></div>
    <div class="d-flex rsp_fw">
        <div class="pg_ttl">Assessment List</div>
        <div class="spacer"></div>
    </div>
    <hr />
    <div class="dsh_brd_crds">
        <div class="rsp_tbl">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="Sno">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.Sno}} </td>
                </ng-container> 
                <ng-container matColumnDef="SubName">
                  <th mat-header-cell *matHeaderCellDef> Subject Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.SubName}} </td>
                </ng-container> 
                <ng-container matColumnDef="assId">
                  <th mat-header-cell *matHeaderCellDef> Assessment Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.assId}} </td>
                </ng-container> 
                <ng-container matColumnDef="assNme">
                  <th mat-header-cell *matHeaderCellDef> Assessment Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.assNme}} </td>
                </ng-container> 
                <ng-container matColumnDef="dtndTm">
                  <th mat-header-cell *matHeaderCellDef> Date And Time </th>
                  <td mat-cell *matCellDef="let element"> {{element.dtndTm}} </td>
                </ng-container> 
                <ng-container matColumnDef="qstns">
                  <th mat-header-cell *matHeaderCellDef> Questions </th>
                  <td mat-cell *matCellDef="let element"> {{element.qstns}} </td>
                </ng-container> 
                <ng-container matColumnDef="eqDrtn">
                  <th mat-header-cell *matHeaderCellDef> E Q Duration </th>
                  <td mat-cell *matCellDef="let element"> {{element.eqDrtn}} </td>
                </ng-container> 
                <ng-container matColumnDef="invTd">
                  <th mat-header-cell *matHeaderCellDef> Invited </th>
                  <td mat-cell *matCellDef="let element"> {{element.invTd}} </td>
                </ng-container> 
                <ng-container matColumnDef="appeRd">
                  <th mat-header-cell *matHeaderCellDef> Appeared </th>
                  <td mat-cell *matCellDef="let element"> {{element.appeRd}} </td>
                </ng-container> 
                <ng-container matColumnDef="absnTee">
                  <th mat-header-cell *matHeaderCellDef> Absentee </th>
                  <td mat-cell *matCellDef="let element"> {{element.absnTee}} </td>
                </ng-container> 
                <ng-container matColumnDef="acTn">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element"> {{element.acTn}} </td>
                </ng-container> 
                

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </div>
</div>